{% extends 'base_vue.html' %}
{% block title %}
<title>T.F Andagoya</title>
{% endblock%}

{% block navbar %}
{% include 'inventario/topnavbar.html' %} 
{% endblock %}

{% block body %}

<div id="app">
    {% verbatim %}
    <h5 class="m-4 text-center fw-bold">STOCK BODEGA {{ mi_bodega }} - {{ mi_ubicacion }}</h5>
    <div id="msg"></div>
    <h6 class="text-start"><strong># Total de Items: </strong>{{n_inventario}}</h6>
    <h6 class="text-start"><strong># Items por contabilizar: </strong>{{n_inventario_nollenado}}</h6>
    <h6 class="text-start"><strong># Items contabilizados: </strong>{{n_inventario_llenado}}</h6>
    {% endverbatim %}


    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarItemForm">
        <i class="bi bi-plus-circle"></i> Añadir
    </button>

    <div class="col-12 mt-2">
        <input v-model="filtro" placeholder="Buscar..." type="text" class="form-control">
    </div>

    <!-- LISTA -->
    <div class="card mt-2 mb-2">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive">
                <table class="table" style="font-size: small;">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th scope="col">Invenario</th>
                        </tr>
                    </thead>
                    <tbody id="pedidosbuscar">
                        {% verbatim %}
                        <tr v-for="(i, index) in stockFiltrado" :key="index" :style="{backgroundColor:llenadoColor(i.llenado)}">
                            <td>
                                <label class="fw-bold">Código:</label> {{i.product_id}} <br>
                                <label class="fw-bold">Nombre:</label> {{i.product_name}}<br>
                                <label class="fw-bold">Marca: </label> {{i.group_code}}<br>
                                <label class="fw-bold">Unidad de Venta:</label> {{i.um}}<br> 
                                <label class="fw-bold">Lote:</label>{{i.lote_id}} <br>
                                <label class="fw-bold">Total Unidades Lote:</label> {{i.total_unidades.toLocaleString()}}<br> 
                            </td>
                            <td>
                                <button @click="getItem(i.id)" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#tomaFisicaForm">
                                    <i class="bi bi-boxes"></i>
                                </button>
                            </td>
                        </tr>
                        {% endverbatim %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- TOMA FISICA -->
    <div class="modal fade" id="tomaFisicaForm" tabindex="-1" aria-labelledby="tomaFisicaFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <input type="hidden" id="user-id" value="{{ request.user.id }}">
                {% verbatim %}
                <div class="modal-header d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-between w-100 align-items-center">
                        <h5 class="modal-title text-center fw-bold" id="tomaFisicaFormLabel">INVENTARIO {{ mi_bodega }} - {{ mi_ubicacion }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="mt-2 w-100">
                        <div class="card">
                            <div class="card-body">
                                <label class="fw-bold m-0 p-0">Código:</label> {{item.product_id}}<br>
                                <label class="fw-bold m-0 p-0">Nombre:</label> {{item.product_name}}<br>
                                <label class="fw-bold m-0 p-0">Marca:</label> {{item.group_code}}<br>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="modal-body">                    
                    <!-- TOTAL AGRUPADO -->
                    <div class="card" style="background-color: #e5f9fd;">
                        <div class="card-body">
                            <h6 class="text-center fw-bold">TOTAL AGRUPADO</h6>
                            <div v-if="msg_totales" :class="`alert alert-${type_msg_totales} text-center p-2 m-0`" role="alert" style="font-size: smaller;">
                                {{msg_totales}}
                            </div>
                            <form @submit.prevent="actualizarCrearTotal()">
                                <label>Unidades por cartón:</label>
                                <input class="form-control form-control-sm" v-model="formTotales.unidades_caja_t" type="number" required>
                                <label>Número de cartones totales:</label><br>
                                <small style="color: gray; font-size:smaller">Este campo puede hacer calulos (+, -)</small> <small style="color: red; font-size:smaller">solo dos números</small><br>
                                <!--input class="form-control form-control-sm" v-model="formTotales.numero_cajas_t" @input="sumarInput(formTotales.numero_cajas_t, 'numero_cajas_t')" required-->
                                
                                <div class="row g-2">
                                    <div class="col-11">
                                        <input class="form-control form-control-sm" v-model="formTotales.numero_cajas_t" required>
                                    </div>
                                    <div class="col-1">
                                        <button @click="sumarInput(formTotales.numero_cajas_t, 'numero_cajas_t')" class="btn btn-sm btn-success" type="button">
                                            =
                                        </button>
                                    </div>
                                </div>                              
                                
                                <label>Unidades sueltas totales:</label><br>
                                <small style="color: gray; font-size:smaller">Este campo puede hacer calulos (+, -)</small> <small style="color: red; font-size:smaller">solo dos números</small> <br>
                                <!--input class="form-control form-control-sm" v-model="formTotales.unidades_sueltas_t" @input="sumarInput(formTotales.unidades_sueltas_t, 'unidades_sueltas_t')" required-->
                                
                                <div class="row g-2">
                                    <div class="col-11">
                                        <input class="form-control form-control-sm" v-model="formTotales.unidades_sueltas_t" required>
                                    </div>
                                    <div class="col-1">
                                        <button @click="sumarInput(formTotales.unidades_sueltas_t, 'unidades_sueltas_t')" class="btn btn-sm btn-success" type="button">
                                            =
                                        </button>
                                    </div>
                                </div>

                                <label class="fw-bold">Total Unidades:</label> {{ total_agrupado.toLocaleString() }}<br>
                                <button type="submit" class="btn btn-sm btn-primary float-sm-end mt-2">GUARDAR</button>
                            </form>
                        </div>
                    </div>

                    <hr>

                    <!-- DETALLE LOTES -->
                    <div class="card">
                        <div class="card-body mb-0 pb-0"> 
                            <h6 class="fw-bold text-center">DETALLE DE LOTES</h6> 
                            <table class="table">
                                <thead>
                                    <th>Código</th>
                                    <th>Lote(s)</th>
                                    <th>Unidades</th>
                                </thead>
                                <tbody>
                                    <tr v-for="(i, index) in lotes">
                                        <td>{{ i.product_id }}</td>
                                        <td>{{ i.lote_id }}</td>
                                        <td class="text-end">{{ i.total_unidades.toLocaleString() }}</td>
                                    </tr>
                                    <tr>
                                        <th>TOTAL</th>
                                        <td></td>
                                        <td class="text-end">{{ total_lotes.toLocaleString() }}</td>
                                    </tr>
                                </tbody>
                            </table>               
                        </div>
                    </div>

                    <hr>

                    <!-- DIFERENCIA -->
                    <div class="card" :style="{backgroundColor:diferenciaColor(diferencia)}">
                        <h6 class="text-center fw-bold">DIFERENCIA</h6>
                        <label class="text-center fs-6">T.Lotes - T.Agrupado = Diferencia</label>
                        <div class="fs-1 card-body d-flex justify-content-center align-items-center m-0 p-0">
                            {{ total_lotes.toLocaleString() }} - {{ total_agrupado.toLocaleString() }} = {{ diferencia.toLocaleString() }}
                        </div>
                    </div>

                    <hr>

                    <!-- CONTEO POR LOTE -->
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center fw-bold">CONTEO POR LOTE</h6> 
                            <div v-if="msg_lote" :class="`alert alert-${type_msg_lote} text-center p-2 m-0`" role="alert" style="font-size: smaller;">
                                {{msg_lote}}
                            </div>
                            <mark><label class="fw-bold m-0 p-0">Lote:</label> {{item.lote_id}}</mark><br>
                            <label class="fw-bold m-0 p-0">F.Elab:</label> {{item.fecha_elab_lote}}<br>
                            <label class="fw-bold m-0 p-0">F.Cadu:</label> {{item.fecha_cadu_lote}}<br>
                            <form @submit.prevent="actualizarItem(formLote.id)">
                                <label>Unidades por cartón:</label>
                                <input class="form-control form-control-sm" v-model="formLote.unidades_caja" type="number" required>
                                <label>Número total de cartones:</label>
                                <input class="form-control form-control-sm" v-model="formLote.numero_cajas" type="number" required>
                                <label>Unidades sueltas:</label>
                                <input class="form-control form-control-sm" v-model="formLote.unidades_sueltas" type="number" required>
                                <label>Observaciones:</label>
                                <textarea class="form-control form-control-sm" v-model="formLote.observaciones"></textarea>
                                <label class="fw-bold">Total Unidades:</label> {{ conteo_fisico_lote.toLocaleString() }}<br>
                                <button type="submit" class="btn btn-sm btn-primary float-sm-end mt-2">GUARDAR</button>
                            </form>                      
                        </div>
                    </div>
                
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>

    <!-- AGREGAR ITEM -->
    <div class="modal fade" id="agregarItemForm" tabindex="-1" aria-labelledby="agregarItemFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <input type="hidden" id="user-id" value="{{ request.user.id }}">
                {% verbatim %}
                <div class="modal-header d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-between w-100 align-items-center">
                        <h5 class="modal-title text-center fw-bold" id="agregarItemFormLabel">AGREGAR ITEM {{ mi_bodega }} - {{ mi_ubicacion }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            
                <div class="modal-body">                    
                    <!-- BUSCAR PRODUCTO -->
                    <div class="card" style="background-color: #e5f9fd;">
                        <div class="card-body">
                            <h6 class="text-center fw-bold">BUSCAR PRODUCTO</h6>
                            <div v-if="msg_product" :class="`alert alert-${type_msg_product} text-center p-2 m-0`" role="alert" style="font-size: smaller;">
                                {{msg_product}}
                            </div>
                            <form @submit.prevent="buscarProducto()">
                                <label>Código de producto:</label>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control form-control-sm" v-model="formBuscar.product_id" required>
                                    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <hr>

                    <!-- AGREGAR ITEM -->
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center fw-bold">CONTEO POR LOTE</h6> 
                            <div v-if="msg_agregar_lote" :class="`alert alert-${type_msg_agregar_lote} text-center p-2 m-0`" role="alert" style="font-size: smaller;">
                                {{msg_agregar_lote}}
                            </div>
                            <form @submit.prevent="agregarProducto()" id="form-agregar">
                                
                                <label>Código:</label>
                                <input class="form-control form-control-sm" v-model="formAgregar.product_id" type="text" required>
                                
                                <label>Nombre:</label>
                                <input class="form-control form-control-sm" v-model="formAgregar.product_name" type="text" required>
                                
                                <label>Marca:</label>
                                <input class="form-control form-control-sm" v-model="formAgregar.group_code" type="text" required>
                                
                                <!--label>Presentación:</label>
                                <input class="form-control form-control-sm" v-model="formAgregar.um" type="text" required-->

                                <label>Lote:</label>
                                <div class="row g-2">
                                    <div class="col-11">
                                        <select @change="getFechas" v-show="lote_input" class="form-select form-select-sm" v-model="formAgregar.lote_id">
                                            <option v-for="i in listaLotesAgregar" :key="listaLotesAgregar.id">{{ i.lote_id }}</option>
                                        </select>
                                        <input v-show="!lote_input" class="form-control form-control-sm" v-model="formAgregar.lote_id" type="text"required>
                                    </div>
                                    <div class="col-1">
                                        <button @click="lote_input_toggle" class="btn btn-sm btn-secondary" type="button">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </div>
                                </div>

                                <label>Fecha elaboración:</label>
                                <input class="form-control form-control-sm" v-model="formAgregar.fecha_elab_lote" type="text" @input="formatoFecha('fecha_elab_lote')" pattern="\d{2}/\d{2}/\d{4}" maxlength="10" placeholder="dd/mm/aaaa" required>
                                <p v-if="!validDateInputs.fecha_elab_lote" style="color: red; font-size:smaller">Formato inválido (dd/mm/aaaa)</p>
                                
                                <label>Fecha caducidad:</label>
                                <input class="form-control form-control-sm" v-model="formAgregar.fecha_cadu_lote" type="text" @input="formatoFecha('fecha_cadu_lote')" pattern="\d{2}/\d{2}/\d{4}" maxlength="10" placeholder="dd/mm/aaaa" required>
                                <p v-if="!validDateInputs.fecha_cadu_lote" style="color: red; font-size:smaller">Formato inválido (dd/mm/aaaa)</p>
                                
                                <label>Unidades por cartón:</label>
                                <input class="form-control form-control-sm" v-model="formAgregar.unidades_caja" type="number" required>

                                <label>Número total de cartones:</label>
                                <input class="form-control form-control-sm" v-model="formAgregar.numero_cajas" type="number" required>

                                <label>Unidades sueltas:</label>
                                <input class="form-control form-control-sm" v-model="formAgregar.unidades_sueltas" type="number" required>

                                <label>Observaciones:</label>
                                <textarea class="form-control form-control-sm" v-model="formAgregar.observaciones"></textarea>

                                <label class="fw-bold">Total Unidades:</label> {{ conteo_fisico_agregar_lote.toLocaleString() }}<br>
                                <button type="submit" class="btn btn-sm btn-primary float-sm-end mt-2">GUARDAR</button>
                            </form>                      
                        </div>
                    </div>
                
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>
</div>

<script>

    new Vue({
        el: '#app',
        data: {
            // LISTADO
            mi_bodega:'',
            mi_ubicacion:'',
            n_inventario:'',
            n_inventario_nollenado:'',
            n_inventario_llenado:'',
            filtro:'',
            stock:[],

            // ITEM
            item:'',

            // TOTALES
            type_msg_totales:'',
            msg_totales:'',
            formTotales:{
                product_id_t:'',
                ware_code_t:'',
                location_t:'',
                unidades_caja_t:'',
                numero_cajas_t:'',
                unidades_sueltas_t:'',
                user_id: Number(document.getElementById("user-id").value)
            },

            // LOTES
            lotes:[],
            total_lotes:'',
            
            // CONTEO LOTE
            type_msg_lote:'',
            msg_lote:'',
            formLote:{
                unidades_caja:'',
                numero_cajas:'',
                unidades_sueltas:'',
                observaciones:'',
                llenado:true,
                user_id: Number(document.getElementById("user-id").value)
            },
            
            // AGREGAR ITEM
            type_msg_product:'',
            msg_product:'',
            formBuscar:{
                product_id:'',
            },
            listaLotesAgregar:[],

            // input date
            rawDate:'',
            //formattedDate: '',
            validDateInputs: {
                fecha_elab_lote: true,
                fecha_cadu_lote: true,
            },

            type_msg_agregar_lote:'',
            msg_agregar_lote:'',

            lote_input:true,
            // form agregar
            formAgregar:{
                product_id:'',
                product_name:'',
                group_code:'',
                um:'',

                oh:0,
                oh2:0,
                commited:0,
                quantity:0,

                lote_id:'',
                fecha_elab_lote:'',
                fecha_cadu_lote:'',
                ware_code:'',
                location:'',
                unidades_caja:'',
                numero_cajas:'',
                unidades_sueltas:'',
                observaciones:'',
                llenado:true,
                agregado:true,
                user_id: Number(document.getElementById("user-id").value)
            }
        },
        mounted() {
            this.getStock();
        },
        computed: {
            total_agrupado() {
                const u_cajas_t = this.formTotales.unidades_caja_t ? this.formTotales.unidades_caja_t : 0;
                const n_cajas_t = this.formTotales.numero_cajas_t ? this.formTotales.numero_cajas_t : 0;
                const u_sueltas_t = this.formTotales.unidades_sueltas_t ? this.formTotales.unidades_sueltas_t : 0;
                return Number(u_cajas_t * n_cajas_t) + Number(u_sueltas_t)
            },

            conteo_fisico_lote() {
                const u_cajas = this.formLote.unidades_caja ? this.formLote.unidades_caja : 0;
                const n_cajas = this.formLote.numero_cajas ? this.formLote.numero_cajas : 0;
                const u_sueltas = this.formLote.unidades_sueltas ? this.formLote.unidades_sueltas : 0;
                return Number(u_cajas * n_cajas) + Number(u_sueltas)
            },

            conteo_fisico_agregar_lote() {
                const u_cajas = this.formAgregar.unidades_caja ? this.formAgregar.unidades_caja : 0;
                const n_cajas = this.formAgregar.numero_cajas ? this.formAgregar.numero_cajas : 0;
                const u_sueltas = this.formAgregar.unidades_sueltas ? this.formAgregar.unidades_sueltas : 0;
                return Number(u_cajas * n_cajas) + Number(u_sueltas)
            },

            diferencia() {
                const t_lotes = this.total_lotes ? this.total_lotes : 0;
                const t_agrupado = this.total_agrupado ? this.total_agrupado : 0;
                return Number(t_lotes - t_agrupado)
            },

            stockFiltrado() {
                return this.stock.filter(i =>
                    i.product_id.toLowerCase().includes(this.filtro.toLowerCase()) |
                    i.product_name.toLowerCase().includes(this.filtro.toLowerCase()) |
                    i.group_code.toLowerCase().includes(this.filtro.toLowerCase()) |
                    i.lote_id.toLowerCase().includes(this.filtro.toLowerCase())
                )
            }
        },
        methods: {
            llenadoColor(llenado) {
                switch (llenado) {
                    case true:
                        return '#BAF690';
                }
            },

            diferenciaColor(diferencia){
                if (diferencia === 0) {
                    return '#BAF690';
                } else {
                    return '#F6B690';
                }
            },

            sumarInput(input, name) {

                if (input.includes('+')) {
                    let array = input.split('+');
                    let n_uno = array[0];
                    let n_dos = array[1];
                    if (n_dos) {
                        let total = Number(n_uno) + Number(n_dos);
                        this.formTotales[name] = Number(total);
                    }
                } else if (input.includes('-')) {
                    let array = input.split('-');
                    
                    let n_uno = array[0];
                    let n_dos = array[1];
                    if (n_dos) {
                        let total = Number(n_uno) - Number(n_dos);
                        this.formTotales[name] = Number(total);
                    }
                }
            },

            formatoFecha(name){

                let rawDate = this.formAgregar[name].replace(/\D/g, "");
                let formatted = "";
                
                // Formatear la fecha con '/'
                if (rawDate.length > 0) {
                    formatted += rawDate.substring(0, 2);
                }
                if (rawDate.length >= 2) {
                    formatted += "/" + rawDate.substring(2, 4);
                }
                if (rawDate.length >= 4) {
                    formatted += "/" + rawDate.substring(4, 8);
                }
                // Actualiza el valor del input
                this.formAgregar[name] = formatted;
                const regex = /^\d{2}\/\d{2}\/\d{4}$/; // dd/mm/yyyy
                this.validDateInputs[name] = regex.test(formatted);
            },

            esFormularioValido() {
                // Verifica si todos los campos son válidos
                return Object.values(this.validDateInputs).every((isValid) => isValid);
            },

            lote_input_toggle() {
                this.lote_input = !this.lote_input
            },

            getFechas(event) {

                const loteSelected = event.target.value;
                let fechas = this.listaLotesAgregar.filter(i=>i.lote_id === loteSelected)[0]
                
                this.formAgregar.fecha_elab_lote = fechas.fecha_elab_lote.split('-')[2] + '/' + fechas.fecha_elab_lote.split('-')[1] + '/' + fechas.fecha_elab_lote.split('-')[0];
                this.formAgregar.fecha_cadu_lote = fechas.fecha_cadu_lote.split('-')[2] + '/' + fechas.fecha_cadu_lote.split('-')[1] + '/' + fechas.fecha_cadu_lote.split('-')[0];
            },

            async getStock () {
                const url = window.location.href;
                const params = url.split('/');
                const bodega = params[5];
                const my_location = params[6];
                try {
                    const response = await fetch(`/inventario/inv/${bodega}/${my_location}`);
                    const data = await response.json();
                    this.mi_bodega = data.mi_bodega;
                    this.mi_ubicacion = data.mi_ubicacion;
                    this.n_inventario = data.n_inventario;
                    this.n_inventario_nollenado = data.n_inventario_nollenado;
                    this.n_inventario_llenado = data.n_inventario_llenado;
                    this.stock = data.inventario || [];
                } catch (error) {
                    console.log(error);
                }
            },

            async getItem(item_id) {
                
                try {
                    const response = await fetch(`/inventario/toma-fisica/${item_id}`);
                    const data = await response.json();
                    
                    // Item
                    this.item = data.item;

                    // List de lotes
                    this.lotes = this.stock.filter(i => 
                        i.product_id == this.item.product_id &&
                        i.ware_code == this.item.ware_code &&
                        i.location == this.item.location);
                    
                    // Total lotes
                    this.total_lotes = this.lotes.reduce((acumulador, unidades) => acumulador + unidades.total_unidades, 0)

                    // Form totales
                    if (data.item_totales){
                        this.formTotales.id = data.item_totales.id;
                        this.formTotales.product_id_t = data.item_totales.product_id_t;
                        this.formTotales.ware_code_t = data.item_totales.ware_code_t;
                        this.formTotales.location_t = data.item_totales.location_t;
                        this.formTotales.unidades_caja_t = data.item_totales.unidades_caja_t;
                        this.formTotales.numero_cajas_t = data.item_totales.numero_cajas_t;
                        this.formTotales.unidades_sueltas_t = data.item_totales.unidades_sueltas_t;
                        
                    } 
                    else {
                        this.formTotales.id = null;  
                        this.formTotales.product_id_t = data.item.product_id;
                        this.formTotales.ware_code_t = data.item.ware_code;
                        this.formTotales.location_t = data.item.location;
                        this.formTotales.unidades_caja_t = data.item.unidades_caja;
                        this.formTotales.numero_cajas_t = '';
                        this.formTotales.unidades_sueltas_t = '';
                    }
                    
                    // Form lote 
                    this.formLote.id = data.item.id;
                    this.formLote.unidades_caja = data.item.unidades_caja;
                    this.formLote.numero_cajas = (!data.item.llenado && data.item.numero_cajas === 0) ? '' : data.item.numero_cajas;
                    this.formLote.unidades_sueltas = (!data.item.llenado && data.item.unidades_sueltas === 0) ? '' :data.item.unidades_sueltas;

                    setTimeout(
                        () => {
                            this.msg_lote = '';
                            this.msg_totales = '';
                        }, 1000)

                    
                } catch (error) {
                    console.error(error);
                }
            },

            async actualizarCrearTotal() {
                try {
                    const response = await fetch('/inventario/toma-fisica/total-agrupado', { 
                        method: 'POST',
                        headers: {'Content-Type': 'application/json',},
                        body: JSON.stringify(this.formTotales)
                    });
                    const data = await response.json();
                    this.type_msg_totales = data.type;
                    this.msg_totales = data.msg;
                    
                } catch (error) {
                    this.msg_totales = error;
                    this.type_msg_totales = 'danger';
                }
            },
            
            async actualizarItem(item_id) {
                try {
                    const response = await fetch(`/inventario/toma-fisica/${item_id}`, {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json',},
                        body: JSON.stringify(this.formLote)
                    });
                    const data = await response.json();

                    this.type_msg_lote = data.type;
                    this.msg_lote = data.msg; 

                    await this.getStock();
                    await this.getItem(item_id);        
                    
                } catch (error) {
                    this.type_msg_lote = 'danger';
                    this.type_msg_item = error;
                }
            },

            async buscarProducto() {
                try {
                    const response = await fetch('/inventario/toma-fisica/buscar-producto', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(this.formBuscar)
                    });
                    const data = await response.json();
                    
                    // Msg product
                    this.type_msg_product = data.type;
                    this.msg_product = data.msg;

                    // Form Agregar
                    if (data.product) {
                        this.formAgregar.product_id = data.product.product_id;
                        this.formAgregar.product_name = data.product.Nombre;
                        this.formAgregar.group_code = data.product.Marca;
                        this.formAgregar.um = data.product.Unidad;
                        this.formAgregar.ware_code = this.mi_bodega;
                        this.formAgregar.location = this.mi_ubicacion;
                        this.formAgregar.unidades_caja = data.product.Unidad_Empaque;

                        // agregar lista de lotes
                        this.listaLotesAgregar = data.data_lotes || [];
                    } 
                    else {
                        this.formAgregar.product_id = '';
                        this.formAgregar.product_name = '';
                        this.formAgregar.group_code = '';
                        this.formAgregar.um = '';
                        this.formAgregar.unidades_caja = '';
                        this.listaLotesAgregar = [];
                    }
                } catch (error) {
                    this.type_msg_product = 'danger';
                    this.msg_product = error;
                }
            },

            async agregarProducto() {
                try {
                    const response = await fetch('/inventario/toma-fisica/agregar-producto', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(this.formAgregar)
                    }); 
                    const data = await response.json();
                    this.type_msg_agregar_lote = data.type;
                    this.msg_agregar_lote = data.msg;

                    // reset form
                    this.formAgregar.product_id = '';
                    this.formAgregar.product_name = '';
                    this.formAgregar.group_code = '';
                    this.formAgregar.um = '';

                    this.formAgregar.oh = 0;
                    this.formAgregar.oh2 = 0;
                    this.formAgregar.commited = 0;
                    this.formAgregar.quantity = 0;

                    this.formAgregar.lote_id = '';
                    this.formAgregar.fecha_elab_lote = '';
                    this.formAgregar.fecha_cadu_lote = '';
                    this.formAgregar.ware_code = '';
                    this.formAgregar.location = '';
                    this.formAgregar.unidades_caja = '';
                    this.formAgregar.numero_cajas = '';
                    this.formAgregar.unidades_sueltas = '';
                    this.formAgregar.observaciones = '';
                    
                    this.formAgregar.lotes = [];

                    await this.getStock();
                } catch (error) {
                    this.type_msg_agregar_lote = 'danger';
                    this.msg_agregar_lote = error;
                }
            },
        }
    })
</script>
{% endblock %}