{%extends 'base.html' %}

{% block title %}
<title>Listado de cartas generales</title>
{% endblock%}

{% block navbar %}
{% include 'mantenimiento/topnavbar.html' %}
{% endblock %}

{% block body %}


<h3 class="text-center m-3">
  <strong>LISTADO DE EQUIPOS</strong>
</h3>

<a class="btn btn-primary mb-2" href="{% url 'equipos_new' %}">
  <i class="bi bi-plus-circle"></i> Nuevo Equipo
</a>

<!--div class="col-4 mb-2">
  <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div-->

<div class="card">
  <div class="card-body">  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Frecuencia</th>
            <th scope="col">Empresa</th>
            <th scope="col">Estadisticas</th>
            <!--th scope="col">Anular</th-->
          </tr>
        </thead>
        {% for i in object_list %}
        <tbody id="pedidosbuscar">
          <tr>
            <th scope="row">{% if i.pk < 10 %}000{{i.pk}}{% elif i.pk < 100 %}00{{i.pk}}{% elif i.pk < 1000 %}0{{i.pk}}{% else %}{{i.pk}}{% endif %}</th>
            <td>{{i.nombre}}</td>
            <td>{{i.description}}</td>
            <td>{{i.ubicacion}}</td>
            <td>{{i.frecuencia}}</td>
            <td>{{i.mtt_por}}</td>
            <td> <!--class="text-center"-->
              <a class="btn btn-primary btn-sm" href="{% url 'est' i.id %}" target="_blank">
                <i class="bi bi-clipboard-data"></i>
              <a>
            </td>

            <!--td>{{i.valido_hasta_mes}} {{i.valido_hasta_anio}}</td>
            <td><a href="{% url 'general_detail' i.slug %}" target="_blank">
                  <i class="bi bi-file-text-fill"></i>
                <a>
            </td>
            <td>
              <a class="text-danger" href="{% url 'anular_cartageneral' i.slug %}" target="_blank">
                <i class="bi bi-file-earmark-x-fill"></i>
              <a>
            </td-->
          </tr>
        </tbody>
        {% endfor %}
    </table>
  </div>
</div>
<script>
  $(document).ready(function() {
      $("#inputbuscar").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#pedidosbuscar tr").filter(function() {
              $(this).toggle($(this).text()
              .toLowerCase().indexOf(value) > -1)
          });
      });
  });
</script>

{% endblock %}