{% extends 'base.html' %}

{% block title %}
<title>Etiquetado por pedido</title>
{% endblock%}

{% block navbar %}
{% include 'contabilidad/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE NOTIFICACIONES</strong></h5>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert text-center alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error'%}
        <div class="alert text-center alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="col-4">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div class="card mt-2 mb-2">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">RUC</th>
                        <th scope="col">Envio notificación</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Correo(s)</th>
                        <th scope="col">Errores</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in clientes_excluidos %}
                    <tr>
                        <td>{{i.cliente}}</td>
                        <td>{{i.ruc}}</td>
                        <td>{{i.fecha_hora}}</td>
                        <td>{{i.usuario}}</td>
                        <td>{{i.correos}}</td>
                        <td>{{i.errores}}</td>
                        <td>BTN</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}