{% extends 'base.html' %}

{% block title %}
<title>Cuentas por cobrar</title>
{% endblock%}

{% block navbar %}
{% include 'contabilidad/topnavbar.html' %}
{% endblock %}

{% block body_2 %}
<h5 class="m-4 text-center"><strong>LISTADO DE CUENTAS POR COBRAR</strong></h5>

<form method="GET"> 
    <div class="row">
        <div class="input-group mb-2">
            <!--label class="fw-bold col-1">Filtrar por cliente:</label-->
            <div class="col-4">
                <select onchange="this.form.submit()" class="form-select mt-2" id="filter-hos-select2" name="codigo_cliente" required>
                    <option value="">Filtrar por cliente...</option>
                    {% for i in clientes %}
                    <option value="{{i.codigo_cliente}}">{{i.nombre_cliente}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</form>

{% if cliente %}
    <h5 class="text-center fw-bold mt-4">{{ cliente.nombre_cliente }}</h5>
    <h6 class="text-center"> {{ cliente.identificacion_fiscal }} </h6>

    <a
        class="btn btn-secondary mb-3"
        href="{% url 'cuentas_por_cobrar' %}" class="btn btn-success mb-3">
        Limpiar filtro
    </a>
{% endif %}

<div class="row g-3 mb-4">

    <!-- TOTAL CARTERA -->
    <div class="col-md-2">
        <div class="card border-0" style="background-color: #2c9bfc1a;">
            <h5 class="card-header text-center fs-5 text-primary fw-bold border-0">
                Total Cartera
            </h5>
            <div class="card-body text-center">
                <h4 class="text-primary fw-bold">
                    $ {{ kpis.total_cartera|floatformat:"2g" }}
                </h4>
            </div>
        </div>
    </div>

    <!-- TOTAL VENCIDO -->
    <div class="col-md-2">
        <div class="card border-0" style="background-color: #dc35451a;">
            <h5 class="card-header text-center fs-5 text-danger fw-bold border-0">
                Total Vencido
            </h5>
            <div class="card-body text-center">
                <h4 class="text-danger fw-bold">
                    $ {{ kpis.total_vencido|floatformat:"2g" }}
                </h4>
            </div>
        </div>
    </div>

    <!-- % VENCIDO -->
    <div class="col-md-2">
        <div class="card border-0" style="background-color: #ffc1071a;">
            <h5 class="card-header text-center fs-5 text-warning fw-bold border-0">
                % Vencido
            </h5>
            <div class="card-body text-center">
                <h4 class="text-warning fw-bold">
                    {{ kpis.porcentaje_vencido }}%
                </h4>
            </div>
        </div>
    </div>

    <!-- # FACTURAS -->
    <div class="col-md-2">
        <div class="card border-0" style="background-color: #0d6efd1a;">
            <h5 class="card-header text-center fs-5 text-primary fw-bold border-0">
                # Facturas
            </h5>
            <div class="card-body text-center">
                <h4 class="fw-bold text-primary">
                    {{ kpis.total_facturas }}
                </h4>
            </div>
        </div>
    </div>

    <!-- TICKET PROMEDIO -->
    <div class="col-md-2">
        <div class="card border-0" style="background-color: #1987541a;">
            <h5 class="card-header text-center fs-5 text-success fw-bold border-0">
                Factura Promedio
            </h5>
            <div class="card-body text-center">
                <h4 class="fw-bold text-success">
                    $ {{ kpis.ticket_promedio|floatformat:"2g" }}
                </h4>
            </div>
        </div>
    </div>

    <!-- CLIENTES SOBRE LÍMITE -->
    <div class="col-md-2">
        <div class="card border-0" style="background-color: #2125291a;">
            <h5 class="card-header text-center fs-5 text-dark fw-bold border-0">
                Sobre Límite
            </h5>
            <div class="card-body text-center">
                <h4 class="fw-bold text-dark">
                    {{ kpis.clientes_sobre_limite }}
                </h4>
            </div>
        </div>
    </div>

</div>

<div class="col-4">
    <input id="inputbuscar" type="text" placeholder="Buscar..." class="form-control">
</div>

<div class="card mt-2 mb-2">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"># Factura</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">F.Factura</th>
                        <th scope="col">F.Vencimiento</th>
                        <th scope="col">V.Pagado</th>
                        <th scope="col">V.Saldo</th>
                        <th scope="col">V.Retención</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Riesgo</th>
                        <th scope="col">Dias Mora</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in cuentas_cobrar %}
                    <tr>
                        <td>{{i.numero_factura}}</td>
                        <td>{{i.nombre_cliente}}</td>
                        <td>{{i.fecha_factura | date:"Y-m-d"}}</td>
                        <td>{{i.fecha_vencimiento | date:"Y-m-d"}}</td>
                        <td class="text-end">$ {{i.valor_total_pagado | floatformat:"2g"}}</td>
                        <td class="text-end">$ {{i.valor_total_saldo_a_cobrar | floatformat:"2g"}}</td>
                        <td class="text-end">$ {{i.valor_retencion | floatformat:"2g"}}</td>
                        <td class="text-end">$ {{i.balance | floatformat:"2g"}}</td>
                        <td class="text-end">{{i.riesgo | floatformat:"2g"}}</td>
                        <td class="{{i.color_estado}} text-end">{{i.dias_mora_real | floatformat:"0g"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#filter-hos-select2').select2();
    })
</script>
{% endblock %}