{% extends 'base.html' %}

{% block title %}
<title>Nueva notificación</title>
{% endblock%}

{% block navbar %}
{% include 'contabilidad/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE NOTIFICACIONES</strong></h5>

<a href="{% url 'lista_notificaciones' %}" class="btn btn-primary mb-3">
    Lista de notificaciones
</a>

<hr>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert text-center alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error'%}
        <div class="alert text-center alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<form method="GET"> 
    <div class="row">
        <div class="input-group mb-2">
            <label class="fw-bold col-2 mt-2">Selecciona un cliente:</label>
            <div class="col-4">
                <select class="form-select mt-2" id="filter-hos-select2" name="codigo_cliente" required>
                    <option value="">-----------</option>
                    {% for i in clientes %}
                    <option value="{{i.codigo_cliente}}">{{i.nombre_cliente}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto ms-2">
                <button class="btn btn-primary" type="submit">
                    Crear Correo
                </button>
            </div>
        </div>
    </div>
</form>

{% if cliente_selected.codigo_cliente %}
<hr>
<div class="card pb-0 mb-4">
    <div class="card-body pb-0">

        <form method="POST" action="{% url 'crear_notificacion' %}" class="mt-2 mb-4">
            {% csrf_token %}
            <input type="hidden" name="codigo_cliente" value="{{ cliente_selected.codigo_cliente }}" />
            <div class="row mb-2 align-items-center">
                <label class="fw-bold col-3 {% if asesor.name == 'OFICINA' %} text-danger {% endif %}">ASEOR - {{ asesor.name }}</label>
                <div class="col-6">
                    <input 
                        type="text" 
                        name="asesor_email" 
                        value="{{ asesor.email }}" 
                        class="form-control {% if asesor.name == 'OFICINA' %} text-danger {% endif %}"
                        required
                        readonly
                    />
                </div>
            </div>
            
            <div class="row mb-2 align-items-center">
                <label class="fw-bold col-3">DEP. FINANCIERO - DAYANNE REYES</label>
                <div class="col-6">
                    <input 
                        type="text" 
                        name="dep_financiero_email" 
                        value="{{ dep_financiero}}" 
                        class="form-control"
                        required
                        readonly
                    />
                </div>
            </div>
            
            <div class="row mb-2 align-items-center">
                <label class="fw-bold col-3">CORREOS DE CLIENTE:</label>
                <div class="col-6">
                    <input 
                        type="text" 
                        name="correos" 
                        value="{{ cliente_selected.email }}" 
                        class="form-control"
                        required
                    />
                </div>
            </div>
            
            <button type="submit" class="btn btn-success mt-2">
                Enviar Correo
            </button>
        </form>
    </div>
</div>
<hr>
{% endif %}

{% if correo_html %}
<div class="card mb-4">
    <div class="card-body">
        {{correo_html | safe}}
    </div>
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#filter-hos-select2').select2();
    })
</script>

{% comment %} <script>
    document.querySelector("form").addEventListener("submit", function(e) {
        const input = document.querySelector("input[name='correos']");
        const emails = input.value.split(",");

        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        for (let email of emails) {
            email = email.trim();
            if (!emailRegex.test(email)) {
                e.preventDefault();
                alert("Correo inválido: " + email);
                return;
            }
        }
    });
</script> {% endcomment %}

{% endblock %}