{%extends 'base.html' %}

{% block title %}
<title>Lista de Anexos</title>
{% endblock%}

{% block navbar %}
{% include 'compras_publicas/topnavbar.html' %}
{% endblock %}

{% block body %}


<h5 class="m-4 fw-bold text-center">LISTA DE ANEXOS</h5>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese en número de picking" id="contrato_id" required>
    <button name="contrato_id_btn" class="btn btn-primary" type="submit">Añadir Picking</button>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese en número de factura" id="factura" required>
    <button name="factura_btn" class="btn btn-success" type="submit">Añadir Factura</button>
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert text-center alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error'%}
        <div class="alert text-center alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}


<div id="msg"></div>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small" >
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Ruc</th>
                        <th scope="col"># Picking</th>
                        <th scope="col">Fecha Pedido</th>
                        <th scope="col">Orden de compra</th>
                        <th scope="col">Creado en</th>
                        <th scope="col">Creado por</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in anexos %}
                    <tr>
                        <td>{{i.cliente}}</td>
                        <td>{{i.ruc}}</td>
                        <td>{{i.n_pedido}}</td>
                        <td>{{i.fecha|date:"Y-m-d"}}</td>
                        <td>{{i.orden_compra}}</td>
                        <td>{{i.fecha_hora|date:"Y-m-d"}}</td>
                        <td>{{i.usuario.first_name}}  {{i.usuario.last_name}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'anexo_detail' i.id %}">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- AÑADIR DATOS CON NUMERO DE PICKING -->
<script>

    $("button[name='contrato_id_btn']").click(function(){
        var contrato_id = $("#contrato_id").val();

        $.ajax({
            type:"POST",
            url:"{% url 'add_datos_anexo_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'contrato_id':contrato_id,
            },

            success: function(response) {
                
                //$('#msg').fadeIn().html(`<div class="text-center alert alert-${response.tipo}" role="alert"> ${response.msg} !!! </div>`).fadeOut(6000)
                if (response.type === 'error') {
                    $('#msg').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} !!! </div>`)
                } else if (response.type === 'ok') {
                    window.location.href = response.redirect_url
                }
                
                setTimeout(function(){
                    window.location.reload();
                }, 2000)
            },
            
            error: function() {
                //$('#msg').fadeIn().html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>').fadeOut(6000)
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>')
                //setTimeout(function(){
                //    window.location.reload();
                //},1000)
            }
            
        })
    })
</script>

<!-- AÑADIR DATOS CON NUMERO DE FACTURA -->
<script>

    $("button[name='factura_btn']").click(function(){
        var factura = $("#factura").val();
        console.log(factura)
        $.ajax({
            type:"POST",
            url:"{% url 'add_datos_anexo_from_factura_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'factura':factura,
            },

            success: function(response) {
                
                //$('#msg').fadeIn().html(`<div class="text-center alert alert-${response.tipo}" role="alert"> ${response.msg} !!! </div>`).fadeOut(6000)
                if (response.type === 'error') {
                    $('#msg').html(`<div class="text-center alert alert-danger" role="alert"> ${response.msg} !!! </div>`)
                } else if (response.type === 'ok') {
                    window.location.href = response.redirect_url
                }
                
                setTimeout(function(){
                    window.location.reload();
                }, 2000)
            },
            
            error: function() {
                //$('#msg').fadeIn().html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>').fadeOut(6000)
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>')
                //setTimeout(function(){
                //    window.location.reload();
                //},1000)
            }
            
        })
    })
</script>

{% endblock %}