{%extends 'base.html' %}

{% block title %}
<title>Anexo {{anexo.n_pedido}}</title>
{% endblock%}

{% block navbar %}
{% include 'compras_publicas/topnavbar.html' %}
{% endblock %}

{% block body_2 %}


<h5 class="m-4 fw-bold text-center">ANEXO PEDIDO {{anexo.n_pedido}}</h5>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert text-center alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error'%}
        <div class="alert text-center alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}


<div id="msg"></div>
<!--div id="msg_ss"></div-->


<section id="anexo" class="ms-2 mt-2 mb-2">

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="n_pedido" class="col-form-label fw-bold">N°.Picking:</label>
        </div>
        <div class="col-4">
            <input type="text" id="n_pedido" class="form-control form-control-sm" value="{{anexo.n_pedido}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <!--div class="col-auto">
            <button class="btn btn-sm btn-secondary"><i class="bi bi-pencil"></i></button>
        </div-->
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="fecha" class="col-form-label fw-bold">Fecha:</label>
        </div>
        <div class="col-4">
            <input type="date" name="fecha" class="form-control form-control-sm" value="{{anexo.fecha|date:'Y-m-d'}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="cliente" class="col-form-label fw-bold">Cliente:</label>
        </div>
        <div class="col-4">
            <input type="text" name="cliente" class="form-control form-control-sm" value="{{anexo.cliente}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="ruc" class="col-form-label fw-bold">Ruc:</label>
        </div>
        <div class="col-4">
            <input type="text" maxlength="13" name="ruc" class="form-control form-control-sm" value="{{anexo.ruc}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="direccion" class="col-form-label fw-bold">Dirección:</label>
        </div>
        <div class="col-4">
            <input type="text" name="direccion" class="form-control form-control-sm" value="{{anexo.direccion}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="orden_compra" class="col-form-label fw-bold">Oreden de compra:</label>
        </div>
        <div class="col-4">
            <input type="text" name="orden_compra" class="form-control form-control-sm" value="{{anexo.orden_compra}}"  aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="n_factura" class="col-form-label fw-bold">Factura:</label>
        </div>
        <div class="col-4">
            <input type="text" name="n_factura" class="form-control form-control-sm" value="{{anexo.n_factura}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="observaciones" class="col-form-label fw-bold">Observaciones:</label>
        </div>
        <div class="col-4">
            <input type="text" name="observaciones" class="form-control form-control-sm" value="{{anexo.observaciones}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

</section>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table m-0 p-0" style="font-size:small" >
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">N.Generico</th>
                        <th scope="col">Presentación</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Procedencia</th>
                        <th scope="col">R.Sanitario</th>
                        <th scope="col">Lote</th>
                        <th scope="col">F.Elaboración</th>
                        <th scope="col">F.Caducidad</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">C.Total</th>
                        <th scope="col">P.Unitario</th>
                        <th scope="col">P.Total</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {#% for i in anexo.product_list.all %#}
                    {% for i in products %}
                        <tr>
                            <td>{{i.product_id}}</td>
                            <td>{{i.nombre}}</td>
                            <td>{{i.nombre_generico}}</td>
                            <td>{{i.presentacion}}</td>
                            <td>{{i.marca}}</td>
                            <td>{{i.procedencia}}</td>
                            <td>{{i.r_sanitario}}</td>
                            <td>{{i.lote_id}}</td>
                            <td>{{i.f_elaboracion|date:"d/m/Y"}}</td>
                            <td>{{i.f_caducidad|date:"d/m/Y"}}</td>
                            <td class="text-end">{{i.cantidad|floatformat:"0g"}}</td>
                            <td class="text-end">{{i.cantidad_total|floatformat:"0g"}}</td>
                            <td class="text-end">$ {{i.precio_unitario|floatformat:"3g"}}</td>
                            <td class="text-end">$ {{i.precio_total|floatformat:"2g"}}</td>
                            <td class="text-end">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" name="edit_product_modal" id="{{i.id}}">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="card mt-2 mb-2">
    <div class="card-body">
        <a class="btn btn-primary" href="{% url 'anexo_formato_general' anexo.id %}">
            <i class="bi bi-file-earmark-post"></i> GENERAL
        </a>
        <a class="btn btn-warning" href="{% url 'anexo_formato_hbo' anexo.id %}">
            <i class="bi bi-file-earmark-post"></i> HBO
        </a>
        <a class="btn btn-danger" href="{% url 'anexo_formato_hcam' anexo.id %}">
            <i class="bi bi-file-earmark-post"></i> HCAM
        </a>
        <a class="btn btn-info" href="{% url 'anexo_formato_hpas' anexo.id %}">
            <i class="bi bi-file-earmark-post"></i> HPAS
        </a>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="staticBackdropLabel">N°.Picking: {{anexo.n_pedido}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'anexo_edit_product_ajax' %}">
                {% csrf_token %}
                <input type="hidden" name="id_anexo" value="{{anexo.id}}">
                <div id="mymodal"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $("button[name='edit_anexo']").click(function(){
        $(this).closest('.row').find('input').removeAttr('readonly');
        $(this).closest('.row').find('button').css('display', 'inline-block');
        $(this).css('display', 'none');
    })
</script>

<script>
    $("button[name='edit_ajax']").click(function(){
        var input = $(this).closest(".row").find('input');
        var value = input.val();
        var name  = input.attr('name');
        var row   = $(this).closest(".row")

        $.ajax({
            type:"POST",
            url:"{% url 'anexo_cabecera_edit_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id':{{anexo.id}},
                'value':value,
                'name':name
            },
            success: function(response) {
                //console.log(response)
                if (response.msg=='ok') {
                    $("input[name='" + name + "']").attr("readonly", true);
                    row.find("button[name='edit_ajax']").hide();
                    row.find("button[name='edit_anexo']").show();
                    row.find(".bi-check-lg").show();
                } else if(response.msg=='fail') {
                    $("input[name='" + name + "']").attr("readonly", true);
                    row.find("button[name='edit_ajax']").hide();
                    row.find("button[name='edit_anexo']").show();
                    row.find(".bi-x-lg").show();
                }
            },

            error: function() {
                $("input[name='" + name + "']").attr("readonly", true);
                    row.find("button[name='edit_ajax']").hide();
                    row.find("button[name='edit_anexo']").show();
                    row.find(".bi-x-lg").show();
            }
        })
    })
</script>

<script>
    $("button[name='edit_product_modal']").click(function(){
        var product_id = $(this).attr('id');
        
        $.ajax({
            type:"GET",
            url:"{% url 'anexo_edit_product_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'product_id':product_id,
            },

            success: function(response) {
                $("#mymodal").html(response)
            },
            error: function() {
                $("input[name='" + name + "']").attr("readonly", true);
                    row.find("button[name='edit_ajax']").hide();
                    row.find("button[name='edit_anexo']").show();
                    row.find(".bi-x-lg").show();
            }
        })

    })
</script>

{% endblock %}