{%extends 'base.html' %}
{#% load tags %#}
{% load compras_publicas_tags %}
{% block title %}
<title>Anexo {{anexo.n_pedido}}</title>
{% endblock%}

{% block navbar %}
{% include 'compras_publicas/topnavbar.html' %}
{% endblock %}

{% block body_2 %}


<h5 class="m-4 fw-bold text-center">ANEXO PEDIDO {{anexo.n_pedido}}</h5>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert text-center alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error'%}
        <div class="alert text-center alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}


<div id="msg"></div>
<!--div id="msg_ss"></div-->


<section id="anexo" class="ms-2 mt-2 mb-2">

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="n_pedido" class="col-form-label fw-bold">N°.Picking:</label>
        </div>
        <div class="col-4">
            <input type="text" id="n_pedido" class="form-control form-control-sm" value="{{anexo.n_pedido}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <!--div class="col-auto">
            <button class="btn btn-sm btn-secondary"><i class="bi bi-pencil"></i></button>
        </div-->
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="fecha" class="col-form-label fw-bold">Fecha:</label>
        </div>
        <div class="col-4">
            <input type="date" name="fecha" class="form-control form-control-sm" value="{{anexo.fecha|date:'Y-m-d'}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="cliente" class="col-form-label fw-bold">Cliente:</label>
        </div>
        <div class="col-4">
            <input type="text" name="cliente" class="form-control form-control-sm" value="{{anexo.cliente}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="ruc" class="col-form-label fw-bold">Ruc:</label>
        </div>
        <div class="col-4">
            <input type="text" maxlength="13" name="ruc" class="form-control form-control-sm" value="{{anexo.ruc}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="direccion" class="col-form-label fw-bold">Dirección:</label>
        </div>
        <div class="col-4">
            <input type="text" name="direccion" class="form-control form-control-sm" value="{{anexo.direccion}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="orden_compra" class="col-form-label fw-bold">Orden de compra:</label>
        </div>
        <div class="col-4">
            <input type="text" name="orden_compra" class="form-control form-control-sm" value="{{anexo.orden_compra}}"  aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="orden_compra" class="col-form-label fw-bold">Formato de fecha lotes:</label>
        </div>
        <div class="col-4">
            <input type="text" name="fecha_formato_input" class="form-control form-control-sm" value="{{anexo.ff_key}}" readonly>
            <select name="fecha_formato_select" class="form-select form-select-sm" style="display:none">
                <option value="" selected>------</option>
                {% for i in ff %}
                <option value="{{i.value}}">{{i.key}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo_ff">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" id="edit_ajax_ff" name="edit_ajax_ff" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="orden_compra" class="col-form-label fw-bold">Formato decimales:</label>
        </div>
        <div class="col-4">
            <input type="text" name="fecha_formato_input" class="form-control form-control-sm" value="{{anexo.dd_key}}" readonly>
            <select name="fecha_formato_select" class="form-select form-select-sm" style="display:none">
                <option value="" selected>------</option>
                {% for i in dd %}
                <option value="{{i.value}}">{{i.key}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo_dd">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" id="edit_ajax_dd" name="edit_ajax_dd" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="n_factura" class="col-form-label fw-bold">Factura:</label>
        </div>
        <div class="col-4">
            <input type="text" name="n_factura" class="form-control form-control-sm" value="{{anexo.n_factura}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="n_autorizacion" class="col-form-label fw-bold">N°.Autorización:</label>
        </div>
        <div class="col-4">
            <input type="text" name="n_autorizacion" class="form-control form-control-sm" value="{{anexo.n_autorizacion}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <!-- Obtener numero de autorización -->
            <button class="btn btn-sm btn-primary" name="get_n_autorizacion">
                <i class="bi bi-file-earmark-binary-fill"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="observaciones" class="col-form-label fw-bold">Observaciones:</label>
        </div>
        <div class="col-4">
            <input type="text" name="observaciones" class="form-control form-control-sm" value="{{anexo.observaciones}}" aria-describedby="passwordHelpInline" readonly>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-secondary" name="edit_anexo">
                <i class="bi bi-pencil"></i>
            </button>
            <!--AJAX-->
            <button class="btn btn-sm btn-success" name="edit_ajax" style="display:none">
                <i class="bi bi-send"></i>
            </button>
            <!---->
            <i class="bi bi-check-lg" style="color:green; display:none"></i>
            <i class="bi bi-x-lg" style="color:red; display:none"></i>
        </div>
    </div>

</section>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table m-0 p-0" style="font-size:small" >
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">N.Generico</th>
                        <th scope="col">Presentación</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Procedencia</th>
                        <th scope="col">R.Sanitario</th>
                        <th scope="col">Lote</th>
                        <th scope="col">F.Elaboración</th>
                        <th scope="col">F.Caducidad</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">C.Total</th>
                        <th scope="col">P.Unitario</th>
                        <th scope="col">P.Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {#% for i in anexo.product_list.all %#}
                    {% for i in products %}
                        <tr>
                            <td>{{i.product_id}}</td>
                            <td>{{i.nombre}}</td>
                            <td>{{i.nombre_generico}}</td>
                            <td>{{i.presentacion}}</td>
                            <td>{{i.marca}}</td>
                            <td>{{i.procedencia}}</td>
                            <td>{{i.r_sanitario}}</td>
                            <td>{{i.lote_id}}</td>
                            <!--td>{{i.f_elaboracion|date:"d/m/Y"}}</td>
                            <td>{{i.f_caducidad|date:"d/m/Y"}}</td-->
                            <td>{{i.f_elaboracion|date:i.fecha_formato}}</td>
                            <td>{{i.f_caducidad|date:i.fecha_formato}}</td>
                            <td class="text-end">{{i.cantidad|floatformat:"0g"}}</td>
                            <td class="text-end">{{i.cantidad_total|floatformat:"0g"}}</td>
                            <td class="text-end">$ {{i.precio_unitario|formato_numero_precio_unitario:i.decimal_formato}}</td>
                            <td class="text-end">$ {{i.precio_total|floatformat:"2g"}}</td>
                            <td class="text-end">
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" name="edit_product_modal" id="{{i.id}}">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" name="delete_product" id="{{i.id}}">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="card mt-2 mb-2">
    <div class="card-body">
        <!--a class="btn btn-primary" href="{#% url 'anexo_formato_general' anexo.id %#}">
            <i class="bi bi-file-earmark-post"></i> GENERAL
        </a-->
        <a class="btn btn-primary" href="{% url 'anexo_formato_general_agrupado' anexo.id %}">
            <i class="bi bi-file-earmark-post"></i> GENERAL
        </a>
        <a class="btn btn-warning" href="{% url 'anexo_formato_hbo' anexo.id %}">
            <i class="bi bi-file-earmark-post"></i> HBO
        </a>
        <a class="btn btn-danger" href="{% url 'anexo_formato_hcam' anexo.id %}">
            <i class="bi bi-file-earmark-post"></i> HCAM
        </a>
        <a class="btn btn-info" href="{% url 'anexo_formato_hpas' anexo.id %}">
            <i class="bi bi-file-earmark-post"></i> HPAS
        </a>

        <button class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#add-product">
            <i class="bi bi-plus-circle-fill"></i>
            Añadir producto
        </button>

    </div>
</div>

<!-- Modal EDITAR PRODUCTO -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="staticBackdropLabel">N°.Picking: {{anexo.n_pedido}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'anexo_edit_product_ajax' %}">
                {% csrf_token %}
                <input type="hidden" name="id_anexo" value="{{anexo.id}}">
                <div id="edita_producto_form"></div> <!--class="modal-body" -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal AÑADIR PRODUCTO -->
<div class="modal fade" id="add-product" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="staticBackdropLabel">N°.Picking: {{anexo.n_pedido}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'anexo_add_product_ajax' %}">
                {% csrf_token %}
                <input type="hidden" name="id_anexo" value="{{anexo.id}}">
                
                <div class="modal-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="product_id" class="col-form-label fw-bold">Código:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="product_id" class="form-control form-control-sm" required>
                        </div>
                    </div>
                
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="nombre" class="col-form-label fw-bold">Nombre:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="nombre" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="nombre_generico" class="col-form-label fw-bold">Nombre Generico:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="nombre_generico" class="form-control form-control-sm" required>
                        </div>
                    </div>
                
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="presentacion" class="col-form-label fw-bold">Presentación:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="presentacion" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="marca" class="col-form-label fw-bold">Marca:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="marca" class="form-control form-control-sm" required>
                        </div>
                    </div>
                
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="procedencia" class="col-form-label fw-bold">Procedencia:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="procedencia" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="r_sanitario" class="col-form-label fw-bold">Registro Sanitario:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="r_sanitario" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="lote" class="col-form-label fw-bold">Lote:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="lote_id" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="f_elaboracion" class="col-form-label fw-bold">F.Elaboración:</label>
                        </div>
                        <div class="col-8">
                            <input type="date" name="f_elaboracion" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="f_caducidad" class="col-form-label fw-bold">F.Caducidad:</label>
                        </div>
                        <div class="col-8">
                            <input type="date" name="f_caducidad" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="cantidad" class="col-form-label fw-bold">Cantidad:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" name="cantidad" class="form-control form-control-sm" required>
                        </div>
                    </div>
                    
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="cantidad_total" class="col-form-label fw-bold">Cantidad total:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" name="cantidad_total" class="form-control form-control-sm" required>
                        </div>
                    </div>
                    
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="precio_unitario" class="col-form-label fw-bold">Precio Unitario:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" step="0.001" name="precio_unitario" class="form-control form-control-sm" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- EDITAR CABECERA DE ANEXO -->
<script>
    $("button[name='edit_anexo']").click(function(){
        $(this).closest('.row').find('input').removeAttr('readonly');
        $(this).closest('.row').find('button').css('display', 'inline-block');
        $(this).css('display', 'none');
    })

    $("button[name='edit_ajax']").click(function(){
        var input = $(this).closest(".row").find('input');
        var value = input.val();
        var name  = input.attr('name');
        var row   = $(this).closest(".row")

        $.ajax({
            type:"POST",
            url:"{% url 'anexo_cabecera_edit_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id':{{anexo.id}},
                'value':value,
                'name':name
            },
            success: function(response) {
                //console.log(response)
                if (response.msg=='ok') {
                    $("input[name='" + name + "']").attr("readonly", true);
                    row.find("button[name='edit_ajax']").hide();
                    row.find("button[name='edit_anexo']").show();
                    row.find(".bi-check-lg").show();
                } else if(response.msg=='fail') {
                    $("input[name='" + name + "']").attr("readonly", true);
                    row.find("button[name='edit_ajax']").hide();
                    row.find("button[name='edit_anexo']").show();
                    row.find(".bi-x-lg").show();
                }
            },

            error: function() {
                $("input[name='" + name + "']").attr("readonly", true);
                    row.find("button[name='edit_ajax']").hide();
                    row.find("button[name='edit_anexo']").show();
                    row.find(".bi-x-lg").show();
            }
        })
    })
</script>

<!-- EDITAR FORMATO DE FECHA -->
<script>
    $("button[name='edit_anexo_ff']").click(function(){
        $(this).css('display', 'none')
        var input = $(this).closest(".row").find('input').css('display','none');
        var select = $(this).closest(".row").find('select').css('display', 'inline-block');
        var edit_btn = $(this).closest(".row").find('#edit_ajax_ff').css('display','inline-block');
    })  

    $("button[name='edit_ajax_ff']").click(function(){
        var select = $(this).closest(".row").find('select option:selected');
        var value  = select.val()
        var key   = select.text()
        var input = $(this).closest(".row").find('input');
        var row   = $(this).closest(".row")

        $.ajax({
            type:"POST",
            url:"{% url 'anexo_ff_edit_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id':{{anexo.id}},
                'value':value,
                'key':key
            },

            success: function(response) {
                //console.log(response)
                if (response.msg=='ok') {
                    input.val(key);
                    input.show();
                    row.find('select').hide();
                    row.find("button[name='edit_ajax_ff']").hide();
                    row.find("button[name='edit_anexo_ff']").show();
                    row.find(".bi-check-lg").show();

                } else if(response.msg=='fail') {
                    input.show();
                    row.find('select').hide();
                    row.find("button[name='edit_ajax_ff']").hide();
                    row.find("button[name='edit_anexo_ff']").show();
                    row.find(".bi-x-lg").show();
                }
            },

            error: function() {
                input.show();
                row.find('select').hide();
                row.find("button[name='edit_ajax_ff']").hide();
                row.find("button[name='edit_anexo_ff']").show();
                row.find(".bi-x-lg").show();
            }
        })
        
    })
</script>

<!-- EDITAR FORMATO DE DECIMALES -->
<script>
    $("button[name='edit_anexo_dd']").click(function(){
        $(this).css('display', 'none')
        var input = $(this).closest(".row").find('input').css('display','none');
        var select = $(this).closest(".row").find('select').css('display', 'inline-block');
        var edit_btn = $(this).closest(".row").find('#edit_ajax_dd').css('display','inline-block');
    })  

    $("button[name='edit_ajax_dd']").click(function(){
        var select = $(this).closest(".row").find('select option:selected');
        var value  = select.val()
        var key   = select.text()
        var input = $(this).closest(".row").find('input');
        var row   = $(this).closest(".row")

        $.ajax({
            type:"POST",
            url:"{% url 'anexo_dd_edit_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id':{{anexo.id}},
                'value':value,
                'key':key
            },

            success: function(response) {
                //console.log(response)
                if (response.msg=='ok') {
                    input.val(key);
                    input.show();
                    row.find('select').hide();
                    row.find("button[name='edit_ajax_dd']").hide();
                    row.find("button[name='edit_anexo_dd']").show();
                    row.find(".bi-check-lg").show();

                } else if(response.msg=='fail') {
                    input.show();
                    row.find('select').hide();
                    row.find("button[name='edit_ajax_dd']").hide();
                    row.find("button[name='edit_anexo_dd']").show();
                    row.find(".bi-x-lg").show();
                }
            },

            error: function() {
                input.show();
                row.find('select').hide();
                row.find("button[name='edit_ajax_dd']").hide();
                row.find("button[name='edit_anexo_dd']").show();
                row.find(".bi-x-lg").show();
            }

        })
        
    })
</script>

<!-- EDITAR PRODUCTO MODAL -->
<script>
    $("button[name='edit_product_modal']").click(function(){
        var product_id = $(this).attr('id');
        
        $.ajax({
            type:"GET",
            url:"{% url 'anexo_edit_product_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'product_id':product_id,
            },

            success: function(response) {
                // $("#edita_producto_form").html(response)
                var edita_producto_form = $("#edita_producto_form");
                edita_producto_form.html(response);

                var formato_fecha_value = $("#fecha_formato_value").val();
                console.log(formato_fecha_value);

                var select_fecha_formato = $("#fecha_formato_selected");
                select_fecha_formato.find("option").each(function(){
                    console.log($(this).val());
                    if ($(this).val() == formato_fecha_value) {
                        $(this).attr("selected", "selected");
                    }
                });

            },
            error: function() {
                $("input[name='" + name + "']").attr("readonly", true);
                    row.find("button[name='edit_ajax']").hide();
                    row.find("button[name='edit_anexo']").show();
                    row.find(".bi-x-lg").show();
            }
        })

    })
</script>

<!-- ELIMINAR PRODUCTO -->
<script>
    $("button[name='delete_product']").click(function(){
        var product = $(this).attr('id');
        var row = $(this).closest("tr")

        $.ajax({
            type:"POST",
            url:"{% url 'anexo_delete_product_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id':product,
            },

            success: function(response) {
                row.remove();
            },
            error: function() {
                alert("Error al eliminar el producto");
            }
        })

    })

</script>

{% endblock %}