{%extends 'base.html' %}

{% block title %}
<title>Etiquetado por pedido</title>
{% endblock %}

{% block navbar %}
{% include 'compras_publicas/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
  table {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
  }
  thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
  }
  
  .table-responsive {
    height: 600px;
    overflow-y: scroll;
  }
</style>


<h5 class="m-4 text-center"><strong>INFIMAS 2023</strong></h5>


<!--button id="my-button">Click me!</button-->
{#{data}#}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<form method="POST"> 
    {% csrf_token %}
    <div class="row">
        <div class="form-group">
            <div class="input-group">
                <input id="inputbuscar" type="text" placeholder="Buscar por objeto de compra... (Usar minúsculas)" class="form-control" name="busqueda">
                <button class="btn btn-primary btn-sm" type="submit">Consultar</button>
            </div>
        </div>
    </div>
</form>

{% if resultados %}
<h5>Resultados de <strong>{{busqueda}}</strong>: {{resultados}}</h5>
{% endif %}

<!--div class="col-6">
    <label><strong>Buscar:</strong></label>
    <input id="inputbuscar" type="text" placeholder="Buscar..." class="form-control">
</div-->

<div class="pagination mt-2">
    <span class="step-links">
        {% if infimas.has_previous %}
            <a class="btn btn-outline-secondary btn-sm" href="?page=1">
                <span aria-hidden="true"> &laquo; Primera </span>
            </a>
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ infimas.previous_page_number }}">Anterior</a>
        {% endif %}

        <!--span class="current btn btn-outline-primary btn-sm"-->
        <span class="current btn btn-secondary btn-sm disabled">
            Pagina {{ infimas.number }} de {{ infimas.paginator.num_pages }}
        </span>

        {% if infimas.has_next %}
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ infimas.next_page_number }}">Siguiente</a>
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ infimas.paginator.num_pages }}">
                <span aria-hidden="true"> Última &raquo; </span>
            </a>
        {% endif %}
    </span>
</div>


<!-- Infimas -->
<!--h5 class="text-center"><strong>INFIMAS</strong></h5-->
<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" id="inv_table">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Objeto de compra</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Valor</th>
                        <!--th scope="col">Precio Unitario</th-->
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in infimas %}
                    <tr style="font-size: small;">
                        <td>{{i.Fecha}}</td>
                        <td>{{i.Proveedor}}</td>
                        <td>{{i.Objeto_Compra}}</td>
                        <td>{{i.Nombre}}</td>
                        <td class="text-end">{{i.Cantidad|floatformat:"0g"}}</td>
                        <td class="text-end">{{i.Costo|floatformat:2}}</td>
                        <td class="text-end">{{i.Valor|floatformat:2}}</td>
                        <!--td class="text-end"><strong>$ {{i.UNIT_PRICE|floatformat:2}}</strong></td-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="pagination mt-2 mb-2">
    <span class="step-links">
        {% if infimas.has_previous %}
            <a class="btn btn-outline-secondary btn-sm" href="?page=1">
                <span aria-hidden="true"> &laquo; Primera </span>
            </a>
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ infimas.previous_page_number }}">Anterior</a>
        {% endif %}

        <!--span class="current btn btn-outline-primary btn-sm"-->
        <span class="current btn btn-secondary btn-sm disabled">
            Pagina {{ infimas.number }} de {{ infimas.paginator.num_pages }}
        </span>

        {% if infimas.has_next %}
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ infimas.next_page_number }}">Siguiente</a>
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ infimas.paginator.num_pages }}">
                <span aria-hidden="true"> Última &raquo; </span>
            </a>
        {% endif %}
    </span>
</div>



<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#filter-hos-select2').select2();
    })
</script>


<!-- No abrir menu copy JS -->
<script type="text/javascript">
  document.querySelector('.table').addEventListener('contextmenu', function(e) {
    e.preventDefault();
  });
</script>

{% endblock %}