{%extends 'base.html' %}

{% block title %}
<title>Etiquetado por pedido</title>
{% endblock %}

{% block navbar %}
{% include 'compras_publicas/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
    table {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Standard */
    }
    thead {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }  
    .table-responsive {
        height: 300px;
        overflow-y: scroll;
    }
</style>

<h5 class="m-4 text-center"><strong>PRECIOS HISTORICOS <span class="text-sm">(desde 2021)</span></strong></h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<form method="POST"> 
    {% csrf_token %}
    <div class="row">
        <div class="input-group mb-2">
            <label class="fw-bold pt-2 col-1">HOSPITALES:</label>
            <div class="col-4 ms-2">
                <select class="form-select" id="filter-hos-select2" name="hospital" required> <!-- filter id="filter-hos"-->
                    <option value="0">TODOS LOS HOSPITALES</option>
                    {% for i in hospitales %}
                    <option value="{{i.CODIGO_CLIENTE}}">{{i.NOMBRE_CLIENTE}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto ms-2">
                <button class="btn btn-primary" type="submit">
                    Consultar
                </button>
            </div>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-3">
        <div class="input-group mb-2">
            <label class="fw-bold pt-2">CÓDIGO:</label>
            <input class="form-control form-control-sm ms-2 rounded" id="codigo" type="text">
            <div class ="col-auto ms-2">
                <button class="btn btn-primary" type="button" name="codigo">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-6 mt-2 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar..." class="form-control">
</div>

{% if precios_filtrado %}
<h5 class="text-center"><strong>{{h}}</strong></h5>
<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" id="inv_table">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Unitario</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in precios_filtrado %}
                    <tr> 
                        <td>
                            <button class="btn btn-sm btn-primary" name="producto">
                                <span id="product_id">{{i.PRODUCT_ID}}</span>
                            </button>
                        </td>
                        <td>{{i.Nombre}}</td>
                        <td>{{i.Marca}}</td>
                        <td>{{i.FECHA}}</td>
                        <td class="text-end">{{i.QUANTITY|floatformat:"0g"}}</td>
                        <td class="text-end"><strong>$ {{i.UNIT_PRICE}}</strong></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}


<div id="ventas"></div>

<!-- busqueda por código por boton -->
<script>
    $("button[name='producto']").click(function(){
        var producto = $(this).closest("tr").find("#product_id").html();
        
        $.ajax({
            type:"POST",
            url:"{% url 'facturas_por_product_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'producto':producto,
            },

            success: function(response) {
                
                $('#ventas').html(
                    `<h5 class="text-center"><strong>VENTAS ${producto}</strong></h5>
                    <div class="card mt-2 mb-2">
                        <div class="card-body m-0 p-0">
                            <div class="container table-responsive">
                                ${response}
                            </div>
                        </div>
                    </div>`
                );

                $("#v_table").removeClass('dataframe');
                $("#v_table").addClass('table');
                $("#v_table tbody").attr('id', 'pedidosbuscar');

                $(document).ready(function(){
                    $("#v_table tr").each(function(){
                        var row = $(this);
                        row.find("td:eq(5)").addClass("text-end");
                        row.find("td:eq(6)").addClass("text-end");
                        row.find("td:eq(6)").addClass("fw-bold");
                    })
                });

                $(document).ready(function(){
                    $("#v_table").DataTable({
                        //"ordering":false,
                        "order":[],
                        "searching":false,
                        "show":false,
                        "paging":false,
                        "info":false,
                        columnDefs:[
                            {type:'signed-num',targets:0}
                        ]
                    })
                })
            },

            error: function() {
                $('#ventas').html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            } 
        })
    })

</script>

<!-- busqueda por código por input -->
<script>
    $("button[name='codigo']").click(function(){
        var codigo = $("#codigo").val();

        $.ajax({
            type:"POST",
            url:"{% url 'facturas_busqueda_solo_por_product_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'codigo':codigo,
            },

            success: function(response) {
                console.log(response)
                $('#ventas').html(
                    `<h5 class="text-center"><strong>VENTAS ${codigo}</strong></h5>
                    <div class="card mt-2 mb-2">
                        <div class="card-body m-0 p-0">
                            <div class="container table-responsive">
                                ${response}
                            </div>
                        </div>
                    </div>`
                );

                $("#v_table").removeClass('dataframe');
                $("#v_table").addClass('table');
                $("#v_table tbody").attr('id', 'pedidosbuscar');

                $(document).ready(function(){
                    $("#v_table tr").each(function(){
                        var row = $(this);
                        row.find("td:eq(5)").addClass("text-end");
                        row.find("td:eq(6)").addClass("text-end");
                        row.find("td:eq(6)").addClass("fw-bold");
                    })
                });

                $(document).ready(function(){
                    $("#v_table").DataTable({
                        //"ordering":false,
                        "order":[],
                        "searching":false,
                        "show":false,
                        "paging":false,
                        "info":false,
                        columnDefs:[
                            {type:'signed-num',targets:0}
                        ]
                    })
                })
            },

            error: function() {
                $('#ventas').html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            } 
        })

    })

</script>

<!-- busqueda por input -->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#filter-hos-select2').select2();
    })
</script>

<!-- DataTable -->
<!-- datatable -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />  
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function(){
        $('#inv_table').DataTable({
            //"ordering":false,
            "order":[],
            "searching":false,
            "show":false,
            "paging":false,
            "info":false,
            columnDefs:[
                {type:'signed-num',targets:0}
            ]
    })
    })
</script>

<!-- DataTable -->
<!-- datatable -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />  
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function(){
        $('#v_table').DataTable({
            //"ordering":false,
            "order":[],
            "searching":false,
            "show":false,
            "paging":false,
            "info":false,
            columnDefs:[
                {type:'signed-num',targets:0}
            ]
    })
    })
</script>

{% endblock %}