{% extends 'base.html' %}

{% block title %}
<title>Etiquetado por pedido</title>
{% endblock %}

{% block navbar %}
{% include 'compras_publicas/topnavbar.html' %}
{% endblock %}

{% block body_2 %}


<h5 class="m-4 text-center fw-bold">PROCESOS SERCOP</h5>


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<form method="POST"> 
    {% csrf_token %}
    <div class="row">
        <div class="col-auto">
            <h6 class="fw-bold">Añadir un proceso:</h6>
            {{form.as_p}}
            <button class="btn btn-primary btn-sm" type="submit">Añadir</button>        
        </div>
    </div>
</form>

<hr>

<h5 class="text-center fw-bold">Lista de procesos</h5>

<div class="col-4 mt-4">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="table-responsive">
            <table class="table" style="font-size: small; width: 100%" id="id_table">
                <thead>
                    <tr>
                        <th scope="col">Proceso</th>
                        <th scope="col">Estado Proceso</th>
                        <th scope="col">
                            <select class="form-select" style="font-size:small; width: 125px;" id="filter-estado">
                                <option value="">Participa GIM</option> 
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </th>
                        <th scope="col">Estado Participación</th>
                        <th scope="col">Observaciones</th>
                        <th scope="col">Entidad</th>
                        <th scope="col">Objeto</th>
                        <th scope="col">Publicación</th>
                        <th scope="col">Fecha Puja</th>
                        <th scope="col">Link</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in procesos %}
                    <tr {% if i.participa == 'SI' %} style="background-color: #BAF690;" {% endif %}>
                        <td>{{i.proceso}}</td>
                        <td>{{i.Estado|default:"-"}}</td>
                        <td style="width: 125px;" class="estado">{{i.participa|default:"-"}}</td>
                        <td>{{i.estado_participacion|default:"-"}}</td>
                        <td>{{i.observaciones|default:"-"}}</td>
                        <td>{{i.Entidad|default:"-"}}</td>
                        <td>{{i.Objeto|default:"-"|truncatechars:80}}</td>
                        <td>{{i.Fecha_Publicacion|default:"-"}}</td>
                        <td>{{i.Fecha_Puja|default:"-"}}<br>{% if i.Hora_Puja %}{{i.Hora_Puja}}{% endif %}</td>
                        <td>
                            <a class="btn btn-sm btn-primary {% if not i.Html %} disabled {% endif %}"                           
                                href="{{i.Html}}" 
                                target="_blank"><i class="bi bi-link"></i>
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" name="proceso" id="{{i.id}}">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Actualizar proceso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'procesos_sercop_update' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        function filterCombinado() {
            var inputValue = $("#inputbuscar").val().toLowerCase();
            var selectValue = $("#filter-estado").val().toLowerCase();
    
            $("#pedidosbuscar tr").each(function() {
                var rowText = $(this).text().toLowerCase();
                var estadoText = $(this).find('.estado').text().toLowerCase();
    
                // Validar si la fila coincide con la búsqueda de texto y el valor del select
                var matchInput = rowText.includes(inputValue);
                var matchSelect = selectValue === "" || estadoText.includes(selectValue);
    
                $(this).toggle(matchInput && matchSelect);
            });
        }
    
        // Cambia 'keyup' y 'change' para manejar los eventos correctamente en ambos inputs
        $("#inputbuscar, #filter-estado").on("input change", filterCombinado);
    
            // Ejecuta el filtro al cargar la página para aplicar filtros predeterminados
            filterCombinado();
        });
    
</script>

<!-- css in form procesos -->
<script>
    $(document).ready(function(){
        // ADD CLASES AN ATRIBUTOS
        var proceso_input = $("#id_proceso").addClass('form-control')
    })
</script>

<!-- form update -->
<script>
    $("button[name='proceso']").click(function() {
        var id_proceso = $(this).attr('id');
        
        $.ajax({
            type: "GET",
            url: "{% url 'procesos_sercop_update' %}",
            data: {
                'id_proceso':id_proceso
            },

            success: function(response) {
                $('#staticBackdrop').modal('show');
                $('#staticBackdrop .modal-body').html(response);

                // ADD CLASES AN ATRIBUTOS
                var proceso_input = $("input[name='proceso']").addClass('form-control').attr('required', true);
                var participa_input = $("#id_participa").addClass('form-select') //.attr('required', true);
                var estado_participacion_input = $("#id_estado_participacion").addClass('form-select')
                var observaciones_input = $("#id_observaciones").addClass('form-control').attr('rows', 2);
                var descripcion_input = $("#id_descripcion").addClass('form-control').attr('rows', 2);

                // REMOVE NO PARTICIPADO DE INITIAL OPTIONS
                $('#id_estado_participacion option').filter(function() {
                    return $(this).text() === 'NO PARTICIPADO';
                }).remove();


                $("#id_participa").on('change', function(){
                    var participa = $(this).val();
                    var estado = $("#id_estado_participacion")

                    if (participa==='NO') {
                        // Quitar el select de estado
                        estado.attr('name', '').hide() //.remove();
                        // Agregar un input de texto
                        $("label[for='id_estado_participacion']").after('<input type="text" id="input_estado" name="estado_participacion" class="form-control" value="NO PARTICIPADO" readonly >')

                        // Hacer obligatorias las observaciones
                        //$("#id_observaciones").attr('required', true);


                    } else if (participa==='SI') {
                        // Mostrar select de estado
                        estado.attr('name', 'estado_participacion').show()
                        // Quitar input text
                        $("#input_estado").remove()
                        // Hacer obligatorio el select estado
                        //$("#id_estado_participacion").attr('required', true);

                    } else {
                        //$("#id_observaciones").attr('required', false);
                        $("#input_estado").remove()
                        estado.attr('name', 'estado_participacion').show()
                    }
                });

                $("#id_estado_participacion").on('change', function() {
                    var estado = $(this).val();
                    if (estado === '') {
                        console.log('-')
                        //$("#id_observaciones").attr('required', false);
                    } else {
                        console.log('-')
                        //$("#id_observaciones").attr('required', true);
                    }
                })

            },

            error: function() {
                $('#staticBackdrop').modal('show');
                $('#staticBackdrop .modal-body').html(
                    '<div class="alert alert-danger" role="alert">'+
                        '<strong>Error!</strong> No se pudo editar el proceso !!!' +
                    '</div>'
                );
            }
            
        })
        
    })
</script>

<!-- DataTable -->
<!-- datatable -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />  
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function(){
        $('#id_table').DataTable({
            //"ordering":false,
            "order":[],
            "searching":false,
            "show":false,
            "paging":false,
            "info":false,
            columnDefs:[
                {
                    "orderable": false,  // Desactiva el ordenamiento
                    "targets": [2, 9, 10]       // Especifica el índice de la columna
                }
            ]
    })
    })
</script>



{% endblock %}
