{% extends 'base.html' %}

{% block title %}
<title>Etiquetado por pedido</title>
{% endblock %}

{% block navbar %}
{% include 'compras_publicas/topnavbar.html' %}
{% endblock %}

{% block body %}


<h5 class="m-4 text-center"><strong>PROCESOS SERCOP</strong></h5>


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<form method="POST"> 
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-6">
            <h6 class="fw-bold">Añadir un proceso:</h6>
            <div class="input-group">
                <input type="text" class="form-control" name="proceso">
                <button class="btn btn-primary btn-sm" type="submit">Añadir</button>
            </div>
        </div>
    </div>
</form>

<hr>

<h5 class="text-center fw-bold">Lista de procesos</h5>

<div class="col-4 mt-4">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">Proceso</th>
                        <th scope="col">Entidad</th>
                        <th scope="col">Objeto</th>
                        <th scope="col">Publicación</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in procesos %}
                    <tr>
                        <td>{{i.proceso}}</td>
                        <td>{{i.Entidad|default:"-"}}</td>
                        <td>{{i.Objeto|default:"-"}}</td>
                        <td>{{i.Fecha_Publicacion|default:"-"}}</td>
                        <td>
                            <a 
                            {% if not i.Html %}
                            class="btn btn-sm btn-primary disabled"
                            {% else %}
                            class="btn btn-sm btn-primary"
                            {% endif %}
                            
                            href="{{i.Html}}" 
                            target="_blank"><i class="bi bi-link"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}