{%extends 'base.html' %}

{% block title %}
<title>Etiquetado por pedido</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">LISTA DE PRODUCTO Y SUS UBICACIONES EN ANDAGOYA</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<button type="button" class="btn btn-success mt-4" data-bs-toggle="modal" data-bs-target="#addUbicacion">Añadir Ubicación</button>

<div class="card mt-2 mb-2">
    <div class="card-body">
        <div class="container table-responsive">
            <div class="col-4">
                <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control mb-2">
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Ubicaciones</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in productos_completo %}
                    <tr>
                        <td id="codigo">{{i.product_id}}</td>
                        <td id="nombre">{{i.Nombre}}</td>
                        <td id="marca">{{i.Marca}}</td>
                        <td>
                            {% for j in i.ubicaciones %}
                                {% if j.estanteria %}
                                <button class="btn btn-sm btn-warning disabled">
                                    {{j.nombre}}
                                </button>
                                {% else %}
                                <button class="btn btn-sm btn-info disabled">
                                    {{j.nombre}}
                                </button>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <button class="btn btn-sm btn-secondary" name="editar" id="{{i.id}}" data-bs-toggle="modal" data-bs-target="#editarUbicacion">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addUbicacion" tabindex="-1" aria-labelledby="addUbicacionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addUbicacionLabel">Agregar Ubicación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <form method="POST" id="add_prod_ubi">
                {% csrf_token %}
                <label>Producto:</label>
                <select class="form-select select2" name="product_id">
                    <option value="">-----------</option>
                    {% for i in prods %}
                    <option value="{{i.product_id}}">{{i.product_id}} - {{i.Nombre}} - {{i.Marca}}</option>
                    {% endfor %}
                </select>
                <label>Ubicaciones:</label>
                <select class="form-select select2" name="ubicaciones" multiple>
                    {% for i in ubs %}
                    <option value="{{i.id}}">{{i.nombre}}</option>
                    {% endfor %}
                </select>
            </form>

        </div>
        <div class="modal-footer">
            <button type="submit" form="add_prod_ubi" class="btn btn-primary">Guardar</button>
        </div>
        </div>
    </div>
</div>


<!-- editar -->
<div class="modal fade" id="editarUbicacion" tabindex="-1" aria-labelledby="editarUbicacionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editarUbicacionLabel">Editar Ubicaciones</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'editar_producto_ubicacion' %}" id="edit_prod_ubi">
                {% csrf_token %}
                <label>Producto:</label>
                <input class="form-control" id="product_name_marca" readonly>
                <input class="form-control" id="product_id_edit" name="product_id" hidden>
                <label>Ubicaciones:</label>
                <select class="form-select select2_2" name="ubicaciones" multiple>
                    {% for i in ubs %}
                    <option value="{{i.id}}">{{i.nombre}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" form="edit_prod_ubi" class="btn btn-primary">Guardar</button>
        </div>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<!--css en form crear ubicacion-->
<script>
    $(document).ready(function() {

        $("#id_bodega").addClass('form-select');
        $("#id_pasillo").addClass('form-select');
        $("#id_estanteria").addClass('form-check-input');
        $("#id_estanteria").prop('checked', false);

        $("#id_modulo").addClass('form-control').hide();
        $("label[for='id_modulo']").hide();
        $("#id_nivel").addClass('form-control').hide();
        $("label[for='id_nivel']").hide();
        

        $("#id_estanteria").on('change', function() {
            console.log($(this).prop('checked'));
            if ($(this).prop('checked')){
                $("#id_modulo").show();
                $("label[for='id_modulo']").show();
                $("#id_nivel").show();
                $("label[for='id_nivel']").show();
            } else {
                $("#id_modulo").hide();
                $("label[for='id_modulo']").hide();
                $("#id_nivel").hide();
                $("label[for='id_nivel']").hide();
            }

        });

    });
</script>

<script>
    $(document).ready(function() {
        $('.select2').select2({dropdownParent:$('#addUbicacion')});
    });

    $(document).ready(function() {
        $('.select2_2').select2({dropdownParent:$('#editarUbicacion')});
    });
</script>

<script>
    $(document).ready(function() {
        $("button[name='editar']").click(function() {
            var id = $(this).attr('id');
            var codigo = $(this).closest('tr').find('#codigo').text();
            var nombre = $(this).closest('tr').find('#nombre').text();
            var marca = $(this).closest('tr').find('#marca').text();
            
            $("#product_name_marca").val(codigo + ' - ' + nombre + ' - ' + marca);
            $("#product_id_edit").val(codigo);

            var $ubicacionesSelect = $("#editarUbicacion select[name='ubicaciones']");
            $ubicacionesSelect.val(null).trigger("change");

            $.ajax({
                type:"GET",
                url:"{% url 'editar_producto_ubicacion' %}",
                data:{
                    'id': id
                },
                success: function(response) {
                    // Limpiar las opciones actuales del select
                    $ubicacionesSelect.find("option").prop("selected", false);

                    // Recorrer las ubicaciones del servidor y marcarlas como seleccionadas
                    response.producto_ubicaciones.forEach(function (ubicacion) {
                        $ubicacionesSelect
                            .find("option[value='" + ubicacion.id + "']")
                            .prop("selected", true);
                    });

                    // Refrescar Select2 para reflejar los cambios
                    $ubicacionesSelect.trigger("change");
                    
                },
                error: function(response) {
                    console.log(response);
                }
            })
        })
    })
</script>
{% endblock %}