{%extends 'base.html' %}

{% block title %}
<title>Transferencia {{n_transferencia}}</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 text-center fw-bold">TRANSFERENCIA {{n_transferencia}}</h5>

<div>
    <div class="card mt-2 mb-2">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive">
                <table class="table" style="font-size: small;">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <!--th scope="col">Lote</th-->
                            <th scope="col">Unidades</th>
                            <th scope="col">Ubicación(es)</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    {% for i in transferencia %}
                    <tr>
                        <td scope="row">
                            <span>{{i.product_id}}</span><br>
                            <span>{{i.Nombre}}</span><br>
                            <span>{{i.Marca}}</span><br>
                        </td>
                        <!--td scope="row">
                            <span>{{i.lote_id}}</span><br>
                            <span>{{i.fecha_caducidad}}</span><br>
                        </td-->
                        <td class="text-end">
                            <span>{{i.unidades|floatformat:"0g"}}</span> <br>
                            <span style="color:grey">{{i.cartones|floatformat:"2g"}}</span>
                        </td>
                        <td class="text-end">
                            {% if i.ubicaciones %}
                            {% for j in i.ubicaciones %}
                                {% if j.estanteria %}
                                <span class="badge bg-warning" style="font-size:14px">
                                    {{j.nombre}}
                                </span>
                                {% else %}
                                <span class="badge bg-info" style="font-size:14px">
                                    {{j.nombre}}
                                </span>
                                {% endif %}
                            {% endfor %}
                            {% else %}
                                <span class="badge bg-secondary" style="font-size:12px">Sin ubicación(es)</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <td>
                            <span class="fw-bold">T.Unidades:</span><br>
                            <span class="fw-bold">T.Cartones:</span>
                        </td>
                        <!--td class="text-end">-</td-->
                        <td class="text-end">
                            {{t_unidades|floatformat:"0g"}} <br> 
                            <span style="color:grey">{{t_cartones|floatformat:"2g"}}</span>
                        </td>
                        <td class="text-end">-</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <!--button type="button" class="btn btn-primary">Save changes</button-->
            </div>
        </div>
    </div>
</div>

<script>
    $("button[name='lotes']").click(function() {
        
        var product_id = $(this).html();
        var bodega     = $("#bodega").html();

        var nombre     = $(this).closest("tr").find("#nombre").html();
        var marca      = $(this).closest("tr").find("#marca").html();
        var p_unds     = $(this).closest("tr").find("#p_unds").html();

        $.ajax({
            url : "{% url 'ajax_lotes_bodega' %}",
            type: "POST",
            data: {
                'product_id':product_id,
                'bodega':bodega,
                'csrfmiddlewaretoken': '{{csrf_token}}',
            },
            
            success: function(response) {
                
                $(".modal-title").html(`Stock de bodega: ${bodega}`);
                $(".modal-body").html(`
                <span class="fw-bold">Item:</span> ${product_id} - ${nombre} - ${marca} <br> 
                <span class="fw-bold">Unds:</span> ${p_unds} <br> ${response}`);

                if ($("#lotes tbody tr").length===0){
                    $('.modal-body').append('No hay lotes registrados');
                }
            },

            error: function() {
                $(".modal-title").html('Error, Intenta nuevamente !!!');
                $(".modal-body").html('...');
            }
        })

    })
</script>

<script>
    $(document).ready(function() {
        $('#equipo_id').select2();
    })
</script>

<script>
    var estado = document.getElementById('estado_id');
    var equipo = document.getElementById('equipo_id');

    estado.onchange = function(){
        let estado_change = this.options[this.selectedIndex].text;
        //console.log(estado_change)
        if(estado_change == 'EN PROCESO'){
            equipo.disabled=false;
            equipo.required=true;
        }
        else{
            equipo.disabled=true;
            equipo.value = "";
        }
    }
</script>


<!-- Estado Picking -->
<script>
    $("button[name='estado_picking']").click(function(){
        var n_ped = $(this).attr('id');
        var estado = $(this).text()

        $.ajax({
            type:"POST",
            url:"{% url 'wms_estado_picking_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'n_ped':n_ped,
                'estado':estado,
                'user_id':{{request.user.id}}
            },

            success: function(response) {
            
            $('#msg').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} </div>`)
                setTimeout(function(){
                window.location.reload();
                }, 2000)
        
            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
        
    })
</script>

<!-- Actuaizar Estado Picking -->
<script>
    $("button[name='estado_actualizar']").click(function(){
        var id_picking = $(this).attr('id');
        var estado = $(this).text()
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_estado_picking_actualizar_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id_picking':id_picking,
                'estado':estado,
            },

            success: function(response) {
            
            $('#msg').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} </div>`)
                setTimeout(function(){
                window.location.reload();
                }, 2000)
        
            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
        
    })
</script>
{% endblock %}