{%extends 'base.html' %}

{% block title %}
<title>Ingresos</title>

{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="text-center mt-2"><strong>Ingreso a bodega</strong></h5>


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<!--div class="col-12 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div-->

<div id="msg"></div>



<div class="card">
    <div class="card-body ps-2 pe-2">
        <h6 class="text-center"><strong>Item:</strong></h6>
        <span style="font-size: small;"> <span class="fw-bold">Bodega: </span>{{item.bodega}}</span><br>
        <span style="font-size: small;"> <span class="fw-bold">Item: </span>{{item.product_id}}</span><br> <!-- - {{item.nombre}} - {{item.marca2}} -->
        <span style="font-size: small;"> <span class="fw-bold">Lote: </span>{{item.lote_id}}</span><br>
        <span style="font-size: small;"> <span class="fw-bold">Caducidad: </span>{{item.fecha_caducidad|date:'Y-m-d'}}</span><br>
        <span style="font-size: small;"> <span class="fw-bold">Unidades: </span>{{item.unidades_ingresadas|floatformat:"0g"}}</span>
    </div>
</div>

{% if mov_list %}
<div class="card mt-2">
    <div class="card-body ps-2 pe-2">
        <h6 class="text-center"><strong>Ubicaciones:</strong></h6>
        
        <table class="table mb-0 pb-0" style="font-size: small;">
            <thead>
                <th>Ubicación</th>
                <th>Unidades</th>
            </thead>
            <tbody>
                {% for i in mov_list %}
                <tr>
                    <td>{{i.ubicacion}}</td>
                    <td class="text-end">{{i.unidades|floatformat:"0g"}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tr>
                <td class="fw-bold">Total:</td>
                <td class="text-end">{{total_ubicaciones|floatformat:"0g"}}</td>
            </tr>
        </table>
    </div>
</div>
{% endif %}

<div class="card mt-2 mb-2" {% if item.unidades_ingresadas == total_ubicaciones %} style="display: none;" {% endif %}>
    <div class="card-body ps-2 pe-2">
        <form method="POST">
            {% csrf_token %}
            <!--input type="hidden" name="item" value="{{item.id}}"-->
            <input type="hidden" name="product_id" value="{{item.product_id}}">
            <input type="hidden" name="lote_id" value="{{item.lote_id}}">
            <input type="hidden" name="fecha_caducidad" value="{{item.fecha_caducidad|date:'Y-m-d'}}">
            <input type="hidden" name="descripcion" value="N/A">

            <input type="hidden" name="tipo" value="Ingreso">
            <input type="hidden" name="referencia" value="{{item.referencia}}">
            <input type="hidden" name="n_referencia" value="{{item.n_referencia}}">
            <input type="hidden" name="usuario" value="{{request.user.id}}">

            <label class="fw-bold" style="font-size: small;">Selecciona ubicación:</label><br>
            <select class="form-select form-select-sm" name="ubicacion" id="select2" required>
                <option value="">---------</option>
                {% for i in ubi_list %}
                    <option value="{{i.id}}">{{i}}</option>
                {% endfor %}
            </select>

            <label class="fw-bold" style="font-size: small;">Unidades:</label>
            <input type="number" class="form-control form-control-sm" name="unidades">

            {% if item.referencia == 'Inventario Inicial' %}
            <!--input type="hidden" name="cuarentena" value="True"-->
            <label class="fw-bold" style="font-size: small;">Estado:</label>
            <select class="form-select form-select-sm" name="estado" required>
                <option value="Disponible" selected>Disponible</option>
                <option value="Cuarentena">Cuarentena</option>
            </select>
            {% else %}
            <input type="hidden" name="estado" value="Cuarentena">
            {% endif %}

            <button class="btn btn-primary btn-sm float-end mt-2" type="submit">
                <i class="bi bi-send"></i> Guardar
            </button>
        </form>
    </div>
</div>

<!--a class="btn btn-secondary btn-sm float-end mt-2" href="{#% url 'wms_bodega_imp' item.o_compra %#}"-->
<!--a class="btn btn-secondary btn-sm float-end mt-2" href="{% url 'wms_bodega_imp' item.n_referencia %}">
    <i class="bi bi-arrow-return-left"></i> Regresar
</a-->

<!--div class="text-end">
    <a class="btn btn btn-warning mt-2 mb-2" href="{% url 'inv_home' %}">
        Inventario
    </a>
</div-->

<script>
    $(document).ready(function() {
        $("#select2").select2();
    })
</script>

{% endblock %}