{% extends 'base_vue.html' %}
{% block title %}
<title>ERROR LOTE</title>
{% endblock %}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body_2 %}
<!-- div id="app"-->

    <div class="text-center mt-4 mb-4">
        <h5 class="m-4 text-center fw-bold d-inline">
            REPORTE DE ERROR DE LOTE V2
        </h5>
    </div>

    <button 
        class="btn btn-sm btn-light ms-auto d-block"
        onclick="location.reload()">
            <i class="bi bi-arrow-clockwise"></i>
    </button>
    <h6 
        v-if="actualizado" 
        class="mt-0 pt-0 text-end fw-bold">
        Actualizado: {{actualizado}} 
    </h6>
    <span class="fw-bold"># Productos:</span> <span> {{ data.count }} </span>
    <br>

    
    <div class="col-4 mb-2">
        <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
    </div>
    
    <a href="{% url 'reporte_error_lote_excel_v2' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-spreadsheet-fill"></i> Reporte</a>
    
    <div class="card mt-2 mb-4">
        <div class="card-body">
            <div class="table-responsive"> 
                <div style="max-height: 60vh; overflow-y: auto;">
                    <table class="table table-hover" id="error-lote">
                        <thead class="table-info" style="position: sticky; top: 0; z-index: 2;">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Lote</th>
                                <th scope="col">Bodega</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Available</th>
                                <th scope="col">Diferencia</th>
                                <th scope="col">Commited</th>
                                <th scope="col">Errores</th>
                            </tr>
                        </thead>
                        
                        <tbody id="pedidosbuscar">
                            {% for i in data %}
                            <tr>
                                <td>{{i.product_id}}</td>
                                <td>{{i.nombre}}</td>
                                <td>{{i.marca}}</td>
                                <td>{{i.lote_id}}</td>
                                <td>{{i.bodega}}</td>
                                <td>{{i.ubicacion}}</td>
                                <td class="text-end">{{i.quantity}}</td>
                                <td class="text-end">{{i.available}}</td>
                                <td class="text-end">{{i.diff_available}}</td>
                                <td class="text-end">
                                    {% if i.commited == 0 %}
                                        -
                                    {% else %}
                                        {{i.commited}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if i.error_commited %}
                                        <span class="badge bg-danger">commited negativo</span>
                                    {% endif %}
                                    {% if i.error_available %}
                                        <span class="badge bg-danger">quantity & available</span>
                                    {% endif %}
                                </td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<!-- /div-->

<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}