{% extends 'base.html' %}
{% block title %}
<title>I. Toma Física</title>
{% endblock %}

{% block navbar %}
{% include 'inventario/topnavbar.html' %}
{% endblock %}

{% block body %}

<div class="container mt-4">

    {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert text-center alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error'%}
        <div class="alert text-center alert-danger" role="alert">
            {{message}}
        </div>
        {%endif%}
        {% endfor %}
    {% endif %}


        <a class="btn btn-secondary mb-3 col-2" href="{% url 'resumen-total-unificado' %}">
            Resumen Total <i class="bi bi-box-seam"></i>
        </a>

    <div class="row">

        <div class="col-xl-4 col-md-6">
            <div class="card border-primary mb-3">
                <div class="card-body text-primary">
                    <h3 class="card-title text-center"><i class="bi bi-card-checklist"></i> ANDAGOYA</h3>
                    <h5 class="text-center">Total de items: {{andagoya}}</h5>
                    <h5 class="text-center">Items contabilizados: {{andagoya_llenado}}</h5>
                    <h6 class="text-center">Avance: {{avance_andagoya}} %</h6>
                </div>
                <div class="card-footer bg-transparent border-primary">
                    <a class="btn btn-primary" href="{% url 'inventario_andagoya_home' %}">
                        Ingresar <i class="bi bi-box-arrow-in-up-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card border-primary mb-3">
                <div class="card-body text-primary">
                    <h3 class="card-title text-center"><i class="bi bi-card-checklist"></i> CEREZOS</h3>
                    <h5 class="text-center">Total de items: {{cerezos}}</h5>
                    <h5 class="text-center">Items contabilizados: {{cerezos_llenado}}</h5>
                    <h6 class="text-center">Avance: {{avance_cerezos}} %</h6>
                </div>
                <div class="card-footer bg-transparent border-primary">
                    <a class="btn btn-primary" href="{% url 'inventario_cerezos_home' %}">
                        Ingresar <i class="bi bi-box-arrow-in-up-right"></i>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}