{%extends 'cartas/base.html' %}

{% block title %}
<title>Listado de cartas para procesos</title>
{% endblock%}

{% block body %}

<h3 class="text-center m-3">
  <strong>LISTADO DE CARTAS PARA PROCESOS</strong>
</h3>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<a class="btn btn-primary mb-2" href="{% url 'procesos_new' %}">
  <i class="bi bi-plus-circle"></i> Nueva Carta
</a>

<form method="GET" class="d-flex gap-2 col-12 col-md-6">
    <input class="form-control" type="text" name="cliente" placeholder="Buscar por cliente..." style="min-width: 200px;">
    <button type="submit" class="btn btn-primary flex-shrink-0">Buscar</button>
</form>
<a href="{% url 'procesos_list' %}" class="btn btn-secondary mt-2">
    Limpiar búsqueda
</a>

<div class="card mt-2 mb-2">
  <div class="card-body mt-0 pt-0 mb-0 pb-0">
    <table class="table" style="font-size: small;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Oficio</th>
          <th scope="col">Ruc</th>
          <th scope="col">Cliente</th>
          <th scope="col">F.Emisión</th>
          <th scope="col">Proceso</th>
          <th scope="col">Hospital</th>
          <th scope="col">Emitida</th>
          <th scope="col">PDF</th>
          <th scope="col">Anular</th>
        </tr>
      </thead>
      {% for i in object_list %}
      <tbody id="pedidosbuscar">
        <tr>
          <th scope="row">{% if i.pk < 10 %}000{{i.pk}}{% elif i.pk < 100 %}00{{i.pk}}{% elif i.pk < 1000 %}0{{i.pk}}{% else %}{{i.pk}}{% endif %}</th>
          <td>{{i.oficio}}</td>
          <td>{{i.ruc}}</td>
          <td>{{i.cliente}}</td>
          <td>{{i.fecha_emision}}</td>
          <td>{{i.proceso}}</td>
          <td>{{i.hospital}}</td>

          {% if i.usuario %}
          <td>{{i.usuario.firma_carta}}</td>
          {% else %}
          <td>Carlos A. Arcos H.</td>
          {% endif %}

          <td class="text-left">
            <a href="{% url 'procesos_detail' i.slug %}" class="btn btn-sm btn-primary" target="_blank">
              <i class="bi bi-file-text-fill"></i>
            <a>
          </td>
          <td>
            <a href="{% url 'anular_cartaprocesos' i.slug %}" class="btn btn-sm btn-danger" target="_blank">
              <i class="bi bi-file-earmark-x-fill"></i>
            <a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
  </table>
  </div>
</div>

<div class="mt-2 mb-4">
    {% if is_paginated %}

        <!-- Botón anterior -->
        {% if page_obj.has_previous %}
        <a class="btn btn-sm btn-outline-dark"
            href="?page={{ page_obj.previous_page_number }}&cliente={{ request.GET.cliente }}">
            <i class="bi bi-caret-left"></i>
        </a>
        {% endif %}

        <!-- Página actual -->
        <span class="pt-2 mt-4">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        <!-- Botón siguiente -->
        {% if page_obj.has_next %}
        <a class="btn btn-sm btn-outline-dark"
            href="?page={{ page_obj.next_page_number }}&cliente={{ request.GET.cliente }}">
            <i class="bi bi-caret-right"></i>
        </a>
        {% endif %}

    {% endif %}
</div>

{% endblock %}