{% extends 'cartas/base.html' %}
{% load static %}

{% block title %}
<title>Nueva carta</title>
{% endblock%}

{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#chosen-select').select2();
    })
</script>

<h3 class="text-center m-3">
    <strong>NUEVA CARTA POR MARCAS</strong>
</h3>

{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}


{% if messages %}
{% for message in messages %}
    {% if message.tags == 'success'%}
    <div class="alert text-center alert-success" role="alert">
        {{message}}
    </div>
    {% elif message.tags == 'error'%}
    <div class="alert text-center alert-danger" role="alert">
        {{message}}
    </div>
    {%endif%}
{% endfor %}
{% endif %}

<label class="form-label">Buscar cliente:</label>

<div class="row mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-group mb-2">
            <span class="input-group-text" for="buscar_cliente_id">Ruc:</span>
            
            <input class="form-control" id="buscar_cliente_id" name="ruc" type="text">
        
            <button class="btn btn-primary" type="submit" name="buscar_cliente" >
                <i class="bi bi-search"></i>
            </button>
            <a href="{% url 'procesos_new' %}" class="btn btn-secondary">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <form method="POST">
        {% csrf_token %}
        
        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">Ruc:</label>
                <!--input class="form-control" name="ruc" type="text" value="{{ruc}}" required-->
                <input class="form-control" name="ruc" type="text" id="ruc_cliente" required>
            </div>
            <div class="col-md-9">
                <label class="form-label">Cliente:</label>
                <!--input class="form-control" name="cliente" type="text" value="{{nombre_cliente}}" maxlength="150" required><br-->
                <input class="form-control" name="cliente" type="text" id="nombre_cliente" maxlength="150" required><br>
            </div>
            <div class="col-md-6">
                <label class="form-label">Hospital:</label>
                <input class="form-control" id="hospital" name="hospital" type="text" maxlength="100" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Proceso:</label>
                <input class="form-control" id="proceso" name="proceso" type="text" maxlength="50" required>
            </div>
            <div class="col-12 mt-2">
                <label class="form-label">Marcas:</label>
                <select class="form-select" data-placeholder="Busque los items por código" id="chosen-select" name="marcas" multiple required>
                    {% for i in form.marcas %}
                        {{i}}
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 mt-2">
                <label class="form-label">Autorización a terceros:</label>
                <textarea class="form-control" name="autorizacion" rows="3" maxlength="450"></textarea>
            </div>

            <div class="col-md-3 mt-2 mb-2">
                {% if request.user.userperfil.id != 11 or request.user.userperfil.id != 14 %}
                <label class="form-label">Firma:</label>
                <select class="form-select" name="usuario" required>
                    <option>--------</option>
                    <option value="11">Carlos Arcos</option>
                    <option value="14">Nikole Caisapanta</option>
                </select>
                {% else %}
                <input type="hidden" name="usuario" value="{{request.user.userperfil.id}}">
                {% endif %}
            </div>

        </div>
        <button class="btn btn-primary mb-4" type="submit" >
            <i class="bi bi-send"></i> Guardar
        </button>
    </form>
</div>

<script>
    $("button[name='buscar_cliente']").click(function(){
        var ruc = $("input[name='ruc']").val();

        $.ajax({
            type:"POST",
            url:"{% url 'buscar_cliente_por_ruc_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'ruc': ruc
            },

            success: function(response) {
                console.log(response.ruc)
                if (response.ruc) {
                    console.log(response.ruc);
                    $("input[name='ruc']").val(response.ruc.IDENTIFICACION_FISCAL);
                    $("input[name='cliente']").val(response.ruc.NOMBRE_CLIENTE);
                } else {
                    alert("Cliente no encontrado.")
                }
            },

            error: function(error) {
                alert("Error al buscar el cliente." + error.message);
            }
        })
    })
</script>
{% endblock %}