{%extends 'base.html' %}

{% block title %}
<title>Etiquetado por pedido</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE PROFORMAS</strong></h5>

<div id="msg"></div>

<button class="btn btn-primary mt-2 mb-2" name="actualizar_proformas">
    <i class="bi bi-arrow-clockwise"></i> Actualizar
</button>

<div class="col-4">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"># Proforma</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Confirmado</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in proformas %}
                    <tr>
                        <td>{{i.contrato_id}}</td>
                        <td>{{i.nombre_cliente}}</td>
                        <td>{{i.fecha_pedido}}</td>
                        <td class="text-center">
                            {% if i.confirmed == '1' %}
                                <i class="bi bi-check-circle" style="color:green"></i>
                            {% else %}
                                <i class="bi bi-x-circle" style="color:red"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'detalle_proforma' i.contrato_id %}">
                                <i class="bi bi-stopwatch"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>

    $("button[name='actualizar_proformas']").click(function(){
        $.ajax({
            type:"POST",
            url:"{% url 'actualizar_proformas_ajax' %}",
            data:{'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(response){
                $("#msg").html(`<div class="text-center alert alert-${response.tipo} mt-2" role="alert"> ${response.msg} !!! </div>`)
                setTimeout(function(){
                    window.location.reload();
                }, 3000)
            },

            error: function() {
                $("#msg").html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
            }
        })
    })

</script>

{% endblock %}