{%extends 'base.html' %}

{% block title %}
<title>Pedido {{pedido|slice:':-2'}}</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>

<!--div class="ps-4 pe-4 ms-4 me-4"-->


<!--h5 class="m-4 text-center"><strong>PEDIDO</strong></h5-->

<div class="row">
    <h5 class="m-4 text-center"><strong>PEDIDO</strong></h5>
    <div class="col-6" id="print_area_cabecera">
        <h6><strong>N. Proforma: </strong>{{contrato_id}}</h6>
        <h6><strong>Cliente: </strong> {{cliente}}</h6>
        <h6><strong>Fecha de proforma: </strong> {{fecha_proforma}}</h6>
    </div>
    <div class="col-6" id="no_print">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-truck"></i> Lista de vehículos y sus dimensiones
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="card-body m-0 p-0">
                    <div class="container table-responsive">

                        {% include 'datos/vehiculos.html' %}
                        
                    </div>
                </div>
            </ul>
        </div>
        <div class="float-end">
            <!--button type="button" class="btn btn-primary rounded-circle" onclick="takeshot()">
                <i class="bi bi-camera-fill"></i>
            </button-->
            <button class="btn btn-primary" id="print">
                <i class="bi bi-printer-fill"></i>
            </button>
        </div>
    </div>
</div>


<div class="card mt-2" id="print_costo_entrega">
    <div class="card-body m-2 p-2">
        <div class="row">
            <div class="col-5">
                <!--form method="POST"-->
                    {#% csrf_token %#}
                    <div class="row">
                        <div class="col-5">
                            <label class="mb-1"><strong>Producto:</strong></label>
                            <select name="producto" id="producto" class="form-select" value="{{productovalue}}">
                                <option>-----------</option>
                                <option value="CARGA COURIER" selected>CARGA COURIER</option>
                                <option value="CARGA LIVIANA">CARGA LIVIANA</option>
                                <option value="DOCUMENTOS">DOCUMENTOS</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <label class="mb-1"><strong>Trayecto:</strong></label>
                            <select name="trayecto" id="trayecto" class="form-select" value="{{trayectovalue}}">
                                <option>-----------</option>
                                <option value="PRINCIPAL" selected>PRINCIPAL</option>
                                <option value="SECUNDARIO">SECUNDARIO</option>
                                <option value="T.ESPECIAL">T.ESPECIAL</option>
                                <option value="URBANO">URBANO</option>
                                <option value="RURAL">RURAL</option>
                            </select>
                        </div>
                        <div class="col-2 mt-4 pt-1">
                            <button type="submit" class="btn btn-success" name="calcular">
                                <i class="bi bi-currency-dollar"></i>
                            </button>
                        </div>
                    </div>
                <!--form-->                
            </div>
            
            {#% if fecha_entrega == 'None' %#}
            <!--div class="col-7">
                <div class="row">
                    <div class="col-6">
                        <label class="mb-1"><strong>Entrega:</strong></label> <br>
                        <input class="form-control mb-1" id="fecha_confirmacion" type="datetime-local">
                    </div>
                    <div class="col-5">
                        <label class="mb-1"><strong>Estado de la fecha:</strong></label><br>
                        <select class="form-select" id="fecha_estado">
                            <option value="TENTATIVA">TENTATIVA</option>
                            <option value="CONFIRMADO">CONFIRMADO</option>
                        </select>
                    </div>
                    <input type="hidden" id="pedido" value="{{pedido}}">
                    <input type="hidden" id="user" value="{{request.user.userperfil.id}}">
                    <div class="col-1 mt-4 pt-1">
                        <button id="fecha_entrega" class="btn btn-primary">
                            <i class="bi bi-send"></i> 
                        </button>
                    </div>
                </div>
            </div-->
            {#% else %#}
            <!--div class="col-6">
                <div class="row">
                    <div class="col-4 ms-1 me-0 ps-1 pe-0">
                        <label class="mb-1"><strong>Entrega:</strong></label> <br>
                        <input class="form-control mb-1" id="fecha_confirmacion" type="datetime-local" 
                        value="{{fecha_entrega.fecha_hora|date:'Y-m-d'}}T{{fecha_entrega.fecha_hora|date:'H:i'}}">
                    </div>
                    <div class="col-3 ms-1 me-0 ps-1 pe-0">
                        <label class="mb-1"><strong>Estado:</strong></label><br>
                        <select class="form-select" id="fecha_estado">
                            {% if fecha_entrega.estado == 'TENTATIVA' %}
                            <option value="TENTATIVA" selected>TENTATIVA</option>
                            <option value="CONFIRMADO">CONFIRMADO</option>
                            {% elif fecha_entrega.estado == 'CONFIRMADO' %}
                            <option value="TENTATIVA">TENTATIVA</option>
                            <option value="CONFIRMADO" selected>CONFIRMADO</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-3 ms-1 me-0 ps-1 pe-0">
                        <label class="mb-1"><strong>Registrado por:</strong></label><br>
                        {{fecha_entrega.user.user.first_name}} {{fecha_entrega.user.user.last_name}}
                    </div>
                    
                    <input type="hidden" id="pedido" value="{{pedido}}">
                    <input type="hidden" id="user" value="{{request.user.userperfil.id}}">

                    <div class="col-1 mt-4 pt-1 ms-1 me-0 ps-1 pe-0">
                        <button id="fecha_entrega" class="btn btn-primary ms-0 me-0">
                            <i class="bi bi-send"></i> 
                        </button>
                    </div>
                </div>
                {% if estado == 'FINALIZADO' %}
                <div class="row">
                    <div class="col-4">
                        <label class="mb-1"><strong>Estado de entrega:</strong></label><br>
                        <select class="form-select" id="entrega_estado">
                            
                            {% comment %}{% if fecha_entrega.est_entrega == 'PENDIENTE' %}
                            <option value="PENDIENTE" selected>PENDIENTE</option>
                            <option value="ENTREGADO">ENTREGADO</option>{% endcomment %}
                            {% if fecha_entrega.est_entrega == 'ENTREGADO' %}
                            <option value="PENDIENTE">PENDIENTE</option>
                            <option value="ENTREGADO" selected>ENTREGADO</option>
                            {% else %}
                            <option value="PENDIENTE" selected>PENDIENTE</option>
                            <option value="ENTREGADO">ENTREGADO</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="col-3">
                        <label class="mb-1"><strong>Registrado por:</strong></label><br>
                        {{fecha_entrega.reg_entrega.user.first_name}} {{fecha_entrega.reg_entrega.user.last_name}}
                    </div>
                    
                    <input type="hidden" id="pedido" value="{{pedido}}">
                    <input type="hidden" id="user" value="{{request.user.userperfil.id}}">

                    <div class="col-3 mt-4 pt-1">
                        <button id="estado_entrega" class="btn btn-primary">
                            <i class="bi bi-send"></i> 
                        </button>
                    </div>
                </div>
                {% endif %}
            </div-->
            {#% endif %#}
        </div>
    </div>
</div>



{% if costototal %}
<div class="card mt-2">
    <div class="card-body m-2 p-2 mb-2">
        <div class="row">
            <div class="col-2">
                <label class="mb-1"><strong>Producto:</strong></label><br>
                <label class="mt-1">{{productovalue}}</label>
            </div>
            <div class="col-2">
                <label class="mb-1"><strong>Trayecto:</strong></label><br>
                <label  class="mt-1">{{trayectovalue}}</label>
            </div>
            <div class="col-2">
                <label class="mb-1"><strong>Costo:</strong></label><br>
                <label class="mt-1">$ {{costototal}}</label>
            </div>
        </div>
    </div>
</div>
{% endif %}


<div id="costo"></div>
<div id="msg"></div>

{% if messages %}
<div class="alert alert-danger mb-0 mt-2" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

<div id="msg"></div>

<div id="print_area_table">
    <div class="card mb-4 mt-2">
        <div class="card-body m-0 p-0">
            <div class="table-responsive container"> 
                <table class="table" style="font-size: small;"> <!--  style="font-size: small;" -->
                    <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Cartones</th>
                        <!--th scope="col">Stock {{bodega}}</th-->
                        <th scope="col">T.P. 1P (h:m:s)</th>
                        <th scope="col">T.P. 2P (h:m:s)</th>
                        <th scope="col">T.P. 3P (h:m:s)</th>
                        <th scope="col">Volumen m<sup>3</sup></th>
                        <th scope="col">Peso kg</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                    {% for i in proforma %}
                    <tr>
                        <th scope="row">
                            {{i.product_id}}
                            <!--button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" name='lotes'>{{i.product_id}}</button-->
                            {#% if i.unidades %#}
                            <!--i class="bi bi-check-circle-fill" 
                                {% if i.QUANTITY == i.unidades %}
                                style="color:green"
                                {% elif i.unidades < i.QUANTITY %}
                                style="color:yellow"
                                {% endif %}
                            ></i-->
                            {#% endif %#}
                        </th>
                        <td id="nombre" class="text-start">{{i.Nombre}}</td>
                        <td id="marca" class="text-start">{{i.Marca}}</td>
                        <td id="p_unds" class="text-end">{{i.quantity|floatformat:"0g"}}</td>
                        <td class="text-end">{{i.cartones|floatformat:"2g"}}</td>
                        <td class="text-end" {% if i.t_1p == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.t_1p_str}}</td>
                        <td class="text-end" {% if i.t_2p == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.t_2p_str}}</td>
                        <td class="text-end" {% if i.t_3p == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.t_3p_str}}</td>

                        <td class="text-end" {% if i.volume == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.volumen|floatformat:'4g'}}</td>
                        <td class="text-end" {% if i.peso == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.peso|floatformat:'4g'}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <th scope="row">{#{i.PRODUCT_ID}#}</th>
                        <td class="text-start">{#{i.PRODUCT_NAME}#}</td>
                        <td class="text-start">{#{i.marca}#}</td>
                        <td class="text-end">{{t_unidades|floatformat:"0g"}}</td>
                        <td class="text-end">{{t_cartones|floatformat:"2g"}}</td>

                        <td class="text-end">{{t_1p}}</td>
                        <td class="text-end">{{t_2p}}</td>
                        <td class="text-end">{{t_3p}}</td>

                        <td class="text-end">{{t_volumen|floatformat:'2g'}}</td>
                        <td class="text-end">{{t_peso|floatformat:'2g'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</div>

<input id="peso_total" type="hidden" value="{{t_peso}}">
<input id="p_cero" type="hidden" value="{{p_cero}}">


<!--div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div-->

<!--/div-->

<script type="text/javascript">
    function takeshot() {
        html2canvas($('#capture')[0], {
            width: 1300,
            height: 2200
            }).then(function(canvas) {
            var a = document.createElement('a');
            a.href = canvas.toDataURL("image/png");
            a.download = 'Pedido {{pedido}}.png';
            a.click();
            });
    }
</script>

<script>
    $("#fecha_entrega").on("click", function() {
        //console.log('fecha entrega')
        var fecha = $("#fecha_confirmacion").val();
        var estado = $("#fecha_estado").val();
        var pedido = $("#pedido").val();
        
        
        $.ajax({
            type:"POST",
            url:"{% url 'pedidos_fecha_entrega_ajax' %}",
            //data : datos_pedido,
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'fecha':fecha,
                'estado':estado,
                'pedido':pedido,
            },
            
            success: function(response) {
                //console.log(response.msg)
                var mess = response.msg;
                var mess_error = response.msg_error
                //$('#msg').html('<div class="alert alert-success mt-3" role="alert"> Se guardo con exito la fecha de entrega </div>')
                //$('#msg').html(`<div class="text-center alert alert-success mt-3" role="alert"> Fecha de entrega guardada con exito, fecha-hora: ${fecha} - estado: ${estado} </div>`)
                $('#msg').html(`<div class="text-center alert alert-success mt-3" role="alert"> ${mess} </div>`)
                $('#msg').html(mess_error)
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            },

            error: function() {
                //$('#msg').html(`<div class="text-center alert alert-danger mt-2" role="alert"> Error al subir documento del producto: ${product_id} - lote: ${lote} </div>`)
                $('#msg').html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            }
        })
    })
</script>

<script>
    $("#estado_entrega").click(function() {
        
        var pedido = $("#pedido").val();
        var entrega_estado = $("#entrega_estado").val();
                
        $.ajax({
            type:"POST",
            url:"{% url 'entrega_estado_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'entrega_estado':entrega_estado,
                'pedido':pedido,
            },
            
            success: function() {
                //console.log(response.msg)
                var mess = 'Se registro el estado de entrega correctamente !!!';
                //var mess_error = response.msg_error
                //$('#msg').html('<div class="alert alert-success mt-3" role="alert"> Se guardo con exito la fecha de entrega </div>')
                //$('#msg').html(`<div class="text-center alert alert-success mt-3" role="alert"> Fecha de entrega guardada con exito, fecha-hora: ${fecha} - estado: ${estado} </div>`)
                $('#msg').html(`<div class="text-center alert alert-success mt-3" role="alert"> ${mess} </div>`)
                //$('#msg').html(mess_error)
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            },

            error: function() {
                //$('#msg').html(`<div class="text-center alert alert-danger mt-2" role="alert"> Error al subir documento del producto: ${product_id} - lote: ${lote} </div>`)
                $('#msg').html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            }
        })
    })
</script>


<!-- Tramaco function ajax -->
<script>
    $("button[name='calcular']").click(function(){
        var producto = $("#producto").val();
        var trayecto = $("#trayecto").val();
        var peso_total = $("#peso_total").val();
        var p_cero = $("#p_cero").val();
        console.log(producto, trayecto, peso_total, p_cero)
        $.ajax({
            type:"POST",
            url:"{% url 'tramaco_function_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'producto':producto,
                'trayecto':trayecto,
                'peso_total':peso_total,
                'p_cero':p_cero
            },

            success: function(response) {

                $('#costo').html(`
                <div class="card mt-2">
                    <div class="card-body m-2 p-2 mb-2">
                        <div class="row">
                            <div class="col-2">
                                <label class="mb-1"><strong>Producto:</strong></label><br>
                                <label class="mt-1">${producto}</label>
                            </div>
                            <div class="col-2">
                                <label class="mb-1"><strong>Trayecto:</strong></label><br>
                                <label  class="mt-1">${trayecto}</label>
                            </div>
                            <div class="col-2">
                                <label class="mb-1"><strong>Costo:</strong></label><br>
                                <label class="mt-1">$ ${response}</label>
                            </div>
                        </div>
                    </div>            
                </div>`
                );

                if (p_cero=='True') {
                    console.log('hay cero en los pesos')
                    $('#msg').html(`
                    <div class="text-center alert alert-danger mt-3" role="alert"> 
                        Alerta!! Existen items sin peso, por favor complete la información
                    </div>`)
                } else if (response==0) {
                    $('#msg').html(`
                    <div class="text-center alert alert-danger mt-3" role="alert"> 
                        El peso total es igual a 0 no se puede para realizar el calculo
                    </div>`)
                }

            },

            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            }
        })
    })

</script>

<script>
    $("button[name='lotes']").click(function() {
        
        var product_id = $(this).html();
        var bodega     = $("#bodega").html();

        var nombre     = $(this).closest("tr").find("#nombre").html();
        var marca      = $(this).closest("tr").find("#marca").html();
        var p_unds     = $(this).closest("tr").find("#p_unds").html();

        $.ajax({
            url : "{% url 'ajax_lotes_bodega' %}",
            type: "POST",
            data: {
                'product_id':product_id,
                'bodega':bodega,
                'csrfmiddlewaretoken': '{{csrf_token}}',
            },
            
            success: function(response) {
                
                $(".modal-title").html(`Stock de bodega: ${bodega}`);
                $(".modal-body").html(`
                <span class="fw-bold">Item:</span> ${product_id} - ${nombre} - ${marca} <br> 
                <span class="fw-bold">Unds:</span> ${p_unds} <br> ${response}`);

                if ($("#lotes tbody tr").length===0){
                    $('.modal-body').append('No hay lotes registrados');
                }
            },

            error: function() {
                $(".modal-title").html('Error, Intenta nuevamente !!!');
                $(".modal-body").html('...');
            }
        })

    })
</script>


<script>
    $("#print").click(function() {
        // window.print({
        //     addGlobalStyles:false,
        // })
        
        w=window.open();
        w.document.write($('#print_area_cabecera').html());
        //w.document.write($('#print_costo_entrega').html());
        w.document.write($('#costo').html());
        w.document.write($('#print_area_table').html());
        w.print();
        w.close();
        
    })
</script>

{% endblock %}