{%extends 'base.html' %}

{% block title %}
<title>Importaciones transito</title>
{% endblock%}

{% block navbar %}
{% include 'bpa/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE IMPORTACIONES EN TRANSITO</strong></h5>

<div class="col-4">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small">
                <thead>
                    <tr>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Código proveedor</th>
                        <th scope="col">Fecha de llegada</th>
                        <th scope="col">Memo</th>
                        <th scope="col">Orden de compra</th>
                        <th scope="col">M.Unidades.</th>
                        <th scope="col">M.Cartones.</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in imp %}
                    <tr>
                        <td>{{i.VENDOR_NAME}}</td>
                        <td>{{i.marca2|default:"-"}}</td>
                        <td>{{i.FECHA_ENTREGA}}</td>
                        <td>{{i.MEMO|default:"-"}}</td>
                        <td>{{i.CONTRATO_ID}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'muestreos_imp_unidades_transito' i.CONTRATO_ID %}" target="_blank">
                                <i class="bi bi-box"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'muestreos_imp_cartones_transito' i.CONTRATO_ID %}" target="_blank">
                                <i class="bi bi-boxes"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}