{%extends 'base.html' %}

{% block title %}
<title>Muestreos de trasferencias</title>
{% endblock%}

{% block navbar %}
{% include 'bpa/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">LISTADO DE TRASFERENCIAS</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %} 
    <div class="col-4">
        <div class="input-group">
            <input id="inputbuscar" name="n_transf" type="text" placeholder="Número de transferencia" class="form-control">
            <button type="submit" class="btn btn-primary">Añadir</button>
        </div>
    </div>
</form>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small">
                <thead>
                    <tr>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Documento</th>
                        <th scope="col">M. Unidades.</th>
                        <th scope="col">R. Técnica.</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in trasferencia %}
                    <tr>
                        <td>{{i.proveedor}}</td>
                        <td>{{i.documento}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'muestreo_transferencias' i.documento %}" target="_blank">
                                <i class="bi bi-box"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'muestreo_transferencias_revisiontecnica' i.documento %}" target="_blank">
                                <i class="bi bi-list-check"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}