{%extends 'base.html' %}

{% block title %}
<title>Importaciones llegadas</title>
{% endblock%}

{% block navbar %}
{% include 'bpa/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE IMPORTACIONES</strong></h5>
<!--h6 class="m-4 text-end"><strong>Actulizado: </strong>{{actualizado|slice:':-7'}}</h6-->

<!--form method="POST">
    {% csrf_token %} 
    <button type="submit" class="btn btn-primary mb-2">
        <i class="bi bi-arrow-clockwise"></i> Actulizar Tabla
    </button>
</form-->

<div class="col-4">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Código proveedor</th>
                        <th scope="col">Fecha de llegada</th>
                        <th scope="col">Memo</th>
                        <th scope="col">Orden de compra</th>
                        <th scope="col">M.Unidades.</th>
                        <th scope="col">M.Cartones.</th>
                        <th scope="col">R.Técnica.</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in imp %}
                    <tr>
                        <td>{{i.marca2|default:"-"}}</td>
                        <td>{{i.Marca}}</td>
                        <td>{{i.ENTRADA_FECHA}}</td>
                        <td>{{i.MEMO|default:"-"}}</td>
                        <td>{{i.DOC_ID_CORP}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'muestreos_imp_unidades' i.DOC_ID_CORP %}" target="_blank">
                                <i class="bi bi-box"></i>
                            </a>

                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'muestreos_imp_cartones' i.DOC_ID_CORP %}" target="_blank">
                                <i class="bi bi-boxes"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'revision_tecnica' i.DOC_ID_CORP %}" target="_blank">
                                <i class="bi bi-boxes"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}