{% load static %}
<title>Revisicón Técnica # {{proveedor}}
</title>

<style>
    @page{
        /*size: A4;*/
        size: letter landscape;
        margin-top:0.5cm;
        margin-left:0.5cm;
        margin-right:0.5cm;
        margin-bottom:0.5cm;

        /* HEADER Static frame */
        /*@frame header_frame {           
            -pdf-frame-content: header_content;
            left: 0pt; width: 595pt; top: 0pt; height: 140pt;
        }*/
        /* FOOTER Static frame */
        /*@frame footer_frame {
            -pdf-frame-content: footer_content;
            left:0pt; width:595pt; top:727pt; height:150pt;
        }*/
        /* BODY */
        /*@frame body_frame {}*/
            
    }
    #gim {
        background-size:100%;
        background-repeat:no-repeat;
    }

    .t_title {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        font-size: large;
    }

    .t_title_2 {
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 0px;
        font-size: small;
        width: 130px;
    }

    .t_title_3 {
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 0px;
        font-size: small;
        width: 60px;
    }

    .t_codigo {
        width: 85px;
        font-size: small;
    }

    .t_nombre {
        width: 170px;

        font-size: small;
    }

    .t_r_san {
        width: 110px;

        font-size: small;
    }

    .t_col_1 {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        width: 100px;
        font-size: small;
    }

    .t_col_2_1 {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        width: 30px;
        font-size: xx-small;
    }

    .t_col_2_2 {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        width: 45px;
        font-size: xx-small;
    }

    .t_col_2_3 {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        width: 60px;
        font-size: xx-small;
    }

    .t_col_3 {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        width: 95px;
        font-size: small;
    }

    .t_row {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        font-size: xx-small;
    }

    .t_row_na {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        text-align: center;
        font-size: xx-small;
    }
</style>

<meta charset="UTF-8">

<!--img id="header_content" src="{% static 'encabezado.png' %}"-->

<div class="gim" style="text-align:justify; font-size:14px">

    <div class="body_frame">

        <table style="border:1px solid black;">
            <tr>
                <th rowspan="2">
                    <img src="{% static 'gim_muestreo.png' %}" alt="">
                </th> 
                <th class="t_title" rowspan="2">
                    REVISIÓN TÉCNICA DE RECEPCIÓN
                </th>
                <th class="t_title">
                    BOD-RG-002
                </th>
            </tr>
            <tr>
                <th class="t_title">
                    Versión 05
                </th>
            </tr>
        </table>

        <br>

        <table>
            <tr>
                <td class="t_title_2">Tipo de Ingreso de Mercaderia:</td>
                <td class="t_title_2">__________</td>
                <td class="t_title_3">Bodega</td>
                <td class="t_title_2"></td>
            </tr>
            <tr>
                <td class="t_title_2">Número:</td>
                <td class="t_title_2">{{n_imp}}</td>
                <td class="t_title_3">Andagoya</td>
                <td class="t_title_2">__________</td>
            </tr>
            <tr>
                <td class="t_title_2">Proveedor/Fabricante:</td>
                <td class="t_title_2">{{proveedor}}</td>
                <td class="t_title_3">Cerezos</td>
                <td class="t_title_2">__________</td>
            </tr>
            <tr>
                <td class="t_title_2">Fecha</td>
                <td class="t_title_2">{{fecha}}</td>
                <td class="t_title_3"></td>
                <td class="t_title_2"></td>
            </tr>
        </table>

        <br>

        <table style="border:1px solid black;">
            <tr>
                <th class="t_codigo" rowspan="3">No. Referencia</th>
                <th class="t_nombre" rowspan="3">Descripción</th>
                <th class="t_r_san" rowspan="3">Registro Sanitario</th>
                <th class="t_col_1" rowspan="1" colspan="10">Check-List Cartón Master</th>
                <th class="t_col_1" rowspan="1" colspan="10">Check-List Empaque Secundario</th>
                <th class="t_col_1" rowspan="1" colspan="12">Check-List Empaque Primario</th>
                <th class="t_col_3" rowspan="3">Observación<br>(Etiqueta, Empaque, Caja, Presentación, etc.)</th>
            </tr>
            <tr>
                <th class="t_col_2_1" rowspan="2">No. Ref.</th>
                <th class="t_col_2_2" rowspan="2">Nombre Producto</th>
                <th class="t_col_2_1" rowspan="2">Fecha Fabr. y Exp.</th>
                <th class="t_col_2_1" rowspan="2">Reg. San.</th>
                <th class="t_col_2_1" rowspan="2">Lote</th>
                <th class="t_col_2_3" rowspan="2">-Presentación<br>-Advertencias</th>
                <th class="t_col_2_3" rowspan="2">Condiciones almacenaje</th>
                <th class="t_col_2_1" colspan="2">Emabalaje</th>
                <th class="t_col_2_1">Etiquetas</th>

                <th class="t_col_2_1" rowspan="2">No. Ref.</th>
                <th class="t_col_2_2" rowspan="2">Nombre Producto</th>
                <th class="t_col_2_1" rowspan="2">Fecha Fabr. y Exp.</th>
                <th class="t_col_2_1" rowspan="2">Reg. San.</th>
                <th class="t_col_2_1" rowspan="2">Lote</th>
                <th class="t_col_2_3" rowspan="2">-Presentación<br>-Advertencias</th>
                <th class="t_col_2_3" rowspan="2">Condiciones almacenaje</th>
                <th class="t_col_2_1" colspan="2">Emabalaje</th>
                <th class="t_col_2_1">Etiquetas</th>

                <th class="t_col_2_1" rowspan="2">No. Ref.</th>
                <th class="t_col_2_2" rowspan="2">Nombre Producto</th>
                <th class="t_col_2_1" rowspan="2">Fecha Fabr. y Exp.</th>
                <th class="t_col_2_1" rowspan="2">Reg. San.</th>
                <th class="t_col_2_1" rowspan="2">Lote</th>
                <th class="t_col_2_3" rowspan="2">-Presentación<br>-Advertencias</th>
                <th class="t_col_2_3" rowspan="2">Condiciones almacenaje</th>
                <th class="t_col_2_3" rowspan="2">No material extraño</th>
                <th class="t_col_2_3" rowspan="2">No deformado</th>
                <th class="t_col_2_3" rowspan="2">Sellado</th>
                <th class="t_col_2_3" rowspan="2">-No Roto<br>-No Húmedo<br>-Intacto</th>
                <th class="t_col_2_1">Etiquetas</th>
            </tr>

            <tr>
                <th class="t_col_2_3">Sellado</th>
                <th class="t_col_2_3">-No Roto<br>-No Húmedo<br>-Intacto</th>
                <th class="t_col_2_3">-Legibles<br>-Indelebles<br>-Bien Adheridas</th>

                <th class="t_col_2_3">Sellado</th>
                <th class="t_col_2_3">-No Roto<br>-No Húmedo<br>-Intacto</th>
                <th class="t_col_2_3">-Legibles<br>-Indelebles<br>-Bien Adheridas</th>

                <th class="t_col_2_3">-Legibles<br>-Indelebles<br>-Bien Adheridas</th>
            </tr>

            {% for i in imp %}
            
            <tr>
                <td class="t_row">{{i.PRODUCT_ID}}</td>
                <td class="t_row">{{i.Nombre}}</td>
                <td class="t_row">{{i.Reg_San}}</td>
                
                <!--Empaque terciario-->
                {% if i.emp_terciario %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% else %}
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                {% endif %}

                <!--Empaque secundario-->
                {% if i.emp_secundario %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% else %}
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                {% endif %}

                <!--Empaque primario-->
                {% if i.emp_primario %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% else %}
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                <td class="t_row_na">N/A</td>
                {% endif %}

            </tr>
            {% endfor %}

        </table>

        <br>
        

        <table>
            <tr>
                <th>
                    <img whidth="20" height="20" src="{% static 'ok.png' %}"> : Cumple
                </th> 
                <th>
                    <img whidth="20" height="20" src="{% static 'no.png' %}"> : No Cumple
                </th>
                <th>
                    <span style="font-size: 20px;">
                        <strong>A :</strong>
                    </span> Requiere Acondicionamiento
                </th>
            </tr>
        </table>

        <br>

        <label><strong>Informe/Conclusiones:</strong></label>
        <table style="border:1px solid black;">
            <tr>
                <td>
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                </td>
            </tr>
        </table>
        <br>

        <table>
            <tr>
                <th>
                    <label style="text-align:justify; font-size:14px">
                        <strong>_______________________</strong>
                    </label><br>
                    <label style="text-align:justify; font-size:14px">
                        <strong>Elaborado por:</strong>
                    </label><br>
                    <label style="text-align:justify; font-size:14px">
                        <strong>Asistente de Calidad</strong>
                    </label>
                </th> 
                <th>
                    <label style="text-align:justify; font-size:14px">
                        <strong>_______________________</strong>
                    </label><br>
                    <label style="text-align:justify; font-size:14px">
                        <strong>Aprobado por:</strong>
                    </label><br>
                    <label style="text-align:justify; font-size:14px">
                        <strong>Responsable Técnico</strong>
                    </label>
                </th>
                <th>
                    <label style="text-align:justify; font-size:14px">
                        <strong>_______________________</strong>
                    </label><br>
                    <label style="text-align:justify; font-size:14px">
                        <strong>Revisado por:</strong>
                    </label><br>
                    <label style="text-align:justify; font-size:14px">
                        <strong>Genernte de Operaciones</strong>
                    </label>
                </th>
            </tr>
        </table>

    </div>
</div>

<br>

