{% extends 'base.html' %}
{% block title %}
<title>PEDIDOS {{bodega}}</title>
{% endblock%}

{#% block navbar %#}
{#% include 'etiquetado/topnavbar.html' %#}
{#% endblock %#}

{% block body %}
<h5 class="m-4 text-center"><strong>PEDIDOS PENDIENTES {{bodega}}</strong></h5>
<!--h6 class="m-4 text-end"><strong>Actualizado a:</strong> {{actualizado}}</h6-->

<div class="row">
    <div class="col-4">
        <div class="card text-white bg-danger">
            <h5 class="card-header text-center fs-4">PEDIDOS MAS DE 3 DIAS</h5>
            <div class="card-body">
            <h5 class="card-title text-center fs-1">{{mas3}}</h5>
            <!--span>Finalizados: {{mas3_fin}}</span><br-->
            <!--span>Pendientes: {{mas3_pen}}</span><br>
            <span>En proceso: {{mas3_pro}}</span><br>
            <span>En pausa: {{mas3_pau}}</span><br>
            <span>Incompleto: {{mas3_inc}}</span><br-->
            <!--p class="card-text">With supporting text below as a natural lead-in to additional content.</p-->
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-warning">
            <h5 class="card-header text-center fs-4">PEDIDOS AYER</h5>
            <div class="card-body">
            <h5 class="card-title text-center fs-1">{{ayer}}</h5>
            <!--span>Finalizados: {{ayer_fin}}</span><br-->
            <!--span>Pendientes: {{ayer_pen}}</span><br>
            <span>En proceso: {{ayer_pro}}</span><br>
            <span>En pausa: {{ayer_pau}}</span><br>
            <span>Incompleto: {{ayer_inc}}</span><br-->
            <!--p class="card-text">With supporting text below as a natural lead-in to additional content.</p-->
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-success">
            <h5 class="card-header text-center fs-4">PEDIDOS HOY</h5>
            <div class="card-body">
            <h5 class="card-title text-center fs-1">{{hoy}}</h5>
            <!--span>Finalizados: {{hoy_fin}}</span><br-->
            <!--span>Pendientes: {{hoy_pen}}</span><br>
            <span>En proceso: {{hoy_pro}}</span><br>
            <span>En pausa: {{hoy_pau}}</span><br>
            <span>Incompleto: {{hoy_inc}}</span><br-->
            <!--p class="card-text">With supporting text below as a natural lead-in to additional content.</p-->
            </div>
        </div>
    </div>
</div>

<div>
    <div class="card mt-4 mb-4">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive"> <!-- class="container table-responsive"-->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">N° Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha pedido</th>
                        <th scope="col">Hora pedido</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Estado picking</th>
                        <th scope="col">Operario</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                    {% for i in reservas %}
                    {% comment %}
                    {% if i.fecha_estado == 'hoy' %}
                    <tr style="font-size: small; background-color: #D2FCD2;">
                    {% elif i.fecha_estado == 'ayer' %}
                    <tr style="font-size: small; background-color: #F7F5DF;">
                    {% elif i.fecha_estado == 'mas3' %}
                    <tr style="font-size: small; background-color: #F6B690;">
                    {% endif %}
                    {% endcomment %}
                    <tr style="font-size: small;">

                        <th scope="row" 
                        {% if i.fecha_estado == 'hoy' %}
                        style="background-color: #BAF690;"
                        {% elif i.fecha_estado == 'ayer' %}
                        style="background-color: #F6F490;"
                        {% elif i.fecha_estado == 'mas3' %}
                        style="background-color: #F6B690;"
                        {% endif %}
                        >
                            {#{i.CONTRATO_ID|slice:-2}#}

                            <a href="{% url 'pedidos' i.CONTRATO_ID %}" target="_blank">
                                {{i.CONTRATO_ID|slice:-2}}
                            </a>

                            <!-- STCOK COMPLETO -->
                            {% if i.DISP == 'NOT' %}
                                <i style = "color:red;" class="bi bi-file-earmark-x-fill"></i>
                            {% endif %}

                            <!-- PEDIDO CONFIRMADO -->
                            {% if i.CONFIRMED %}
                                <i class="bi bi-check2"></i>
                            {% endif %}

                        </th>

                        <td class="text-start">{{i.NOMBRE_CLIENTE}}</td>
                        <td class="text-start">{{i.FECHA_PEDIDO}}</td>
                        <td class="text-start">{{i.HORA_LLEGADA}}</td>
                        <td class="text-start">{{i.CIUDAD_PRINCIPAL}}</td>

                        <!--td class="text-start">{{i.estado}}</td-->

                        <td class="estado text-start" data-estado="{{i.estado}}">
                            {% if i.estado == 'EN PAUSA' %}
                            <a class="btn btn-danger btn-sm disabled">{{i.estado}}</a>
                            {% elif i.estado == 'EN TRANSITO' %}
                            <a class="btn btn-primary btn-sm disabled">{{i.estado}}</a>
                            {% elif i.estado == 'EN PROCESO' %}
                            <a class="btn btn-warning text-white btn-sm disabled">{{i.estado}}</a> 
                            {% elif i.estado == 'INCOMPLETO' %} 
                            <a class="btn text-white btn-sm disabled" style="background-color:#bf03c8;">{{i.estado}}</a>
                            {% elif i.estado == 'FINALIZADO' %}
                            <a class="btn btn-success btn-sm disabled">{{i.estado}}</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>

                        <td class="text-start">{{i.operario}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function actualizar(){location.reload(true);}
    //Función para actualizar cada 30 min = 1,800,000 milisegundos
    setInterval("actualizar()",300000); //5min
</script>

{% endblock %}