{% extends 'base_vue.html' %}
{% block title %}
<title>DASHBOARD COMPLETO CEREZOS</title>
{% endblock%}

{#% block navbar %#}
{#% include 'etiquetado/topnavbar.html' %#}
{#% endblock %#}

{#% block body %#}
{% block body_2 %}

<style>
    
    thead {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }
    
    .table-responsive-pedidos {
        height: 400px;
        overflow-y: scroll;
    }
    .table-responsive-stock {
        height: 452px;
        overflow-y: scroll;
    }
    .table-responsive-publico {
        height: 505px;
        overflow-y: scroll;
    }
</style>

<div id="app">

    <div class="text-center mt-2">
        <h1 class="fw-bold d-inline">DASHBOARD COMPLETO CEREZOS</h1>
        <div v-if="cargandoDashboard" class="spinner-border" role="status"></div>
        <div v-if="errorDatos"><i style="color:red" class="bi bi-bug-fill"></i></div>
    </div>

    <h6 class="mt-0 pt-0 text-end fw-bold">{% verbatim %}{{ fechaHoraActual }}{% endverbatim %}</h6>

    <!--div id="error-dash"></div>
    <div id="dash"><div-->
    
    <!-- Botón para actualizar el dashboard -->
    <!--button @click="actualizarDashboard">Actualizar Dashboard</button-->
    
    <div class="row mb-4">
        <div class="col mb-4">
            <div class="card">
                <h6 class="card-header text-center fs-2">PEDIDOS PENDIENTES</h6>
                <div class="card-body">
                    <div class="container">
                        <ul class="list-group">
                            {% verbatim %}
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-danger text-white">
                                PEDIDOS MÁS DE 3 DÍAS
                                <span class="fs-4">{{pedidos_mas_tres_dias}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-warning text-white">
                                PEDIDOS AYER
                                <span class="fs-4">{{pedidos_ayer}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-success text-white">
                                PEDIDOS HOY
                                <span class="fs-4">{{pedidos_hoy}}</span>
                            </li>
                            {% endverbatim %}
                        </ul>
                    </div>

                    <div class="table-responsive-pedidos mt-4">
                        <table class="table">
                            <thead>
                                <th>N° PEDIDO</th>
                                <th>FECHA</th>
                                <th>CIU</th>
                                <th>ESTADO</th>
                                <th>OP</th>
                            </thead>
                            <tbody style="font-size: small;">
                                <tr v-for="(i, index) in pedidosCerezosData" :key="index">
                                    {% verbatim %}
                                    <td :style="{backgroundColor: obtenerColorFondoNumeroPedido(i.fecha_estado)}">
                                        <a :href="'/etiquetado/pedidos/' + i.CONTRATO_ID" class="fs-6" target="_blank">{{i.contrato_id}}</a>
                                        <br>
                                        {{i.NOMBRE_CLIENTE}}
                                    </td>
                                    <td>{{i.FECHA_PEDIDO}} {{i.HORA_LLEGADA}}</td>
                                    <td>{{i.CIUDAD_PRINCIPAL}}</td>
                                    <td>
                                        <a v-if="i.estado == 'EN PAUSA'" class="btn btn-danger btn-sm disabled">{{i.estado}}</a>
                                        <a v-else-if="i.estado == 'EN TRANSITO'" class="btn btn-primary btn-sm disabled">{{i.estado}}</a>
                                        <a v-else-if="i.estado == 'EN PROCESO'" class="btn btn-warning text-white btn-sm disabled">{{i.estado}}</a>
                                        <a v-else-if="i.estado == 'INCOMPLETO'" class="btn text-white btn-sm disabled" style="background-color:  #bf03c8 ;">{{i.estado}}</a>
                                        <a v-else-if="i.estado == 'FINALIZADO'" class="btn btn-success btn-sm disabled">{{i.estado}}</a>
                                        <a v-else="i.estado == '-'" >{{i.estado}}</a>
                                    </td>
                                    <td v-if="i.first_name != '-'">{{i.first_name}}.{{i.last_name}}</td>
                                    <td v-else>-</td>
                                    {% endverbatim %}
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <h6 class="card-header text-center fs-2">ETIQUETADO STOCK</h6>
                <div class="card-body">
                    <div class="container">
                        <ul class="list-group">
                            {% verbatim %}
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-danger text-white">
                                URGENTE <span class="fs-4">{{urgente}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-warning text-white">
                                PRONTO <span class="fs-4">{{pronto}}</span>
                            </li>
                            {% endverbatim %}
                        </ul>

                    </div>
                    <div class="table-responsive-stock mt-4">
                        <table class="table">
                            <thead>
                                <th>ITEM</th>
                                <th>CUA</th>
                                <th>TIEMPO</th>
                                <th>MESES</th>
                            </thead>
                            <tbody style="font-size: small;"> 
                                <tr v-for="(i, index) in etiquetadoData" :key="index">
                                    {% verbatim %}
                                    <td>
                                        <span v-if="i.estado == 'EN PROCESO'"><i class="bi bi-check-circle-fill" style="color:green"></i></span>
                                        <a :href="'/etiquetado/pedidos/' + i.CONTRATO_ID" class="fs-6" target="_blank">{{i.PRODUCT_ID}}</a>
                                        <span v-if="i.n_personas" class="bg-info bg-gradient text-white m-2 p-1">{{i.n_personas}}p</span>
                                        <br>
                                        <span style="font-size: small;">{{i.PRODUCT_NAME}}</span> 
                                    </td>
                                    <td class="text-end">{{i.Cuarentena|floatformat:'0g'}}</td>
                                    <td class="text-end">{{i.tiempo}}</td>
                                    <td :style="{backgroundColor: obtenerColorFondoMeses(i.Meses)}" class="text-end">{{i.Meses}}</td>
                                    {% endverbatim %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header text-center fs-2">ETIQUETADO PÚBLICO</h6>
                <div class="card-body">
                    <div class="container">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-primary text-white">
                                NÚMERO DE PEDIDOS 
                                {% verbatim %}
                                <span class="fs-4">{{n_publico}}</span>
                                {% endverbatim %}
                            </li>
                        </ul>
                    </div>
                    <div class="table-responsive-publico mt-4">
                        <table class="table">
                            <thead>
                                <th>N° PEDIDO</th>
                                <th>ENTREGA</th>
                                <th>TIEMPO</th>
                                <th>ESTADO</th>
                            </thead>
                            
                            <tbody style="font-size: small;">
                                <tr v-for="(i, index) in publicoData" :key="index">
                                    {% verbatim %}
                                    <td>
                                        <a :href="'/etiquetado/pedidos/' + i.CONTRATO_ID" class="fs-6" target="_blank">{{i.contrato_id}}</a>
                                        <i v-if="i.DISP == 'NOT'" style="color:red;" class="bi bi-file-earmark-x-fill"></i>
                                        <br>
                                        <span style="font-size: smaller;">{{i.NOMBRE_CLIENTE}}</span>
                                    </td>
                                    <td>
                                        {{i.dia}} {{i.dia_mes}}.{{i.mes}} {{i.hora}}
                                        <br>
                                        Faltan: {{i.dias_faltantes}} días
                                    </td>
                                    <td>
                                        <span v-if="i.TIEMPOS == 't1'">{{i.t_1p_str}}</span>
                                        <span v-if="i.TIEMPOS == 't2'">{{i.t_2p_str}}</span>
                                        <span v-if="i.TIEMPOS == 't3'">{{i.t_3p_str}}</span>
                                        <span v-if="i.TIEMPOS == 'F'">F</span>
                                    </td>
                                    <td class="text-center">
                                        <a v-if="i.estado == 'EN PAUSA'" class="btn btn-danger btn-sm disabled">{{i.estado}}</a>
                                        <a v-else-if="i.estado == 'EN TRANSITO'" class="btn btn-primary btn-sm disabled">{{i.estado}}</a>
                                        <a v-else-if="i.estado == 'EN PROCESO'" class="btn btn-warning text-white btn-sm disabled">{{i.estado}}</a>
                                        <a v-else-if="i.estado == 'INCOMPLETO'" class="btn text-white btn-sm disabled" style="background-color:  #bf03c8 ;">{{i.estado}}</a>
                                        <a v-else-if="i.estado == 'FINALIZADO'" class="btn btn-success btn-sm disabled">{{i.estado}}</a>
                                        <a v-else="i.estado == '-'" >{{i.estado}}</a>
                                        <span v-if="i.estado != '-'" class="mt-2 ps-1 pe-1" style="background-color: #BAF690;">{{i.avance}}%</span>
                                    </td>
                                    {% endverbatim %}
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>
<script>
    const dashboardUrl = "{% url 'dashboard_completo_json_response' %}";
</script>

<script>
    new Vue({
        el: '#app',
        data: {
            cargandoDashboard:false,
            errorDatos:false,
            fechaHoraActual: '',
            // PEDIDOS PENDIENTES
            pedidos_mas_tres_dias: '',
            pedidos_ayer:'',
            pedidos_hoy:'',
            pedidos_cerezos: [],
            // ETIQUETADO STOCK
            urgente:'',
            pronto:'',
            etiquetado:[],
            // ETIQUETADO publico
            n_publico:'',
            publico:[],
        },
        mounted() {
            // Muestra la fecha y hora inmediatamente al cargar la página
            this.actualizarFechaHora();
            // Actualiza la fecha y hora cada segundo (segundo)
            setInterval(this.actualizarFechaHora, 30000);

            // Datos de dashboard
            this.actualizarDashboard();
            // Actualizar datos de dashboard cada (5 minuto)
            setInterval(this.actualizarDashboard, 300000);

        },
        computed: {
            pedidosCerezosData() {
                return this.pedidos_cerezos.map(i => {
                    return {
                        ...i,
                        contrato_id:i.CONTRATO_ID.slice(0,5),
                        CIUDAD_PRINCIPAL:i.CIUDAD_PRINCIPAL.slice(0,3),
                        first_name:i.first_name.slice(0,1),
                        last_name:i.last_name.slice(0,1),
                    };
                });
            },

            etiquetadoData() {
                return this.etiquetado.map(i => {
                    return {
                        ...i,
                        Cuarentena: i.Cuarentena.toLocaleString('es-ES'),
                    };
                });
            },

            publicoData() {
                return this.publico.map(i => {
                    return {
                        ...i,
                        contrato_id:i.CONTRATO_ID.slice(0,5),
                        dia:i.dia.slice(0,4),
                        dia_mes:i.fecha_hora.slice(8,10),
                        mes:i.mes.slice(0,3),
                        hora:i.fecha_hora.slice(11,16)
                    }
                })
            }
        },
        methods: {
            actualizarFechaHora() {
                // Formatea la fecha y hora actual
                const ahora = new Date();
                // Formatea la fecha en el formato requerido
                const opcionesFecha = {
                    weekday: 'long',   // Día de la semana
                    day: 'numeric',    // Día del mes
                    month: 'long',     // Mes completo
                    year: 'numeric'    // Año
                };
                const opcionesHora = {
                    hour: 'numeric',   // Hora
                    minute: 'numeric',  // Minuto
                    //second: 'numeric',  // Segundo
                };
                
                // Combina la fecha y hora en el formato deseado
                const fecha = ahora.toLocaleDateString('es-ES', opcionesFecha);
                const hora = ahora.toLocaleTimeString('es-ES', opcionesHora);
                this.fechaHoraActual = `${fecha} ${hora}`;
            },

            obtenerColorFondoNumeroPedido(estado) {
                switch (estado) {
                    case 'hoy':
                        return '#BAF690';
                    case 'ayer':
                        return '#F6F490';
                    case 'mas3':
                        return '#F6B690';
                    default:"white"
                }
            },

            obtenerColorFondoMeses(meses) {
                if (meses < 0.75) {
                    return '#F6B690';
                } else if (meses >=0.75 && meses <2) {
                    return '#F6F490';
                } else if (meses >=2 ) {
                    return '#BAF690';
                }
            },

            async actualizarDashboard() {
                this.cargandoDashboard = true;
                
                try {
                    const response = await fetch(dashboardUrl);  
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    // const html = await response.text();
                    const data = await response.json();
                    this.errorDatos = false;
                    // PEDIDOS PENDIENTES
                    this.pedidos_mas_tres_dias = data.pedidos_cerezos_mas3;
                    this.pedidos_ayer = data.pedidos_cerezos_ayer;
                    this.pedidos_hoy = data.pedidos_cerezos_hoy;
                    this.pedidos_cerezos = data.pedidos_cerezos || [];
                    // ETIQUETADO STOCK
                    this.urgente = data.n_urgente;
                    this.pronto = data.n_pronto;
                    this.etiquetado = data.etiquetado || [];
                    // ETIQUETADO publico
                    this.n_publico = data.n_publico;
                    this.publico = data.publico || [];
                } catch (error) {
                    this.errorDatos = true;
                } finally {
                    this.cargandoDashboard = false;
                }
            }
        },
    });
</script>

{% endblock %}