{%extends 'base.html' %}

{% block title %}
<title>{{codigo}}</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>

<!--div class="ps-4 pe-4 ms-4 me-4"-->


<!--h5 class="m-4 text-center"><strong>PEDIDO</strong></h5-->

<div class="row">
    <h5 class="m-4 text-center"><strong>ETIQUETADO STOCK </strong></h5>
    <div class="col-6" id="print_area_cabecera">
        <h6><strong>Código: </strong><span id='product_id'>{{codigo}}</span></h6>
        <h6><strong>Nombre: </strong>{{nombre}}</h6>
        <h6><strong>Marca: </strong> {{marca}}</h6>
        <h6><strong>C. Mensual: </strong>{{ventas.MENSUAL|floatformat:'0g'}} unds</h6>
        <h6><strong>C. Anual: </strong>{{ventas.ANUAL|floatformat:'0g'}} unds</h6>
    </div>
</div>

<hr/>
<button name="estado" class="btn btn-sm btn-success">EN PROCESO</button> <!-- disabled -->
<button name="estado" class="btn btn-sm btn-warning">EN PAUSA</button>
<hr/>

<div id="msg"></div>

<div id="print_area_table">
    <div class="card mb-4 mt-2">
        <div class="card-body m-0 p-0">
            <div class="table-responsive container"> 
                <table class="table" style="font-size: small;"> <!--  style="font-size: small;" -->
                    <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Lote</th>
                        <th scope="col">F.Caducidad</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Cartones</th>
                        <th scope="col">T.P. 1P (h:m:s)</th>
                        <th scope="col">T.P. 2P (h:m:s)</th>
                        <th scope="col">T.P. 3P (h:m:s)</th>
                        <th scope="col">Volumen m<sup>3</sup></th>
                        <th scope="col">Peso kg</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                    {% for i in stock %}
                    <tr {% if i.i == 1 %} style="background-color:#BAF690 ;" {% endif %} >
                        <th scope="row">{{i.PRODUCT_ID}}</th>
                        <td class="text-start">{{i.PRODUCT_NAME}}</td>
                        <td class="text-start">{{i.GROUP_CODE}}</td>
                        <td class="text-start">{{i.LOTE_ID}}</td>
                        <td class="text-start">{{i.FECHA_CADUCIDAD}}</td>

                        <td class="text-end">{{i.QUANTITY|floatformat:"0g"}}</td>
                        <td class="text-end">{{i.cartones|floatformat:"2g"}}</td>

                        <td class="text-end" {% if i.t1 == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.t_str_1p}}</td>
                        <td class="text-end" {% if i.t2 == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.t_str_2p}}</td>
                        <td class="text-end" {% if i.t3 == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.t_str_3p}}</td>

                        <td class="text-end" {% if i.vol == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.vol|floatformat:'4g'}}</td>
                        <td class="text-end" {% if i.pes == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.pes|floatformat:'4g'}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <th scope="row">{#{i.PRODUCT_ID}#}</th>
                        <td class="text-start">{#{i.PRODUCT_NAME}#}</td>
                        <td class="text-start">{#{i.marca}#}</td>
                        <td class="text-start">{#{i.marca}#}</td>
                        <td class="text-start">{#{i.marca}#}</td>

                        <td class="text-end">{{t_unidades|floatformat:"0g"}}</td>
                        <td class="text-end">{{t_cartones|floatformat:"2g"}}</td>

                        <td class="text-end">{{tt_str_1p}}</td>
                        <td class="text-end">{{tt_str_2p}}</td>
                        <td class="text-end">{{tt_str_3p}}</td>

                        <td class="text-end">{{vol_total|floatformat:'2g'}}</td>
                        <td class="text-end">{{pes_total|floatformat:'2g'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    $("button[name='estado']").click(function() {
        var estado = $(this).text()
        var product_id = $("#product_id").text()

        if (estado==='EN PROCESO') {
            var est = 'alert-success'
        } else if (estado==='EN PAUSA') {
            var est = 'alert-warning'
        }
        
        $.ajax({
            type:"POST",
            url:"{% url 'set_estado_etiquetado_stock' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'product_id':product_id,
                'estado':estado
            },
        
            success: function(response) {
                var msg = $("#msg").html(`<div class="alert ${est} text-center" role="alert">${response} - ${estado}</div>`)
                setTimeout(function() {
                    location.reload().delay(3000)
                })

            },

            error: function(response) {
                var msg = $("#msg").html(`<div class="alert alert-danger text-center" role="alert">Error intenta nuevamente !!! </div>`)
            }
        })
    })
</script>

{% endblock %}