{%extends 'base.html' %}

{% block title %}
<title>Pedido {{n_pedido|slice:':-2'}}</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>

<!--div class="ps-4 pe-4 ms-4 me-4"-->


<!--h5 class="m-4 text-center"><strong>PEDIDO</strong></h5-->

<div class="row">
    <h5 class="m-4 text-center"><strong>PEDIDO LOTES</strong></h5>
    <div class="col-6" id="print_area_cabecera">
        <h6><strong>Bodega: </strong>{{bodega}}</h6>
        <h6><strong>N. Pedido: </strong>{{n_pedido|slice:':-2'}}</h6>
        <h6><strong>Cliente: </strong> {{cliente}}</h6>
        <h6><strong>Ruc: </strong> {{ruc}}</h6>
        <h6><strong>Fecha de pedido: </strong> {{fecha}}</h6>
    </div>
    
    <div class="col-6" id="no_print">
        <!--div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-truck"></i> Lista de vehículos y sus dimensiones
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="card-body m-0 p-0">
                    <div class="container table-responsive">

                        {% include 'datos/vehiculos.html' %}
                        
                    </div>
                </div>
            </ul>
        </div-->
        <div class="float-end">
            <!--button type="button" class="btn btn-primary rounded-circle" onclick="takeshot()">
                <i class="bi bi-camera-fill"></i>
            </button-->
            <button class="btn btn-primary" id="print">
                <i class="bi bi-printer-fill"></i>
            </button>
        </div>
    </div>
</div>

{% if messages %}
<div class="alert alert-danger mb-0 mt-2" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

<div id="msg"></div>

{% if msg %}
<p class="text-center">{{msg}}</p>
{% endif %}

<div id="print_area_table">
    <div class="card mb-4 mt-2">
        <div class="card-body m-0 p-0">
            <div class="table-responsive container"> 
                <table class="table table-bordered mt-3"> <!--  style="font-size: small;" -->
                    <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Lote</th>
                        <th scope="col">F.Caducidad</th>
                        <th scope="col">Unidades</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                    
                    {% for i in pedido %}
                        <tr>
                            <th scope="row">{{i.PRODUCT_ID}}</th>
                            <td class="text-start">{{i.Nombre}}</td>
                            <td class="text-start">{{i.Marca}}</td>
                            <td class="text-end">{{i.LOTE_ID}}</td>
                            <td class="text-end">{{i.FECHA_CADUCIDAD}}</td>
                            <td class="text-end">{{i.EGRESO_TEMP|floatformat:"0g"}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                        <tr>
                            <th colspan="5">Total</th>
                            <td class="text-end">{{total|floatformat:"0g"}}</td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</div>

<input id="peso_total" type="hidden" value="{{t_total_pes}}">
<input id="p_cero" type="hidden" value="{{p_cero}}">


<!--/div-->

<script type="text/javascript">
    function takeshot() {
        html2canvas($('#capture')[0], {
            width: 1300,
            height: 2200
          }).then(function(canvas) {
            var a = document.createElement('a');
            a.href = canvas.toDataURL("image/png");
            a.download = 'Pedido {{pedido}}.png';
            a.click();
          });
    }
</script>

<script>
    $("#fecha_entrega").on("click", function() {
        //console.log('fecha entrega')
        var fecha = $("#fecha_confirmacion").val();
        var estado = $("#fecha_estado").val();
        var pedido = $("#pedido").val();
        
        
        $.ajax({
            type:"POST",
            url:"{% url 'pedidos_fecha_entrega_ajax' %}",
            //data : datos_pedido,
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'fecha':fecha,
                'estado':estado,
                'pedido':pedido,
            },
            
            success: function(response) {
                //console.log(response.msg)
                var mess = response.msg;
                var mess_error = response.msg_error
                //$('#msg').html('<div class="alert alert-success mt-3" role="alert"> Se guardo con exito la fecha de entrega </div>')
                //$('#msg').html(`<div class="text-center alert alert-success mt-3" role="alert"> Fecha de entrega guardada con exito, fecha-hora: ${fecha} - estado: ${estado} </div>`)
                $('#msg').html(`<div class="text-center alert alert-success mt-3" role="alert"> ${mess} </div>`)
                $('#msg').html(mess_error)
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            },

            error: function() {
                //$('#msg').html(`<div class="text-center alert alert-danger mt-2" role="alert"> Error al subir documento del producto: ${product_id} - lote: ${lote} </div>`)
                $('#msg').html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            }
        })
    })
</script>

<script>
    $("#estado_entrega").click(function() {
        
        var pedido = $("#pedido").val();
        var entrega_estado = $("#entrega_estado").val();
                
        $.ajax({
            type:"POST",
            url:"{% url 'entrega_estado_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'entrega_estado':entrega_estado,
                'pedido':pedido,
            },
            
            success: function() {
                //console.log(response.msg)
                var mess = 'Se registro el estado de entrega correctamente !!!';
                //var mess_error = response.msg_error
                //$('#msg').html('<div class="alert alert-success mt-3" role="alert"> Se guardo con exito la fecha de entrega </div>')
                //$('#msg').html(`<div class="text-center alert alert-success mt-3" role="alert"> Fecha de entrega guardada con exito, fecha-hora: ${fecha} - estado: ${estado} </div>`)
                $('#msg').html(`<div class="text-center alert alert-success mt-3" role="alert"> ${mess} </div>`)
                //$('#msg').html(mess_error)
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            },

            error: function() {
                //$('#msg').html(`<div class="text-center alert alert-danger mt-2" role="alert"> Error al subir documento del producto: ${product_id} - lote: ${lote} </div>`)
                $('#msg').html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            }
        })
    })
</script>


<!-- Tramaco function ajax -->
<script>
    $("button[name='calcular']").click(function(){
        var producto = $("#producto").val();
        var trayecto = $("#trayecto").val();
        var peso_total = $("#peso_total").val();
        var p_cero = $("#p_cero").val();

        $.ajax({
            type:"POST",
            url:"{% url 'tramaco_function_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'producto':producto,
                'trayecto':trayecto,
                'peso_total':peso_total,
                'p_cero':p_cero
            },

            success: function(response) {

                $('#costo').html(`
                <div class="card mt-2">
                    <div class="card-body m-2 p-2 mb-2">
                        <div class="row">
                            <div class="col-2">
                                <label class="mb-1"><strong>Producto:</strong></label><br>
                                <label class="mt-1">${producto}</label>
                            </div>
                            <div class="col-2">
                                <label class="mb-1"><strong>Trayecto:</strong></label><br>
                                <label  class="mt-1">${trayecto}</label>
                            </div>
                            <div class="col-2">
                                <label class="mb-1"><strong>Costo:</strong></label><br>
                                <label class="mt-1">$ ${response}</label>
                            </div>
                        </div>
                    </div>            
                </div>`
                );

                if (p_cero=='True') {
                    console.log('hay cero en los pesos')
                    $('#msg').html(`
                    <div class="text-center alert alert-danger mt-3" role="alert"> 
                        Alerta!! Existen items sin peso, por favor complete la información
                    </div>`)
                } else if (response==0) {
                    $('#msg').html(`
                    <div class="text-center alert alert-danger mt-3" role="alert"> 
                        El peso total es igual a 0 no se puede para realizar el calculo
                    </div>`)
                }

            },

            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            }
        })
    })

</script>


<script>
    $("#print").click(function() {
        // window.print({
        //     addGlobalStyles:false,
        // })
        
        w=window.open();
        w.document.write($('#print_area_cabecera').html());
        //w.document.write($('#print_costo_entrega').html());
        w.document.write($('#costo').html());
        w.document.write($('#print_area_table').html());
        w.print();
        w.close();
        
    })
</script>

{% endblock %}