{%extends 'base_vue.html' %}

{% block title %}
<title>DB WAREHOUSE</title>
{% endblock %}

{% block body %}

<div id="app">

    <h5 class="text-center m-4 fw-bold">LISTADO DE TABLAS</h5>
    
    <button @click="actualizarAutomatica" class="btn btn-primary mb-2" type="button">
        <span v-if="actualizandoTodo" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        ACTUALIZAR TODO
    </button>

    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" style="font-size:small">
                    <thead>
                        <tr>
                            <th scope="col">ORDEN</th>
                            <th scope="col">TABLA</th>
                            <th scope="col">ULTIMA ACTUALIZACIÓN</th>
                            <th scope="col">AUTOMATICO</th>
                            <th scope="col">PERIODICIDAD</th>
                            <th scope="col">MENSAJE</th>
                            <!--th scope="col">MILISEGUNDOS</th-->
                            <th scope="col">ACTUALIZAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="i in tablasData">
                            {% verbatim %}
                            <td>{{i.orden}}</td>
                            <td><code>{{i.table_name}}</code></td>
                            <td>{{i.datetime}}</td>
                            <td class="text-center" v-if="i.automatico"><i style="color:green" class="bi bi-check-circle"></i></td>
                            <td class="text-center" v-else><i style="color:red" class="bi bi-x-circle"></i></td>
                            <td>{{i.periodicidad}}</td>
                            <!--td>{{i.milisegundos}}</td-->
                            <td>{{i.mensaje}}</td>
                            <td class="text-center">
                                <button @click="actualizarTablaWarehouse(i.table_name)" class="btn btn-sm btn-success">
                                    <span v-if="i.actualizandoEstaTabla" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <i class="bi bi-arrow-clockwise"></i>
                                </button>
                            </td>
                            {% endverbatim %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    const adminDataUrl = "{% url 'admin_actualizar_warehouse_json_response' %}";
    const cadaCincoMin = 5 * 60 * 1000;
    const cadaUnaHora = 60 * 60 * 1000;
    new Vue({
        el: '#app',
        data: {
            actualizandoTodo:false,
            tablas:[],
        },
        mounted() {
            this.getDatosAdminWarehouse();

            setInterval(() => this.actualizarTablaWarehouse('facturas'), cadaCincoMin);
            setInterval(() => this.actualizarTablaWarehouse('imp_transito'), cadaUnaHora);
            setInterval(() => this.actualizarTablaWarehouse('productos_transito'), cadaCincoMin);
            setInterval(() => this.actualizarTablaWarehouse('proformas'), cadaCincoMin);
            setInterval(() => this.actualizarTablaWarehouse('reservas'), cadaCincoMin);
            setInterval(() => this.actualizarTablaWarehouse('reservas_lote'), cadaCincoMin);
            setInterval(() => this.actualizarTablaWarehouse('reservas_lote_2'), cadaCincoMin);
            setInterval(() => this.actualizarTablaWarehouse('stock_lote'), cadaCincoMin);
            setInterval(() => this.actualizarTablaWarehouse('etiquetado_stock'), cadaCincoMin);
            setInterval(() => this.actualizarTablaWarehouse('pedidos'), cadaCincoMin);
            setInterval(() => this.actualizarTablaWarehouse('mis_pedidos'), cadaCincoMin);

        },
        computed:{
            tablasData() {
                return this.tablas.map(i => {
                    return {
                        ...i,
                        datetime: new Date(i.datetime).toLocaleString(),
                    }
                })
            }
        },
        methods: {
            async getDatosAdminWarehouse() {
                try {
                    const response = await fetch(adminDataUrl);
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    const data = await response.json();
                    //this.tablas = data || [];
                    this.tablas = data.map((i) => ({
                        ...i,
                        actualizandoEstaTabla: false
                    }))
                    
                } catch (error) {
                    console.error(error);
                }
            },

            async actualizarTablaWarehouse(table_name) {
                const tabla = this.tablas.find((i) => i.table_name === table_name);
                
                if (!tabla) return;
                this.$set(tabla, 'actualizandoEstaTabla', true);

                try {
                    const response = await fetch("/datos/stocklote", {
                        method: "POST",
                        headers: {"Content-Type": "application/json",},
                        body:JSON.stringify({table_name}),
                    });
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    
                    await this.getDatosAdminWarehouse();
                    this.$set(tabla, 'actualizandoEstaTabla', false);
                } catch {
                    console.error(error);
                } finally {
                    this.$set(tabla, 'actualizandoEstaTabla', false);
                }
            },

            async actualizarAutomatica() {
                this.actualizandoTodo = true;
                try {
                    const response = await fetch("/datos/stocklote", {
                        method: "POST",
                        headers: {"Content-Type": "application/json",},
                        body:JSON.stringify({"get":"automatica"}),
                    });
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }  
                    this.getDatosAdminWarehouse();
                    this.actualizandoTodo = false;
                    
                } catch (error) {
                    console.error(error);
                } finally {
                    this.actualizandoTodo = false;
                }
            },
        },
    })
</script>

{% endblock %}