{%extends 'base.html' %}

{% block title %}
<title>Pedido {{pedido|slice:':-2'}}</title>
{% endblock%}


{% block navbar %}

{#% include 'etiquetado/topnavbar.html' %#}
{% include 'etiquetado/wms_andagoya/topnavbar.html' %}

{% endblock %}


{% block body %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<h5 class="m-4 text-center"><strong>ESTADO DE ETIQUETADO</strong></h5>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h6><strong>N. Pedido: </strong>{{pedido|slice:':-2'}}</h6>
        <h6><strong>Cliente: </strong> {{cliente}}</h6>
        <h6><strong>Fecha de pedido: </strong> {{fecha_pedido|date:'d-M-Y'}}</h6>
    </div>
</div>

<input type="hidden" id="n_pedido_val" value="{{pedido}}">

<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="n_pedido" value="{{pedido}}">
    <div class="row">
        <div class="col-6">
            <label><strong>Estado:</strong></label><br>
            <select class="form-select" name="estado" id="estado_id">
                {% for i in form.estado %}
                    {{i}}
                {% endfor %}
            </select>
        </div>
        <div class="col-6">
            <label><strong>Equipo:</strong></label><br>
            <select class="form-select" name="equipo" id="equipo_id" disabled multiple>
                {% for i in form.equipo %}
                    {{i}}
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">
        <i class="bi bi-tags-fill"></i> Etiquetado
    </button>
</form>

{% if messages %}
<div class="alert alert-danger mb-0 mt-2" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

<div id="msg"></div>

<div>
    <div class="card mt-2 mb-2">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Cartones</th>
                        <th scope="col">Avance</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                    {% for i in reservas %}
                    <tr>
                        <td scope="row">
                            <strong><span id="product_id">{{i.PRODUCT_ID}}</span></strong><br>
                            {{i.Nombre}}<br>
                            {{i.Marca}}
                        </td>
                        <td id="unidades" class="text-end">{{i.QUANTITY|floatformat:"0g"}}</td>
                        <td class="text-end">{{i.Cartones|floatformat:"2g"}}</td>
                        <td class="text-center">

                            <!-- Crear registro -->
                            {% if not i.avance %}
                            <button type="button" class="btn btn-sm btn-secondary" name="avance" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi bi-check-square-fill"></i>
                            </button>

                            <!-- Editar registro -->
                            {% elif i.avance %}
                            
                                {% if i.QUANTITY == i.unidades %}
                                <button type="button" class="btn btn-sm btn-success disabled">
                                    <i class="bi bi-check-square-fill"></i>
                                </button>
                                {% elif i.unidades < i.QUANTITY %}
                                <input type="hidden" value="{{i.unidades}}" id="av_und">
                                <input type="hidden" value="{{i.avance}}" id="av_id">

                                <button type="button" class="text-white btn btn-sm btn-warning" name="avance_edit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="bi bi-check-square-fill"></i>
                                </button>
                                {% endif %}

                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <th scope="row">{#{i.PRODUCT_ID}#}</th>
                        <td class="text-end">{{t_unidades|floatformat:"0g"}}</td>
                        <td class="text-end">{{t_cartones|floatformat:"2g"}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Avance de Etiquetado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <span class="fw-bold">Código:</span> <span id="codigo"></span> <br>
        <span class="fw-bold">Unidades:</span>
        <input class="form-control" id="unidades_avance" type="number">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" name="save">Guardar</button>
    </div>
    </div>
</div>
</div>


<script>
    $(document).ready(function() {
        $('#equipo_id').select2();
    })
</script>

    
<script>
    $("button[name='avance']").click(function() {
        
        var n_pedido = $("#n_pedido_val").val();
        var product_id = $(this).closest("tr").find("#product_id").html();
        var unidades = $(this).closest("tr").find("#unidades").html();

        var av_und = $(this).closest("tr").find("#av_und").val();
        var av_id  = $(this).closest("tr").find("#av_id").val();

        var cod = $("#codigo").html(product_id);

        // CREAR REGISTRO
            
        var und = $("#unidades_avance").val(unidades).val();
        
        $("button[name='save']").click(function() {
            var und_input = $("#unidades_avance").val();
            
            $.ajax({
                url : "{% url 'etiquetado_avance' %}",
                type:'POST',
                data:{
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'n_pedido'           : n_pedido,
                    'product_id'         : product_id,
                    'unidades'           : und_input
                },

                success: function() {
                    $('#msg').html('<div class="text-center alert alert-success" role="alert"> Avance exitoso !!! </div>')
                        setTimeout(function(){
                        window.location.reload();
                    }, 1000)
                },
            })
        })
    })
</script>


<script>
    $("button[name='avance_edit']").click(function() {
        
        var n_pedido = $("#n_pedido_val").val();
        var product_id = $(this).closest("tr").find("#product_id").html();
        var unidades = $(this).closest("tr").find("#unidades").html();

        var av_und = $(this).closest("tr").find("#av_und").val();
        var av_id  = $(this).closest("tr").find("#av_id").val();

        var cod = $("#codigo").html(product_id);
        
        // EDITAR AVANCE
        var av_und_str = av_und.replace(',', '.')
        var av_und_int = Number(av_und_str)
        var und = $("#unidades_avance").val(av_und_int)
        
        $("button[name='save']").click(function() {
            var unidades_post = und.val()
            $.ajax({
                url : "{% url 'etiquetado_avance_edit' %}",
                type:'POST',
                data:{
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id'                 : av_id,
                    'unidades'           : unidades_post
                },

                success: function() {
                    $('#msg').html('<div class="text-center alert alert-success" role="alert"> Avance exitoso !!! </div>')
                        setTimeout(function(){
                        window.location.reload();
                    }, 1000)
                },
            })
        })
    })
</script>

<script>
    var estado = document.getElementById('estado_id');
    var equipo = document.getElementById('equipo_id');

    estado.onchange = function(){
        let estado_change = this.options[this.selectedIndex].text;
        //console.log(estado_change)
        if(estado_change == 'EN PROCESO'){
            equipo.disabled=false;
            equipo.required=true;
        }
        else{
            equipo.disabled=true;
            equipo.value = "";
        }
    }
</script>

{% endblock %}