{%extends 'base.html' %}

{% block title %}
<title>Estado Pedidos Etiquetado</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE ETIQUETADO</strong></h5>


<div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>


<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <!--th scope="col">Tipo</th-->
                        <!--th scope="col">
                            <select class="form-select filter" id="filter-tipo">
                                <option value="TODOS">TIPO</option>
                                <option value="CLINI">CLINI</option>
                                <option value="CONSU">CONSU</option>
                                <option value="DISTR">DISTR</option>
                                <option value="HOSPI">HOSPI</option>
                                <option value="HOSPU">HOSPU</option>
                                <option value="INVER">INVER</option>
                                <option value="VARDE">VARDE</option>
                            </select>
                        </th-->
                        <!--th scope="col">Ciudad</th-->
                        <!--th scope="col">Fecha</th-->
                        <!--th scope="col">Pedido</th-->
                        <!--th scope="col">Estado</th-->
                        <th scope="col">
                            <select class="form-select filter-est" id="filter-estado">
                                <option value="ESTADO">ESTADO</option>
                                <option value="EN ESPERA">EN ESPERA</option>
                                <option value="EN PROCESO">EN PROCESO</option>
                                <option value="FINALIZADO">FINALIZADO</option>
                            </select>
                        </th>
                        <!--th class="text-center" scope="col">Etiquetado</th-->
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in reservas %}
                    <tr class="content">
                        {% if i.CLIENT_TYPE == 'STOCK' %}
                        <td>
                            {{i.NOMBRE_CLIENTE}}<br>
                            <span style="color:blue"><strong>Orden: {{i.CONTRATO_ID}}</strong></span><br>
                            {{i.CLIENT_TYPE}}<br>
                            {{i.FECHA_PEDIDO}}
                        </td>
                        {% else %}
                        <td>
                            {{i.NOMBRE_CLIENTE}}<br>
                            <span style="color:blue"><strong>{{i.CONTRATO_ID|slice:':-2'}}</strong></span><br>
                            {{i.CIUDAD_PRINCIPAL}}<br>
                            {{i.FECHA_PEDIDO}}
                        </td>
                        {% endif %}
                        
                        <!--td class="tipo" data-tipo="{{i.CLIENT_TYPE}}">{{i.CLIENT_TYPE}}</td-->
                        <!--td>{{i.CIUDAD_PRINCIPAL}}</td-->
                        <!--td>{{i.FECHA_PEDIDO}}</td-->
                        <!--td>{{i.CONTRATO_ID|slice:':-2'}}</td-->   
                        <td class="estado text-center" data-estado="{{i.estado}}">
                            <a
                            {% if i.estado == 'EN PAUSA' %} class="btn btn-danger btn-sm mt-2 mb-2"
                            {% elif i.estado == 'EN PROCESO' %} class="btn btn-warning text-white btn-sm mt-2 mb-2"
                            {% elif i.estado == 'FINALIZADO' %} class="btn btn-success btn-sm disabled mt-2 mb-2"
                            {% else %} class="btn btn-primary btn-sm mt-2 mb-2"
                            {% endif %} 
                               
                            {% if i.CLIENT_TYPE == 'STOCK' %}
                            href="{% url 'detail_stock_etiquetado_bodega' i.CONTRATO_ID %}"
                            {% else %}
                            href="{% url 'estado_pedido' i.CONTRATO_ID i.id %}"
                            {% endif %}
                            >
                                
                            {{i.estado}}
                            </a> 

                            {% if i.nombre != '-' %}
                                {% if i.nombre|length == 15 %}
                                    <a class="btn btn-info btn-sm disabled">{{i.nombre|slice:'0:5'}}</a>
                                    <a class="btn btn-info btn-sm disabled">{{i.nombre|slice:'5:10'}}</a>
                                    <a class="btn btn-info btn-sm disabled">{{i.nombre|slice:'10:15'}}</a>
                                {% elif i.nombre|length == 10 %}
                                    <a class="btn btn-info btn-sm disabled">{{i.nombre|slice:'0:5'}}</a>
                                    <a class="btn btn-info btn-sm disabled">{{i.nombre|slice:'5:10'}}</a>
                                {% elif i.nombre|length == 5 %}
                                    <a class="btn btn-info btn-sm disabled">{{i.nombre}}</a>
                                {% endif %}
                            {% endif %}


                            {% if i.estado == 'FINALIZADO' %}
                            <a class="btn btn-info btn-sm disabled"> {{i.fecha_actualizado|slice:'0:16'}}</a>
                            {% endif %}
                        </td>                    
                        <!--td class="text-center">
                            <a class="btn btn-primary btn-sm" href="{% url 'pedidos' i.CONTRATO_ID %}" target="_blank">
                                <i class="bi bi-stopwatch"></i>
                            </a>
                        </td-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Buscador
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $('.filter').change(function(){
        filter_function(); //calling filter function each select box value change
    });
      
    $('table tbody tr').show(); //intially all rows will be shown
      
    function filter_function(){
        $('table tbody tr').hide(); //hide all rows
        
        var tipoFlag = 'TODOS';
        var tipoValue = $('#filter-tipo').val();
        
       //traversing each row one by one
        $('table tr').each(function() {  
          if(tipoValue == 'TODOS'){
            tipoFlag = 1;
          }
          else if(tipoValue == $(this).find('td.tipo').data('tipo')){
            tipoFlag = 1;
          }
          else{
            tipoFlag = 0;
          }

         if(tipoFlag){
            $(this).show();
         }
      
      });
    }
</script>


<script>
    $('.filter-est').change(function(){
        filter_function_estado(); //calling filter function each select box value change
    });
      
    $('table tbody tr').show(); //intially all rows will be shown
      
    function filter_function_estado(){
        $('table tbody tr').hide(); //hide all rows
        
        var tipoFlag = 'ESTADO';
        var tipoValue = $('#filter-estado').val();
        
       //traversing each row one by one
        $('table tr').each(function() {  
          if(tipoValue == 'ESTADO'){
            tipoFlag = 1;
          }
          else if(tipoValue == $(this).find('td.estado').data('estado')){
            tipoFlag = 1;
          }
          else{
            tipoFlag = 0;
          }

         if(tipoFlag){
            $(this).show();
         }
      
      });
    }
</script>

{% endblock %}