{%extends 'base.html' %}

{% block title %}
<title>Detalle de facturas y proformas</title>
{% endblock%}

{% block navbar %}
{% include 'regulatorio_legal/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">{{factura_proforma.nombre_cliente}}</h5>
<h5 class="m-4 text-center fw-bold">{{factura_proforma.tipo_comprobante|upper}} NÚMERO {{factura_proforma.n_comprobante}}</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<div class="mt-2" id="msg"></div>


<h6 class="list-group-item mt-2 mb-2" type="button" name="detalle">
    Detalle de {{factura_proforma.tipo_comprobante}}
    <i class="bi bi-caret-down-fill" style="float: right"></i>
</h6>

<div class="card mt-2 mb-2" id="detalle" style="display:none">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Unidades</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in detalle %}
                    <tr class="content">
                        <td>{{i.product_id}}</td>
                        <td>{{i.Nombre}}</td>
                        <td>{{i.Marca}}</td>
                        <td class="text-end">{{i.quantity|floatformat:"0g"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>

<h6 class="fw-bold">Documentos</h6>
<button class="btn text-white {% if not factura_proforma.marca_de_agua %} btn-danger {% else %} btn-warning {% endif %}" type="button" data-bs-toggle="modal" data-bs-target="#marcaAgua">
    Marca de agua
</button>
<button class="btn btn-success {% if not factura_proforma.marca_de_agua %} disabled {% endif %}" name="procesar_documentos">
    Procesar documentos

    <div id="spinner-documentos" class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    {% if factura_proforma.procesar_docs %}
    <i class="bi bi-check-lg"></i>
    {% endif %}
</button>

<div class="mt-3" id="msg-documentos"></div>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small" id="tabla_documentos">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Procesar</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar" >
                    <tr>
                        <td style="font-size:medium" class="text-center bg-info bg-gradient text-white" colspan="5">ISOS {{isos.count}}</td>
                    </tr>
                    <!-- ISOS -->
                    {% for i in isos %}
                    <tr class="content iso">
                        <td id="iso-count"></td>
                        <td>Marca: {{i.marca}} - Proveedor: {{i.nombre_proveedor|default:"-"}}</td>
                        <td>
                            <a class="btn btn-sm btn-{% if i.estado == 'Vigente' %}success{% else %}danger{% endif %} disabled">
                                {{i.estado|default:'X'}}
                            </a>
                        </td>
                        <td>
                            {% if i.documento %}
                            <a class="btn btn-sm btn-info text-white" href="{{i.documento.url}}" target="_blank"><i class="bi bi-filetype-doc"></i></a>
                            {% else %} 
                            no existe documento 
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if i.documento %} 
                            <input type="checkbox" class="procesar form-check-input" {% if not factura_proforma.marca_de_agua %} disabled {% endif %} name="ISO_{{i.marca}}" value="{{i.documento.path}}">
                            {% else %} 
                            X
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="font-size:medium" class="text-center bg-secondary bg-gradient text-white" colspan="5">REGISTROS SANITARIOS {{registros_sanitarios.count}}</td>
                    </tr>
                    <!-- REGISTROS SANITARIOS -->
                    {% for i in registros_sanitarios %}
                    <tr class="content reg">
                        <td id="reg-count"></td>
                        <td>
                            N°.Reg Sanitario: {{i.n_reg_sanitario}} <br>
                            Descripción: {{i.descripcion}} <br>
                            Detalle : {% for i in  i.productos.all %} - {{i.product_id}} {% endfor %}
                        </td>
                        <td><a class="btn btn-sm btn-{% if i.estado == 'Vigente' %}success{% else %}danger{% endif %} disabled">{{i.estado|default:'X'}}</a></td>
                        <td>
                            {% if i.documento %}
                            <a class="btn btn-sm btn-secondary" href="{{i.documento.url}}" target="_blank"><i class="bi bi-filetype-doc"></i></a>
                            {% else %} 
                            no existe documento 
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if i.documento %} 
                            <input type="checkbox" class="procesar form-check-input" {% if not factura_proforma.marca_de_agua %} disabled {% endif %} name="RegSan_{{i.descripcion}}" value="{{i.documento.path}}">
                            {% else %} 
                            X
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- DOCUMENTOS PROCESADOS -->
{% if factura_proforma.documentos.all %}
<div class="card ps-4 pe-4 pt-2 pb-2 mb-4" style="background-color:whitesmoke">
    <h6 class="fw-bold">Documentos procesados listos para enviar {{factura_proforma.documentos.count}}</h6>
    <div class="row">
        <div class="col-md-5">
            <div class="input-group">
                <span class="input-group-text" for="buscar_cliente_id">Email:</span>
                <input class="form-control" id="email" type="email" > <!--value="{{correo}}"-->
                <button class="btn btn-success" type="submit" name="enviar-email">
                    <i class="bi bi-send"></i>

                    <div id="spinner-email" class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    {% if factura_proforma.email %}
                    <i class="bi bi-check-lg"></i>
                    {% endif %}
                </button>
            </div>
        </div>
    </div>

    <div class="mt-2" id="msg-email"></div>

    <div class="card mt-2 mb-2">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive">
                <table class="table" style="font-size:small" id="tabla_documentos_enviar">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Creado</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="pedidosbuscar" >
                        <!-- DOCUMENTOS PROCESADOS -->
                        {% for i in factura_proforma.documentos.all %}
                        <tr class="content documentos">
                            <td id="docs-count"></td>
                            <td id="tipo">{% if i.tipo_documento == 'ISO' %}ISO{% else %}Registro Sanitario{% endif %}</td>
                            <td>{{i.descripcion}}</td>
                            <td>
                                <a class="btn btn-sm {% if i.tipo_documento == 'ISO' %} btn-info text-white {% else %} btn-secondary {% endif %}" href="{{i.documento.url}}" target="_blank">
                                    <i class="bi bi-filetype-doc"></i>
                                </a>
                            </td>
                            <td>{{i.creado}}</td>
                            <td>
                                <button class="btn btn-sm btn-danger" name="eliminar-documento" id={{i.id}}>
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="marcaAgua" tabindex="-1" aria-labelledby="marcaAguaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Texto de marca de agua</h5><br>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" style="text-align:center;"  role="alert">
                Maximo 12 lineas y 25 caracteres por línea tomando en cuenta los espacios.<br>
                <span style="display:none;" id="alertaTexto" class="text-danger m-2 text-center"></span>
            </div>
            <!-- style="text-align:justify;" -->
            <textarea id="id_texto_marca_agua" name="texto_marca_agua" class="form-control" rows="12" cols="25">
                {{factura_proforma.marca_de_agua}}
            </textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" name="marca_agua">Guardar</button>
        </div>
        </div>
    </div>
</div>

<!-- Enumerar rows -->
<script>
    $(document).ready(function() {
        $("#tabla_documentos_enviar > tbody > tr").each(function() {
            $(this).find('#docs-count').text($(this).index() +1 )
        })
    });

    $(document).ready(function() {
        $("#tabla_documentos tbody tr.content.iso").each(function() {
            $(this).find('#iso-count').text($(this).index())
        });
        $("#tabla_documentos tbody tr.content.reg").each(function() {
            $(this).find('#reg-count').text($(this).index()-1)
        })
    });
</script>


<!-- Detalle -->
<script>
    $(document).ready(function() {
        $("h6[name='detalle']").click(function(){
            $("#detalle").toggle();
            $(this).find("i").toggleClass("bi-caret-down-fill bi-caret-up-fill");
        })
    })
</script>

<!-- Add marca de agua -->
<script>
        // Aseguramos que el script se ejecute después de que el DOM esté cargado.
        document.addEventListener('DOMContentLoaded', function () {
            let textarea = document.getElementById('id_texto_marca_agua');
            //const alertaTexto = documento.getElementById('alerta-texto');

            // Llamar a la validación cada vez que el usuario escriba.
            textarea.addEventListener('input', validarTextarea);

            const MAX_LINES = 12;   // Número máximo de líneas permitidas
            const MAX_CHARACTERS_PER_LINE = 25;  // Máximo de caracteres por línea

            function validarTextarea() {
                const lineas = textarea.value.toUpperCase().split('\n');  // Convertimos a mayúsculas y dividimos
                
                // Limitar número de líneas
                if (lineas.length > MAX_LINES) {
                    textarea.value = lineas.slice(0, MAX_LINES).join('\n');
                    document.getElementById('alertaTexto').style.display = 'inline';
                    document.getElementById('alertaTexto').innerHTML = `Máximo permitido: ${MAX_LINES} líneas.`;
                    return;
                } else {
                    document.getElementById('alertaTexto').style.display = 'none';
                    document.getElementById('alertaTexto').innerHTML = '';
                }

                // Limitar caracteres por línea
                for (let i = 0; i < lineas.length; i++) {
                    if (lineas[i].length > MAX_CHARACTERS_PER_LINE) {
                        lineas[i] = lineas[i].slice(0, MAX_CHARACTERS_PER_LINE);
                        document.getElementById('alertaTexto').style.display = 'inline';
                        document.getElementById('alertaTexto').innerHTML = `Límite de ${MAX_CHARACTERS_PER_LINE} caracteres por línea alcanzado.`
                    } else {
                        document.getElementById('alertaTexto').style.display = 'none';
                        document.getElementById('alertaTexto').innerHTML = '';
                    }
                    
                }
                
                // Actualizamos el contenido del textarea
                textarea.value = lineas.join('\n');
            }
            
        });

        $('button[name="marca_agua"]').on('click', function() {
            var marca_agua = $('#id_texto_marca_agua').val();
            
            if (!marca_agua) {
                alert('Por favor, ingrese el texto de la marca de agua.');
            } else {
                $.ajax({
                    type: "POST",
                    url: "{% url 'factura_proforma_marca_de_agua_ajax' %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id_factura_proforma':{{factura_proforma.id}},
                        'texto_marca_agua': marca_agua 
                    },
                    success: function(response) {
                        setTimeout(function(){
                            window.location.reload();
                        }, 1000)
                    },
                    error: function(xhr, status, error) {
                        $('#msg').html(`<div class="text-center alert alert-danger" role="alert"> ${xhr.statusText} !!! </div>`)
                    }
                })
            }
        })
</script>

<!-- Enviar documentos a procesar -->
<script>
    $(document).ready(function(){

        $("#spinner-documentos").hide();

        $('button[name="procesar_documentos"]').on('click', function(){
            
            $("#spinner-documentos").show();
            
            let documentos = [];

            $("#tabla_documentos > tbody > tr").each(function() {
                var doc_select = $(this).find('.procesar').prop('checked');
                var doc = $(this).find('.procesar');

                if (doc_select) {
                    var tipo = doc.attr('name');
                    var doc_path = doc.val();
                    
                    documentos.push(
                        {'tipo':tipo, 'doc_path':doc_path}
                    );
                }
            });
            
            $.ajax({
                type: "POST",
                url: "{% url 'facturas_proformas_detalle' factura_proforma.id %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'documentos': JSON.stringify(documentos),
                },
                success: function(response) {
                    $('#msg-documentos').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} !!! </div>`);
                    setTimeout(function(){
                        window.location.reload();
                    }, 3000)
                    $("#spinner-documentos").hide();
                },
                error: function(error) {
                    $('#msg').html(`<div class="text-center alert alert-danger" role="alert"> ${error} !!! </div>`);
                    $("#spinner-documentos").hide();
                }
            });
            
        });
    })
</script>

<!-- Eliminar documento procesado-->
<script>
    $("button[name='eliminar-documento']").on('click', function() {
        var id_documento = $(this).attr('id');
        var row = $(this).closest("tr");
        
        $.ajax({
            type:'POST',
            url:'{% url "eliminar_documento_procesado_ajax" %}',
            data:{
                'csrfmiddlewaretoken':'{{csrf_token}}',
                "id_documento":id_documento
            },

            success: function(){
                row.remove();
            }
        })
    })
</script>

<!-- Eliminar documento procesado-->
<script>
    $(document).ready(function() {
        $("#spinner-email").hide();

        $("button[name='enviar-email']").on('click', function() {
            $("#spinner-email").show();

            var email = $("#email").val();
            
            $.ajax({
                type:'POST',
                url:'{% url "enviar_documentos_procesados_ajax" %}',
                data:{
                    "csrfmiddlewaretoken":"{{csrf_token}}",
                    "id":"{{factura_proforma.id}}",
                    "email":email,
                },
    
                success: function(response){
                    $('#msg-email').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} !!! </div>`);
                    $("#spinner-email").hide();
                },
                error: function(response) {
                    $('#msg-email').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} !!! </div>`);
                    $("#spinner-email").hide();
                }
            })
        })
    })
</script>

{% endblock %}