{%extends 'base.html' %}

{% block title %}
<title>Doc Varios</title>
{% endblock%}

{% block navbar %}
{% include 'regulatorio_legal/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 text-center fw-bold">LISTADO DE DOCUMENTOS VARIOS</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}



<div class="col-4 mt-4 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>


<div id="msg"></div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Crear nuevo grupo
</button>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small">
                <thead>
                    <tr>
                        <th scope="col"># Grupo</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Marca de agua</th>
                        <th scope="col">Email</th>
                        <th scope="col">Documentos</th>
                        <th scope="col">Creado en</th>
                        <th scope="col">Creado por</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in documentos_varios_list %}
                    <tr>
                        <td>{{i.enum}}</td>
                        <td>{{i.cliente}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.marca_agua | default:'-' | truncatechars:20}}</td>
                        <td>{{i.email_envio | default:'-'}}</td>
                        <td>{{i.n_docs}}</td>
                        <td>{{i.creado}}</td>
                        <td>{{i.usuario}}</td>
                        <td>
                            <a href="{% url 'documentos_varios_procesar' i.id %}" class="btn btn-sm btn-primary ms-2"> Ver</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold" id="staticBackdropLabel">Nuevo grupo de documentos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method="POST" id="iso-form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="usuario" value="{{request.user.id}}">
                <input type="hidden" name="cliente" id="id_cliente">
                <input type="hidden" name="codigo_cliente" id="id_codigo_cliente">
                <div class="row g-2">
                    <!-- Cliente -->
                    <div class="col-4">
                        <label class="fw-bold" for="cliente">Cliente:</label>
                    </div>
                    <div class="col-8">
                        <!-- select name="cliente" id="id_cliente" class="form-select" required-->
                        <select id="id_cliente_codigo_nombre" class="form-select" required>
                            <option value="">--------</option>
                            {% for i in clientes %}
                            <option value="{{i.CODIGO_CLIENTE}}">{{i.NOMBRE_CLIENTE}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Descripción -->
                    <div class="col-4">
                        <label class="fw-bold" for="descripcion">Descripción:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="descripcion" id="id_descripcion" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" form="iso-form" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>


<!-- Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('#id_cliente_codigo_nombre').select2({
            dropdownParent:$('#staticBackdrop'),
            width:'100%'
        });
    })
</script>

<script>
$('#id_cliente_codigo_nombre').on('change', function() {
    const selectedValue = $(this).val();
    const selectedText = $(this).find('option:selected').text();
    
    $('#id_cliente').val(selectedText)
    $('#id_codigo_cliente').val(selectedValue)
});

$('#id_opacidad').on('change', function() {
    const opacidadValue = $(this).val();
    $('#id_opacidad_val').html(opacidadValue)
});
</script>


<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}