{%extends 'base.html' %}

{% block title %}
<title>Importaciones Llegadas</title>
{% endblock%}

{% block navbar %}
{% include 'regulatorio_legal/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE IMPORTACIONES</strong></h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<!--h6 class="m-4 text-end"><strong>Actulizado: </strong>{{actualizado|slice:':-7'}}</h6-->


<div class="col-4">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div class="col-4 mt-2 mb-2 btn-group">
    <input id="lote_id" type="text" placeholder="Ingrese Lote" class="form-control">
    <button name="buscar_lote" class="btn btn-primary">Buscar</button>
</div>

<br>

<div class="col-4 mb-2 btn-group">
    <input id="codigo" type="text" placeholder="Ingrese Código" class="form-control">
    <button name="buscar_codigo" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Buscar</button>
</div>

<br>

<button class="btn btn-primary" name="actualizar">
    <i class="bi bi-arrow-clockwise"></i> Actualizar
</button>

<h6 class="text-end"><strong>Actulizado: </strong>{{actulizacion}}</h6>

<div id="msg"></div>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Orden de compra</th>
                        <th scope="col">Fecha de llegada</th>
                        <th scope="col">Bodega</th>
                        <th scope="col">Detalle de importación</th>
                        <th scope="col">Documentos</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in imp %}
                    <tr>
                        <td>{{i.marca2}}</td>
                        <td>{{i.DOC_ID_CORP}}</td>
                        <td>{{i.ENTRADA_FECHA}}</td>
                        <td>{{i.WARE_COD_CORP}}</td>

                        {% if i.marca2 == 'ARMADOS' %}
                        <td>
                            <a class="btn btn-secondary btn-sm" href="{% url 'armados_list_imp' %}">
                                Armados
                            </a>
                        </td>
                        {% else %}
                        <td>
                            <a {% if i.lote_id == 0 %} class="btn btn-success btn-sm" {% else %} class="btn btn-warning btn-sm" {% endif %}
                            href="{% url 'importaciones_orden_list' i.DOC_ID_CORP %}">
                                {% if i.lote_id == 0 %}
                                    Añadir
                                {% else %}
                                    Actualizar
                                {% endif %}
                            </a>
                        </td>
                        {% endif %}

                        <td>
                            {% if i.lote_id != 0 %}
                            <progress id="file" max="100" value="{{i.completado|floatformat:'0g'}}">  </progress>
                            {{i.con_documento|floatformat:"0g"}} de {{i.documento|floatformat:"0g"}} 
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="msg_data"></div>
                <div id="data"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<!-- Actualizar tabla-->
<script>
    $("button[name='actualizar']").click(function() {
        
        $.ajax({
            type: "POST",
            url : "{% url 'actualizar_imp_llegadas_odbc' %}",
            data : {"csrfmiddlewaretoken": "{{csrf_token}}"},

            success: function() {
                
                $('#msg').html('<div class="text-center alert alert-success" role="alert"> Tabla actualizada con exito !!! </div>');
                // var sp = document.getElementById("spinner").style.display = "block";
                setTimeout(function(){
                    window.location.reload();
                }, 2000)
                
            },

            error: function() {
                $('#msg').html(`<div class="text-center alert alert-danger" role="alert"> Error vuelva a intentar !!! </div>`)
                //setTimeout(function(){
                //    window.location.reload();
                //}, 2000)
            }

        })

    })
</script>


<!-- buscar importación por lote -->
<script>
    $("button[name='buscar_lote']").click(function() {
        
        var lote_id = $("#lote_id").val();

        $.ajax({
            type: "POST",
            url : "{% url 'doc_importacion_por_lote_ajax' %}",
            data : {
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "lote_id":lote_id
            },

            success: function(response) {
                var imp = response
                $('#msg').html(`<div class="text-center mb-2 alert alert-success" role="alert">El lote ${lote_id} está en la importación(es): <strong>${imp}</strong> !!! </div>`);
            },

            error: function() {
                $('#msg').html(`<div class="text-center mb-2 alert alert-danger" role="alert"> Error vuelva en la busqueda !!! </div>`)
                setTimeout(function(){
                    window.location.reload();
                }, 2000)
            }

        })

    })
</script>


<!-- buscar importación por código -->
<script>
    $("button[name='buscar_codigo']").click(function() {        
        var codigo = $("#codigo").val();

        $.ajax({
            type: "POST",
            url : "{% url 'doc_importacion_por_codigo_ajax' %}",
            data : {
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "codigo":codigo
            },

            success: function(response) {
                $(".modal-title").html(`Busqueda por código ${codigo}`)
                $('#msg_data').html(`<div class="text-center mb-2 alert alert-success" role="alert">${response.msg_data} !!! </div>`);
                $("#data").html(response.data, 'asdf')
            },

            error: function() {
                $('#msg_data').html(`<div class="text-center mb-2 alert alert-danger" role="alert"> Error en la busqueda, vuelva a intentar !!! </div>`)
                setTimeout(function(){
                    window.location.reload();
                }, 2000)
            }

        })
    })
</script>
{% endblock %}