{%extends 'base.html' %}

{% block title %}
<title>Lista de facturas</title>
{% endblock%}

{% block navbar %}
{% include 'regulatorio_legal/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE FACTURAS ENVIADAS</strong></h5>

<div class="text-end mb-2">
    <label class="fw-bold text-end">Actualizado: </label> {{act}}
</div>

<div class="col-4">
    <form method="POST">
        <div class="input-group mb-3">
            {% csrf_token %}
            <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control" name="n_factura">
            <button class="btn btn-primary">Buscar</button>
            <a class="btn btn-danger" href="{% url 'r_l_facturas' %}">Borrar busqueda</a>
        </div>
    </form>
</div>


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha de envio</th>
                        <th scope="col">Factura</th>
                        <th class="text-center" scope="col">Enviado por</th>
                        <th class="text-center" scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in facturas %}
                    <tr class="content">
                        <td>{{i.nombre_cliente}}</td>
                        <td>{{i.fecha_hora}}</td>
                        <td>{{i.n_factura|slice:"6:19"}}</td>
                        
                        <td>
                            {{i.usuario.first_name}} {{i.usuario.last_name}} 
                        </td>
                        <!-- target="_blank" -->
                        <td class="text-center">
                            <a href="{% url 'factura_detalle' i.n_factura %}"
                            {% if i.user %}
                                class="btn btn-success btn-sm"
                            {% else %}
                                class="btn btn-primary btn-sm"
                            {% endif %}
                            >
                                <i class="bi bi-list-ul"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Buscador
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $('.filter').change(function(){
        filter_function(); //calling filter function each select box value change
    });
      
    $('table tbody tr').show(); //intially all rows will be shown
      
    function filter_function(){
        $('table tbody tr').hide(); //hide all rows
        
        var tipoFlag = 'TODOS';
        var tipoValue = $('#filter-tipo').val();
        
       //traversing each row one by one
        $('table tr').each(function() {  
          if(tipoValue == 'TODOS'){
            tipoFlag = 1;
          }
          else if(tipoValue == $(this).find('td.tipo').data('tipo')){
            tipoFlag = 1;
          }
          else{
            tipoFlag = 0;
          }

         if(tipoFlag){
            $(this).show();
         }
      
      });
    }
</script>

{% endblock %}