{%extends 'base.html' %}

{% block title %}
<title>Importaciones Llegadas</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE IMPORTACIONES</strong></h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<!--h6 class="m-4 text-end"><strong>Actulizado: </strong>{{actualizado|slice:':-7'}}</h6-->

<!--form method="POST">
    {% csrf_token %} 
    <button type="submit" class="btn btn-primary mb-2">
        <i class="bi bi-arrow-clockwise"></i> Actulizar Tabla
    </button>
</form-->

<div class="col-4 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<!--button class="btn btn-success" id="reporte">
    <i class="bi bi-file-earmark-spreadsheet-fill"></i> Reporte
</button-->

<a class="btn btn-success" id="reporte" href="{% url 'reporte_revision_reservas' %}"> 
    <i class="bi bi-file-earmark-spreadsheet-fill"></i> Reporte
</a>

<a class="btn btn-primary" id="reporte" href="{% url 'reservas_lotes_actualizar_odbc' %}">
    <i class="bi bi-file-earmark-spreadsheet-fill"></i> Actualizar Reservas
</a>

<div class="text-end">
    <label><strong>Ultima actualización: </strong>{{actualizado}}</label>
</div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Orden de compra</th>
                        <th scope="col">Fecha de llegada</th>
                        <th scope="col">Bodega</th>
                        <th scope="col">Revisión reservas</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in imp %}
                    <tr>
                        <td>{{i.MARCA}}</td>
                        <td>{{i.DOC_ID_CORP}}</td>
                        <td>{{i.ENTRADA_FECHA}}</td>
                        <td>{{i.WARE_COD_CORP}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'revision_imp_llegadas' i.DOC_ID_CORP %}">
                                <i class="bi bi-clipboard2-check-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $("#reporte").click(function() {
        // console.log('reporte');

        // $.ajax({
        //     url:"{% url 'reporte_revision_reservas' %}",
        //     type:'GET',
        //     success: function(){
        //         console.log('success')
        //     },
        //     error: function() {
        //         console.log('error')
        //     }
        // })

        //var hr = new XMLHttpRequest();
        //hr.open("GET", "{% url 'reporte_revision_reservas' %}")

        
        console.log('hola')



    })
</script>

{% comment %}
<!-- Filtro de columna -->
<script>
    $('.filter').change(function(){
        filter_function(); //calling filter function each select box value change
    });
      
    $('table tbody tr').show(); //intially all rows will be shown
      
    function filter_function(){
        $('table tbody tr').hide(); //hide all rows
        
        var tipoFlag = 'TODOS';
        var tipoValue = $('#filter-tipo').val();
        
       //traversing each row one by one
        $('table tr').each(function() {  
          if(tipoValue == 'TODOS'){
            tipoFlag = 1;
          }
          else if(tipoValue == $(this).find('td.tipo').data('tipo')){
            tipoFlag = 1;
          }
          else{
            tipoFlag = 0;
          }

         if(tipoFlag){
            $(this).show();
         }
      
      });
    }
</script>
<!-- Filtro estado de etiquetado -->
<script>
    $('.filter-est').change(function(){
        filter_function_estado(); //calling filter function each select box value change
    });
      
    $('table tbody tr').show(); //intially all rows will be shown
      
    function filter_function_estado(){
        $('table tbody tr').hide(); //hide all rows
        
        var tipoFlag = 'ESTADO';
        var tipoValue = $('#filter-estado').val();
        
       //traversing each row one by one
        $('table tr').each(function() {  
          if(tipoValue == 'ESTADO'){
            tipoFlag = 1;
          }
          else if(tipoValue == $(this).find('td.estado').data('estado')){
            tipoFlag = 1;
          }
          else{
            tipoFlag = 0;
          }

         if(tipoFlag){
            $(this).show();
         }
      
      });
    }
</script>

{% endcomment %}
{% endblock %}