{%extends 'base.html' %}

{% block title %}
<title>Importaciones Llegadas</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE IMPORTACIONES</strong></h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<div class="col-4 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>



<a class="btn btn-success" id="reporte" href="{% url 'reporte_revision_reservas' %}"> 
    <i class="bi bi-file-earmark-spreadsheet-fill"></i> Reporte
</a>

<a class="btn btn-primary" id="reporte" href="{% url 'reservas_lotes_actualizar_odbc' %}">
    <i class="bi bi-file-earmark-spreadsheet-fill"></i> Actualizar Reservas
</a>

<a class="btn btn-secondary" id="reporte" href="{% url 'mermaid_chart' %}">
    <i class="bi bi-file-earmark-spreadsheet-fill"></i> Diagrama de flujo
</a>

<div class="text-end">
    <label><strong>Ultima actualización: </strong>{{actualizado}}</label>
</div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Orden de compra</th>
                        <th scope="col">Fecha de llegada</th>
                        <th scope="col">Bodega</th>
                        <th scope="col">Revisión reservas</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in imp %}
                    <tr>
                        <td>{{i.MARCA}}</td>
                        <td>{{i.DOC_ID_CORP}}</td>
                        <td>{{i.ENTRADA_FECHA}}</td>
                        <td>{{i.WARE_COD_CORP}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'revision_imp_llegadas' i.DOC_ID_CORP %}">
                                <i class="bi bi-clipboard2-check-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}