{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Inventarios</title>
{% endblock%}

{% block navbar %}
{% include 'metro/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">LISTA DE INVENTARIOS</h5>

<!-- MESSAGES -->
<div class="mt-3">
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Por favor corrija los siguientes errores:</strong>
            <ul class="mb-0 mt-2">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li><strong>{{ field.label }}</strong>: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>

<!-- Contenedor para alertas -->
<div id="alertsContainer"></div>

<hr>

<button type="button" class="btn btn-sm btn-primary mb-2 fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
    NUEVO INVENTARIO
</button>


<button class="btn btn-sm btn-primary float-end" onclick="actualizar()">
    <i class="bi bi-arrow-clockwise"></i>
</button>
    
<div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Filtro" class="form-control">
</div>

<div id="msg"></div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado Inventario</th>
                        <th scope="col">Estado T.F.</th>
                        <th scope="col">Inicio T.F.</th>
                        <th scope="col">Fin T.F.</th>
                        <th scope="col">Tiempo T.F.(H:M)</th>
                        <th scope="col">Avance</th>
                        <th scope="col">Creado</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in inventarios %}
                    <tr>
                        <td>{{i.enum}}</td>
                        <td>{{i.nombre | upper}}</td>
                        <td>
                            <span
                                class="
                                    badge 
                                    fs-6
                                    {% if i.estado_inv == 'ABIERTO' %}
                                        bg-primary
                                    {% elif i.estado_inv == 'CERRADO' %}
                                        bg-secondary
                                    {% endif %}
                                    "
                            >
                                {{i.estado_inv}}
                            </span>
                        </td>
                        <td>
                            <span
                                class="
                                    badge 
                                    fs-6
                                    {% if i.estado_tf == 'CREADO' %} 
                                        bg-primary 
                                    {% elif i.estado_tf == 'EN PROCESO' %} 
                                        bg-warning 
                                    {% elif i.estado_tf == 'EN PAUSA' %} 
                                        bg-secondary 
                                    {% elif i.estado_tf == 'FINALIZADO' %} 
                                        bg-success 
                                    {% endif %}
                                    "
                            >
                                {{i.estado_tf}}
                            </span>

                        </td>
                        
                        <td class="text-end">{{i.inicio_tf|date:'Y-m-d H:i'|default:'-'}}</td>
                        <td class="text-end">{{i.fin_tf|date:'Y-m-d H:i'|default:"-"}}</td>
                        <td class="text-end">{{i.diff_tiempo}}</td>
                        <td class="text-end">{{i.avance}} %</td>
                        <td>{{i.creado|date:'Y-m-d H:m'}}</td>
                        <td>{{i.usuario.first_name}} {{i.usuario.last_name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button 
                                    class="btn btn-sm btn-white border"
                                    data-inventario-id="{{ i.id }}" 
                                    data-inventario-name="{{ i.nombre | upper }}"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#editModalNombre"
                                    onclick=open_modal_actualizar_nombre(this)
                                >
                                    ✏
                                </button>
                                <a class="btn btn-sm btn-white border" href="{% url 'metro_inventario_informe' i.id %}">
                                    📄
                                </a>
                                <a class="btn btn-sm btn-white border" href="{% url 'metro_inventario_revision' i.id %}">
                                    ✅
                                </a>
                                {% if i.estado_inv == 'CERRADO' %}
                                <button 
                                    type="button" 
                                    class="btn btn-sm btn-primary" 
                                    data-inventario-id="{{ i.id }}" 
                                    name="estado_inv"
                                    value="ABIERTO"
                                    onclick=estado_inventario_inv(this)
                                >
                                    <i class="bi bi-check-square-fill"></i>
                                </button>
                                {% endif %}
                                {% if i.estado_inv == 'ABIERTO' %}
                                <button 
                                    type="button" 
                                    class="btn btn-sm btn-secondary"
                                    data-inventario-id="{{ i.id }}" 
                                    name="estado_inv"
                                    value="CERRADO"
                                    onclick=estado_inventario_inv(this)
                                >
                                    <i class="bi bi-x-square-fill"></i>
                                </button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Nuevo -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">NUEVA TOMA FÍSICA</h5>
            <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="container mt-2">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            
                            <!--input name="usuario" value="{{request.user}}"/-->
                            <!-- Campos ocultos -->
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}

                            <!-- Campos visibles con estructura responsiva -->
                            {% for field in form.visible_fields %}
                                <div class="row mb-3 align-items-center">
                                    <!-- En dispositivos pequeños, la etiqueta está arriba del campo -->
                                    <!-- En dispositivos medianos y grandes, la etiqueta está a la izquierda -->
                                    <div class="col-12 col-md-4 text-md-end mb-2 mb-md-0">
                                        <label for="{{ field.id_for_label }}" class="form-label fw-bold">
                                            {{ field.label }}
                                            {% if field.field.required %}
                                                <span class="text-danger">*</span>
                                            {% endif %}
                                        </label>
                                    </div>
                                    
                                    <div class="col-12 col-md-8">
                                        {% if field.name == 'activo' %}
                                            <div class="form-check form-switch">
                                                {{ field }}
                                            </div>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                        
                                        {% if field.errors %}
                                            <div class="invalid-feedback d-block">
                                                {% for error in field.errors %}
                                                    <small>{{ error }}</small>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        
                                        {% if field.help_text %}
                                            <div class="form-text text-muted">
                                                <small>{{ field.help_text }}</small>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <hr>
                            <!-- Botones de acción -->
                            <div class="col-12 col-md-8">
                                <button type="submit" class="btn btn-primary">
                                    Guardar
                                </button>
                                <button type="reset" class="btn btn-secondary ms-2" data-bs-dismiss="modal">
                                    Cancelar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


<!-- Editar -->
<div class="modal fade" id="editModalNombre" tabindex="-1" aria-labelledby="editModalNombreLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Nombre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="editModalNombreErrors"></div>
            <form onsubmit="nombre_inventario(); return false;">
                {% csrf_token %}
                <div class="modal-body" id="editModalNombreBody">
                    <input id="inv_nombre" class="form-control">
                    <input id="id_inv" type="hidden">
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary"
                    >
                        Guardar cambios
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<!-- Actualizar vista -->
<script>
    function actualizar() {
        location.reload();
    }
</script>


<!-- Actualizar estado estado_inv 'ABIERTO' - 'CERRADO' -->
<script>
    // actualizar nombre  
    function open_modal_actualizar_nombre(btn) {
        const nombre = btn.getAttribute('data-inventario-name');
        const id_inv = btn.getAttribute('data-inventario-id');
        document.getElementById('inv_nombre').value = nombre;
        document.getElementById('id_inv').value = id_inv;
    };

    function nombre_inventario() {
        const nombreValue = document.getElementById('inv_nombre').value;
        const id_inv = document.getElementById('id_inv').value;
        metro_patch_inventario(id_inv, {'nombre':nombreValue});
    };

    function estado_inventario_inv(btn) {
        const id_inv = btn.getAttribute('data-inventario-id');
        const campo  = btn.name;
        const estado_inv = btn.value;
        const cambios = {[campo]:estado_inv};
        metro_patch_inventario(id_inv, cambios)
    };
</script>

<script src="{% static 'js/metro/metro.js' %}"></script>

{% endblock %}