{% extends 'base.html' %}
{% block title %}
<title>PEDIDOS PÚBLICOS</title>
{% endblock%}

{#% block navbar %#}
{#% include 'etiquetado/topnavbar.html' %#}
{#% endblock %#}

{% block body %}
<h5 class="m-4 text-center"><strong>ETIQUETADO PEDIDOS PUBLICOS</strong></h5>
<!--h6 class="m-4 text-end"><strong>Actualizado a:</strong> {{actualizado}}</h6-->

<div class="row">
    <div class="col-4">
        <div class="card text-white bg-primary">
            <h5 class="card-header text-center fs-4">NÚMERO DE PEDIDOS</h5>
            <div class="card-body">
                <h5 class="card-title text-center fs-1">{{n_pedidos}}</h5>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card text-white bg-info">
            <h5 class="card-header text-center fs-4">PENDIENTES POR ENTREGAR</h5>
            <div class="card-body">
                <h5 class="card-title text-center fs-1">{{por_facturar}}</h5>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="card mt-4 mb-4">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive"> <!-- class="container table-responsive"-->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">N° Pedido</th>
                        <th scope="col">Cliente</th>
                        <!--th scope="col">Fecha pedido</th>
                        <th scope="col">Hora pedido</th-->

                        <th scope="col">Fecha entrega</th>
                        <th scope="col">Hora entrega</th>

                        <th scope="col">Días faltantes</th>

                        <!--th scope="col">Inicio de etiquetado</th-->
                        <th scope="col">Estado etiquetado</th>
                        <th scope="col">Estado entrega</th>
                        <th scope="col">Tiempo 1P</th>
                        <th scope="col">Tiempo 2P</th>
                        <th scope="col">Tiempo 3P</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                    {% for i in list_reservas %}

                    <tr style="font-size: small;">

                        <th scope="row">
                            <a href="{% url 'pedidos' i.CONTRATO_ID %}" target="_blank">
                                    {{i.CONTRATO_ID|slice:-2}}
                            </a>
                            
                            {% if i.DISP == 'NOT' %}
                            <i style = "color:red;" class="bi bi-file-earmark-x-fill"></i>
                            {% endif %}
                            {% if i.estado_picking_x == 'FINALIZADO' %}
                            <i style = "color:green;" class="bi bi-check2-square"></i>
                            {% endif %}

                        </th>

                        <td class="text-start">{{i.NOMBRE_CLIENTE}}</td>
                        
                        <!--td class="text-start">{{i.FECHA_PEDIDO}}</td>
                        <td class="text-start">{{i.HORA_LLEGADA}}</td-->

                            
                        {% if i.fecha_hora %}

                        <!--td class="text-start"
                        {% if i.estado_entrega == 'CONFIRMADO' %} style="background-color: #AED6F1;"{% endif %}
                        >{{i.fecha_hora|slice:'0:10'}}</td-->

                        {% if i.dias_faltantes == '-' %}
                        <td class="text-end">-</td>
                        {% else %}
                        <td class="text-start"
                        {% if i.estado_entrega == 'CONFIRMADO' %} style="background-color: #AED6F1;"{% endif %}
                        >{{i.dia|slice:'0:4'}} {{i.fecha_hora|slice:'8:10'}}. {{i.mes|slice:'0:3'}}</td>
                        {% endif %}

                        <td class="text-start"
                        {% if i.estado_entrega == 'CONFIRMADO' %} style="background-color: #AED6F1;"{% endif %}
                        >{{i.fecha_hora|slice:'11:16'}}</td>
                        {% else %}
                        <td class="text-start">-</td>
                        <td class="text-start">-</td>
                        {% endif %}
                    
                        {% if i.dias_faltantes == '-' %}
                        <td class="text-end">-</td>
                        {% else %}
                        <td class="text-end">{{i.dias_faltantes|floatformat:0}} días</td>
                        {% endif %}

                        <td class="estado text-start" data-estado="{{i.estado}}">

                            {% if i.estado == 'EN PAUSA' %}
                            <!--a class="btn btn-danger btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-danger">{{i.estado}}</span></h6>
                            {% elif i.estado == 'EN TRANSITO' %}
                            <!--a class="btn btn-danger btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-primary">{{i.estado}}</span></h6>
                            {% elif i.estado == 'EN PROCESO' %}
                            <!--a class="btn btn-warning text-white btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-warning">{{i.estado}}</span></h6>
                            {% elif i.estado == 'INCOMPLETO' %}
                            <!--a class="btn btn-danger btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge" style="background: #bf03c8">{{i.estado}}</span></h6>
                            {% elif i.estado == 'FINALIZADO' %}
                            <!--a class="btn btn-success btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-success">{{i.estado}}</span></h6>
                            {% else %}
                            -
                            {% endif %}



                            {% if i.estado != '-' %}
                            <span class="badge text-dark" style="background-color: #BAF690;" style="background-color: #BAF690;">
                                {{i.avance}}%
                            </span>
                            {% endif %}
                            
                        </td>

                        <td class="estado text-start">
                            -
                        </td>

                        <td class="text-start">{{i.t_1p_str}}</td>
                        <td class="text-start">{{i.t_2p_str}}</td>
                        <td class="text-start">{{i.t_3p_str}}</td>
                    </tr>
                    {% endfor %}

                    <tr class="bg-info text-dark">
                        <td colspan="10" class="text-center text-light">PENDIETES POR ENTREGAR</td>
                    </tr>

                    {% for i in fin %}
                    <tr style="font-size: small;">

                        <th scope="row">
                            <a href="{% url 'pedidos' i.CONTRATO_ID %}" target="_blank">
                                    {{i.CONTRATO_ID|slice:-2}}
                            </a>
                        </th>

                        <td class="text-start">{{i.NOMBRE_CLIENTE}}</td>
                        
                            
                        {% if i.fecha_hora %}

                        <td class="text-start"
                        {% if i.estado_entrega == 'CONFIRMADO' %} style="background-color: #AED6F1;"{% endif %}
                        >{{i.dia|slice:'0:4'}} {{i.fecha_hora|slice:'8:10'}}. {{i.mes|slice:'0:3'}}</td>

                        <td class="text-start"
                        {% if i.estado_entrega == 'CONFIRMADO' %} style="background-color: #AED6F1;"{% endif %}
                        >{{i.fecha_hora|slice:'11:16'}}</td>
                        {% else %}
                        <td class="text-start">-</td>
                        <td class="text-start">-</td>
                        {% endif %}
                        <td class="text-end">-</td>                       

                        <td class="estado text-start" data-estado="{{i.estado}}">
                            {% if i.estado == 'EN PAUSA' %}
                            <!--a class="btn btn-danger btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-danger rounded-pill">{{i.estado}}</span></h6>
                            {% elif i.estado == 'EN TRANSITO' %}
                            <!--a class="btn btn-danger btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-primary rounded-pill">{{i.estado}}</span></h6>
                            {% elif i.estado == 'EN PROCESO' %}
                            <!--a class="btn btn-warning text-white btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-warning rounded-pill">{{i.estado}}</span></h6>
                            {% elif i.estado == 'INCOMPLETO' %}
                            <!--a class="btn btn-danger btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge rounded-pill" style="background: #bf03c8">{{i.estado}}</span></h6>
                            {% elif i.estado == 'FINALIZADO' %}
                            <!--a class="btn btn-success btn-sm disabled">{{i.estado}}</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-success rounded-pill">{{i.estado}}</span></h6>
                            {% else %}
                            -
                            {% endif %}
                        </td>

                        <td class="estado text-start" data-estado="{{i.estado}}">
                            {% if i.est_entrega == 'PENDIENTE' %}
                            <!--a class="btn btn-warning text-white btn-sm disabled">PENDIENTE</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-warning rounded-pill">PENDIENTE</span></h6>
                            {% elif not i.est_entrega %}
                            <!--a class="btn btn-warning text-white btn-sm disabled">PENDIENTE</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-warning rounded-pill">PENDIENTE</span></h6>
                            {% elif i.est_entrega == 'ENTREGADO' %}
                            <!--a class="btn btn-success btn-sm disabled">ENTREGADO</a-->
                            <h6 class="p-0 m-0"><span class="badge bg-success rounded-pill">ENTREGADO</span></h6>
                            {% else %}
                            -
                            {% endif %}
                        </td>

                        <td class="text-start">{{i.t_1p_str}}</td>
                        <td class="text-start">{{i.t_2p_str}}</td>
                        <td class="text-start">{{i.t_3p_str}}</td>
                        
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function actualizar(){location.reload(true);}
    //Función para actualizar cada 30 min = 1,800,000 milisegundos
    setInterval("actualizar()",300000); // 5 min
</script>

{% endblock %}