<!-- Azul -->
<!--nav class="navbar navbar-expand-lg navbar-dark bg-primary"-->
<!-- Blanco -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'inicio' %}">Gimpromed Cía. Ltda.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <!--span class="navbar-toggler-icon"></span--><i class="bi bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!--li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Equipos 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'equipos_list' %}">Lista de equipos</a></li>
              <!--li><a class="dropdown-item" href="">Cartas Anuladas</a></li-->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Suministros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'suministros_list' %}">Listado de suministros</a></li>
                <!--li><a class="dropdown-item" href="{% url 'anular_procesos_list' %}">Cartas Anuladas</a></li-->
            </ul>
          </li>
          <!--li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Estadisticas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'estadisticas_list' %}">Lista de estadisticas</a></li>
                <li><a class="dropdown-item" href="{% url 'anular_items_list' %}">Cartas Anuladas</a></li>
            </ul>
          </li-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mantenimiento
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <!--li><a class="dropdown-item" href="{% url 'mantenimientos_list' %}">Lista de mantenimiento</a></li-->
                <li><a class="dropdown-item" href="{% url 'preventivo_list' %}">Lista de M. Preventivos</a></li>
                <!--li><a class="dropdown-item" href="{% url 'preventivo__por_realizar_list' %}">Realizar M. Preventivo</a></li-->
            </ul>
          </li>
        </ul>
      </div>
      <a class="navbar-brand" href="{% url 'logout' %}">
        {{request.user}} <i class="bi bi-box-arrow-right"></i>
      </a>
    </div>
</nav>