
{% load static %}
<title>Oficio #
    {% if object.pk < 10 %}000{{object.pk}}
    {% elif object.pk < 100 %}00{{object.pk}}
    {% elif object.pk < 1000 %}0{{object.pk}}
    {% else %}{{object.pk}}
    {% endif %}
</title>

<style>
    @page{
        size: A4;
        margin-top:4cm;
        margin-left:2.5cm;
        margin-right:2.5cm;
        margin-bottom:2.5cm;

        /* HEADER Static frame */
        @frame header_frame {           
            -pdf-frame-content: header_content;
            left: 0pt; width: 595pt; top: 0pt; height: 140pt;
        }
        /* FOOTER Static frame */
        @frame footer_frame {
            -pdf-frame-content: footer_content;
            left:0pt; width:595pt; top:733pt; height:150pt;
        }
        /* BODY */
        /*@frame body_frame {}*/
            
    }
    #gim {
        background-size:100%;
        background-repeat:no-repeat;
    }
    .t_b {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
    }
</style>

<img id="header_content" src="{% static 'encabezado.png' %}">

<div id="gim" style="font-size:13px">
    <div id="body_frame">
        
        <!--p style="text-align:right; font-size:13px">
            <strong>Oficio No.:</strong>
            GIM-GF-CD-CG-{{object.fecha_emision|date:'Y'}}-{% if object.pk < 10 %}000{{object.pk}}
            {% elif object.pk < 100 %}00{{object.pk}}
            {% elif object.pk < 1000 %}0{{object.pk}}
            {% else %}{{object.pk}}
            {% endif %}
        </p-->

        <p style="text-align:right; font-size:13px">
            <strong>Oficio No.:</strong>
            {{object.oficio}}
        </p>

        <h1 style="text-align:center;">A QUIEN INTERESE</h1>

        {% include 'cartas/carta_general/parrafo.html' %}

        <p style="text-align:justify;">
            Razón por la cual Autorizamos a la Firma Comercial <strong>{{object.cliente}},</strong> con 
            R.U.C. No. <strong>{{object.ruc}}</strong> a comercializar los Productos de las marcas que representamos y Distribuimos 
            en el País.
        </p>

        <p>
            Este certificado tiene validez hasta {{object.valido_hasta_mes}} del {{object.valido_hasta_anio}}.
        </p>

        <p>
            <strong>
            Esta Autorización No es Transferible a Terceros sin autorización escrita de Gimpromed Cía. Ltda.
            </strong>
        </p>

        <p>
            Quito, {{object.fecha_emision}}
        </p>

        <table>
            <tr>
                <td>
                    <p>
                        Atentamente,
                        <br><br><br><br><br>
                        {% if object.usuario %}
                        {{object.usuario.firma_carta}}<br>
                        {{object.usuario.posicion_carta}}
                        {% else %}
                        Carlos A. Arcos H.<br>
                        Gerente Financiero
                        {% endif %}
                    </p>
                </td>
                <td></td>
                <td>
                    <img src="{{object.qr_code.url}}" width="150" height="150">
                    <!--figcaption>
                        <p style="text-align:left; font-size:8px">QR DE VERIFICACIÓN</p>
                    </figcaption-->
                </td>
            </tr>
        </table>
    </div>
</div>

<img  id="footer_content" src="{% static 'pie_de_pag.png' %}">