<p style="text-align: justify;">
    Me permito informar que <strong>GIMPROMED CIA. LTDA.,</strong> es Representante para el Ecuador 
    de la Casa <strong>CONMED CORP. – USA</strong> (Fabricante de Electrodos ECG, lápices, Placas para 
    Electro Bisturí, Tubos de Succión y otros), <strong>MEDLINE INDUSTRIES – USA</strong> (Fabricante de 
    Insumos Médicos descartables), <strong>SALTER LABS – USA</strong> (Fabricante de Productos de 
    Oxigenoterapia), <strong>HSINER – TAIWAN</strong> (Fabricante de Productos de Oxigenoterapia),
    <strong>SUPERMAX – MAYLASIA</strong> (Fabricante de Guantes de Examen, Nitrilo y Quirúrgicos),
    <strong>UROCARE – MALAYSIA</strong> (Fabricante de Sondas Foley),  <strong>UWC HEALTHCARE – 
    MAYLASIA</strong> (Fabricante de Humidificadores HYDROX), <strong>HEUER – INDIA</strong> (Fabricante de
    Insumos Médicos descartables), <strong>SUMI – POLONIA</strong> (Fabricante de Tubos Endotraqueales, 
    Traqueotomos y Otros), <strong>SRI TRANG AGRO INDUSTRYE – TAILANDIA</strong> (Fabricante de
    Guantes de Examen marca Superglove), <strong>BAIHE MEDICAL – HONG KONG</strong> (Fabricante
    de Catéteres Intravenosos), <strong>ANHUI - CHINA</strong> (Fabricante de Guantes Quirúrgicos  Annuy),
    <strong>CATHAY MANUFACTURING CORP. – CHINA</strong> (Fabricante de Electrodos, lápices y 
    Placas para Electro Bisturí de marca Starke Medical), <strong>COMPER – CHINA</strong> (Fabricante de 
    Tubos Endotraqueales y otros), <strong>GCMEDICA – CHINA</strong> (Fabricante de Tubos de Succión e 
    Inspirómetros), <strong>GOODWOOD MEDICAL - CHINA</strong> (Fabricante de Cepillos Quirúrgicos), 
    <strong>HANGZHOU CONOD MEDICAL CO. – CHINA</strong> ( Fabricante de Equipos de Succión),
    <strong>JIANGSU LIKANG – CHINA</strong> (Fabricante de Gasas y Compresas de marca Leister),
    <strong>SHENGANG – CHINA</strong> (Fabricante de Sondas y Tubos de Succión Shengang y Fundas de
    Orina Urobag), <strong>SOUNDWAY – CHINA</strong> (Fabricante de Productos de Oxigenoterapia),
    <strong>YINJING MEDICAL TECH. – CHINA</strong> (Fabricante de Alcohol y Clorhexidina Pre Pad
    marca Yojar), <strong>ZHENDE MEDICAL – CHINA</strong> (Fabricante de Apósito, Gasas y Otros de 
    marca ZD Medical y medias marca Leister), <strong>SARALEJ – NACIONAL</strong> (Fabricante de 
    Productos de Traumatología).

</p>