{%extends 'base.html' %}

{% block title %}
<title>Picking</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}
<style>
    .growl-notice-succes {
    display:none;
    font-family:Helvetica,Verdana,sans-serif;
    width: 400px;
    height: 100px;
    padding: 5px 5px;
    border-radius: 4px;
    opacity: .95;
    font-size: 15px;
    color: #17202A ;
    background: #ABEBC6;
    /*position: absolute;*/
    position: fixed;
    right: 10px;
    bottom: 34px;
    line-height:30px;
    z-index: 3;
    }
    .growl-notice-error {
    display:none;
    font-family:Helvetica,Verdana,sans-serif;
    width: 400px;
    height: 100px;
    padding: 5px 5px;
    border-radius: 4px;
    opacity: .95;
    font-size: 15px;
    color: #17202A ;
    background: #fe7c48 ;
    /*position: absolute;*/
    position: fixed;
    right: 10px;
    bottom: 34px;
    line-height:30px;
    z-index: 3;
}
</style>

<h5 class="m-4 text-center"><strong>LISTADO DE PICKING</strong></h5>

{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success'%}
    <div class="alert text-center alert-success" role="alert">
        {{message}}
    </div>
    {% elif message.tags == 'error'%}
    <div class="alert text-center alert-danger" role="alert">
        {{message}}
    </div>
    {%endif%}
    {% endfor %}
{% endif %}

<button class="btn btn-primary mb-2" name="actualizar">
    Actualizar
</button>

<div class="col-4">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div class="growl-notice-succes"></div>
<div class="growl-notice-error"></div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr style="font-size: small;">
                        <th scope="col">CLIENTE</th>
                        <th scope="col">BODEGA</th>
                        <th scope="col" style="font-size: small;">
                            <select class="form-select filter" id="filter-tipo" style="font-size: small;">
                                <option value="TODOS">TIPO</option>
                                <option value="STOCK">STOCK</option>
                                <option value="CLINI">CLINI</option>
                                <option value="CONSU">CONSU</option>
                                <option value="DISTR">DISTR</option>
                                <option value="HOSPI">HOSPI</option>
                                <option value="HOSPU">HOSPU</option>
                                <option value="INVER">INVER</option>
                                <option value="VARDE">VARDE</option>
                            </select>
                        </th>
                        <th scope="col">CIUDAD</th>
                        <th scope="col">FECHA</th>
                        <th scope="col">PEDIDO</th>
                        <th scope="col">
                            <select class="form-select filter-est" id="filter-estado" style="font-size: small;">
                                <option value="ESTADO">ESTADO</option>
                                <option value="EN TRANSITO">EN TRANSITO</option>
                                <option value="EN PAUSA">EN PAUSA</option>
                                <option value="EN PROCESO">EN PROCESO</option>
                                <option value="INCOMPLETO">INCOMPLETO</option>
                                <option value="FINALIZADO">FINALIZADO</option>
                            </select>
                        </th>
                        <th scope="col">OPERADOR</th>
                        <th scope="col">FINALIZADO</th>
                        <th scope="col" class="text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in reservas %}
                    <tr class="content" style="font-size: small;">
                        <td id="cli">{{i.cliente}}</td>
                        <td id="bod">{{i.bodega}}</td>
                        <td class="tipo" data-tipo="{{i.CLIENT_TYPE}}">{{i.CLIENT_TYPE}}</td>
                        <td>{{i.CIUDAD_PRINCIPAL}}</td>
                        <td>{{i.fecha_pedido}}</td>
                        <td id="ped">{% if i.CLIENT_TYPE == 'STOCK' %}{{i.n_pedido}}{% else %}{{i.n_pedido|slice:':-2'}}{% endif %}</td>

                        <td class="estado text-center" data-estado="{{i.estado}}">
                            {% if i.estado == 'EN PAUSA' %}
                            <a class="btn btn-danger btn-sm disabled">{{i.estado}}</a>
                            {% elif i.estado == 'EN TRANSITO' %}
                            <a class="btn btn-danger btn-sm disabled">{{i.estado}}</a>
                            {% elif i.estado == 'EN PROCESO' %}
                            <a class="btn btn-warning text-white btn-sm disabled">{{i.estado}}</a> 
                            {% elif i.estado == 'INCOMPLETO' %}
                            <a class="btn btn-danger btn-sm disabled">{{i.estado}}</a>
                            {% elif i.estado == 'FINALIZADO' %}
                            <a class="btn btn-success btn-sm disabled">{{i.estado}}</a>
                            {% else %}
                            {% endif %}
                        </td>

                        <td>
                            {% if i.estado == 'FINALIZADO' %}
                                {{i.user__user__first_name}} {{i.user__user__last_name}}
                            {% else %}
                                {% if i.user__user__first_name != '-' %}
                                    {{i.user__user__first_name}} {{i.user__user__last_name}}
                                {% endif %}
                            {% endif %}
                        </td>                           
                        <td>
                            {% if i.estado == 'FINALIZADO' %}
                                {{i.fecha_actualizado|slice:'0:16'}}
                            {% endif %}
                        </td>   
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'picking_historial_detail' i.id %}">
                                Detalle
                            </a>

                            {% if i.estado == 'FINALIZADO' and i.CIUDAD_PRINCIPAL == 'QUITO' or i.CIUDAD_PRINCIPAL == 'SANGOLQUI' %}
                                {% if i.CLIENT_TYPE == 'DISTR' or i.CLIENT_TYPE == 'CONSU' %}
                                    {% if i.facturado %}
                                    
                                        {% if i.facturado %}
                                        <i class="bi bi-envelope" style="color:#a85700"></i>
                                        {% endif %}
                                        {% if i.whatsapp %}
                                        <i class="bi bi-whatsapp" style="color:green"></i>
                                        {% endif %}

                                    {% else %}
                                        {% if i.CODIGO_FACTURA %}
                                            <button class="btn btn-warning btn-sm" name="facturado" id="{{i.id}}">Facturado</button>
                                            <input type="hidden" value="{{i.CODIGO_FACTURA}}" id="fac"/>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Ajax Facturado -->
<script>
    //$("facturado").click(function() {
    $("button[name='facturado']").click(function() {
        var id_button = $(this).attr('id');
        var cli = $(this).closest('tr').find('#cli').html()
        var ped = $(this).closest('tr').find('#ped').html()
        var bod = $(this).closest('tr').find('#bod').html()
        var fac = $(this).closest('tr').find('#fac').val()
        
        $.ajax({
            url : "{% url 'correo_facturado' %}",
            type: 'GET',
            data: {
                    'id_button':id_button,
                    'bod':bod, 
                    'ped':ped,
                    'fac':fac
            },
            
            success: function(response) {
                console.log(response)

                $(`.growl-notice-${response.tipo}`).fadeIn().html(response.msg);
                setTimeout(function(){ 
                $(`.growl-notice-${$.tipo}`).fadeOut();
                }, 3000);
                setTimeout(function(){
                    window.location.reload();
                }, 3000)},


            error: function(){
                $('.growl-notice-error').fadeIn().html('Error intente nuevamente !!!');
                setTimeout(function(){ 
                $('.growl-notice-error').fadeOut();
                }, 3000);
                setTimeout(function(){
                    window.location.reload();
                }, 3000)
            }
        })
    })
</script>

<!-- Buscador texto -->
<script>
    // Buscador
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $('.filter').change(function(){
        filter_function(); //calling filter function each select box value change
    });
      
    $('table tbody tr').show(); //intially all rows will be shown
      
    function filter_function(){
        $('table tbody tr').hide(); //hide all rows
        
        var tipoFlag = 'TODOS';
        var tipoValue = $('#filter-tipo').val();
        
       //traversing each row one by one
        $('table tr').each(function() {  
          if(tipoValue == 'TODOS'){
            tipoFlag = 1;
          }
          else if(tipoValue == $(this).find('td.tipo').data('tipo')){
            tipoFlag = 1;
          }
          else{
            tipoFlag = 0;
          }

         if(tipoFlag){
            $(this).show();
         }
      
      });
    }
</script>


<script>
    $('.filter-est').change(function(){
        filter_function_estado(); //calling filter function each select box value change
    });
      
    $('table tbody tr').show(); //intially all rows will be shown
      
    function filter_function_estado(){
        $('table tbody tr').hide(); //hide all rows
        
        var tipoFlag = 'ESTADO';
        var tipoValue = $('#filter-estado').val();
        
       //traversing each row one by one
        $('table tr').each(function() {  
          if(tipoValue == 'ESTADO'){
            tipoFlag = 1;
          }
          else if(tipoValue == $(this).find('td.estado').data('estado')){
            tipoFlag = 1;
          }
          else{
            tipoFlag = 0;
          }

         if(tipoFlag){
            $(this).show();
         }
      
      });
    }
</script>


<script type="text/javascript">
    $("button[name='actualizar']").click(function () {
        location.reload(true);
    })
    //function actualizar(){location.reload(true);}
    //Función para actualizar cada 30 min = 1,800,000 milisegundos
    //setInterval("actualizar()",1800000);
</script>
{% endblock %}