{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cartera de Cliente</title>
</head>
<body>
    <style>
        body {
            font-family: "Calibri", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;
            color: #333333;
            line-height: 1.5;
        }
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000;
            font-size: 12px;
            margin: 2px;
            padding-top: 0px;
            padding-bottom: 0;
            padding-left: 10px;
            padding-right: 3px;
            min-width: 60px;
        }
        th {
            background-color: #03268f;
            color: #fff;
            text-align: center;
        }
        .text-right {
            text-align: right;
        }
        .text-filled {
            color: #03268f;
        }
    </style>

    <p>
        <strong>Estimados Señores,
        <br>
        {{ cliente_nombre }}
        </strong>
    </p>

    <p>
        Reciba un cordial saludo de <strong>Gimpromed Cía. Ltda.</strong>
    </p>

    <p>
        Por el presente nos permitimos informar que, de acuerdo con nuestros registros contables,
        su cuenta presenta una <strong>cartera vencida de</strong> <strong style="color:red">$ {{ cartera_vencida | floatformat:"2g" }}</strong> a la fecha.
    </p>

    <p>
        Para su referencia, a continuación, detallamos un desglose de la misma.
        Favor realizar la cancelación de las facturas pendientes antes de las fechas de vencimiento.
        Si los pagos ya han sido realizados, favor desestimar este correo.
    </p>

    <!-- FACTURAS VENCIDAS -->
    <h4>Facturas Vencidas</h4>
    <table id="facturas-vencidas">
        <thead>
            <tr>
                <th>N° Factura</th>
                <th>Fecha</th>
                <th>Valor Total</th>
                <th>Pagado</th>
                <th>Retención</th>
                <th>Crédito</th>
                <th>Saldo</th>
                <th>Vencimiento</th>
                <th>Días Vencido</th>
            </tr>
        </thead>
        <tbody>
            {% for f in facturas_vencidas %}
            <tr class="factura" style="background-color: #FFB0A1"> <!--style="background-color: {{ f.bg_color }};"--> 
                <td class="text-right">{{ f.numero }}</td>
                <td class="text-right">{{ f.fecha_emision | date:"d-m-Y" }}</td>
                <td class="text-right">
                    {% if f.valor > 0 %}
                        $ {{ f.valor | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if f.pagado > 0 %}
                        $ {{ f.pagado | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if f.retencion > 0 %}
                        $ {{ f.retencion | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if f.credito > 0 %}
                        $ {{ f.credito | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if f.saldo > 0 %}
                        $ {{ f.saldo | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">{{ f.fecha_vencimiento | date:"d-m-Y" }}</td>
                <td class="text-right">{{ f.dias_vencido }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="text-right" colspan="6" style="color:red">
                    <strong>Total facturas vencidas:</strong>
                </td>
                <td class="text-right" style="color:red">
                    <strong>$ {{ tot_vencidas.saldo | floatformat:"2g" }}</strong>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- FACTURAS VIGENTES -->
    <h4>Facturas Vigentes</h4>
    <table>
        <thead>
            <tr>
                <th>N° Factura</th>
                <th>Fecha</th>
                <th>Valor Total</th>
                <th>Pagado</th>
                <th>Retención</th>
                <th>Crédito</th>
                <th>Saldo</th>
                <th>Vencimiento</th>
                <th>Días Vigencia</th>
            </tr>
        </thead>
        <tbody>
            {% for f in facturas_vigentes %}
            <tr>
                <td class="text-right">{{ f.numero }}</td>
                <td class="text-right">{{ f.fecha_emision | date:"d-m-Y" }}</td>
                <td class="text-right">
                    {% if f.valor > 0 %}
                        $ {{ f.valor | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if f.pagado > 0 %}
                        $ {{ f.pagado | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if f.retencion > 0 %}
                        $ {{ f.retencion | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if f.credito > 0 %}
                        $ {{ f.credito | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if f.saldo > 0 %}
                        $ {{ f.saldo | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right">{{ f.fecha_vencimiento | date:"d-m-Y" }}</td>
                <td class="text-right">{{ f.dias_vigente }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="text-right" colspan="6">
                    <strong>Total facturas vigentes</strong>
                </td>
                <td class="text-right">
                    {% if tot_vigentes.saldo > 0 %}
                        <strong>$ {{ tot_vigentes.saldo | floatformat:"2g" }}</strong>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="text-right" colspan="6">
                    <strong>Total cartera</strong>
                </td>
                <td class="text-right">
                    {% if total_cartera > 0 %}
                        <strong>$ {{ total_cartera | floatformat:"2g" }}</strong>
                    {% endif %}
                </td>
        </tbody>
    </table>

    <!-- RESUMEN -->
    <h4>Resumen Cartera</h4>
    <table>
        <thead>
            <tr>
                <th style="min-width:70px; white-space:nowrap;">Vigente</th>
                <th style="min-width:70px; white-space:nowrap;">1 - 30</th>
                <th style="min-width:70px; white-space:nowrap;">31 - 60</th>
                <th style="min-width:70px; white-space:nowrap;">61 - 90</th>
                <th style="min-width:70px; white-space:nowrap;">
                    <span class="text-filled">...</span>91+<span class="text-filled">...</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-right">
                    {% if resumen.vigente > 0 %}
                        $ {{ resumen.vigente | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right" {% if resumen.rango_1_30 > 0 %} style="background-color: #FFB0A1;" {% endif %}>
                    {% if resumen.rango_1_30 > 0 %}
                        $ {{ resumen.rango_1_30 | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right" {% if resumen.rango_31_60 > 0 %} style="background-color: #FFB0A1;" {% endif %}>
                    {% if resumen.rango_31_60 > 0 %}
                        $ {{ resumen.rango_31_60 | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right" {% if resumen.rango_61_90 > 0 %} style="background-color: #FFB0A1;" {% endif %}>
                    {% if resumen.rango_61_90 > 0 %}
                        $ {{ resumen.rango_61_90 | floatformat:"2g" }}
                    {% endif %}
                </td>
                <td class="text-right" {% if resumen.rango_91 > 0 %} style="background-color: #FFB0A1;" {% endif %}>
                    {% if resumen.rango_91 > 0 %}
                        $ {{ resumen.rango_91 | floatformat:"2g" }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    
    <br>

    <!-- FORMAS DE PAGO -->
    <p>Para mayor comodidad, le comunicamos que puede realizar el pago mediante los siguientes medios:</p>

    <p>
        <strong><u>Banco Pichincha</u></strong><br>
        Cuenta Corriente # 3025602104
    </p>

    <p>
        <strong><u>Banco Produbanco</u></strong><br>
        Cuenta Corriente # 02-00506770-3
    </p>

    <!-- CONTACTO -->
    <p>
        En caso de tener alguna observación a este correo, favor contactarnos a <u>dreyes@gimpromed.com</u> o a su vez al   
        número de celular 098 435 0774 para proceder con la validación y actualización de nuestros registros.  
    </p>

    <p>
        <strong>Atentamente,</strong>
        <br>
        <strong>Gimpromed Cía. Ltda.</strong>
    <p>
        **** Esta notificación ha sido enviada automáticamente – Favor no responder ****
    </p>
</body>
</html>