{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kardex - H.Metro</title>
</head>
<body>
    <style>
        p {
            padding: 5px;
            margin: 5px
        }
    </style>
    
    <h4>Estimados Compañeros:</h4>

    <p>Se notifica {{movimiento.description}} de consignación - Hopital Metropolitano</p>

    <p><strong>Código:</strong> {{movimiento.product.codigo_gim}}</p>
    <p><strong>Nombre:</strong> {{movimiento.product.nombre_gim}}</p>
    <p><strong>Marca:</strong> {{movimiento.product.marca}}</p>
    {% if movimiento.producto.description == 'Saldo inicial' %}
    <p><strong>Cantidad ingresada:</strong> {{movimiento.product.cantidad}}</p>
    {% else %}
    <p><strong>Cantidad de consignación anterior:</strong> {{movimiento_anterior.saldo}}</p>
    <p><strong>Cantidad modificada:</strong> {{movimiento.cantidad}}</p>
    <p><strong>Nueva cantidad de consignación:</strong> {{movimiento.saldo}}</p>
    {% endif %}
    <p>Se adjunta respaldo en PDF</p>

    <p>**** Esta notificación ha sido enviada automáticamente - No responder ****</p>
</body>
</html>