{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferencia {{n_transferencia}}</title>
</head>
<body>
    <style>        
        td, th {
            padding-top: 5px;
            padding-left: 2px;
            padding-right: 2px;
        }
    </style>
    
    <table>
        <tr>
            <td>
                <img src="https://gimpromed.com/themes/gimpromed-theme/assets/img/blue/logo.png" width="230px" height="50px" alt="Imagen">
            </td>
            <td></td>
            <td style="text-align:right"><strong>Generado por:</strong> {{request.user.first_name | default:"Dayanne" }}</td>
        </tr>
    </table>

    <h1 style="text-align:center"><strong>Listado de Lotes</strong></h1>

    <p><strong>Transferencia:</strong> {{n_transferencia}}</p>
    <p><strong>Fecha:</strong> {{transferencia.cabecera.fecha_hora}}</p>

    
    <table class="table-cabecera">
        <tr>
            <td><strong>Bodega de salida:</strong> 
                {% if transferencia.cabecera.bodega_salida == 'BCT' %}
                    Cerezos
                {% elif transferencia.cabecera.bodega_salida == 'CUC' %}
                    Cuarentena Cerezos
                {% elif transferencia.cabecera.bodega_salida == 'BAN' %}
                    Andagoya
                {% elif transferencia.cabecera.bodega_salida == 'CUA' %}
                    Cuarentena Andagoya
                {% endif %}
            </td>
            <td><strong>Bodega de llegada:</strong> Andagoya</td>
        </tr>
    </table>

    <table style="border: 1px solid black;">
        <thead>
            <tr style="background-color:black; color:white">
                <th>Código</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Lotes</th>
                <th>Fecha Elab.</th>
                <th>Fecha Cad.</th>
                <th>Cantidad</th>
                <th>Ubicación de Salida</th>
                <th>Ubicación de Llegada</th>
            </tr>
        </thead>
        <tbody>
            {% for i in transferencia.transferencia %}
            <tr style="font-size:small">
                <td style="width: 78px;">{{i.product_id}}</td>
                <td>{{i.Nombre}}</td>
                <td style="width: 60px;">{{i.Marca}}</td>
                <td style="width: 80px">{{i.lote_id}}</td>
                <td style="width: 70px;">{{i.fecha_elaboracion|default_if_none:"-"|default:"-"}}</td>
                <td style="width: 70px;">{{i.fecha_caducidad|default_if_none:"-"|default:"-" }}</td>
                <td style="width: 70px;">{{i.unidades | floatformat:"0g"}}</td>
                <td style="width: 70px;">{{i.ubicacion}}</td>
                <td style="width: 60px;">
                    {#{i.ubicacion_andagoya}#}
                    {% for j in i.ubicacion_andagoya.all %}
                        <span>{{j}}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>
    <span><strong>Comentarios:</strong></span>
    <table style="border: 1px solid black;">
        <thead>
            <tr style="background-color:black; color:white">
                <th>Código</th>
                <th>Lotes</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody>
            {% if transferencia.obs %}
                {% for i in transferencia.obs %}
                    <tr style="font-size:small">
                        <td style="width: 78px;">{{i.product_id}}</td>
                        <td style="width: 78px;">{{i.lote_id}}</td>
                        <td style="width: 250px;">{{i.observacion|default:"No hay comentario"}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" style="text-align:center;">No hay comentarios</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>