<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <script>
        function loadDoc() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange=function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("demo").innerHTML = this.responseText;
            }
          };
          xhttp.open("GET", "demo_get.asp?t=" + Math.random(), true);
          xhttp.send();
        }
    </script>

    
    <h1>prueba ajax</h1>
    <form method="GET">{% csrf_token %}
        Ruc:
        <input name="buscar" type="text"><input type="submit" value="buscar">
        <br><br><br><br>

        Cliente:
        <input name="ruc" value="{{nombre}}" type="text">
        <br><br>

        Ruc:
        <input name="ruc" value="{{ruc}}" type="text">
        <br><br>
        Item:
        <input type="text" name="item">
        <br><br>
        {{cliente}}
        
    </form>
</body>
</html>