{%extends 'base.html' %}

{% block title %}
<title>Mttos Preventivos</title>
{% endblock%}

{% block navbar %}
{% include 'mantenimiento/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="text-center m-3">
  <strong>LISTADO DE MANTENIMIENTOS PREVENTIVOS POR REALIZAR</strong>
</h5>

<h5 class="text-center m-3">
    <strong>{% now "F Y" %}</strong>
</h5>

<div class="dropdown mb-2">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-tools"></i> Instructivo de limpieza de cabezal
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive">
                <div class="card" style="width: 28rem;">
                    <!--img src="..." class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Pasos para limpieza de cabezal</h5>
                        <p class="card-text">
                            1.- Tener apagado el chorro o que no esté en marcha.
                        </p>
                        <p class="card-text">
                            2.- Retirar el cabezal del brazo donde se encuntra sujeto, presionar los seguros del cabezal y extraer la tapa.
                        </p>
                        <p class="card-text">
                            3.- Preparar el líquido de limpieza (WASH), un recipiente seco y fanela.<br>
                            <small>La franela es para secar el líquido que se derrame al usar el WASH</small>
                        </p>
                        <p class="card-text">
                            4.- Tener sujeto el cabezal de forma inclinada horizontalmente sobre el recipiente seco para proceder a la limpieza.
                        </p>
                        <p class="card-text">
                            5.- Esparcir el WASH sobre la parte interna del cabezal de manera uniforme y cudadosa teniendo en mayor énfasis en las placas de carga de tensión, electrodo de carga y orificio de salida de tinta.
                        </p>
                        <p class="card-text">
                            6.- Una vez se encuntre libre de tinta dejar secar el cabezal descubierto a tempratura ambiente durante 3 minutos aproximadamente.
                        </p>
                        <p class="card-text">
                            7.- Verificar que se encuntra libre de tinta, seco y libre de cualquier particula extraña de polvo o pelusa de lo contrario la máquina puede dar un error el iniciar su funcionamiento.
                        </p>
                        <p class="card-text">
                            8.- Colocar el cabezal de nuevo en el brazo sujetador y presinar hasta escuchar un 'click' del seguro del cabezal.
                        </p>
                        <p class="card-text">
                            9.- Ajustar el brazo a la posición necesaria y activar el chorro para comprobar que todo esta en correcto funcionamiento.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-tools"></i> Instructivo de limpieza de filtros
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive">
                <div class="card" style="width: 28rem;">
                    <!--img src="..." class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Pasos para limpieza de filtros</h5>
                        <p class="card-text">
                            1.- Apagar el Equipo
                        </p>
                        <p class="card-text">
                            2.- Extraer el filtro de aire
                        </p>
                        <p class="card-text">
                            3.- Usar el soplete de aire y limpiar el filtro fuera del área de acondicionamiento de productos.
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </ul>
</div>


<div class="row">

    {% regroup m_preventivos by equipo as m_preventivos_list %}
    {% for equipo in m_preventivos_list %}
    <h5 class="m-2"><strong>{{equipo.grouper}}</strong></h5>

    {% for i in equipo.list %}
    <div class="col-xl-4 col-md-6"> 
        <div class="card border-primary mb-3">
            <div class="card-body text-primary">
            <h3 class="card-title text-center">
                <i class="bi bi-tools"></i>
                {{i.actividad}}           
            </h3>
            <h5 class="text-center">
                Realizar: {{i.programado|date:'l d - F'}}
            </h5>
            <h5 class="text-center">
                Responsable: {{i.responsable}}
            </h5>
            <!--p class="card-text">
                <i class="bi bi-file-text"></i>
            </p-->
            </div>
            <div class="card-footer bg-transparent border-primary">
                <a class="btn btn-primary" href="{% url 'realizar_mpreventivo' i.id %}">
                    Ingresar <i class="bi bi-box-arrow-in-up-right"></i>
                </a>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endfor %}
</div>

<script>
  $(document).ready(function() {
      $("#inputbuscar").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#pedidosbuscar tr").filter(function() {
              $(this).toggle($(this).text()
              .toLowerCase().indexOf(value) > -1)
          });
      });
  });
</script>

{% endblock %}