{%extends 'base.html' %}

{% block title %}
<title>Mttos Preventivos</title>
{% endblock%}

{% block navbar %}
{% include 'mantenimiento/topnavbar.html' %}
{% endblock %}

{% block body %}

<h3 class="text-center m-3">
  <strong>LISTADO DE MANTENIMIENTOS PREVENTIVOS POR REALIZAR</strong>
</h3>

<h3 class="text-center m-3">
    <strong>{% now "F Y" %}</strong>
</h3>

<!--a class="btn btn-primary mb-2" href="{#% url 'mantenimientos_new' %#}">
  <i class="bi bi-plus-circle"></i> Mantenimiento Preventivo
</a>

<div class="col-4 mb-2">
  <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div-->


<div class="row">

    {% regroup m_preventivos by equipo as m_preventivos_list %}
    {% for equipo in m_preventivos_list %}
    <h5 class="m-2"><strong>{{equipo.grouper}}</strong></h5>

    {% for i in equipo.list %}
    <div class="col-xl-4 col-md-6"> 
        <div class="card border-primary mb-3">
            <div class="card-body text-primary">
            <h3 class="card-title text-center">
                <i class="bi bi-tools"></i>
                {{i.actividad}}           
            </h3>
            <h5 class="text-center">
                Realizar: {{i.programado|date:'l d - F'}}
            </h5>
            <h5 class="text-center">
                Responsable: {{i.responsable}}
            </h5>
            <!--p class="card-text">
                <i class="bi bi-file-text"></i>
            </p-->
            </div>
            <div class="card-footer bg-transparent border-primary">
                <a class="btn btn-primary" href="{% url 'realizar_mpreventivo' i.id %}">
                    Ingresar <i class="bi bi-box-arrow-in-up-right"></i>
                </a>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endfor %}
</div>

<script>
  $(document).ready(function() {
      $("#inputbuscar").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#pedidosbuscar tr").filter(function() {
              $(this).toggle($(this).text()
              .toLowerCase().indexOf(value) > -1)
          });
      });
  });
</script>

{% endblock %}