{%extends 'base_vue.html' %}

{% block title %}
<title>Transferencia</title>
{% endblock%}

{% block navbar %}
{% include 'inventario/topnavbar.html' %}
{% endblock %}

{% block body_2 %}

<div id="app">

    <h5 class="m-4 text-center fw-bold">INVENTARIO TRANSFERENCIA</h5>
    <div class="card">
        <div class="card-header">STOCK PARA TRANSFERENCIA</div>
        <div class="card-body">
            
            <div class="row g-3 align-items-center">
                <div class="col-4">
                    <div class="d-flex align-items-center">
                        <label class="fw-bold">Código:</label>
                        <!--div class="col-auto"-->
                        <select :value="filtro" @change="onSelectChange" class="form-select form-select-sm">
                            <option value="">Todos</option>
                            {% verbatim %}
                            <option v-for="producto in product_list" :key="producto" :value="producto">
                            {{ producto }}
                            </option>
                            {% endverbatim %}
                        </select>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <table class="ms-4 ps-4">
                            <tbody>
                                <tr>
                                    <td>
                                        <select v-model="camion">
                                            <option value="7.50">PDV4064</option>
                                            <option value="8.00">PDN4216</option>
                                            <option value="12.00">PFB1191</option>
                                            <option value="4.01">PQU0171</option>
                                            <option value="3.26">PCI4409</option>
                                            <option value="3.54">PBK9166</option>
                                        </select>
                                        <i class="bi bi-truck"></i>
                                    </td>
                                    <td class="pe-6 ps-4 bordered">
                                        <span v-if="camion">{% verbatim %} {{ camion }} {% endverbatim %} m³</span>
                                        <span v-else>0.000 m³</span>
                                    </td>
                                    <td class="pe-6 ps-4 bordered">
                                        <span :class="totales.vol_unitario > camion ? 'text-danger fw-bold' : 'text-success fw-bold'">
                                            {% verbatim %} {{ totales.vol_unitario.toFixed(3) }} m³ {% endverbatim %}
                                        </span>
                                    </td>
                                    <td class="pe-6 ps-4">
                                        {% verbatim %} {{cantidadProductosUnicos}} {% endverbatim %}
                                    </td>
                                    <td class="pe-6 ps-4">
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        TRANSF
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- TABLA -->
            <div class="table-responsive mt-2">
                <div style="max-height: 60vh; overflow-y: auto;">
                    <table class="table table-bordered" style="font-size: small;">
                        <thead class="table-light" style="position: sticky; top: 0; z-index: 2;">
                            <tr class="text-smaller">
                                <th><span style="white-space: nowrap;">Código</span></th>
                                <th><span style="white-space: nowrap;">Nombre</span></th>
                                <th> <span style="white-space: nowrap;">Marca</span></th>
                                <th><span style="white-space: nowrap;">Lote</span></th>
                                <th><span style="white-space: nowrap;">F.Cadu</span></th>
                                <th><span style="white-space: nowrap;">Bod</span></th>
                                <th><span style="white-space: nowrap;">BAN</span></th>
                                <th><span style="white-space: nowrap;">CUC</span></th>
                                <th style="background-color:#F6B690;"><span style="white-space: nowrap;">BAN-R</span></th>
                                <th style="background-color:#F6B690;"><span style="white-space: nowrap;">BCT-R</span></th>
                                <th style="background-color:#E1FFC9;"><span style="white-space: nowrap;">BCT</span></th>
                                <th style="background-color:#C9FFFD;"><span style="white-space: nowrap;">BCT-D</span></th>
                                <th><span style="white-space: nowrap;">TRANSF</span></th>
                                <th><span style="white-space: nowrap;">D.PROD</span></th>
                                <th><span style="white-space: nowrap;">TOTALES</span></th>
                                <th class="text-center"><span style="white-space: nowrap;">...</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% verbatim %}
                            <tr>
                                <td v-if="actualizandoStock" colspan="16" class="text-center fs-1">Cargando...</td>
                            </tr>
                            <tr v-for="(i, index) in stockFiltrado" :key="index" :style="i.totalUnidades > 0 ? 'background-color:#E5FFE9' : ''">
                                <td>{{i.product_id}}</td>
                                <td class="text-wraped" style="width:100px">{{i.Nombre}}</td>
                                <td>{{i.Marca}}</td>
                                <td>
                                    <i v-if="i.error_lote == true" class="bi bi-exclamation-triangle-fill" style="color:red"></i>
                                    {{i.lote_id}}
                                </td>
                                <td>{{i.fecha_caducidad}}</td>
                                <td>
                                    {{i.location}}
                                </td>
                                <td class="text-end">{{i.BAN.toLocaleString()}}</td>
                                <td class="text-end">{{i.CUC.toLocaleString()}}</td>
                                <td class="text-end" style="background-color:#F6B690;">{{i.BAN_R.toLocaleString()}}</td>
                                <td class="text-end" style="background-color:#F6B690;">{{i.BCT_R.toLocaleString()}}</td>
                                <td style="background-color:#E1FFC9;">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-start fw-bold">Unds:</span>
                                        <span class="fw-bold" v-if="i.BCT!=0">{{ i.BCT.toLocaleString() }}</span>
                                        <span class="fw-bold" v-else>0</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="text-start fw-bold">Sald:</span>
                                        <span v-if="i.BCT_S != null || i.BCT_S > 0">{{ i.BCT_S.toLocaleString() }}</span>
                                        <span v-else>S: 0</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="text-start fw-bold">Cart:</span>
                                        <span v-if="i.BCT_C != null || i.BCT_C > 0">{{ i.BCT_C.toLocaleString() }}</span>
                                        <span v-else>C: 0</span>
                                    </div>                                
                                </td>
                                <td style="background-color:#C9FFFD;">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-start fw-bold">Unds:</span>
                                        <span class="text-end fw-bold" v-if="i.BCT_D != 0">{{ i.BCT_D.toLocaleString() }}</span>
                                        <span class="fw-bold" class="text-end" v-else>0</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="text-start fw-bold">Sald:</span>
                                        <span v-if="i.BCT_D_S != null || i.BCT_D_S > 0">{{ i.BCT_D_S.toLocaleString() }}</span>
                                        <span class="fw-bold" v-else>0</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="text-start fw-bold">Cart:</span>
                                        <span v-if="i.BCT_D_C != null || i.BCT_D_C > 0">{{ i.BCT_D_C.toLocaleString() }}</span>
                                        <span class="fw-bold" v-else>0</span>
                                    </div>
                                </td>
                                <td class="text-end">                                
                                    <i v-if="i.totalUnidades == 0" class="bi bi-megaphone"></i>
                                    <div v-if="i.totalUnidades > 0">
                                        <i v-if="i.totalUnidades <= i.BCT_D" class="bi bi-box2-fill" style="color:green"></i>
                                        <i v-else-if="i.totalUnidades > i.BCT_D && i.totalUnidades <= i.BCT" class="bi bi-box2-fill" style="color:yellow"></i>
                                        <i v-else-if="i.totalUnidades > i.BCT" class="bi bi-box2-fill" style="color:red"></i>
                                        <span v-if="i.totalUnidades > i.BCT_D">{{ i.calculoReserva.toLocaleString() }}</span>
                                    </div>
                                    
                                    <div class="d-flex justify-content-between">
                                        <span class="text-start fw-bold">Sald:</span>
                                        <input 
                                            type="number" 
                                            v-model.number="i.inputSaldos" 
                                            min="1" 
                                            style="width:80px" 
                                            :disabled="i.bodega == 'BAN' || i.BCT == 0" 
                                            @blur="() => { addTransfer(i); limpiarTransferenciaCero(); }"
                                        />
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="text-start fw-bold">Cart:</span>
                                        <input 
                                            type="number" 
                                            v-model.number="i.inputCartones" 
                                            min="1" 
                                            style="width:80px" 
                                            :disabled="i.bodega == 'BAN' || i.BCT == 0" 
                                            @blur="() => { addTransfer(i); limpiarTransferenciaCero(); }"
                                        /> 
                                    </div>

                                </td>
                                <td class="text-end">
                                    <span>{{ i.Unidad_Empaque }} unds</span> <br>
                                    <span>{{ i.vol_m3.toFixed(3) }} m³</span> <br>
                                    <span>{{ i.Peso.toFixed(3) }} kg</span>
                                </td>
                                <td class="text-end">
                                    <span class="text-end fw-bold" style="background-color:#A9FF5E">{{ i.totalUnidades.toLocaleString() }} unds</span> <br>
                                    <span class="text-end">{{ i.vol_unitario.toFixed(3) }} m³</span> <br>
                                    <span class="text-end">{{ i.peso_unitario.toFixed(3) }} kg</span>
                                </td>
                                <td class="text-center">
                                    {{i.id}}
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button 
                                            v-if="i.detalle" 
                                            type="button" 
                                            name="detail" 
                                            class="btn btn-primary btn-sm"
                                            @click="showDetail(i.detalle, $event)"
                                            >
                                            ...
                                        </button>
                                        <button v-else type="button" name="detail" :value="i.detalle" class="btn btn-primary btn-sm disabled">...</button>
                                        <!--button 
                                            type="button"
                                            name="add_transf"
                                            :class="i.totalUnidades > 0 ? 'btn btn-sm btn-success' : 'btn btn-sm btn-success disabled'"
                                            @click="addTransfer(i)">
                                            <i class="bi bi-plus-circle"></i>
                                        </button-->
                                        <!--button type="button" name="delete_prod" value="{{i.id}}" class="btn btn-danger btn-sm {% if not i.id %} disabled {% endif %}"><i class="bi bi-trash-fill"></i></button--->
                                    </div>
                                </td>
                            </tr>
                            {% endverbatim %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle de Transferencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <table class="table table-bordered table-sm" style="font-size: small;">
                <thead class="table-light" style="position: sticky; top: 0; z-index: 2;">
                    <th><span style="white-space: nowrap;">Código</span></th>
                    <th><span style="white-space: nowrap;">Nombre</span></th>
                    <th><span style="white-space: nowrap;">Marca</span></th>
                    <th><span style="white-space: nowrap;">Lote</span></th>
                    <th><span style="white-space: nowrap;">F.Cadu</span></th>
                    <th><span style="white-space: nowrap;">Saldos</span></th>
                    <th><span style="white-space: nowrap;">Cartones</span></th>
                    <th><span style="white-space: nowrap;">T.Unidades</span></th>
                    <th><span style="white-space: nowrap;">Volumen</span></th>
                    <th><span style="white-space: nowrap;">Peso</span></th>
                </thead>
                <tbody>
                    {% verbatim %}
                    <tr v-if="transferencia.length === 0">
                    <td colspan="8" class="text-center fs-6 text-muted">No hay datos...</td>
                    </tr>
                    <tr v-for="(i, index) in transferencia" :key="index">
                    <td>{{ i.product_id }}</td>
                    <td style="width: 100px; word-break: break-word;">{{ i.Nombre }}</td>
                    <td>{{ i.Marca }}</td>
                    <td>{{ i.lote_id }}</td>
                    <td>{{ i.fecha_caducidad }}</td>
                    <td class="text-end">{{ Number(i.inputSaldos) || 0 }}</td>
                    <td class="text-end">{{ Number(i.inputCartones) || 0 }}</td>
                    <td class="text-end">{{ i.totalUnidades.toLocaleString() }}</td>
                    <td class="text-end">{{ i.vol_unitario.toFixed(3) }} m³</td>
                    <td class="text-end">{{ i.peso_unitario.toFixed(3) }} kg</td>
                    </tr>
                    <tr>
                        <td colspan="7"></td>
                        <td class="text-end">{{totales.totalUnidades.toLocaleString()}}</td>
                        <td class="text-end">{{totales.vol_unitario.toFixed(3) }} m³</td>
                        <td class="text-end">{{totales.peso_unitario.toFixed(3) }} kg</td>
                    <tr>
                    {% endverbatim %}

                </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
            </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            // FILTRO
            filtro:'',
            product_list:[],
            // STOCK
            actualizandoStock:false,
            stock:[],
            transferencia:[],
            camion:''
        },
        mounted() {
            this.getStock();
            this.initSelect2();
        },
        updated() {
            this.initSelect2(); // por si product_list cambia
        },
        computed:{
            stockFiltrado() {
                let resultadoFiltrado = this.stock
                    .map(i => {
                        // Inicializa campos si no existen
                        if (i.inputSaldos === undefined) {
                            // this.$set(i, 'inputSaldos', 0);
                            this.$set(i, 'inputSaldos');
                        }
                        if (i.inputCartones === undefined) {
                            // this.$set(i, 'inputCartones', 0);
                            this.$set(i, 'inputCartones');
                        }
                        // Calcular totalUnidades siempre que inputCartones o inputSaldos cambien
                        const inputCartones = Number(i.inputCartones) || 0;
                        const unidadEmpaque = Number(i.Unidad_Empaque) || 0;
                        const inputSaldos = Number(i.inputSaldos) || 0;
                        i.totalUnidades = (inputCartones * unidadEmpaque) + inputSaldos;
                        const totalUnidades = Number(i.totalUnidades) || 0;
                        const vol_m3 = Number(i.vol_m3) || 0.025;
                        const cartones = totalUnidades / Number(i.Unidad_Empaque);
                        i.vol_unitario = cartones * vol_m3
                        const peso = Number(i.Peso) || 0
                        i.peso_unitario = cartones * peso;
                        i.calculoReserva = (Number(i.BCT_D) - Number(i.totalUnidades))
                        return i;
                    })
                    .filter(i => {
                        if (!this.filtro) return true;
                        const productId = (i.product_id || '').toString().toLowerCase();
                        return productId === this.filtro.toLowerCase();
                    });
                return resultadoFiltrado;
            },
            totales() {
                const columnas = ['totalUnidades', 'vol_unitario', 'peso_unitario'];
                const resultado = {};
                columnas.forEach(key => {
                    resultado[key] = this.transferencia.reduce((acum, item) => {
                        const valor = Number(item[key]) || 0;
                        return acum + valor;
                    }, 0);
                });
                console.log(resultado);
                return resultado;
            },
            cantidadProductosUnicos() {
                const ids = new Set(this.transferencia.map(i => i.product_id));
                return ids.size;
            }
        },
        methods: {
            async getStock() {
                this.actualizandoStock = true;
                try {
                    const response = await fetch('/etiquetado/inventario_transferencia_data');
                    const data = await response.json();
                    // Actualizar datos
                    this.stock = data.data || [];
                    this.product_list = data.product_list || [];
                } catch (error) {
                    console.error(error);
                } finally {
                    this.actualizandoStock = false
                }
            },
            addTransfer(i) {
                this.transferencia = this.stock.filter(item => {
                const total = Number(item.totalUnidades) || 0;
                return total > 0;
                });
            },
            limpiarTransferenciaCero() {
                this.transferencia = this.transferencia.filter(item => {
                    const total = Number(item.totalUnidades) || 0;
                    return total > 0;
                });
            },
            onInputChange(i) {
                this.addTransfer(i);
                this.limpiarTransferenciaCero();
            },
            // totales() {
            //     const columnas = ['totalUnidades', 'vol_unitario', 'peso_unitario'];
            //     const resultado = {};
            //     columnas.forEach(key => {
            //         resultado[key] = this.transferencia.reduce((acum, item) => {
            //             const valor = Number(item[key]) || 0;
            //             return acum + valor;
            //         }, 0);
            //     });
            //     console.log(resultado);
            //     return resultado;
            // },
            showDetail(detalle, event) {
                this.detalleActual = detalle;
                // Encuentra el botón presionado
                const button = event.currentTarget;
                // Si ya existe el popover, destrúyelo
                if (this._popoverInstance) {
                    this._popoverInstance.dispose();
                }
                // Verifica si el string contiene el caracter '|'
                let rows;
                if (typeof detalle === 'string' && detalle.includes('|')) {
                    // detalle = detalle.replace(/"/g, '')
                    rows = detalle.split('|')
                } else {
                    rows = [detalle]
                }

                let tableHtml = `
                <table class="table table-sm mb-0" style="font-size:smaller">
                    <thead>
                        <th>Cliente</th>
                        <th>Contrato</th>
                        <th>Bodega</th>
                        <th>Unidades</th>
                    </thead>
                    <tbody>`;

                rows.forEach(row => {
                    let col = row.split('-');
                    tableHtml += '<tr>';
                    col.forEach(td => {
                        tableHtml += `<td>${td}</td>`;
                    });
                    tableHtml += '</tr>';
                });
                tableHtml += '</tbody></table>';
                console.log(tableHtml);
                this._popoverInstance = new bootstrap.Popover(button, {
                    content: `<div>${tableHtml}</div>`,
                    html: true,
                    placement: 'bottom',
                    trigger: 'manual',
                    sanitize: false
                });
                // Muestra el popover
                this._popoverInstance.show();
                
                // Guarda el botón activo
                this._activePopoverButton = button;

                // Agrega el listener para cerrar al hacer clic fuera
                this._handleOutsideClick = (e) => {
                    const isClickInside = this._activePopoverButton.contains(e.target) ||
                        document.querySelector('.popover')?.contains(e.target);

                    if (!isClickInside) {
                        this._popoverInstance?.dispose();
                        this._popoverInstance = null;
                        document.removeEventListener('click', this._handleOutsideClick);
                    }
                };

                // Agrega el listener con timeout para evitar que se dispare por el mismo clic
                setTimeout(() => {
                    document.addEventListener('click', this._handleOutsideClick);
                }, 0);
            },
            onSelectChange(event) {
                this.filtro = event.target.value;
            },
            initSelect2() {
                this.$nextTick(() => {
                    const vm = this;
                    $(".form-select").select2();

                    // sincroniza cuando cambia
                    $(".form-select").on("change", function (e) {
                        vm.filtro = e.target.value;
                    });

                    // actualiza visualmente el valor en Select2
                    $(".form-select").val(this.filtro).trigger("change.select2");
                });
            },
            colorDiferencia(diff) {
                if (diff != 0){
                    return '#F6B690'
                }
            },
        },
    })
</script>
{% endblock %}