{%extends 'base.html' %}

{% block title %}
<title>Etiquetado por pedido</title>
{% endblock%}

{% block navbar %}
{% include 'etiquetado/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">PEDIDO TEMPORAL {{pedido.enum}}</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<div class="row">
    <div class="col-6" id="print_area_cabecera">
        <h6><strong>N. Pedido: </strong> {{pedido.enum}}</h6>
        <h6><strong>Cliente: </strong> {{pedido.cliente}}</h6>
        <h6><strong>Ruc: </strong> {{pedido.ruc}}</h6>
        <h6><strong>Estado: </strong> {{pedido.estado}}</h6>
        <h6><strong>Fecha de creación: </strong> {{pedido.creado | date:"d-m-Y H:i"}}</h6>
        <h6><strong>Fecha de entrega: </strong> {{pedido.entrega | date:"d-m-Y H:i"}}</h6>
    </div>
    <div class="col-6" id="no_print">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-truck"></i> Lista de vehículos y sus dimensiones
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="card-body m-0 p-0">
                    <div class="container table-responsive">
                        {% include 'datos/vehiculos.html' %}
                    </div>
                </div>
            </ul>
        </div>
        <div class="float-end">
            <button class="btn btn-primary" id="print">
                <i class="bi bi-printer-fill"></i>
            </button>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-sm btn-primary" value="{{pedido.id}}" name="editar_pedido" data-bs-toggle="modal" data-bs-target="#editarPedido">
    Editar Pedido Temporal
</button>

{% if pedido.estado == 'PENDIENTE' %}
<button type="button" class="btn btn-sm btn-success" name="estado_pedido_temporal" value="{{pedido.id}}">CERRAR PEDIDO</button>
{% elif pedido.estado == 'CERRADO' %}
<button type="button" class="btn btn-sm btn-warning" name="estado_pedido_temporal" value="{{pedido.id}}">REGRESAR A PENDIENTE</button>
{% endif %}

<div class="card mt-2">
    <div class="card-body">
        <form action="{% url 'pedido_temporal' pedido.id %}" method="POST">
            {% csrf_token %}
            <div class="row g-2">                        
                <div class="col-12 col-md-8">
                    <label class="fw-bold">Item:</label>
                    <select class="form-select select2" id="id_product_id" name="product_id" required>
                        <option>-----------</option>
                        {% for i in productos %}
                        <option value="{{i.product_id}}">{{i.product_id}}-{{i.Nombre}}-{{i.Marca}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="ccol-8 col-md-3">
                    <label class="fw-bold">Unidades:</label>
                    <input name="cantidad" id="id_cantidad" class="form-control" type="number" required />
                </div>
                <div class="col-1 mb-2">
                    <label class="fw-bold text-white">Agregar:</label>
                    <button type="submit" class="btn btn-primary" id="button_agregar_producto">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card mt-2" id="print_costo_entrega">
    <div class="card-body m-2 p-2">
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="mb-1"><strong>Producto:</strong></label>
                <select name="producto" id="producto" class="form-select" value="{{productovalue}}">
                    <option>-----------</option>
                    <option value="CARGA COURIER" selected>CARGA COURIER</option>
                    <option value="CARGA LIVIANA">CARGA LIVIANA</option>
                    <option value="DOCUMENTOS">DOCUMENTOS</option>
                </select>
            </div>
            <div class="col-8 col-md-3">
                <label class="mb-1"><strong>Trayecto:</strong></label>
                <select name="trayecto" id="trayecto" class="form-select" value="{{trayectovalue}}">
                    <option>-----------</option>
                    <option value="PRINCIPAL" selected>PRINCIPAL</option>
                    <option value="SECUNDARIO">SECUNDARIO</option>
                    <option value="T.ESPECIAL">T.ESPECIAL</option>
                    <option value="URBANO">URBANO</option>
                    <option value="RURAL">RURAL</option>
                </select>
            </div>
            <div class="col-4 col-md-3 mt-4 pt-1">
                <button name="calcular" id="tramaco_button_id" type="submit" class="btn btn-success">
                    <i class="bi bi-currency-dollar"></i> Calcular 
                </button>
            </div>

            <div class="col-3 mt-4 pt-2 text-start">
                <div id="costo"></div>
            </div>
        </div>
    </div>
</div>

<div id="msg"></div>

<div id="print_area_table">
    <div class="card mb-4 mt-2">
        <div class="card-body m-0 p-0">
            <div class="table-responsive container"> 
                <table class="table" style="font-size: small;"> <!--  style="font-size: small;" -->
                    <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Cartones</th>
                        <!-- th scope="col">Stock {{bodega}}</th -->
                        <!--th scope="col">Stock {% if bodega == 'BAN' %} MBA {% elif bodega == 'BCT' %} WMS {% endif %}</th-->
                        <th scope="col">T.P. 1P (h:m:s)</th>
                        <th scope="col">T.P. 2P (h:m:s)</th>
                        <th scope="col">T.P. 3P (h:m:s)</th>
                        <th scope="col">Volumen (m<sup>3</sup>)</th>
                        <th scope="col">Peso (kg)</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                    {% if not productos_pedido.productos %}
                    <tr>
                        <td colspan="11" class="text-center fw-bold">Agregue productos al pedido temporal</td>
                    </tr>
                    {% else %}
                    {% for i in productos_pedido.productos %}
                    <tr>
                        <!--th scope="row">
                            <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" name='lotes'>{{i.PRODUCT_ID}}</button>
                            {% if i.unidades %}
                            <i class="bi bi-check-circle-fill" 
                                {% if i.QUANTITY == i.unidades or i.unidades > i.QUANTITY %}
                                style="color:green"
                                {% elif i.unidades < i.QUANTITY %}
                                style="color:yellow"
                                {% endif %}
                            ></i>
                            {% endif %}
                        </th-->
                        <td>{{i.PRODUCT_ID}}</td>
                        <td id="nombre" class="text-start">{{i.PRODUCT_NAME}}</td>
                        <td id="marca" class="text-start">{{i.Marca}}</td>
                        <td id="p_unds" class="text-end">{{i.QUANTITY|floatformat:"0g"}}</td>
                        <td class="text-end">{{i.Cartones|floatformat:"2g"}}</td>

                        <!--td class="text-end"
                            {% if not i.disp %} style="background-color: #F6B690;" {% endif %}>
                            {{i.stock_disp|floatformat:"0g"}}
                        </td-->

                        <td class="text-end" {% if i.t_una_p_hor == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.t_str_1p}}</td>
                        <td class="text-end" {% if i.t_dos_p_hor == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.t_str_2p}}</td>
                        <td class="text-end" {% if i.t_tre_p_hor == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.t_str_3p}}</td>

                        <td class="text-end" {% if i.vol_total == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.vol_total|floatformat:'4g'}}</td>
                        <td class="text-end" {% if i.pes_total == 0 %} style="background-color:#ffffcf" {% endif %}>{{i.pes_total|floatformat:'4g'}}</td>
                        
                        <td class="text-end">
                            <div class="btn-group" role="group">
                                <button class="btn btn-sm btn-secondary" name="editar_producto" id="{{i.id_product_temporal}}" data-bs-toggle="modal" data-bs-target="#editarProducto">
                                    <i class="bi bi-pencil"></i>    
                                </button>
                                <button class="btn btn-sm btn-danger" name="elliminar_producto" id="{{i.id_product_temporal}}">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <th scope="row"></th>
                        <td class="text-start"></td>
                        <td class="text-start"></td>
                        <td class="text-end">{{productos_pedido.t_unidades|floatformat:"0g"}}</td>
                        <td class="text-end">{{productos_pedido.t_cartones|floatformat:"2g"}}</td>
                        <!--td class="text-end">-</td-->

                        <td class="text-end">{{productos_pedido.tt_str_1p}}</td>
                        <td class="text-end">{{productos_pedido.tt_str_2p}}</td>
                        <td class="text-end">{{productos_pedido.tt_str_3p}}</td>

                        <td class="text-end">{{productos_pedido.t_total_vol|floatformat:'2g'}}</td>
                        <td class="text-end">{{productos_pedido.t_total_pes|floatformat:'2g'}}</td>

                        <td class="text-end">-</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>

<input id="peso_total" type="hidden" value="{{productos_pedido.t_total_pes}}">
<input id="p_cero" type="hidden" value="{{productos_pedido.p_cero}}">


<!-- Modal Editar Pedido -->
<div class="modal fade" id="editarPedido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarPedido" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="editarPedido">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-0 pb-0">
                <div id="error_modal"></div>
                <form action="{% url 'editar_pedido_temporal' %}" method="POST" id="pedido-temporal-form">
                    {% csrf_token %}
                    <input type="hidden" name="usuario" value="{{request.user.id}}" >
                    <input type="hidden" name="estado" value="{{pedido.estado}}">
                    <div class="row g-2">
                        <!-- Código -->
                        <div class="col-4">
                            Cliente:
                        </div>
                        <div class="col-8">
                            <select class="form-select select2" id="id_cliente" name="cliente" required>
                                <option>-----------</option>
                                {% for i in clientes %}
                                <option value="{{i.NOMBRE_CLIENTE}}">{{i.NOMBRE_CLIENTE}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-4">
                            RUC:
                        </div>
                        <div class="col-8">
                            <input name="ruc" id="id_ruc" class="form-control" type="text" required />
                        </div>

                        <div class="col-4">
                            Fecha de entrega:
                        </div>
                        <div class="col-8 mb-4">
                            <input name="entrega" id="id_entrega" class="form-control" type="datetime-local" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="pedido-temporal-form" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Editar Producto -->
<div class="modal fade" id="editarProducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarProducto" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="editarProducto">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-0 pb-0">
                <div id="error_modal"></div>
                <form action="{% url 'editar_producto_pedido_temporal' %}" method="POST" id="producto-temporal-form">
                    {% csrf_token %}
                    <!--input type="hidden" name="usuario" value="{{request.user}}"-->
                    <div class="row g-2 mb-4">                        
                        <div class="col-8">
                            <label class="fw-bold">Item:</label>
                            <select class="form-select select2" id="id_product_id_temporal" name="product_id" required>
                                <option>-----------</option>
                                {% for i in productos %}
                                <option value="{{i.product_id}}">{{i.product_id}}-{{i.Nombre}}-{{i.Marca}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="fw-bold">Unidades:</label>
                            <input name="cantidad" id="id_cantidad_temporal" class="form-control" type="number" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="producto-temporal-form" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<!-- Select2 -->
<script>
    $(document).ready(function() {
        $(".select2").select2();

        $("#editarProducto").on("show.bs.modal", function() {
            $(".select2").select2({
                dropdownParent: $("#editarProducto")
            });
        });

        $("#editarPedido").on("show.bs.modal", function() {
            $(".select2").select2({
                dropdownParent: $("#editarPedido")
            });
        })
    });
</script>

<!-- Tramaco function ajax -->
<script>
    $("button[name='calcular']").click(function(){
        var producto = $("#producto").val();
        var trayecto = $("#trayecto").val();
        var peso_total = $("#peso_total").val();
        var p_cero = $("#p_cero").val();

        $.ajax({
            type:"POST",
            url:"{% url 'tramaco_function_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'producto':producto,
                'trayecto':trayecto,
                'peso_total':peso_total,
                'p_cero':p_cero
            },

            success: function(response) {
                $('#costo').html(`
                    <span class="fw-bold mt-4">Costo Tramaco:</span> <span>$ ${response}</span>
                `);

                if (p_cero=='True') {
                    console.log('hay cero en los pesos')
                    $('#msg').html(`
                    <div class="text-center alert alert-danger mt-3" role="alert"> 
                        Alerta!! Existen items sin peso, por favor complete la información
                    </div>`)
                } else if (response==0) {
                    $('#msg').html(`
                    <div class="text-center alert alert-danger mt-3" role="alert"> 
                        El peso total es igual a 0 no se puede para realizar el calculo
                    </div>`)
                }

            },

            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger mt-2" role="alert"> Error intenta nuevamente !!! </div>')
                setTimeout(function(){
                    window.location.reload();
                }, 4000)
            }
        })
    })

</script>

<!-- Eliminar Producto -->
<script>
    $('button[name="elliminar_producto"]').click(function() {
        var button = $(this);
        var prod_id = button.attr('id');
        
        $.ajax({
            type:"POST",
            url: "{% url 'eliminar_producto_pedido_temporal' %}",
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'id_producto_temporal': prod_id 
            },
            success: function() {
                button.closest('tr').remove();
            }
        })
    })
</script>

<!-- Editar Producto -->
<script>
    $('button[name="editar_producto"]').click(function() {
        
        var prod_id = $(this).attr('id');
        
        $.ajax({
            type:"GET",
            url: "{% url 'editar_producto_pedido_temporal' %}",
            data: {
                'id_producto_temporal': prod_id 
            },
            success: function(response) {
                $('#id_product_id_temporal').val(response.product_id);
                $('#id_product_id_temporal').val(response.product_id).trigger('change');
                $('#id_cantidad_temporal').val(response.cantidad);
                $('#id_cantidad_temporal').after(
                    `<input type="hidden" name="id_producto_temporal" value="${prod_id}">`
                )
            }
        })
    })
</script>


<!-- Editar Estado -->
<script>
    $('button[name="estado_pedido_temporal"]').click(function() {
        
        var pedido_id = $(this).val();
        var estado = $(this).text();
        
        $.ajax({
            type:"POST",
            url: "{% url 'editar_estado_pedido_temporal' %}",
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'pedido_id': pedido_id,
                'estado': estado
            },
            success: function() {
                window.location.reload();
            }
        })
    })
</script>

<!-- Editar Pedido -->
<script>
    $('button[name="editar_pedido"]').click(function() {
            
            var pedido_id = $(this).val();
            
            $.ajax({
                type:"GET",
                url: "{% url 'editar_pedido_temporal' %}",
                data: {
                    'pedido_id': pedido_id 
                },
                success: function(response) {
                    $('#id_cliente').val(response.cliente);
                    $('#id_cliente').val(response.cliente).trigger('change');
                    $('#id_ruc').val(response.ruc);
                    $('#id_entrega').val(response.entrega);
                    $('#id_entrega').after(
                        `<input type="hidden" name="pedido_id" value="${pedido_id}">`
                    )
                }
            })
        });
        
</script>


<!-- Imprimir -->
<script>
    $("#print").click(function() {
        
        w=window.open();
        w.document.write($('#print_area_cabecera').html());
        w.document.write($('#print_costo_entrega').html());
        // w.document.write($('#costo').html());
        w.document.write($('#print_area_table').html());
        w.print();
        w.close();
        
    })
</script>










<script>
    $("#id_cliente").on('change', function() {
        var cliente_name = $("#id_cliente").val();
        console.log(cliente_name);
        $.ajax({
            type:"POST",
            url: "{% url 'get_ruc_by_name_client_ajax' %}",
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'cliente_name': cliente_name 
            },
            success: function(data) {
                $("#id_ruc").val(data.ruc);
                $("#id_codigo_cliente").val(data.codigo_cliente);
                if (data.error) {
                    $("#error_modal").html(
                        `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                        ${data.error}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`
                    )
                }
            }
        })
    })
</script>
{% endblock %}