{%extends 'base.html' %}

{% block title %}
<title>Inventario</title>
{% endblock%}

{% block navbar %}
{% include 'inventario/topnavbar.html' %} 
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>TOMA FISICA DE INVENTARIO {{instancia.ware_code}} - {{instancia.location}}</strong></h5>
<!--h6 class="m-4 text-end"><strong>Actulizado: </strong>{{time_reservas|slice:':-7'}}</h6-->

<!--div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div-->


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container">
            <!--h3 class="text-center mt-2"> Item </h3>
            <strong>Código:</strong> {{instancia.product_id}}<br>
            <strong>Nombre:</strong> {{instancia.product_name}}<br>
            <strong>Marca:</strong> {{instancia.group_code}}<br>
            <strong>Unidad de Venta:</strong> {{instancia.um}}<br>
            <label style="background-color: #f5fa8d;">
                <strong>Lote:</strong> {{instancia.lote_id}}<br>
            </label><br>
            <strong>Fecha Elaboración:</strong> {{instancia.fecha_elab_lote|date:'Y-m-d'}}<br>
            <strong>Fecha Caducidad:</strong> {{instancia.fecha_cadu_lote|date:'Y-m-d'}}<br-->
            <br>
            <div class="container mb-4">

                <form method="POST">
                    {% csrf_token %}
                    
                    <!-- Form Totales -->
                    
                    {% if productos_total %}
                    <section style="background-color:  #e5f9fd ;" class="p-2">
                    <h5><strong>Total de unidades</strong></h5>
                    <label><strong>Item:</strong>{{instancia.product_id}} - {{instancia.product_name}} - {{instancia.group_code}}</label><br>
                    {% for i in productos_total %}
                        <label><strong>Bodega:</strong> {{i.ware_code_t}}</label> <br>
                        <label><strong>Ubicación:</strong> {{i.location_t}} </label> <br>
                        <label><strong>Unidades por cartón:</strong> {{i.unidades_caja_t|floatformat:"0g"}} </label> <br>
                        <label><strong>Número de cajas:</strong> {{i.numero_cajas_t|floatformat:"0g"}} </label> <br>
                        <label><strong>Unidades sueltas:</strong> {{i.unidades_sueltas_t|floatformat:"0g"}} </label> <br>
                        <label><strong>Total de unidades: </strong> {{i.total_unidades_t|floatformat:"0g"}}</label> <br>
                        
                        <table style="background-color: #f8fbfb;" class="p-2">
                            <tr>
                                <th>Lote(s)</th>
                                <th>Unidades</th>
                            </tr>
                            {% for i in inventario_lotes %}
                            <tr >
                                <td>{{i.lote_id}}</td>
                                <td style="text-align:right;">{{i.total_unidades|floatformat:"0g"}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th>Total:</th>
                                <td style="text-align:right;">{{t_lotes|floatformat:"0g"}}</td>
                            </tr>
                            <tr {% if diferencia != 0 %} style="background-color: #fad2d0;" {% else %} style="background-color: #e0fad0 ;" {% endif %}>
                                <th>Diferencia</th>
                                <td style="text-align:right;">{{diferencia|floatformat:"0g"}}</td>
                            </tr>
                        </table>
                    </section>
                        <a class="btn btn-primary mt-2" href="{% url 'inventario_total_update_form' i.id %}">
                            <i class="bi bi-pencil"></i> Editar totales
                        </a>
                    
                    {% endfor %}

                    {% else %}
                    <section style="background-color:  #e5f9fd;" class="p-4">
                        <h5 class="text-center"><strong>Conteo total de unidades</strong></h5>
                        <label><strong>Item:</strong> {{instancia.product_id}}</label><br>
                        <label><strong>Nombre:</strong> {{instancia.product_name}}</label><br>
                        <label><strong>Marca:</strong> {{instancia.group_code}}</label><br><br>
                        <input type="hidden" name="product_id_t" value="{{instancia.product_id}}">
                        <input type="hidden" name="ware_code_t" value="{{bodega}}">
                        <input type="hidden" name="location_t" value="{{ubicacion}}">

                        <label>Unidades por cartón:</label>
                        <input class="form-control" type="number" id="uc_t" name="unidades_caja_t" value="{{inventario_totales.unidades_caja_t.value}}" required><br>
                        <label>Número de cartones totales:</label>
                        <input class="form-control" type="number" id="nc_t" name="numero_cajas_t" value="{{inventario_totales.numero_cajas_t.value}}" required><br>
                        <label>Unidades sueltas totales:</label>
                        <input class="form-control" type="number" id="us_t" name="unidades_sueltas_t" value="{{inventario_totales.unidades_sueltas_t.value}}" required>
                        Total Unidades: <label id="total_t"></label>
                    </section>

                    {% endif %}

                    <!-- Encabezado -->
                    <h5 class="text-center mt-2"><strong>Conteo por lote</strong></h5>
                    <strong>Código:</strong> {{instancia.product_id}}<br>
                    <strong>Nombre:</strong> {{instancia.product_name}}<br>
                    <strong>Marca:</strong> {{instancia.group_code}}<br>
                    <strong>Unidad de Venta:</strong> {{instancia.um}}<br>
                    <label style="background-color: #f5fa8d;">
                        <strong>Lote:</strong> {{instancia.lote_id}}<br>
                    </label><br>
                    <strong>Fecha Elaboración:</strong> {{instancia.fecha_elab_lote|date:'Y-m-d'}}<br>
                    <strong>Fecha Caducidad:</strong> {{instancia.fecha_cadu_lote|date:'Y-m-d'}}<br>


                    <!-- Form Update-->
                    <!--h3 class="text-center"> Ingresar conteo físico </h3-->
                    <br>

                    <input type="hidden" name="user" value="{{request.user.id}}">

                    <label>Unidades por cartón:</label>
                    <input class="form-control" type="number" id="uc" name="unidades_caja" placeholder="Unidades Por Caja" value="{{form.unidades_caja.value}}" required><br>
                    
                    <label>Número de cartones:</label>
                    <input class="form-control" type="number" id="nc" name="numero_cajas" placeholder="Número De Cartones" value="{{form.numero_cajas.value}}" required><br>
                    
                    <label>Unidades sueltas:</label>
                    <input class="form-control" type="number" id="us" name="unidades_sueltas" placeholder="Unidades Sueltas" value="{{form.unidades_sueltas.value}}" required>
                    
                    Total Unidades: <label id="total"></label> <br> <br>

                    <label>Observaciones:</label>
                    <textarea class="form-control" name="observaciones" cols="30" rows="10" placeholder="Observaciones">{{form.observaciones.value}}</textarea>
                    
                    <!-- Control -->
                    <input type="hidden" name="llenado" value="True">

                    <button type="submit" class="btn btn-success mt-2">
                        <i class="bi bi-box-seam"></i> Guardar
                    </button>
                    
                </form>

            </div>
        </div>
    </div>
</div>

{% if productos_total %}

<script>
    $("input").on("input", function(){
        $("#total").text(totales());
    });
    
    $("#total").text(totales());
    
    function totales() {
    
        var uc_input = document.getElementById("uc").value;
        var nc_input = document.getElementById("nc").value;
        var us_input = document.getElementById("us").value;
        uc = Number(uc_input);
        nc = Number(nc_input);
        us = Number(us_input);
        var total_unds = ((uc * nc) + us);
        var total_unds_f = Intl.NumberFormat().format(total_unds);
        document.getElementById("total").innerHTML = total_unds_f;
        return total_unds_f;
    }
    
</script>

{% else %}
<script>
    $("input").on("input", function(){
        $("#total_t").text(totales_t());
    });
    
    $("#total_t").text(totales_t());
    
    function totales_t() {
    
        var uc_input = document.getElementById("uc_t").value;
        var nc_input = document.getElementById("nc_t").value;
        var us_input = document.getElementById("us_t").value;
        uc = Number(uc_input);
        nc = Number(nc_input);
        us = Number(us_input);
        var total_unds = ((uc * nc) + us);
        var total_unds_f = Intl.NumberFormat().format(total_unds);
        document.getElementById("total_t").innerHTML = total_unds_f;
        return total_unds_f;
    }    
</script>

<script>
    $("input").on("input", function(){
        $("#total").text(totales());
    });
    
    $("#total").text(totales());
    
    function totales() {
    
        var uc_input = document.getElementById("uc").value;
        var nc_input = document.getElementById("nc").value;
        var us_input = document.getElementById("us").value;
        uc = Number(uc_input);
        nc = Number(nc_input);
        us = Number(us_input);
        var total_unds = ((uc * nc) + us);
        var total_unds_f = Intl.NumberFormat().format(total_unds);
        document.getElementById("total").innerHTML = total_unds_f;
        return total_unds_f;
    }
    
</script>
{% endif %}
{% endblock %}