<!-- Top nav bar etiquetado -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'inicio' %}">Gimpromed Cía. Ltda.</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <!--span class="navbar-toggler-icon"></span--><i class="bi bi-list"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Inventario Andagoya 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'inventario_andagoya_reportes' %}">Reporte Andagoya</a></li>
            <li><a class="dropdown-item" href="{% url 'inventario_andagoya_home' %}">Lista de bodegas</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Inventario Cerezos 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{#% url 'inventario_andagoya_reportes' %#}">Reporte Cerezos</a></li>
            <li><a class="dropdown-item" href="{#% url 'inventario_andagoya_home' %#}">Lista de bodegas</a></li>
          </ul>
        </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Arqueos 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'arqueos_list' %}">Listado de arqueos creados</a></li>
              <li><a class="dropdown-item" href="{% url 'arqueos_list_bodega' 'BAN' %}">TF Andagoya</a></li>
              <li><a class="dropdown-item" href="{% url 'arqueos_list_bodega' 'BCT' %}">TF Cerezos</a></li>
              <li><a class="dropdown-item" href="{% url 'arqueos_list_bodega' 'CUA' %}">TF Cuarentena Andagoya</a></li>
              <li><a class="dropdown-item" href="{% url 'arqueos_list_bodega' 'CUC' %}">TF Cuarentena Cerezos</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'trazabilidad' %}">
              Trazabilidad
            </a>
          </li>
      </ul>
    </div>
    <a class="navbar-brand" href="{% url 'logout' %}">
      {{request.user}} <i class="bi bi-box-arrow-right"></i>
    </a>
  </div>
</nav>