{%extends 'base.html' %}

{% block title %}
<title>Liberacion</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
    .btn.btn-warning.btn-sm.active {
    background-color: blue;}

    .mensaje-temporal {
        display: none;
        position: absolute;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }

    #msg_ss {
        display: none;
        position: fixed; /* Cambiado a fixed para que sea relativo a la ventana */
        /*bottom: 10px; */ /* Distancia desde la parte inferior */
        top:40%;
        right: 10px; /* Distancia desde la derecha */
        /*background-color: #4CAF50;*/
        color: white;
        padding: 10px;
        border-radius: 5px;
        width:auto;
        z-index: 3;
        }
</style>

<h5 class="mt-2 text-center fw-bold mt-4">LIBERACIÓN {{n_liberacion}}</h5>


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<div id="msg"></div>
<div id="msg_ss"></div>

<label class="fw-bold">Tipo:</label><span id='tipo'>{% if tipo == 'Liberación Acondicionamiento' %}Liberación Impresión{% else %} {{tipo}} {% endif %}</span><br>

<form method='POST'>
    {% csrf_token %}
    <button class="btn btn-primary mt-2 mb-2 {% if estado == 'Liberado' %} disabled {% endif %}" type="submit">
        Confirmar liberación
    </button>
</form>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small" >
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Lote</th>
                        <th scope="col">F.Expiración</th>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Unidades Ajuste</th>
                        <th scope="col">Unidades WMS</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in ajuste %}
                    <tr>
                        <td>{{i.product_id}}</td>
                        <td>{{i.Nombre}}</td>
                        <td>{{i.Marca}}</td>
                        <td>{{i.lote_id}}</td>
                        <td>{{i.fecha_caducidad}}</td>
                        <td>{{i.bodega}}-{{i.pasillo}}-{{i.modulo}}-{{i.nivel}}</td>
                        <td>
                            {% if i.estado == 'Liberado' %}
                            <a class="btn btn-success btn-sm disabled">{{i.estado}}</a>
                            {% else %}
                            <a class="btn btn-warning btn-sm disabled">{{i.estado}}</a>
                            {% endif %}
                        </td>
                        <td class="text-end">{{i.egreso_temp|floatformat:"0g"}}</td>
                        <td class="text-end">{{i.unidades_cuc|floatformat:"0g"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--script>

    $("button[name='liberacion']").click(function(){
        var n_liberacion = $("#n_liberacion").val();
        var tipo         = $("#id_tipo_liberacion option:selected").val()
        console.log(n_liberacion, tipo);

        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_ajuste_liberacion_input_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'tipo':tipo,
                'n_liberacion':n_liberacion,
            },

            success: function(response) {
                $('#msg').html(`<div class="text-center alert alert-${response.msg.tipo}" role="alert"> ${response.msg.texto} !!! </div>`);
                setTimeout(function(){
                    window.location.reload();
                }, 4000)

            },
            
            error: function() {
                $('#msg').fadeIn().html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>').fadeOut(6000)
            }
            
        })
    })
</script-->

{% endblock %}