{%extends 'base.html' %}

{% block title %}
<title>Productos en despacho</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 text-center fw-bold">FACTURA ANULADA {{factura.n_factura}}</h5>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <div class="alert text-center alert-success" role="alert">
                {{message}}
            </div>
            {% elif message.tags == 'error'%}
            <div class="alert text-center alert-danger" role="alert">
                {{message}}
            </div>
        {%endif%}
    {% endfor %}
{% endif %}


<div class="card mb-2">
    <div class="card-body mt-2 mb-2 p-0">
        <div class="container table-responsive">
            <label class="fw-bold">Cliente:</label> {{factura.cliente}}<br>
            <label class="fw-bold"># Factura:</label> <span id="n_factura">{{factura.n_factura}}</span><br>
            <label class="fw-bold"># Picking:</label> {{factura.n_picking}}<br>
            <label class="fw-bold">Estado:</label> {{factura.estado | upper}}<br>
            <label class="fw-bold">Fecha:</label> {{factura.actualizado}}<br>
            <label class="fw-bold">Usuario:</label> {{factura.usuario.first_name}} {{factura.usuario.last_name}}<br>
            <label class="fw-bold">Motivo:</label><br>
            <p>
                {{factura.motivo}}
            </p>
        </div>
    </div>
</div>

<div id="msg"></div>


<h6 class="text-start fw-bold mt-4">Lista de productos de factura anulada</h6>
<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Lote</th>
                        <th scope="col">F.Exp</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Usuario Picking</th>
                        <th scope="col">Unidades</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in anulados %}
                    <tr>
                        <td>{{i.product_id}}</td>
                        <td>{{i.Nombre}}</td>
                        <td>{{i.Marca}}</td>
                        <td>{{i.lote_id}}</td>
                        <td>{{i.fecha_caducidad}}</td>
                        <td>{{i.estado_picking}}</td>
                        <td>{{i.usuario__first_name}} {{i.usuario__last_name}}</td>
                        <td class="text-end">{{i.unidades | floatformat:"0g"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<h6 class="text-start fw-bold mt-4">Lista de productos ingresados</h6>
<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Lote</th>
                        <th scope="col">F.Exp</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Usuario Picking</th>
                        <th scope="col">Unidades</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% if not ingresados %}
                    <tr>
                        <td colspan="8" class="text-center bg-warning">No hay productos ingresados</td>
                    </tr>
                    {% else %}
                    {% for i in ingresados %}
                    <tr>
                        <td>{{i.product_id}}</td>
                        <td>{{i.Nombre}}</td>
                        <td>{{i.Marca}}</td>
                        <td>{{i.lote_id}}</td>
                        <td>{{i.fecha_caducidad}}</td>
                        <td>{{i.estado_picking}}</td>
                        <td>{{i.usuario__first_name}} {{i.usuario__last_name}}</td>
                        <td class="text-end">{{i.unidades | floatformat:"0g"}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<button class="btn btn-primary mb-4" name="agregar-factura" data-bs-toggle="modal" data-bs-target="#anularFactura">
    Anular Factura
</button>


<!-- Modal -->
<div class="modal fade" id="anularFactura" tabindex="-1" aria-labelledby="anularFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="anularFacturaLabel">¿Está seguro de anular la factura?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" name="modal-close"></button>
            </div>
            <div class="modal-body">
                
                <div id="msg_factura"></div>

                <label class="fw-bold">Cliente:</label> {{factura.cliente}}<br>
                <label class="fw-bold"># Factura:</label> {{factura.n_factura}}<br>
                <label class="fw-bold"># Picking:</label> {{factura.n_picking}}<br>
                <label class="fw-bold">Estado:</label> {{factura.estado | upper}}<br>
                <label class="fw-bold">Fecha:</label> {{factura.actualizado}}<br>
                <label class="fw-bold">Motivo:</label><br>
                <p>
                    {{factura.motivo}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" name="anular_factura" class="btn btn-success {% if factura.estado == 'Anulado' %} disabled {% endif %} ">Si</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<script>

    $("button[name='anular_factura']").click(function(){
        var n_factura = $("#n_factura").text();
        
        $.ajax({
            type:"POST",
            url:"{% url 'anulacion_factura_movimientos_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'n_factura':n_factura,
            },
            success: function(response) {
                $('#msg_factura').html(`<div class="text-center alert alert-${response.tipo}" role="alert"> ${response.msg} !!! </div>`);
                setTimeout(function() {
                    location.reload(true);
                }, 3000);
            },
            error: function() {
                $('#msg_factura').html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>')
            }
            
        })
    })
</script>


{% endblock %}