{% extends 'base.html' %}

{% block title %}
<title>Productos en despacho</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body_2 %}

<h5 class="m-4 text-center fw-bold">LISTA DE FACTURAS ANULADAS</h5>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <div class="alert text-center alert-success" role="alert">
                {{message}}
            </div>
            {% elif message.tags == 'error'%}
            <div class="alert text-center alert-danger" role="alert">
                {{message}}
            </div>
        {%endif%}
    {% endfor %}
{% endif %}

<div id="msg"></div>

{% if request.user.id == 19 or request.user.id == 16 or request.user.is_superuser %}
<button class="btn btn-primary" name="agregar-factura" data-bs-toggle="modal" data-bs-target="#addFactura">
    + Añadir Factura
</button>
{% endif %}

<div class="card mb-2 mt-2">
    <div class="card-body m-2 p-2">
        <div class="table-responsive">
            <table class="table" style="font-size:small">
                <thead>
                    <tr>
                        <th scope="col">#Factura</th>
                        <th scope="col">#Picking</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Anulado en</th>
                        <th scope="col">Anulado por</th>
                        <th scope="col">N.Factura</th>
                        <th scope="col">N.Picking</th>
                        <th scope="col">Reemplazado en</th>
                        <th scope="col">Reemplazado por</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in facturas %}
                    <tr>
                        <td>{{i.n_factura}}</td>
                        <td>{{i.n_picking}}</td>
                        <td>{{i.cliente}}</td>
                        <td>{{i.motivo}}</td>
                        <td>
                            <span style="font-size: 12px"
                            class=" badge rounded-pill mt-2
                                {% if i.estado == 'Pendiente' %} 
                                    bg-secondary
                                {% elif i.estado == 'Cancelado' %}
                                    bg-danger
                                {% elif i.estado == 'Reemplazado' %}
                                    bg-warning
                                {% else %}
                                    bg-success
                                {% endif %}
                            "
                            > 
                                {{i.estado|upper}}    
                            </span>
                        </td>
                        <td>{{i.creado}}</td>
                        <td>{{i.usuario}}</td>

                        <td>{{i.nueva_factura}}</td>
                        <td>{{i.nuevo_picking}}</td>
                        <td>{{i.reemplazado_en}}</td>
                        <td>{{i.reemplazado_por}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-primary btn-sm" href="{% url 'factura_anulada_detalle' i.n_factura %}">
                                    <i class="bi bi-eye"></i>
                                </a>
                                {% if request.user.id == 1 or request.user.id == 19 or request.user.id == 28 %}
                                    <button 
                                        class="btn btn-warning btn-sm
                                            {% if not i.h_publico and i.nueva_factura %}
                                                disabled 
                                            {% endif %}
                                        "
                                        data-bs-toggle="modal" 
                                        data-bs-target="#changeFactura"
                                        onclick="cargar_id_factura('{{i.id}}')"
                                    >
                                        F
                                    </button>
                                {% else %}
                                    <button class="btn btn-secondary btn-sm disabled">
                                        F
                                    </button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- ADD FACTURA ANULADA -->
<div class="modal fade" id="addFactura" tabindex="-1" aria-labelledby="addFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFacturaLabel">Añadir Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" name="modal-close"></button>
            </div>
            <div class="modal-body">

                <div id="msg_factura"></div>
                
                <form method="POST" action="{% url 'lista_facturas_anualdas' %}" id="anula-factura-form">
                    {% csrf_token %}
                    <label class="fw-bold"># Factura:</label>
                    <div class="input-group">
                        <input type="text" name="n_factura" class="form-control" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" name="buscar_factura" id="button-addon2">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>

                    <label class="fw-bold mt-2"># Picking:</label>
                    <input type="text" name="n_picking" class="form-control" readonly required>

                    <label class="fw-bold mt-2">Cliente:</label>
                    <input type="text" name="cliente" class="form-control" readonly required>

                    <input type="hidden" name="codigo_cliente">

                    <label class="fw-bold mt-2">Motivo:</label>
                    <textarea class="form-control" name="motivo" rows="3" required></textarea>

                    <input type="hidden" name="usuario" value="{{request.user.id}}">
                    <input type="hidden" name="estado" value="Pendiente">
                </form>

            </div>
            <div class="modal-footer">
                <button type="submit" form="anula-factura-form" class="btn btn-success">Enlistar Factura</button>
                <!--button type="reset" form="anula-factura-form" class="btn btn-secondary">Cancelar</button-->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="changeFactura" tabindex="-1" aria-labelledby="changeFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeFacturaLabel">Reemplazar Picking y Factura</h5>
                <button type="button" id="buttonChangeFacturaClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close" name="modal-close"></button>
            </div>
            <div class="modal-body">

                <div id="msg_reemplazo"></div>
                
                <!--form method="POST" action="{% url 'factura_reemplazar_picking_y_factura_ajax' %}" id="reemplazar-factura-picking"-->
                <form method="POST" onsubmit="reemplazar_action()" id="reemplazar-factura-picking">
                    {% csrf_token %}

                    <input type="hidden" name="id_registro" class="form-control" required>

                    <label class="fw-bold mt-2"># Nuevo Picking:</label>
                    <input type="text" name="nuevo_picking" class="form-control" required>

                    <label class="fw-bold mt-2"># Nueva Factura:</label>
                    <input type="text" name="nueva_factura" class="form-control" required>

                    <!--input type="hidden" name="usuario" value="{{request.user.id}}" -->
                    <!-- input type="hidden" name="estado" value="Pendiente" -->
                </form>

            </div>
            <div class="modal-footer">
                <button type="submit" form="reemplazar-factura-picking" class="btn btn-success">Generar Reemplazo</button>
            </div>
        </div>
    </div>
</div>

<!-- BUSCAR FACTURA -->
<script>
    $("button[name='buscar_factura']").click(function(){
        
        var n_factura = $('input[name="n_factura"]').val()
        
        $.ajax({
            type:"POST",
            url:"{% url 'detalle_anulacion_factura_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'n_factura':n_factura,
            },

            success: function(response) {
                if ( response.tipo === 'danger') {
                    // btn.removeClass('btn-warning');
                    // btn.addClass('btn-success disabled');
                    $('#msg_factura').html(`<div class="text-center alert alert-${response.tipo}" role="alert"> ${response.msg} !!! </div>`)
                } else {
                    $('input[name="n_picking"]').val(response.n_picking);
                    $('input[name="cliente"]').val(response.cliente);
                    $('input[name="codigo_cliente"]').val(response.codigo_cliente);
                }
            },
            
            error: function() {
                $('#msg_factura').html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>')
            }
            
        })
    })
</script>

<script>
    function cargar_id_factura(id) {
        $('input[name="id_registro"]').val(id);
    }

    function reemplazar_action() {
        event.preventDefault();

        var id_registro = $('input[name="id_registro"]').val();
        var nuevo_picking = $('input[name="nuevo_picking"]').val();
        var nueva_factura = $('input[name="nueva_factura"]').val();

        $.ajax({
            type:"POST",
            url:"{% url 'factura_reemplazar_picking_y_factura_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id_registro': id_registro,
                'nuevo_picking': nuevo_picking,
                'nueva_factura': nueva_factura,
            },

            success: function(response) {
                
                $('#msg_reemplazo').html(`<div class="text-center alert alert-${response.tipo}" role="alert"> ${response.msg} </div>`)
                if (response.success) {
                    $('input[name="id_registro"]').val('');
                    $('input[name="nuevo_picking"]').val('');
                    $('input[name="nueva_factura"]').val('');
                    // $(".btn-close").click();

                    setTimeout(function() {
                        location.reload();
                    }, 2000);
                }
            },
            
            error: function() {
                $('#msg_reemplazo').html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>')
            }
            
        })
    }
</script>


<!--script>
    $("button[name='regresar']").click(function(){
        var btn = $(this)
        var id  = btn.attr("id")
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_retiro_producto_despacho_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id':id,
            },

            success: function(response) {
                btn.removeClass('btn-warning');
                btn.addClass('btn-success disabled');
                $('#msg').html(`<div class="text-center alert alert-${response.tipo}" role="alert"> ${response.msg} !!! </div>`)
            },
            
            error: function() {
                $('#msg_factura').html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>')
            }
            
        })
    })
</script-->

<script>
    $("button[name='modal-close']").click(function() {
        $("#anula-factura-form").trigger('reset');
    })
</script>
{% endblock %}