{% load static %}
<title>Orden # {{orden.enum}}
</title>

<style>
    @page{
        /*size: A4;*/
        size: letter landscape;
        margin-top:1cm;
        margin-left:0.5cm;
        margin-right:0.5cm;
        margin-bottom:1cm;

        /* HEADER Static frame */
        /*@frame header_frame {           
            -pdf-frame-content: header_content;
            left: 0pt; width: 595pt; top: 0pt; height: 140pt;
        }*/
        /* FOOTER Static frame */
        /*@frame footer_frame {
            -pdf-frame-content: footer_content;
            left:0pt; width:595pt; top:727pt; height:150pt;
        }*/
        /* BODY */
        /*@frame body_frame {}*/
            
    }
    #gim {
        background-size:100%;
        background-repeat:no-repeat;
    }

    .t_b {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;

        font-size: large;
    } 

    .t_codigo {
        width: 120px;
        font-size: large;
    }

    .t_nombre {
        width: 230px;
        font-size: large;
    }

    .t_u_c {
        width: 90px;
        font-size: large;
    }

    .t_row_title {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        font-size: medium;
    }

    .t_row {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        font-size: small;
    }

    .t_row_cal {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        text-align: right;

        font-size: large;
    }
</style>

<meta charset="UTF-8">


<div class="gim" style="text-align:justify;"> <!--font-size:14px-->

    <div class="body_frame">

        <!-- Encabezado -->
        <table> 
            <tr>
                <th  class="t_b" rowspan="2">
                    <img src="{% static 'gim_muestreo.png' %}" alt="">
                </th> 
                <th class="t_b" rowspan="2">
                    <!--REGISTRO DE MUESTREO DE MERCADERIA-->
                </th>
                <th class="t_b">
                    ORDEN DE EMPAQUE <span style="color:red">{{orden.enum}}</span>
                </th>
            </tr>
            <tr>
                <th class="t_b">
                    BODEGA <span style="border:1px solid black;">{{orden.bodega|upper}}</span>
                </th>
            </tr>
        </table>
        
        <!-- Prioridad -->
        <table style="border:1px solid black;">
            <tr>
                <th class="t_b" colspan="6">Prioridad del armado</th>
            </tr>
            <tr>
                <th class="t_b" width="300px">
                    Inmediato
                </th> 
                <th class="t_b" width="100px">
                    {% if orden.prioridad  == 'Inmediato' %}X{% endif %}
                </th>
                <th class="t_b" width="300px">
                    Urgente (2dias)
                </th>
                <th class="t_b" width="100px">
                    {% if orden.prioridad  == 'Urgente (2 días)' %}X{% endif %}
                </th>
                <th class="t_b" width="300px">
                    Pronto (1 semana)
                </th>
                <th class="t_b" width="100px">
                    {% if orden.prioridad  == 'Pronto (1 semana)' %}X{% endif %}
                </th>
            </tr>
        </table>

        <br>

        <!-- Datos de cliente -->
        <table style="font-size:14px;"> 
            <tr>
                <td style="font-weight: bold" width="150px">Producto:</td>
                <td>{{orden.nuevo_producto.nombre}}</td>
                <td rowspan="4"></td>
                <td style="font-weight: bold" width="150px">Fecha:</td>
                <td>{{orden.creado|date:"l, d F Y"}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold" width="150px">Código:</td>
                <td>{{orden.nuevo_producto.product_id}}</td>
                <td style="font-weight: bold" width="150px">Marca:</td>
                <td>{{orden.nuevo_producto.marca}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold" width="150px">Precio Venta:</td>
                <td>$ {{orden.nuevo_producto.precio_venta}}</td>
                <td style="font-weight: bold" width="150px" rowspan="2">Cantidad:</td>
                <td style="border:1px solid black; text-align:center" rowspan="2">{{orden.nuevo_producto.unidades}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold" width="150px">Cliente:</td>
                <td>{{orden.cliente}}</td>
            </tr>
        </table>

        <br>

        <table style="border:1px solid black; table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th class="t_row_title" rowspan="2">CÓDIGO</th>
                    <th class="t_row_title" rowspan="2">DETALLE</th>
                    <th class="t_row_title" rowspan="2">MARCA</th>
                    <th class="t_row_title" rowspan="2">LOTE</th>
                    <th class="t_row_title" rowspan="2">FECHA ELAB</th>
                    <th class="t_row_title" rowspan="2">FECHA VENC</th>
                    <th class="t_row_title" rowspan="2">UBICACIÓN EN BODEGAS</th>
                    <th class="t_row_title" rowspan="2">CANTIDAD POR LOTE</th>
                    <th class="t_row_title" rowspan="2">INGRESO</th>
                    <th class="t_row_title" rowspan="2">SALIDA</th>
                    <th class="t_row_title" colspan="3">CONTROL DEL PROCESO</th>
                </tr>
                <tr>
                    <th class="t_row_title">INICIO</th>
                    <th class="t_row_title">INTER</th>
                    <th class="t_row_title">FIN</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 12%;" class="t_row">{{orden.nuevo_producto.product_id}}</td>      
                    <td style="width: auto;" class="t_row">{{orden.nuevo_producto.nombre}}</td>         
                    <td style="width: 7%;" class="t_row">{{orden.nuevo_producto.marca}}</td>           
                    <td style="width: 7%;" class="t_row">{{orden.nuevo_producto.lote_id}}</td>         
                    <td style="width: 7%;" class="t_row">{{orden.nuevo_producto.fecha_elaboracion|default:"-"}}</td>
                    <td style="width: 7%;" class="t_row">{{orden.nuevo_producto.fecha_caducidad|date:'Y-m-d'}}</td>
                    <td style="width: 7%;" class="t_row">{% if orden.nuevo_producto.ubicacion %} {{orden.nuevo_producto.ubicacion}} {% endif %}</td>       
                    <td style="width: 6%;" class="t_row"></td>                                                     
                    <td style="width: 6%;" class="t_row">{{orden.nuevo_producto.unidades}}</td>        
                    <td style="width: 6%;" class="t_row"></td>                                                     
                    <td style="width: 4%;" class="t_row"></td>                                                     
                    <td style="width: 4%;" class="t_row"></td>                                                     
                    <td style="width: 4%;" class="t_row"></td>                                                     
                </tr>
                
                {% if orden.bodega == "Andagoya" %}
                <tr style="color:#FFFFFF">
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr style="color:#FFFFFF">
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% endif %}
                
                {% for i in componente_picking %}
                <tr>
                    <td class="t_row">{{i.componente.product_id}}</td>                      
                    <td class="t_row">{{i.componente.nombre}}</td>                          
                    <td class="t_row">{{i.componente.marca}}</td>                           
                    <td class="t_row">{{i.componente.lote_id}}</td>                         
                    <td class="t_row">{{i.componente.fecha_elaboracion|date:'Y-m-d'|default:"-"}}</td>  
                    <td class="t_row">{{i.componente.fecha_caducidad|date:'Y-m-d'}}</td>    
                    <td></td>                                                               
                    <td></td>                                                               
                    <td></td>                                                               
                    <td class="t_row">{{i.componente.unidades}}</td>                        
                    <td></td>                                                               
                    <td></td>                                                               
                    <td></td>                                                               
                </tr>
                
                {% if orden.bodega == "Andagoya" %}
                <tr style="color:#FFFFFF">
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr style="color:#FFFFFF">
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% endif %}
                
                {% for j in i.movimiento %}
                <tr style="background-color:#e1efff">
                    <td class="t_row">{{i.componente.product_id}}</td>         
                    <td class="t_row">{{i.componente.nombre}}</td>             
                    <td class="t_row">{{i.componente.marca}}</td>              
                    <td class="t_row">{{j.lote_id}}</td>                       
                    <td class="t_row">-</td>  
                    <td class="t_row">{{j.fecha_caducidad|date:'Y-m-d'}}</td>  
                    <td class="t_row">{{j.ubicacion}}</td>                     
                    <td class="t_row">{{j.unidades}}</td>                      
                    <td></td>                                                  
                    <td></td>                                                  
                    <td></td>                                                  
                    <td></td>                                                  
                    <td></td>                                                  
                </tr>
                {% endfor %}
                {% endfor %}
                {% if orden.bodega == "Andagoya" %}
                <tr style="color:#FFFFFF">
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr style="color:#FFFFFF">
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <br>
        
        <label><strong>OBSERVACIONES:</strong></label>
        <table style="border:1px solid black;">
            <tr>
                <td>
                    <p>
                        <br>
                        <br>
                        <br>
                    </p>
                </td>
            </tr>
        </table>

        <br><br><br><br>

        <table style="font-size:medium; text-align:center; font-weight:bold">
            <tr>
                <td>---------------------------------------------------</td>
                <td>---------------------------------------------------</td>
                <td>---------------------------------------------------</td>
                <td>---------------------------------------------------</td>
            </tr>
            <tr>
                <td>ELABORADO POR</td>
                <td>AUTORIZADO POR</td>
                <td>RESPONS.BODEGA/ARMADO</td>
                <td>RESPONSE BOD/LIBERACIÓN KIT</td>
            </tr>
        </table>
    </div>
</div>