{%extends 'base.html' %}

{% block title %}
<title>Picking Armado</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
    .btn.btn-warning.btn-sm.active {
    background-color: blue;}
</style>

<h5 class="mt-2 text-center fw-bold">{{orden.cliente}}</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<div id="msg"></div>

<div class="mt-2 mb-2">   
    <span class="fw-bold" style="font-size: small;">Orden de empaque: </span> <span style="font-size: small;" id="orden_empaque">{{orden.enum}}</span> <br>
    <span class="fw-bold" style="font-size: small;">Fecha-Hora: </span> <span style="font-size: small;"> {{orden.creado|date:'Y-m-d'}} {{hora}}</span> <br>
    <span class="fw-bold" style="font-size: small;">Nuevo producto: </span> <br>
    
    <ul>
        <li><span class="fw-bold" style="font-size: small;">Código: </span> <span style="font-size: small;">{{orden.nuevo_producto.product_id}}</span></li>
        <li><span class="fw-bold" style="font-size: small;">Nombre: </span> <span style="font-size: small;">{{orden.nuevo_producto.nombre}}</span></li>
        <li><span class="fw-bold" style="font-size: small;">Marca: </span> <span style="font-size: small;">{{orden.nuevo_producto.marca}}</span></li>
        <li><span class="fw-bold" style="font-size: small;">Lote: </span> <span style="font-size: small;">{{orden.nuevo_producto.lote_id | default:"-"}}</span></li>
        <li><span class="fw-bold" style="font-size: small;">FElab: </span> <span style="font-size: small;">{{orden.nuevo_producto.fecha_elaboracion | default:"-" | date:"Y-m-d"}}</span></li>
        <li><span class="fw-bold" style="font-size: small;">FCadu: </span> <span style="font-size: small;">{{orden.nuevo_producto.fecha_caducidad | default:"-" | date:"Y-m-d"}}</span></li>
    </ul>

    <button type="button" id="{{orden.nuevo_producto.id}}" name="completar-nuevo-producto" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#CompletarProductoNuevo">
        Completar datos
    </button>

</div>

<!--a id="imprimir_pdf" class="btn btn-sm btn-danger {% if not orden.archivo %} disabled {% endif %} " href="{#% if orden.archivo %} {{ orden.archivo.url }} {% endif %#}" target="_blank">
    IMPRIMIR PDF
</a-->
<a id="imprimir_pdf" class="btn btn-sm btn-danger" href="{% url 'wms_armado_orden_pdf' orden.id %}" target="_blank">
    Imprimir Pdf
</a>
<hr>

<div class="text-end mb-2">
<button type="button" class="btn btn-info disabled">Estado: {{orden.estado}}</button> 
</div>

{% if total_unidades_picking_todos == total_componentes %}
{% if orden.estado == 'En Proceso' or orden.estado == 'En Picking' or orden.estado == 'En Pausa' %}
<hr>
<h6 class="text-end fw-bold">Estado de Armado</h6>
<div class="text-end">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" name="estado-orden" class="btn btn-warning {% if orden.estado == 'Finalizado' %} disabled {% endif %}">En Proceso</button>
        <button type="button" name="estado-orden" class="btn btn-danger {% if orden.estado == 'Finalizado' %} disabled {% endif %}">En Pausa</button>
        <button type="button" name="estado-orden" class="btn btn-success {% if orden.estado == 'Finalizado' %} disabled {% endif %}">Finalizado</button>
    </div>
</div>
<hr>
{% endif %}
{% endif %}

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: smaller;" id="mitabla">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Picking unds</th>
                        <th scope="col">Ubicación(es)</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in componentes_template %}
                        <tr>
                            <td><span id="prod_id">{{i.product_id}}</span><br>
                                <span id="prod_name">{{i.nombre}}</span><br>
                                <span id="prod_marca">{{i.marca}}</span><br>
                            </td>    
                            <td class="text-end">
                                <span id="prod_und">{{i.unidades|floatformat:"0g"}}</span> <br>
                                <span style="font-size:smaller">{{i.cartones|floatformat:"1g"}}</span> <br>
                            </td>

                            <td class="text-end" 
                                {% if i.total_picking == i.unidades %} 
                                    style="background-color: #e3fde6;" 
                                {% elif not i.total_picking or i.total_picking < i.unidades %}
                                    style="background-color: #F6F490;"
                                {% elif i.unidades < i.total_picking %}
                                    style="background-color: #F6B690;" 
                                {% endif %}>
                                
                                {{i.total_picking|default:0|floatformat:'0g'}}
                                
                            </td>

                            <td class="text-end">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                    <button class="btn btn-primary btn-sm {% if estado == 'SIN ESTADO' %} disabled {% endif %}" name="boton_ubicaciones"> 
                                        <i class="bi bi-geo-fill"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>

                        {# FILA OCULTA DE INVENTARIO Y PICKING #}
                        <tr id="detalle_ubicaciones" style="display: none;">
                            <td colspan="4">
                                <h6 class="fw-bold" style="font-size: small;">Inventario</h6>
                                <table class="table m-0 p-0" style="font-size: smaller;">
                                    <thead>
                                        <tr {% if not i.tipo %} style="background-color: #e6e6e6;" {% else %} style="background-color: #e3fde6;" {% endif %}>
                                            <th scope="col">Lote</th>
                                            <th scope="col">Ubicación</th>
                                            <th scope="col">Unds-Picking</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {# TABLA DE INVENTARIO #}
                                        {% if not i.ubi %}
                                        <tr style="background-color:  #fde6e3 ;">
                                            <td colspan="7" class="text-center"> No hay existencias en inventario !!! </td> 
                                        </tr>
                                        {% else %}

                                            {% for i in i.ubi %}
                                                <tr {% if not i.tipo %} style="background-color: #e6e6e6;" {% else %} style="background-color: #e3fde6;" {% endif %}>
                                                    <td>
                                                        <span style="background-color:#37F8F5">{{i.lote_id}}</span><br>
                                                        <span>{{i.fecha_caducidad|date:'Y-d-m'}}</span>
                                                    </td>
                                                    
                                                    <td class="{% if i.estado == 'Cuarentena' %}text-danger{% endif %}">{% if i.estado == 'Cuarentena' %}CUC-{% endif %}
                                                        <span>{{i.ubicacion__bodega}}-{{i.ubicacion__pasillo}}-{{i.ubicacion__modulo}}{% if i.ubicacion__bodega == 'CN6' %}-{{i.ubicacion__nivel}}{% else %}{% endif %}</span><br>
                                                        <span class="fw-bold">Disp:</span> {{i.unidades|floatformat:"0g"}}
                                                    </td>

                                                    <td>
                                                        {% if i.tipo == 'Egreso' %}
                                                        {% else %}
                                                        <input id="picking_cantidad" type="number" class="form-control" {% if i.estado == 'Cuarentena' %} disabled {% endif %}>
                                                        {% endif %}
                                                    </td>
                                                    
                                                    <td class="text-center">
                                                        <button name="pick" type="button" class="btn btn-success btn-sm {% if i.estado == 'Cuarentena' %} disabled {% endif %}" id="{{i.id}}">
                                                            <i class="bi bi-arrow-bar-right"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}

                                        {# TABLA DE ELEMENTOS PICKEADOS #}
                                        {% if i.pik %}
                                        <tr>
                                            <td colspan="4">
                                                <h6 class="fw-bold" style="font-size: small;">Picking</h6>
                                                <table class="table m-0 p-0" style="background-color: #edfdff;">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Lote</th>
                                                            <th scope="col">F.Caducidad</th>
                                                            <th scope="col">Ubicacion</th>
                                                            <th scope="col">Unds-Picking</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for j in i.pik %}
                                                        <tr>                                                            
                                                            <td id="reg_lote">{{j.lote_id}}</td>
                                                            <td id="reg_caducidad">{{j.fecha_caducidad|date:"Y-m-d"}}</td>
                                                            <td>{{j.ubicacion__bodega}}-{{j.ubicacion__pasillo}}-{{j.ubicacion__modulo}}{% if j.ubicacion__bodega == 'CN6' %}-{{j.ubicacion__nivel}}{% else %}{% endif %}</td>
                                                            <td id="reg_unidades" class="text-end">{{j.unidades|floatformat:"0g"}}</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-sm btn-danger {% if estado == 'FINALIZADO' %} disabled {% endif %}" name="eliminar_picking" id="{{j.id}}">
                                                                    <i class="bi bi-arrow-bar-left"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </td>
                                        <tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Completar producto nuevo -->
<div class="modal fade" id="CompletarProductoNuevo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CompletarProductoNuevoLabel" aria-hidden="true">
    <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="CompletarProductoNuevoLabel">Completar Datos Producto Nuevo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="error_modal"></div>
                <form action="{% url 'wms_completar_componente_ajax' %}" method="POST" id="completar-producto-nuevo-form">
                    {% csrf_token %}
                    <div id="completar-producto-nuevo-form-get"></div>
                    <div id="completar-producto-id-input"></div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" form="completar-producto-nuevo-form" class="btn btn-primary">Completar</button>
            </div>
        </div>
    </div>
</div>

<!-- Desplegar ubicaciones -->
<script>
    $(document).ready(function(){
        $("button[name='boton_ubicaciones']").click(function(){
            var fila = $(this).closest("tr")
            fila.next("#detalle_ubicaciones").toggle();
            fila.toggleClass("table-info")
        })
    })
</script>

<!-- Picking -->
<script>
    $("button[name='pick']").click(function(){
        var orden_empaque = $("#orden_empaque").html();
        var id_existencia = $(this).attr('id')
        var picking_cantidad = $(this).closest("tr").find("#picking_cantidad").val();

        $.ajax({
            type:"POST",
            url:"{% url 'wms_armado_movimiento_egreso' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'orden_empaque':orden_empaque,
                'orden_empaque_id':'{{orden.id}}',
                'id_existencia':id_existencia,
                'unds'   :picking_cantidad,
            },

            success: function(response) {
                setTimeout(function(){
                    window.location.reload();
                }, 1000);
                if(response.msg) {
                    alert(response.msg)
                }
            },

            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
    })
</script>


<!-- Eliminar Picking -->
<script>
    $("button[name='eliminar_picking']").click(function(){
        var mov = $(this).attr('id');
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_eliminar_movimiento' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'mov':mov,
            },

            success: function() {
                setTimeout(function(){
                    window.location.reload();
                    }, 2000);
                if(response.msg){
                    alert(response.msg)
                }
            },
            error: function() {
                setTimeout(function(){
                    window.location.reload();
                    }, 2000);
                if(response.msg) {
                    alert('Error al eliminar picking !!!')
                }
            }
        })
    })
</script>


<!-- Estado Picking -->
<script>
    $("button[name='estado-orden']").click(function(){
        var orden_empaque = $("#orden_empaque").html();
        var estado = $(this).text()

        $.ajax({
            type:"POST",
            url:"{% url 'wms_armado_editar_estado' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'orden_empaque_id':'{{orden.id}}',
                'estado':estado,
            },

            success: function(response) {
            
            if (response.msg) {
                $('#msg').html(`<div class="text-center alert alert-${response.type}" role="alert"> ${response.msg} </div>`)
            }
            
            setTimeout(function(){
                window.location.reload();
            }, 1000)
        
            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
        
    })
</script>

<!-- Completar de editar componente -->
<script>
    $("button[name='completar-nuevo-producto']").on('click', function() {
        var id_componente = $(this).attr('id');
        
        $.ajax({
            type:'GET',
            url:'{% url "wms_completar_componente_ajax" %}',
            data:{
                "id_componente":id_componente
            },
            success: function(response){
                console.log(response);
                $("#completar-producto-nuevo-form-get").html(response);
                $("#completar-producto-id-input").html(`<input name="id_componente" type="hidden" value="${id_componente}">`)
                
                // Remove inputs
                $("label[for='id_ubicacion']").remove();
                $("#id_ubicacion").remove();
            }
        })
    })
</script>
{% endblock %}