{%extends 'base.html' %}

{% block title %}
<title>Picking {{n_ped|slice:'-2'}}</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
    .btn.btn-warning.btn-sm.active {
    background-color: blue;}
</style>

<h5 class="mt-2 text-center fw-bold">{{orden.cliente}}</h5>

<div class="mt-2 mb-2">   
    <span class="fw-bold" style="font-size: small;">Orden de empaque: </span> <span style="font-size: small;" id="orden_empaque">{{orden.enum}}</span> <br>
    <span class="fw-bold" style="font-size: small;">Fecha-Hora: </span> <span style="font-size: small;"> {{orden.creado|date:'Y-m-d'}} {{hora}}</span> <br>
    <span class="fw-bold" style="font-size: small;">Nuevo producto: </span> <span style="font-size: small;"> {{orden.nuevo_producto.product_id}} </span> 
</div>

<hr>

<div class="text-end mb-2">
<button type="button" class="btn btn-sm btn-info disabled">Estado: {{orden.estado}}</button>
</div>

{% comment %}
<div class="text-end">
    <!--div class="btn-group btn-group-sm" role="group" aria-label="Basic example"-->
        {% if estado == 'SIN ESTADO' %}
        <button type="button" id="{{n_ped}}" name="estado_picking" class="btn btn-warning">EN PROCESO</button>
        <!--button type="button" class="btn btn-success disabled">FINALIZADO</button-->
        
        {% elif estado == 'FINALIZADO' %}
        <!--button type="button" id="{{n_ped}}" name="estado_actualizar" class="btn btn-warning">EN PROCESO</button-->
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" id="{{estado_id}}" name="estado_actualizar" class="btn btn-warning">EN PROCESO</button>
            <button type="button" id="{{estado_id}}" name="estado_actualizar" class="btn btn-primary">EN TRANSITO</button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" id="{{estado_id}}" name="estado_actualizar" class="btn btn-danger">EN PAUSA</button>
            <button type="button" id="{{estado_id}}" name="estado_actualizar" class="btn btn text-white" style="background-color:#bf03c8 ;">INCOMPLETO</button>
            <button type="button" class="btn btn-success disabled">FINALIZADO</button>
        </div>
        {% else %}
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning">EN PROCESO</button>
            <button type="button" id="{{estado_id}}" name="estado_actualizar" class="btn btn-primary">EN TRANSITO</button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" id="{{estado_id}}" name="estado_actualizar" class="btn btn-danger">EN PAUSA</button>
            <button type="button" id="{{estado_id}}" name="estado_actualizar" class="btn btn text-white" style="background-color:#bf03c8 ;">INCOMPLETO</button>
            <button type="button" id="{{estado_id}}" name="estado_actualizar" class="btn btn-success">FINALIZADO</button>
        </div>
        {% endif %}
        <!--button type="button" class="btn btn-primary">Right</button-->
        
    <!--/div-->

</div>
{% endcomment %}
<hr>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<div id="msg"></div>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: smaller;" id="mitabla">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Picking unds</th>
                        <th scope="col">Ubicación(es)</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in componentes_template %}
                        <tr>
                            <td><span id="prod_id">{{i.product_id}}</span><br>
                                <span id="prod_name">{{i.nombre}}</span><br>
                                <span id="prod_marca">{{i.marca}}</span><br>
                            </td>    
                            <td class="text-end">
                                <span id="prod_und">{{i.unidades|floatformat:"0g"}}</span> <br>
                                <span style="font-size:smaller">{{i.cartones|floatformat:"1g"}}</span> <br>
                            </td>

                            <td class="text-end" 
                                {% if i.total_picking == i.unidades %} 
                                    style="background-color: #e3fde6;" 
                                {% elif not i.total_picking or i.total_picking < i.unidades %}
                                    style="background-color: #F6F490;"
                                {% elif i.unidades < i.total_picking %}
                                    style="background-color: #F6B690;" 
                                {% endif %}>
                                
                                {{i.total_picking|default:0|floatformat:'0g'}}
                                
                            </td>

                            <td class="text-end">
                                <button class="btn btn-primary btn-sm {% if estado == 'SIN ESTADO' %} disabled {% endif %} " id="{{i.PRODUCT_ID}}" name="boton_ubicaciones"> 
                                    <i class="bi bi-geo-fill"></i>
                                </button>
                                <br>
                                <!--span style="font-size:smaller">{{i.primera_bodega}}</span-->
                            </td>
                        </tr>

                        {# FILA OCULTA DE INVENTARIO Y PICKING #}
                        <tr id="detalle_ubicaciones" style="display: none;">
                            <td colspan="4">
                                <h6 class="fw-bold" style="font-size: small;">Inventario</h6>
                                <table class="table m-0 p-0" style="font-size: smaller;">
                                    <thead>
                                        <tr {% if not i.tipo %} style="background-color: #e6e6e6;" {% else %} style="background-color: #e3fde6;" {% endif %}>
                                            <th scope="col">Lote</th>
                                            <th scope="col">Ubicación</th>
                                            <th scope="col">Unds-Picking</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {# TABLA DE INVENTARIO #}
                                        {% if i.ubi %}
                                        {% for i in i.ubi %}
                                            {% if not i.tipo %}

                                            <tr {% if not i.tipo %} style="background-color: #e6e6e6;" {% else %} style="background-color: #e3fde6;" {% endif %}>
                                                <!--input type="hidden" value="{{n_ped}}" id="n_picking">
                                                <input type="hidden" value="{{i.product_id}}" id="prod_id">
                                                <input type="hidden" value="{{i.ubicacion_id}}" id="ubi"-->

                                                <td>
                                                    <!--input type="hidden" value="{{i.lote_id}}" id="lote_id"-->
                                                    {% comment %}
                                                    {% if i.EGRESO_TEMP %}
                                                    <button class="text-sm m-0 p-0" style="background-color:yellow" id="{{i.lote_id}}" name="reservas" data-bs-toggle="modal" data-bs-target="#exampleModal">{{i.lote_id}}</button><br>
                                                    {% else %}
                                                    <span style="background-color:#37F8F5">{{i.lote_id}}</span><br>
                                                    {% endif %}
                                                    <!--span id="caducidad">{{i.fecha_caducidad|date:'Y-d-m'}}</span-->
                                                    {% endcomment %}
                                                    <span style="background-color:#37F8F5">{{i.lote_id}}</span><br>
                                                    <span>{{i.fecha_caducidad|date:'Y-d-m'}}</span>
                                                </td>
                                                
                                                <td class="{% if i.estado == 'Cuarentena' %}text-danger{% endif %}">{% if i.estado == 'Cuarentena' %}CUC-{% endif %}
                                                    <span>{{i.ubicacion__bodega}}-{{i.ubicacion__pasillo}}-{{i.ubicacion__modulo}}{% if i.ubicacion__bodega == 'CN6' %}-{{i.ubicacion__nivel}}{% else %}{% endif %}</span><br>
                                                    <span class="fw-bold">Disp:</span> {{i.unidades|floatformat:"0g"}}
                                                </td>

                                                <td>
                                                    {% if i.tipo == 'Egreso' %}
                                                    {% else %}
                                                    <input id="picking_cantidad" type="number" class="form-control" {% if i.estado == 'Cuarentena' %} disabled {% endif %}>
                                                    {% endif %}
                                                </td>
                                                
                                                <td class="text-center">
                                                    <button name="pick" type="button" class="btn btn-success btn-sm {% if i.estado == 'Cuarentena' %} disabled {% endif %}" id="{{i.id}}">
                                                        <i class="bi bi-arrow-bar-right"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                
                                        {# TABLA DE ELEMENTOS PICKEADOS #}
                                        {% if i.pik %}
                                        <tr>
                                            <td colspan="4">
                                                <h6 class="fw-bold" style="font-size: small;">Picking</h6>
                                                <table class="table m-0 p-0" style="background-color: #edfdff;">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Lote</th>
                                                            <th scope="col">F.Caducidad</th>
                                                            <th scope="col">Ubicacion</th>
                                                            <th scope="col">Unds-Picking</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for j in i.pik %}
                                                        <tr>                                                            
                                                            <td id="reg_lote">{{j.lote_id}}</td>
                                                            <td id="reg_caducidad">{{j.fecha_caducidad|date:"Y-m-d"}}</td>
                                                            <td>{{j.ubicacion__bodega}}-{{j.ubicacion__pasillo}}-{{j.ubicacion__modulo}}{% if j.ubicacion__bodega == 'CN6' %}-{{j.ubicacion__nivel}}{% else %}{% endif %}</td>
                                                            <td id="reg_unidades" class="text-end">{{j.unidades|floatformat:"0g"}}</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-sm btn-danger {% if estado == 'FINALIZADO' %} disabled {% endif %}" name="eliminar_picking" id="{{j.id}}">
                                                                    <i class="bi bi-arrow-bar-left"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </td>
                                        <tr>
                                        {% endif %}

                                    {% else %}
                                        <tr style="background-color:  #fde6e3 ;">
                                            <td colspan="7" class="text-center"> No hay existencias en inventario !!! </td> 
                                        </tr>
                                    {% endif %}
                                    
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal - RESERVAS -->
<!--div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Reservas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div id="reservas" class="modal-body responsive">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div-->

<!-- Desplegar ubicaciones -->
<script>
    $(document).ready(function(){
        $("button[name='boton_ubicaciones']").click(function(){
            var fila = $(this).closest("tr")
            fila.next("#detalle_ubicaciones").toggle();
            fila.toggleClass("table-info")
        })
    })
</script>

<!-- Picking -->
<script>
    $("button[name='pick']").click(function(){
        var orden_empaque = $("#orden_empaque").html();
        var id_existencia = $(this).attr('id')
        var picking_cantidad = $(this).closest("tr").find("#picking_cantidad").val();

        $.ajax({
            type:"POST",
            url:"{% url 'wms_armado_movimiento_egreso' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'orden_empaque':orden_empaque,
                'orden_empaque_id':'{{orden.id}}',
                'id_existencia':id_existencia,
                'unds'   :picking_cantidad,
            },

            success: function(response) {
                setTimeout(function(){
                    window.location.reload();
                }, 1000);
                if(response.msg) {
                    alert(response.msg)
                }
            },

            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
    })
</script>


<!-- Eliminar Picking -->
<script>
    $("button[name='eliminar_picking']").click(function(){
        var mov = $(this).attr('id');
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_eliminar_movimiento' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'mov':mov,
            },

            success: function() {
                setTimeout(function(){
                    window.location.reload();
                    }, 2000);
                if(response.msg){
                    alert(response.msg)
                }
            },
            error: function() {
                setTimeout(function(){
                    window.location.reload();
                    }, 2000);
                if(response.msg) {
                    alert('Error al eliminar picking !!!')
                }
            }
        })
    })
</script>

<!-- Reservas -->
<!--script>
    $("button[name='reservas']").click(function(){
        var prod_id          = $(this).closest("tr").find("#prod_id").val();
        //var lote             = $(this).closest("tr").find("#lote").html();
        var lote             = $(this).attr('id')
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_reservas_lote_consulta_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'prod_id':prod_id,
                'lote_id':lote,
            },

            success: function(response) {
            $('#reservas').html(
                `
                </h6 class="fw-bold">Producto:</h6> ${prod_id}<br>
                </h6 class="fw-bold">Lote: </h6>${lote}
                ${response}
                `
            )

            $("#reservas_table").css("font-size", "smaller")

            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
    })
</script-->


<!-- Estado Picking -->
<script>
    $("button[name='estado_picking']").click(function(){
        var n_ped = $(this).attr('id');
        var estado = $(this).text()

        $.ajax({
            type:"POST",
            url:"{% url 'wms_estado_picking_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'n_ped':n_ped,
                'estado':estado,
                'user_id':{{request.user.id}}
            },

            success: function(response) {
            
            if (response.msg) {
                $('#msg').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} </div>`)
            }
            
            setTimeout(function(){
                window.location.reload();
            }, 1000)
        
            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
        
    })
</script>


<!-- Actuaizar Estado Picking -->
<script>
    $("button[name='estado_actualizar']").click(function(){
        var id_picking = $(this).attr('id');
        var estado = $(this).text()
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_estado_picking_actualizar_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id_picking':id_picking,
                'estado':estado,
            },

            success: function(response) {
            
            if (response.msg) {
                $('#msg').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} </div>`)
            }
            
            setTimeout(function(){
                window.location.reload();
            }, 2000)
        
            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
        
    })
</script>

{% endblock %}