{%extends 'base.html' %}

{% block title %}
<title>Armados</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 text-center fw-bold">ARMADOS</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Añadir Armado
</button>
<div id="msg"></div>

<div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Filtro" class="form-control">
</div>


<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Creado por</th>
                        <th scope="col">Creado en</th>
                        <th scope="col">Observaciones</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in armados %}
                    <tr>
                        <td>{{i.enum}}</td>
                        <td>{{i.nuevo_producto.product_id}}</td>
                        <td>{{i.nuevo_producto.nombre}}</td>
                        <td>{{i.nuevo_producto.marca}}</td>
                        <td>{{i.nuevo_producto.unidades}}</td>
                        <td>{{i.cliente}}</td>
                        <td>{{i.estado}}</td>
                        <td>{{i.usuario.first_name}} {{i.usuario.last_name}}</td>
                        <td>{{i.creado|date:'Y-m-d'}}</td>
                        <td>{{i.observaciones}}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{% url 'wms_orden_armado' i.id %}">
                                Ver
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog"> <!-- modal-lg -->
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold" id="staticBackdropLabel">Añadir Armado</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="error_modal"></div>
            <form action="" method="POST" id="orden-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-2">

                    <!-- Código -->
                    <div class="col-4">
                        {{form_nuevo_producto.product_id.label}}:
                    </div>
                    <div class="col-8">
                        <select class="form-select select2" id="id_product_id" name="product_id">
                            <option>-----------</option>
                            {% for i in products_list %}
                            <option value="{{i.product_id}}">{{i.product_id}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--div class="col-2">
                        <button class="btn btn-secondary" type="button" name="product">
                            Código
                        </button>
                    </div-->

                    <!-- Nombre -->
                    <div class="col-4">
                        {{form_nuevo_producto.nombre.label}}:
                    </div>
                    <div class="col-8">
                        {{form_nuevo_producto.nombre}}
                    </div>

                    <!-- Marca -->
                    <div class="col-4">
                        {{form_nuevo_producto.marca.label}}:
                    </div>
                    <div class="col-8">
                        {{form_nuevo_producto.marca}}
                    </div>

                    <!-- Bodega -->
                    <div class="col-4">
                        {{form_orden.bodega.label}}:
                    </div>
                    <div class="col-8">
                        {{form_orden.bodega}}
                    </div>
                    <!-- Cliente -->
                    <div class="col-4">
                        {{form_orden.cliente.label}}:
                    </div>
                    <div class="col-8">
                        {#{form_orden.cliente}#}
                        <select class="form-select select2" id="id_cliente" name="cliente">
                            <option>-----------</option>
                            {% for i in cliente_list %}
                            <option value="{{i.NOMBRE_CLIENTE}}">{{i.NOMBRE_CLIENTE}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Ruc -->
                    <div class="col-4">
                        {{form_orden.ruc.label}}:
                    </div>
                    <div class="col-8">
                        {{form_orden.ruc}}
                    </div>
                    <!--div class="col-2">
                        <button class="btn btn-secondary" type="button" name="ruc">
                            Ruc
                        </button>
                    </div-->
                    <!-- Precio -->
                    <div class="col-4">
                        {{form_nuevo_producto.precio_venta.label}}:
                    </div>
                    <div class="col-6">
                        {{form_nuevo_producto.precio_venta}}
                    </div>
                    <div class="col-2">
                        <button class="btn btn-secondary" type="button" name="precio">
                            Precio
                        </button>
                    </div>
                    <!-- Cantidad -->
                    <div class="col-4">
                        {{form_nuevo_producto.unidades.label}}:
                    </div>
                    <div class="col-8">
                        {{form_nuevo_producto.unidades}}
                    </div>
                    <!-- Prioridad -->
                    <div class="col-4">
                        {{form_orden.prioridad.label}}:
                    </div>
                    <div class="col-8">
                        {{form_orden.prioridad}}
                    </div>
                    <!-- Observaciones -->
                    <div class="col-4">
                        {{form_orden.observaciones.label}}:
                    </div>
                    <div class="col-8">
                        {{form_orden.observaciones}}
                    </div>
                </div>  
                <!-- hidden inputs -->
                <input type="hidden" name="estado" value="Creado">
                <input type="hidden" name="usuario" value="{{request.user.id}}">
                <input type="hidden" id="id_codigo_cliente">

                {% comment %}
                <datalist id="product_list">
                    {% for i in product_list %}
                    <option value="{{i.product_id}}">
                    {% endfor %}
                </datalist>

                <datalist id="ruc_list">
                    {% for i in ruc_list %}
                    <option value="{{i.IDENTIFICACION_FISCAL}}">
                    {% endfor %}
                </datalist>

                <datalist id="cliente_list">
                    {% for i in cliente_list %}
                    <option value="{{i.NOMBRE_CLIENTE}}">
                    {% endfor %}
                </datalist>
                {% endcomment %}

            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" form="orden-form" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>


<!-- Select2 -->
<script>
    $(document).ready(function() {
        $(".select2").select2({
            dropdownParent: $('#staticBackdrop'), //opciones ancladas al modal
        })
    })
</script>

<!-- ADD PRODUCT -->
<script>
    //$("button[name='product']").on('click', function() {
    $("#id_product_id").on('change', function() {
        var product_id = $("#id_product_id").val();
        
        $.ajax({
            type:"POST",
            url: "{% url 'get_product_data_by_product_id_ajax' %}",
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'product_id': product_id,
            },
            success: function(data) {
                $("#id_nombre").val(data.nombre);
                $("#id_marca").val(data.marca);
                if (data.error) {
                    $("#error_modal").html(
                        `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                        ${data.error}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`
                    )
                }
            }
        })
    })
</script>

<!-- Add RUC -->
<script>
    //$("button[name='ruc']").on('click', function() {
    $("#id_cliente").on('change', function() {
        var cliente_name = $("#id_cliente").val();

        $.ajax({
            type:"POST",
            url: "{% url 'get_ruc_by_name_client_ajax' %}",
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'cliente_name': cliente_name 
            },
            success: function(data) {
                $("#id_ruc").val(data.ruc);
                $("#id_codigo_cliente").val(data.codigo_cliente);
                if (data.error) {
                    $("#error_modal").html(
                        `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                        ${data.error}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`
                    )
                }
            }
        })
    })
</script>


<!-- ADD PRECIO -->
<script>
    $("button[name='precio']").on('click', function() {
        var product_id = $("#id_product_id").val();
        var codigo_cliente = $("#id_codigo_cliente").val();

        $.ajax({
            type:"POST",
            url: "{% url 'get_precio_by_product_client_ajax' %}",
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'product_id': product_id,
                'codigo_cliente': codigo_cliente
            },
            success: function(data) {
                
                if (data.precio) {
                    $("#id_precio_venta").val(data.precio);
                };
                
                if (data.error) {
                    $("#id_precio_venta").val('0.0');;
                    $("#error_modal").html(
                        `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                        ${data.error}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`
                    )
                }
            }
        })
    })
</script>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}