{%extends 'base_vue.html' %}

{% block title %}
<title>COSTOS IMPORTACIÓN</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body_2 %}

<div id="app">

    <h5 class="m-4 text-center fw-bold">COSTOS DE IMPORTACIÓN</h5>

    <div class="col-4">
        <div class="d-flex align-items-center">
            <label class="fw-bold me-2">Código:</label>
            <!--div class="col-auto"-->
            <select :value="filtro" @change="onSelectChange" class="form-select">
                <option value="">------</option>
                {% verbatim %}
                <option v-for="producto in product_list" :key="producto.product_id" :value="producto.product_id">
                {{ producto.product_id }}
                </option>
                {% endverbatim %}
            </select>
            <button class="btn btn-primary ms-2" @click="getDataProduct(filtro)" :disabled="!filtro">
                <i class="bi bi-search"></i>
            </button>
            <!--button class="btn btn-sm btn-danger ms-2" @click="limpiarSelect()">
                <i class="bi bi-trash"></i>
            </button-->
        </div>
    </div>

    <div class="col-4">
        <div class="d-flex align-items-center">
            <label for="formFile" class="form-label fw-bold">Cargar datos:</label>
            <input class="form-control" type="file" id="formFile" accept=".xlsx,.xls" @change="onFileChange">
            <button class="btn btn-success ms-2" id="btnEnviarExcel" :disabled="!fileInput" @click="sendExcelData()">
                <i v-if="!enviandoArchivo" class="bi bi-send"></i>
                <div v-if="enviandoArchivo">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </div>
    </div>

    {% verbatim %}
    <div v-if="product" class="mt-4 text-center fw-bold">
        {{product.Codigo}} - {{product.Nombre}} - {{product.MarcaDet}}
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mt-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="m-0 p-0" id="idCostoUnitario" style="width: 100%; height: 400px;"></div>
                    <div v-if="!dataProduct">No hay datos cargados...</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="m-0 p-0" id="idDolarImportado" style="width: 100%; height: 400px;"></div>
                    <div v-if="!dataProduct">No hay datos cargados...</div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}

    <!-- TABLA -->
    <div class="table-responsive mt-2 mb-4">
        <div style="max-height: 70vh; overflow-y: auto;">
            <table class="table table-bordered bg-white" style="font-size: small;">
                <thead class="table-light" style="position: sticky; top: 0; z-index: 2;">
                    <tr class="text-smaller">
                        <th><span style="white-space: nowrap;">Código</span></th>
                        <th><span style="white-space: nowrap;">Nombre</span></th>
                        <th><span style="white-space: nowrap;">Marca</span></th>
                        <th><span style="white-space: nowrap;">Costo Unitario</span></th>
                        <th><span style="white-space: nowrap;">Dólar Importado</span></th>
                        <th><span style="white-space: nowrap;">IMP</span></th>
                        <th><span style="white-space: nowrap;">GIM</span></th>
                        <th><span style="white-space: nowrap;">F.Llegada</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% verbatim %}
                    <tr>
                        <td v-if="!dataProduct" colspan="8" class="text-center fs-6">
                            <span>Seleccione un producto para cargar los datos...</span>
                        </td>
                    </tr>
                    <tr v-for="(i, index) in dataProduct" :key="i.product_id" :style="i.totalUnidades > 0 ? 'background-color:#E5FFE9' : ''">
                        <td>{{i.product_id}}</td>
                        <td>{{i.nombre}}</td>
                        <td>{{i.marca}}</td>
                        <td class="text-end">{{ formatNumber(i.costo_unitario, decimales) }}</td>
                        <td class="text-end">{{ formatNumber(i.dolar_importado, decimales) }}</td>
                        <td>{{i.importacion}}</td>
                        <td>{{i.gim}}</td>
                        <td>{{i.fecha_llegada}}</td>
                    </tr>
                    {% endverbatim %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<!--script src="https://cdn.jsdelivr.net/npm/chart.js"></script-->
<script>
    new Vue({
        el: '#app',
        data: {
            actualizandoStock:false,
            seriesLabels:false,
            filtro:'',
            decimales:6,
            product_list:[],
            product:null,
            dataProduct:[] | null,
            fileInput:null,
            enviandoArchivo:false
        },
        mounted() {
            this.getProductList();
            this.initSelect2();
        },
        updated() {
            this.initSelect2(); 
        },
        computed:{
        },
        methods: {
            // Api products list
            async getProductList() {
                try {
                    // const response = await fetch('/api/warehouse-productos-list');
                    const response = await fetch('/wms/costo-importacion-products-list');
                    const data = await response.json();
                    if (data.success) {
                        this.product_list = data.data || []
                    }
                } catch (error) {
                    console.log(error)
                } // finally {
                // }
            },

            // Data de producto
            async getDataProduct(product_id){
                try {
                    const response = await fetch(`/wms/costo-importacion-data/${product_id}`);
                    const data = await response.json();
                    // console.log(data)
                    if (data.success) {
                        this.dataProduct = data.data || [];
                        // console.log(data)
                        // this.xLabels = data.data.map(item => item.gim);
                        this.xLabels = data.data.map(item => `${item.gim}/${item.fecha_llegada}`);
                        this.costoUnitario = data.data.map(item => item.costo_unitario);
                        this.dolarImportado = data.data.map(item => item.dolar_importado);
                        this.grafico('idCostoUnitario', 'Evolución de costo unitario por importaicón', this.xLabels, this.costoUnitario);
                        this.grafico('idDolarImportado', 'Costo dolar importado', this.xLabels, this.dolarImportado)
                    }
                } catch (error) {
                    console.log(error)
                } // finally {
                // }
                try {
                    const response = await fetch(`/api/warehouse-producto/${product_id}`);
                    const data = await response.json();
                    console.log(data.data);
                    if (data.success) {
                        this.product = data.data;
                    }
                } catch (error) {
                    console.log(error)
                }
            },
            
            grafico(idGrafico, title, labels, data) {
                let chartDom = document.getElementById(idGrafico);
                let chart = echarts.getInstanceByDom(chartDom)
                if (chart) {
                    chart.dispose();
                }
                chart = echarts.init(chartDom);
                let self = this;
                const option = {
                    title:{text:title},
                    tooltip: { 
                        trigger: 'axis',
                        formatter: function(params) {
                            return params.map(function(item) {
                                return self.formatNumber(item.value, self.decimales);
                            }).join('<br/>');
                        }
                    },
                    xAxis: {
                        type: 'category',
                        name: 'GIM',
                        nameLocation: 'middle',
                        nameGap: 60, 
                        data: labels,
                        axisLabel: {
                            show : true,
                            formatter: function(value) {
                            return value.toUpperCase(); // Formato: mayúsculas
                            },
                            rotate: 45 //90                // Rotar etiquetas si son largas
                        }
                    },
                    yAxis: { 
                        type: 'value',
                        nameLocation: 'middle',
                        nameGap: 50,
                        axisLabel: {
                            formatter: '${value}'  // Formato con signo $
                        }
                    },
                    dataZoom: [
                        {
                            type: 'inside',   // slider debajo del gráfico
                            start: 0,         // rango inicial (%)
                            end: 100,
                        },
                    ],
                    series: [
                        {
                            // name: 'Costo Unitario',
                            type: 'line',
                            smooth: true,
                            data: data,
                            label: {
                                show: false,          // Mostrar valor en cada punto
                                // formatter: '${@value}', // Formato de valor
                                formatter: function(params) {
                                    return self.formatNumber(params.value, self.decimales);
                                },
                                position: 'top',
                                rotate:45
                            }
                        },
                    ]
                };

                chart.setOption(option);
                window.addEventListener('resize', () => chart.resize());
            },

            onSelectChange(event) {
                this.filtro = event.target.value;
            },

            initSelect2() {
                this.$nextTick(() => {
                    const vm = this;
                    $(".form-select").select2();
                    // sincroniza cuando cambia
                    $(".form-select").on("change", function (e) {
                        vm.filtro = e.target.value;
                    });
                    // actualiza visualmente el valor en Select2
                    $(".form-select").val(this.filtro).trigger("change.select2");
                });
            },

            limpiarSelect(){
                this.filtro = '';
            },

            formatNumber(value, decimales) {
                return value != null ? Number(value).toLocaleString("en-US", {
                    style: "currency",
                    currency: "USD",
                    minimumFractionDigits: decimales,
                    maximumFractionDigits: decimales,
                }) : '-';
            },

            onFileChange(event) {
                const input = event.target;
                console.log(input);
                if (input && input.files.length > 0) {
                    this.fileInput = input.files[0];
                }
            },

            async sendExcelData(){
                this.enviandoArchivo = true;
                try {
                    const formData = new FormData();
                    formData.append('archivo_excel', this.fileInput);
                    const response = await fetch('/wms/costo-importacion-cargar-excel', { // Ajusta la URL
                        method: 'POST',
                        body: formData,
                    });

                    if (!response.ok) {
                        throw new Error(`Error ${response.status}: ${response.statusText}`);
                    }

                    const resultado = await response.json();
                    
                    if (resultado.success) {
                        alert('Archivo subido exitosamente');
                        console.log('Datos procesados:', resultado.data);
                        
                        // Limpiar el formulario después del éxito
                        this.fileInput = null;
                        document.getElementById('formFile').value = '';
                        
                        // Opcional: recargar datos o actualizar interfaz
                        window.location.reload();
                        
                    } else {
                        alert(`Error al procesar el archivo: ${resultado.error}`);
                    }

                } catch (error) {
                    console.error('Error al subir el archivo:', error);
                    alert('Error al subir el archivo. Por favor, intenta nuevamente.');
                } finally {
                    this.enviandoArchivo = false;
                }
            }
        },
    })
</script>
{% endblock %}