{%extends 'base.html' %}

{% block title %}
<title>Importaciones Llegadas</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 text-center fw-bold">{{marca}} - {{orden}}</h5>


<!--h6 class="m-4 text-end"><strong>Actulizado: </strong>{{actualizado|slice:':-7'}}</h6-->

<div class="col-12 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<label><strong>Seleccione bodega:</strong></label>
<form method="POST" class="mb-3">
    {% csrf_token %} 
    <div class="input-group">
        <select class="form-select" name="bodega">
            <option value="">-----------</option>
            <option value="CN4">CN4</option>
            <option value="CN5">CN5</option>
            <option value="CN6">CN6</option>
            <option value="CN7">CN7</option>
            <!--option value="CUC">CUC</option-->
        </select>
        <button class="btn btn-success " type="submit">
            Añadir bodega
        </button>
    </div>
</form>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert text-center alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error'%}
        <div class="alert text-center alert-danger" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'info'%}
        <div class="alert text-center alert-warning" role="alert">
            {{message}}
        </div>
        {%endif%}
    {% endfor %}
{% endif %}

<div id="msg"></div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Unidades</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in imp %}
                    <tr>
                        <td>{{i.product_id}}<br>
                            {{i.Nombre}}<br>  
                        </td>
                        <td>{{i.LOTE_ID}}</td>

                        <td>{{i.OH|floatformat:"0g"}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}