{%extends 'base.html' %}

{% block title %}
<title>Importaciones en transito</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="fw-bold m-4 text-center">{{proveedor}}</h5>
<h5 class="fw-bold m-4 text-center">IMPORTACION: {{importacion}}</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<div id="msg"></div>

<div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div id="msg"></div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Cartones</th>
                        <th scope="col">Pallets</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in imp_transito %}
                    <tr>
                        <td>{{i.product_id}}</td>
                        <td>{{i.Nombre}}</td>
                        <td>{{i.Marca}}</td>
                        <td class="text-end">{{i.QUANTITY|floatformat:'0g'}}</td>
                        <td class="text-end">{{i.cartones|floatformat:'2g'}}</td>
                        <td class="text-end" {% if i.pallets == 0 %} style="background-color:#ffffcf" {% endif %}>
                            {{i.pallets|floatformat:'2g'|default:'-'}}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="fw-bold text-start">Total</td>
                        <td colspan=2></td>
                        <td class="text-end">{{unidades_total|floatformat:'2g'|default:'-'}}</td>
                        <td class="text-end">{{cartones_total|floatformat:'2g'|default:'-'}}</td>
                        <td class="text-end">{{pallets_total|floatformat:'2g'|default:'-'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}