{%extends 'base.html' %}

{% block title %}
<title>Picking</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}


<style>
    .switch-field {
	display: flex;
	/*margin-bottom: 36px;*/
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: white;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #b6fbd2 ;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
</style>


<h5 class="m-4 text-center fw-bold">LISTADO DE PICKING CEREZOS (WMS)</h5>
<h6 class="text-start"><strong>Ultima actualización: </strong>{{ultima_actualizacion}}</h6>

<!--button class="btn btn-primary btn-sm mt-2 mb-2" onclick="window.location.reload()"> 
    <i class="bi bi-arrow-clockwise"></i> Actualizar
</button> <br-->

<div class="d-flex justify-content-start align-items-center flex-wrap gap-2">
    <button class="btn btn-info btn-sm mb-2" id="mispedidos"> 
        <i class="bi bi-person-lines-fill"></i> Mis pedidos
    </button>

    <button class="btn btn-info btn-sm mb-2" onclick="window.location.reload()"> 
        <i class="bi bi-list-ccolumns-reverse"></i> Todos los pedidos
    </button>

    <button class="btn btn-sm btn-secondary mb-2" onclick="notificacionesData()" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Notificaciones
    </button>
</div>






<div class="col-12 mt-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<!--div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in reservas %}
                    <tr class="content">

                        <td>
                            {{i.NOMBRE_CLIENTE}}<br>
                            <span style="color:blue"><strong>{{i.contrato_id|slice:':-2'}}</strong></span><br>
                            {{i.ware_code}}<br>
                            {{i.fecha_pedido}} - {{i.hora_llegada}}
                        </td>

                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'wms_egreso_picking_misreservas' i.contrato_id %}">PICKING</a>
                            
                            {% if request.user.userperfil.permiso_operaciones %}
                                <a class="btn btn-sm btn-warning text-white" href="{% url 'wms_detalle_misreservas' i.contrato_id %}">Detalle</a>
                            {% endif %}
                            
                            {% if i.estado == 'EN PAUSA' %}
                                <span class="badge bg-danger rounded-pill shadow fs-6">{{i.estado}}</span>
                                <br>{{i.user__user__first_name}} {{i.user__user__last_name}}
                            {% elif i.estado == 'EN TRANSITO' %}
                                <span class="badge bg-primary rounded-pill shadow fs-6">{{i.estado}}</span>
                                <br>{{i.user__user__first_name}} {{i.user__user__last_name}}
                            {% elif i.estado == 'EN PROCESO' %}
                                <span class="badge bg-warning rounded-pill shadow fs-6">{{i.estado}}</span>
                                <br>{{i.user__user__first_name}} {{i.user__user__last_name}}
                            {% elif i.estado == 'INCOMPLETO' %} 
                                <span class="badge text-white rounded-pill shadow fs-6" style="background-color: #bf03c8 ;">{{i.estado}}</span>
                                <br>{{i.user__user__first_name}} {{i.user__user__last_name}}
                            {% elif i.estado == 'FINALIZADO' %}
                                <span class="badge bg-success rounded-pill shadow fs-6">{{i.estado}}</span>
                                <br>{{i.user__user__first_name}} {{i.user__user__last_name}}
                            {% else %}
                            -
                            {% endif %}
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div-->



<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in reservas %}
                    <tr class="content">

                        <td>
                            {{i.cliente}}<br>
                            <span style="color:blue"><strong>{{i.contrato_id}}</strong></span><br>
                            {{i.bodega}}<br>
                            {{i.fecha_hora}}
                        </td>

                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'wms_egreso_picking_misreservas' i.contrato_id %}">PICKING</a>
                            
                            {% if request.user.userperfil.permiso_operaciones %}
                                <a class="btn btn-sm btn-warning text-white" href="{% url 'wms_detalle_misreservas' i.contrato_id %}">Detalle</a>
                            {% endif %}
                            
                            {% if i.estado == 'EN PAUSA' %}
                                <span class="badge bg-danger rounded-pill shadow fs-6">{{i.estado}}</span>
                            {% elif i.estado == 'EN TRANSITO' %}
                                <span class="badge bg-primary rounded-pill shadow fs-6">{{i.estado}}</span>
                            {% elif i.estado == 'EN PROCESO' %}
                                <span class="badge bg-warning rounded-pill shadow fs-6">{{i.estado}}</span>
                            {% elif i.estado == 'INCOMPLETO' %} 
                                <span class="badge text-white rounded-pill shadow fs-6" style="background-color: #bf03c8 ;">{{i.estado}}</span>
                            {% elif i.estado == 'FINALIZADO' %}
                                <span class="badge bg-success rounded-pill shadow fs-6">{{i.estado}}</span>
                            {% else %}
                            -
                            {% endif %}
                            <br>
                            {% if i.usuario %}
                                <span class="text-muted" style="font-size: small;">{{i.usuario}}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold" id="staticBackdropLabel">Notificaciones de los ultimos 100 picking finalizados de Cerezos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">            
            <div id="noti_table"><div>
        </div>
        <!--div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
        </div-->
        </div>
    </div>
</div>

<!-- Notificaciones -->
<script>
    async function notificacionesData() {
        try{
            const response = await fetch('/wms/picking/wms_picking_notificaciones');
            const data = await response.json(); // Convertir a JSON
            const table = data.pedidos || [];
            
            if (table.length > 0) {
                const columnas = Object.keys(table[0]);
                
                const tablaHTML = `
                    <div class="table-responsive">
                        <table class="table" style="font-size: small;">
                            <thead>
                                <!--tr>${columnas.map(col => `<th>${col}</th>`).join('')}</tr-->
                                <tr>
                                    <th>CLIENTE</th>
                                    <th>ESTADO</th>
                                    <th>PEDIDO</th>
                                    <th>EMAIL</th>
                                    <th>ENVIO DE MAIL</th>
                                    <th>ERRORES DE NOTIFICACIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                                ${table.map(fila => `
                                    <tr>
                                        <td>${fila.cliente}</td>
                                        <td>${fila.estado}</td>
                                        <td>${fila.pedido}</td>
                                        <td>${fila.send_email}</td>
                                        <td>${fila.fecha_email}</td>
                                        <td>${fila.error_email}</td>
                                    </tr>
                                `).join('')}
                            </tbody>
                        </table>
                    </div>
                `;
                
                document.getElementById('noti_table').innerHTML = tablaHTML;
            } else {
                document.getElementById('noti_table').innerHTML = `
                    <div class="no-data">
                        <p>📭 No hay pedidos para mostrar</p>
                    </div>
                `;
            }

        } catch (error){
            console.error(error)
        }
        
    }
</script>

<!-- Busqueda -->
<script>
    // Buscador
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<!-- Busqueda por usuario -->
<script>
    // Mis pedidos
    $(document).ready(function() {
        $("#mispedidos").on("click", function() {
            var user = "{{request.user.last_name}}".toLowerCase();
            // console.log(user)
            $("#pedidosbuscar tr").filter(
                function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(user)>-1)
            }
            );
        });
    });
</script>

{% endblock %}