{%extends 'base.html' %}

{% block title %}
<title>Kardex</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">KARDEX</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<div class="row mb-2 m-0 p-0" id="buscar">

    <div class="card mt-2 mb-2">
        <div class="card-body mt-2 mb-2 p-0">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-4">
                        <label class="fw-bold">Código:</label>
                        <input name="product_id" class="form-control" >
                    </div>

                    <div class="col-4">
                        <label class="fw-bold">Número de referencia:</label>
                        <input name="n_referencia" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="fw-bold">Número de factura:</label>
                        <input name="n_factura" class="form-control" />
                    </div>
                </div>

                <button class="btn btn-success mt-2">
                    <i class="bi bi-search"></i> Buscar
                </button>
                
            </form>
        </div>
    </div>
</div>

{% if tipo %}
<div class="card mt-2 mb-2">
    <div class="card-body">
        <label class="fw-bold">{{tipo}}: </label> {{valor}}<br>
        <label class="fw-bold">Resultados: </label> {{len}}<br>
        <a class="btn btn-sm btn-danger" href="{% url 'wms_movimientos_list' %}">Borrar busqueda</a>
    </div>
</div>
{% endif %}

<hr>

<div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Filtro" class="form-control">
</div>

<div id="msg"></div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Referencia</th>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Estado Picking</th>
                        <th scope="col">Factura</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Realizado por</th>
                        <th scope="col">Fecha-Hora</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in mov %}
                    <tr>
                        <td>{{i.enum}}</td>
                        <td>{{i.product_id}} <br>
                        </td>

                        <td>{{i.lote_id}}<br>
                            {{i.fecha_caducidad|date:'Y-m-d'}}
                        </td>

                        <td>{{i.tipo}}</td>
                        <td>{{i.estado}}</td>
                        
                        <td>
                            {% if i.referencia == 'Picking' %}
                                {{i.referencia}} <span>: {{i.n_referencia|slice:"-2"}}</span>
                            {% elif i.referencia == 'Movimiento Interno'  or i.referencia 'Movimiento Grupal' %}
                                {{i.referencia}}
                            {% else %}
                                {{i.referencia}} <span>: {{i.n_referencia}}</span>
                            {% endif %}
                        </td>

                        <td>{% if i.cuarentena %}CUC-{% endif %}{{i.ubicacion}}</td>

                        <td>{{i.estado_picking|default:'-'}}</td>

                        <td>{{i.n_factura|slice:"14:-6"}}</td>

                        <td class="text-end">{{i.unidades|floatformat:"0g"}}</td>

                        <td>{{i.usuario.first_name}} {{i.usuario.last_name}}</td>

                        <td>{{i.fecha_hora|date:'Y-m-d - H:i'}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="pagination mt-2 mb-2">
    <span class="step-links">
        {% if mov.has_previous %}
            <a class="btn btn-outline-secondary btn-sm" href="?page=1">
                <span aria-hidden="true"> &laquo; Primera </span>
            </a>
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ mov.previous_page_number }}">Anterior</a>
        {% endif %}

        <!--span class="current btn btn-outline-primary btn-sm"-->
        <span class="current btn btn-secondary btn-sm disabled">
            Pagina {{ mov.number }} de {{ mov.paginator.num_pages }}
        </span>

        {% if mov.has_next %}
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ mov.next_page_number }}">Siguiente</a>
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ mov.paginator.num_pages }}">
                <span aria-hidden="true"> Última &raquo; </span>
            </a>
        {% endif %}
    </span>
</div>

<script>
    $(document).ready(function() {
        $("button[name='buscar']").click(function(){
            $("#buscar").toggle()
        })
    })
</script>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}