{%extends 'base.html' %}
{% load static %}

{% block title %}
<title>Mover Items</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}


<h5 class="m-4 text-center fw-bold">MOVIMIENTO INTERNO DE PRODUCTO</h5>


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<div class="card mb-2">
    <div class="card-body ps-2 pe-2">
        <h6 class="text-center"><strong>Item:</strong></h6>
        <div style="font-size:smaller">
            <span class="fw-bold">Item: </span>{{item.product_id}}<br>
            <span class="fw-bold">Lote: </span>{{item.lote_id}}<br>
            <span class="fw-bold">Caducidad: </span>{{item.fecha_caducidad|date:'Y-m-d'}}<br>
            <span class="fw-bold">Unidades: </span>{{item.unidades|floatformat:"0g"}}<br>
            <span class="fw-bold">Ubicación: </span>
                {% if item.estado == 'Cuarentena' %}CUC-{% endif %}
                {% if item.ubicacion.bodega == 'CN6' %}
                    {{item.ubicacion}}
                {% else %}
                    {{item.ubicacion.bodega}}-{{item.ubicacion.pasillo}}-{{item.ubicacion.modulo}}
                {% endif %}
            <input type=hidden id="ubi_salida" value={{item.ubicacion.id}} />
        </div>
    </div>
</div>

{#% comment %#}
{% if request.user.is_superuser %}
<!-- Scan QR -->
<div id="reader" width="600px"></div>
<div>
    <video id="video" width="100%" height="auto" style="display: none; border: 2px solid black"></video>
    <button id="startScan" class="btn btn-light"><i class="bi bi-qr-code"></i></button>
    <p>QR Ubicación: <span id="result"></span></p>
</div>
{% endif %}
{#% endcomment %#}

<form method="POST">
    {% csrf_token %} 
    
    <input type="hidden" value="{{request.user.username}}" name="usuario">
    <label class="fw-bold">Seleccione Bodega:</label>
    <br>
    <div class="btn-group mt-2 mb-2" role="group" aria-label="Basic example">
        <button name="bod-filter" id="CN4" type="button" class="btn btn-primary">CN4</button>
        <button name="bod-filter" id="CN5" type="button" class="btn btn-secondary">CN5</button>
        <button name="bod-filter" id="CN6" type="button" class="btn btn-success">CN6</button>
        <button name="bod-filter" id="CN7" type="button" class="btn btn-warning">CN7</button>
    </div>
    <br>

    <div id="div_pasillo"></div>

        <div id="form-movimiento-interno">
            <label class="fw-bold">Seleccione la ubicación:</label>
            <select class="form-select" name="ubicacion" id="chosen-select" required>
            </select>

            <div id="msg"></div>
            <div id="table_data" class="p0"></div>

            <label class="fw-bold">Unidades:</label>
            <input class="form-control form-control-sm" type="number" name="unidades" min="1" required>

            <button class="btn btn-success float-end mt-2" type="submit">
                <i class="bi bi-arrows-move"></i> Mover
            </button>
        </div>
</form>

<!-- QR SCAN -->
<script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
<script>
    
let stream;

function startScanner() {
    const video = document.getElementById('video');
    const resultDisplay = document.getElementById('result');
    
    // Si ya hay un stream activo, deténgalo
    if (stream) {
        stream.getTracks().forEach(track => track.stop());
    }

    // Reinicia el contenido del span
    resultDisplay.textContent = "";
    
    navigator.mediaDevices.getUserMedia({video: true})
    .then(newStream => {
        stream = newStream;
        video.srcObject = stream;
        video.play();
        
        video.addEventListener('loadedmetadata', function() {
            const canvas = document.createElement('canvas');
            const context = canvas.getContext('2d');
            
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            video.style.display = 'block';
            
            function captureFrame() {
                if (video.style.display === 'none') return; // Detener el escaneo si el video está oculto

                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                const imageData = context.getImageData(0, 0, canvas.width, canvas.height);

                const qrCode = jsQR(imageData.data, canvas.width, canvas.height);

                if (qrCode) {
                    resultDisplay.textContent = qrCode.data;
                    video.style.display = 'none';
                    video.pause();
                    stream.getTracks().forEach(track => track.stop());
                } else {
                    // Continuar escaneando el siguiente frame
                    requestAnimationFrame(captureFrame);
                }
            }
            requestAnimationFrame(captureFrame);
        });
        
    }).catch(error => {
        console.error("Error accessing camera:", error);
        alert("Unable to access the camera. Please check permissions.");
    });
}

document.getElementById('startScan').addEventListener('click', startScanner);
</script>



<!--script>

    function startScanner() {
        const video = document.getElementById('video');
        const resultDisplay = document.getElementById('result');
    
        navigator.mediaDevices.getUserMedia({video: true })
        .then(stream => {
            video.srcObject = stream;
            video.play();
            
            video.addEventListener('loadedmetadata', function() {
                
                const canvas = document.createElement('canvas');
                const context = canvas.getContext('2d');
                
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                video.style.display = 'block';
                
                function captureFrame() {
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);
                    const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
    
                    const qrCode = jsQR(imageData.data, canvas.width, canvas.height);
    
                    if (qrCode) {
                        resultDisplay.textContent = qrCode.data;
                        video.style.display = 'none';
                        video.pause();
                        
                    } else {
                        resultDisplay.textContent = "";
                    }
    
                    // Keep scanning the next frame
                    requestAnimationFrame(captureFrame);
                }
                requestAnimationFrame(captureFrame);
            }); 
            

        }).catch(error => {
            console.error("Error accessing camera:", error);
            alert("Unable to access the camera. Please check permissions.");
        });
    }
    
    document.getElementById('startScan').addEventListener('click', startScanner);

</script-->


<!--script>

    function startScanner() {
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const resultDisplay = document.getElementById('result');
    
        navigator.mediaDevices.getUserMedia({
            video: { facingMode: {ideal:'environment'} } // Use the back camera
        }).then(stream => {
            video.srcObject = stream;
            video.play();
    
            video.addEventListener('loadedmetadata', function() {
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
    
                function captureFrame() {
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);
                    const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
    
                    const qrCode = jsQR(imageData.data, canvas.width, canvas.height);
    
                    if (qrCode) {
                        resultDisplay.textContent = qrCode.data;
    
                        // Draw a bounding box around the QR code
                        context.beginPath();
                        context.moveTo(qrCode.location.topLeftCorner.x, qrCode.location.topLeftCorner.y);
                        context.lineTo(qrCode.location.topRightCorner.x, qrCode.location.topRightCorner.y);
                        context.lineTo(qrCode.location.bottomRightCorner.x, qrCode.location.bottomRightCorner.y);
                        context.lineTo(qrCode.location.bottomLeftCorner.x, qrCode.location.bottomLeftCorner.y);
                        context.closePath();
                        context.lineWidth = 4;
                        context.strokeStyle = 'green'; // Change color to green for detected QR code
                        context.stroke();
                    } else {
                        resultDisplay.textContent = "No QR code detected";
                    }
    
                    // Keep scanning the next frame
                    requestAnimationFrame(captureFrame);
                }
    
                requestAnimationFrame(captureFrame);
            });
        }).catch(error => {
            console.error("Error accessing camera:", error);
            alert("Unable to access the camera. Please check permissions.");
        });
    }
    
    document.getElementById('startScan').addEventListener('click', startScanner);

</script-->



<script src="{% static 'js/select_items_form.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#form-movimiento-interno').css('display', 'none');

        $("button[name='bod-filter']").click(function(){
            $('#form-movimiento-interno').css('display', 'none');
            var bod = $(this).attr('id');
            var div_pasillo = $("#div_pasillo");
    
            var pasillos_bod_6 = [
                {index:0, color:'primary', pasillo:'A'},
                {index:1, color:'secondary', pasillo:'B'},
                {index:2, color:'success', pasillo:'C'},
                {index:3, color:'info', pasillo:'D'},
                {index:4, color:'danger', pasillo:'E'},
                {index:5, color:'light', pasillo:'F'},
                {index:6, color:'dark', pasillo:'G'}];
    
            var pasillos_demas = [{index:0, color:'primary', pasillo:'A'}, {index:1, color:'secondary', pasillo:'B'}]
    
            function pasillos_list () {
                if (bod === 'CN6') {
                    pasillos = pasillos_bod_6
                } else {
                    pasillos = pasillos_demas
                } 
    
                return pasillos
            }
    
            var btn_group = $('<br><div class="btn-group" role="group"></div><br>')
    
            div_pasillo.html(`<label class="fw-bold">Seleccione pasillo de la bodega <span id='bod-selected'>${bod}</span>:<label><br>`);
                
            btn_group.empty();

            $.each(pasillos_list(), function(index, item) {
                var btn = $(`<button name="btn-pasillo" type="button" class="btn btn-${item.color}">${item.pasillo}</button>`)
                btn_group.append(btn)
            })
            
            div_pasillo.append(btn_group)
    
            $("button[name='btn-pasillo']").click(function(){
                var bodega  = $("#bod-selected").html();
                var pasillo = $(this).text();
                var ubi_salida = $("#ubi_salida").val();
                
                var select_ubi_list = $("#chosen-select")

                $.ajax({
                    type:"POST",
                    url:"{% url 'wms_movimiento_interno_get_ubi_list_ajax' %}",
                    data:{
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'bodega':bodega,
                        'pasillo':pasillo,
                        'ubi_salida':ubi_salida
                    },

                    success: function(response) {

                        $('#form-movimiento-interno').css('display', 'block');

                        select_ubi_list.empty();
                        $("#msg").empty();
                        $("#table_data").empty();

                        select_ubi_list.append('<option value="">Selecciona una ubicación</option>');
                        $.each(response.ubi_list, function(index, item) {
                            if (item.bodega === 'CN6') {
                                select_ubi_list.append(`<option value="${item.id}">${item.bodega}-${item.pasillo}-${item.modulo}-${item.nivel}</option>`);
                            } else {
                                select_ubi_list.append(`<option value="${item.id}">${item.bodega}-${item.pasillo}-${item.modulo}</option>`);
                            }
                        })

                    }
                })

            })
        })
    })
    
</script>

<script>
    $(document).ready(function() {
        $('#chosen-select').change(function() {
            
            var select_ubi = $(this); 
            var title = $("#title_modal");
            var cabecera = $('#cabecera_modal');
            var body = $('#body_modal');


            if (select_ubi.text().includes('CN6')) {
                
                $.ajax({
                    type: "POST",
                    url: "{% url 'wms_verificar_ubicacion_destino_ajax' %}", 
                    data: { 
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                        'ubi_destino': select_ubi.val(),
                    },
                    success: function(response) {
                        
                        $("#msg").html(`<div class="text-center p-2 mt-2 mb-2 alert alert-${response.type}" role="alert">${response.msg}</div>`);
                        
                        if(response.type === 'warning'){
                            $("#table_data").html(
                                `<div class="card p-0 mt-0">
                                    <div class="card-body p-0">
                                        ${response.exitencias}
                                    </div>
                                </div>
                                `)} else {
                                    $("#table_data").empty()
                                }
                    },
                    error: function(error) {
                        console.error(error);
                    }
                });
                
            }
        });
    });
</script>

{% endblock %}