{%extends 'base.html' %}
{% load static %}

{% block title %}
<title>Mover Items</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 text-center"><strong>Movimiento interno de producto</strong></h5>


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<!--h6 class="m-4 text-end"><strong>Actulizado: </strong>{{actualizado|slice:':-7'}}</h6-->
<!--div class="col-12 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div-->

<div class="card mb-2">
    <div class="card-body ps-2 pe-2">
        <h6 class="text-center"><strong>Item:</strong></h6>
        <!--span style="font-size: small;"> <span class="fw-bold">Bodega: </span>{{mov.item.product}}</span><br-->
        <span style="font-size: small;"> <span class="fw-bold">Item: </span>{{mov.item.product_id}} - {{mov.item.nombre}} - {{mov.item.marca2}}</span><br>
        <span style="font-size: small;"> <span class="fw-bold">Lote: </span>{{mov.item.lote_id}}</span><br>
        <span style="font-size: small;"> <span class="fw-bold">Caducidad: </span>{{mov.item.fecha_caducidad|date:'Y-m-d'}}</span><br>
        <!--span style="font-size: small;"> <span class="fw-bold">Unidades: </span>{{mov.unidades|floatformat:"0g"}}</span><br-->
        <span style="font-size: small;"> <span class="fw-bold">Unidades: </span>{{und_existentes|floatformat:"0g"}}</span><br>
        <span style="font-size: small;"> <span class="fw-bold">Ubicación: </span>{{mov.ubicacion}}</span>
    </div>
</div>


<form method="POST">
    {% csrf_token %} 
    
    <input type="hidden" value="{{request.user.username}}" name="usuario">
    <label><strong>Seleccione Ubicación:</strong></label>
        <select class="form-select" name="ubicacion" id="chosen-select" required>
            <option value="">-----------</option>
            {% for i in ubi %}
            <option value="{{i.id}}">{{i}}</option>
            {% endfor %}
        </select>

        <label><strong>Unidades:</strong></label>
        <input class="form-control form-control-sm" type="number" name="unidades" min="1" required>

        <button class="btn btn-success float-end mt-2" type="submit">
            <i class="bi bi-arrows-move"></i> Mover
        </button>
    <!--/div-->
</form>


<script src="{% static 'js/select_items_form.js' %}"></script>

{% endblock %}