{%extends 'base.html' %}

{% block title %}
<title>Orden de Salida</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
    .btn.btn-warning.btn-sm.active {
    background-color: blue;}

    .mensaje-temporal {
        display: none;
        position: absolute;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }

    #msg_ss {
        display: none;
        position: fixed; /* Cambiado a fixed para que sea relativo a la ventana */
        /*bottom: 10px; */ /* Distancia desde la parte inferior */
        top:40%;
        right: 10px; /* Distancia desde la derecha */
        /*background-color: #4CAF50;*/
        color: white;
        padding: 10px;
        border-radius: 5px;
        width:auto;
        z-index: 3;
        }
</style>

<h5 class="m-4 text-center fw-bold">ORDEN DE SALIDA</h5>


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<label class="fw-bold">Cliente: </label> {{data_cliente.NOMBRE_CLIENTE}}<br>
<label class="fw-bold">Ruc: </label> {{data_cliente.IDENTIFICACION_FISCAL}}<br>
<label class="fw-bold">Factura: </label> <span id="n_factura">{{n_factura}}</span> <br>
<label class="fw-bold">Picking:</mark></label> {{picking | slice:"-2"}}</mark> <br>
<label class="fw-bold">Fecha de despacho: </label> 
<br>

<div class="col-2 mb-2">
    <form method="post">
        {% csrf_token %}
        <input type="date" class="col-2 form-control form-control-sm mt-2" value="{% now 'Y-m-d' %}">
        <button type="submit" class="btn btn-primary btn-sm mt-2">GENERAR</button>
    </form>
</div>

<!--div class="col-12 mt-2 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div-->
<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;" id="mitabla">
                <thead>
                    <tr>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">DESCRIPCIÓN</th>
                        <th scope="col">CÓDIGO</th>
                        <th scope="col">UNIDAD</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in movimientos %}
                        <tr>
                            <td class="text-center">{{i.unidades}}</td>
                            <td>{{i.Nombre}}</td>
                            <td>{{i.product_id}}</td>
                            <td>{{i.Unidad}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<script>
    // Función para mostrar un mensaje temporal
    function mostrarMensajeTemporal(mensaje, boton) {
        var mensajeTemporal = $("button[name='cruce']");
        var botonOffset = boton.offset();

        // Colocar el mensaje al lado del botón
        mensajeTemporal.css({
            top: botonOffset.top + boton.outerHeight(),
            left: botonOffset.left
        });

        // Establecer el contenido del mensaje
        mensajeTemporal.text(mensaje);

        // Mostrar el mensaje
        mensajeTemporal.fadeIn();

        // Ocultar el mensaje después de 3 segundos
        setTimeout(function() {
            mensajeTemporal.fadeOut();
        }, 3000)}
</script>    

<script>

    $("button[name='cruce']").click(function(){
        var btn       = $(this);
        var prod_id   = btn.closest("tr").find("#prod_id").html();
        var lote_id   = btn.closest("tr").find("#lote_id").val();
        var n_pick    = $("#n_picking").val();
        var n_factura = $("#n_factura").html();
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_cruce_check_despacho' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'n_picking':n_pick,
                'prod_id':prod_id,
                'lote_id':lote_id,
                'n_factura':n_factura
            },

            success: function(response) {
                
                if(response.msg === 'OK') {
                    var div_msg = $("#msg_ss")
                    div_msg.fadeIn().html('<div class="text-center alert alert-success" role="alert"> Despachado !!! </div>');
                    div_msg.fadeOut(4000);
                    btn.removeClass();
                    btn.addClass("btn btn-sm btn-success disabled")
                } else if(response.msg === 'FAIL') {
                    var div_msg = $("#msg_ss")
                    div_msg.fadeIn().html('<div class="text-center alert alert-danger" role="alert"> Error intente nuevamente !!! </div>');
                    div_msg.fadeOut(4000);
                    //btn.removeClass();
                    //btn.addClass("btn btn-sm btn-success disabled")
                }
            },

            error: function() {
                
                $('#msg').fadeIn().html('<div class="text-center alert alert-danger" role="alert"> Error hacer el check !!! </div>').fadeOut(4000)
            }
            
        })
    })
</script>

<!-- Cartones -->
<script>
    $("button[name='cartones']").click(function(){
        var picking = $("#cc_picking").val();
        var factura = $("#cc_factura").val();
        var c_calcu = $("#cc_cartones_calculados").val();
        var c_fisic = $("#cc_cartones_fisicos").val();
        var usuario = "{{request.user.id}}"
        console.log(picking, factura,c_calcu, c_fisic)

        $.ajax({
            type:"POST",
            url:"{% url 'wms_despacho_cartones' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'picking':picking,
                'factura':factura,
                'cartones_calculados':parseFloat(c_calcu),
                'cartones_fisicos':parseFloat(c_fisic),
                'usuario':usuario
                },
                success: function(response) {
                    $("#msg").html(`<div class="text-center alert alert-${response.tipo}" role="alert">${response.msg} !!! </div>`);
                    $("#cartones_fisicos_save").html(c_fisic);
                },
                error: function(){
                    $("#msg").html(`<div class="text-center alert alert-danger" role="alert"> Error !!!</div>`)
                }
        })

    })
</script>

{% endblock %}