{% load static %}
<title>Orden Salida # {{orden_salida.enum}}</title>

<style>
    @page{
        size: A4;
        /*size: letter landscape;*/
        margin-top:1cm;
        margin-left:0.5cm;
        margin-right:0.5cm;
        margin-bottom:1cm;
    }
    .gim {
        background-size:100%;
        background-repeat:no-repeat;
    }

    .t_b {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;

        font-size: large;
    } 

    .t_codigo {
        width: 120px;
        font-size: large;
    }

    .t_nombre {
        width: 230px;
        font-size: large;
    }

    .t_u_c {
        width: 90px;
        font-size: large;
    }

    .t_row_title {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        font-size: medium;
    }

    .t_row {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        font-size: medium;
    }

    .t_row_cal {
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        text-align: right;
        font-size: large;
    }
</style>

<meta charset="UTF-8">


<div class="gim" style="text-align:justify;"> <!--font-size:14px-->

    <div class="body_frame">

        <!-- Encabezado -->
        <table> 
            <tr style="padding-right:20px;">
                <td class="t_b" style="text-align:center;">
                    <img src="https://gimpromed.com/themes/gimpromed-theme/assets/img/blue/logo.png" width="330px" height="70px" alt="Imagen"><br />
                    <!--span style="font-size: 15px; font-weight: bold; text-align:left;">GIMPROMED CIA. LTDA.</span> <br /-->
                    <span style="font-size: 10px; margin-top: 15px;">PASCUAL DE ANDAGOYA OE3-293 Y AV.AMERICA</span><br />
                    <span style="font-size: 10px; margin-top: 15px;">PBX: 2526-526 / 2564-740 - Fax: 2508-228 - Casilla: 17o1403</span><br />
                    <span style="font-size: 10px; margin-top: 15px;">Email: info@gimpromed.com - Quito-Ecuador</span>
                </td> 
                <th>
                    <div style="border:1px solid black; border-collapse: separate; border-spacing: 0; border-radius: 10px; padding: 10px; text-align:center; font-size:medium;">
                        <span style="font-size: 25px">RUC:{{orden_salida.ruc_cliente}}</span> 
                        <br /> <br />
                        <span style="font-size: 15px">ORDEN DE SALIDA</span> <br />
                        <span style="font-size: 25px; margin-top: 15px; color: red;">No: {{orden_salida.enum}}</span> 
                    </div>
                </th>
            </tr>
        </table>
        
        <table style="border:1px solid black; border-collapse: separate; border-spacing: 0; border-radius: 10px; margin-top:10px;">
            <tr>
                <th width="300px" style="border:none; padding:6px 8px; text-align:left;">
                    Factura No.:<span style="font-weight: normal;"> {{orden_salida.n_factura}}</span>  <br/>
                    Fecha de desapacho:<span style="font-weight: normal;"> {{orden_salida.fecha_salida|date:"Y-m-d"}}</span> <br />
                    Cliente: <span style="font-weight: normal;"> {{orden_salida.cliente}}</span>
                </th> 
                <th width="150px" style="border:none;">
                </th>
                <th width="300px" style="border:none; padding:6px 8px; text-align:left; vertical-align:top;">
                    Fecha de factura: <span style="font-weight: normal;"> {{orden_salida.fecha_factura|date:"Y-m-d"}}</span>
                </th>
            </tr>
        </table>

        <br>
        
        <table style="border:1px solid black; padding-right:20px;">
            <thead>
                <tr>
                    <th class="t_row_title">CÓDIGO</th>
                    <th class="t_row_title">DESCRIPCIÓN</th>
                    <th class="t_row_title">CANTIDAD</th>
                    <th class="t_row_title">UNIDAD</th>
                </tr>
            </thead>
            <tbody>
                {% for i in movimientos %}
                <tr>
                    <td style="width: 135px;" class="t_row">{{i.product_id}}</td>           
                    <td style="width: auto;" class="t_row">{{i.Nombre}}</td>         
                    <td style="width: 100px;" class="t_row">{{i.unidades}}</td>      
                    <td style="width: 100px;" class="t_row">{{i.Unidad}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <table style="margin-top:50px;">
            <tr>
                <td style="width:200px; font-weight:bold;">
                    _________________________<br>
                        Firma Responsable
                </td>
            </tr>
        </table>

    </div>
</div>