{%extends 'base.html' %}

{% block title %}
<title>Orden de Salida</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 text-center fw-bold">ORDEN DE SALIDA</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<label class="fw-bold">Cliente: </label> {{data_cliente.NOMBRE_CLIENTE}}<br>
<label class="fw-bold">Ruc: </label> {{data_cliente.IDENTIFICACION_FISCAL}}<br>
<label class="fw-bold">Factura: </label> <span id="n_factura">{{n_factura}}</span> <br>
<label class="fw-bold">Fecha Factura: </label> <span id="n_factura">{{data_cliente.FECHA_FACTURA|date:"Y-m-d"}}</span> <br>
<label class="fw-bold">Picking:</mark></label> {{picking | slice:"-2"}}</mark> <br>
<label class="fw-bold">Fecha de despacho: </label>  {{orden_salida.fecha_salida|date:'Y-m-d'}}
<br>

<div class="col-2 mb-2">
    <form method="post">
        {% csrf_token %}
        <input type="text" name="usuario" value="{{request.user.id}}" hidden>
        <input type="text" name="n_factura" value="{{n_factura}}" hidden>
        <input type="text" name="codigo_cliente" value="{{data_cliente.CODIGO_CLIENTE}}" hidden>
        <input type="text" name="ruc_cliente" value="{{data_cliente.IDENTIFICACION_FISCAL}}" hidden>
        <input type="text" name="cliente" value="{{data_cliente.NOMBRE_CLIENTE}}" hidden>
        <input type="text" name="fecha_factura" value="{{data_cliente.FECHA_FACTURA|date:'Y-m-d'}}" hidden>
        <input 
            type="date" 
            name="fecha_salida" 
            class="col-2 form-control form-control-sm mt-2" 
            value="{% now 'Y-m-d' %}"
            required
        >
        {% if not data_cliente %}
            <button class="btn btn-primary btn-sm mt-2" onclick="location.reload();">Recargar</button>
        {% else %}
        <button type="submit" class="btn btn-primary btn-sm mt-2">
            {% if orden_salida %}
                ACTUALIZAR
            {% else %}
                GENERAR
            {% endif %}
        </button>
        {% endif %}
    </form>
</div>

{% if orden_salida %}
<a class="btn btn-danger btn-sm mb-2" href="{% url 'orden_salida_pdf' orden_salida.n_factura %}" target="_blank">
    <i class="bi bi-file-earmark-pdf"></i> Descargar PDF
</a>
{% endif %}

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;" id="mitabla">
                <thead>
                    <tr>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">DESCRIPCIÓN</th>
                        <th scope="col">CÓDIGO</th>
                        <th scope="col">UNIDAD</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in movimientos %}
                        <tr>
                            <td class="text-center">{{i.unidades}}</td>
                            <td>{{i.Nombre}} - Lote: {{i.lote_id}}</td>
                            <td>{{i.product_id}}</td>
                            <td>{{i.Unidad}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}