{%extends 'base.html' %}

{% block title %}
<title>Picking en despacho</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
    .btn.btn-warning.btn-sm.active {
    background-color: blue;
}
</style>

<h5 class="m-4 text-center fw-bold">
    Picking - {{picking.n_referencia | slice:-2}}
</h5>

<div class="col-12 mt-2 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{% endif %}
{% endfor %}
{% endif %}


<div id="msg"></div>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;" id="mitabla">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha-Hora</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in picking_list %}
                        <tr {% if i.estado_picking == 'No Despachado' %} class="bg-warning" {% endif %}>
                            <td>{{i.codigo}}</td>
                            <td>{{i.nombre}}</td>
                            <td>{{i.marca}}</td>
                            <td>{{i.lote}}</td>
                            <td>{{i.estado_picking}}</td>
                            <td class="text-end">{{i.unidades|floatformat:"0g"}}</td>
                            <td>{{i.usuario}}</td>
                            <td>{{i.fecha_hora}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}