{%extends 'base.html' %}

{% block title %}
<title>Picking {{n_ped|slice:'-2'}}</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
    .btn.btn-warning.btn-sm.active {
    background-color: blue;}
</style>

<h6 class="mt-2 text-center"><strong>{{cli}}</strong></h6>

<div class="mt-2 mb-2">   
    <span class="fw-bold" style="font-size: small;">Pedido: </span> <span style="font-size: small;">{{n_ped|slice:'-2'}}</span> <br>
    <span class="fw-bold" style="font-size: small;">Fecha-Hora: </span> <span style="font-size: small;"> {{fecha|date:'Y-m-d'}} {{hora}}</span> 
</div>

<hr>

<div class="text-end mb-2">
<button type="button" class="btn btn-sm btn-primary disabled">Estado: {{estado}}</button>
</div>

<div class="text-end">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        {% if estado == 'SIN ESTADO' %}
        <button type="button" id="{{n_ped}}" name="estado_picking" class="btn btn-warning">EN PROCESO</button>
        <button type="button" class="btn btn-success disabled">FINALIZADO</button>
        
        {% elif estado == 'EN PROCESO' %}
        <button type="button" class="btn btn-warning disabled">EN PROCESO</button>
        <button type="button" id="{{estado_id}}" name="estado_actualizar" class="btn btn-success">FINALIZADO</button>

        {% elif estado == 'FINALIZADO' %}
        <button type="button" class="btn btn-warning disabled">EN PROCESO</button>
        <button type="button" class="btn btn-success disabled">FINALIZADO</button>
        {% endif %}
        <!--button type="button" class="btn btn-primary">Right</button-->
        
    </div>
</div>
<hr>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}


<div id="msg"></div>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: smaller;" id="mitabla">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Picking unds</th>
                        <th scope="col">Ubicación(es)</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in pedido %}
                        <tr>
                            <td><span id="prod_id">{{i.PRODUCT_ID}}</span><br>
                                <span id="prod_name">{{i.PRODUCT_NAME}}</span><br>
                                <span id="prod_marca">{{i.Marca}}</span><br>
                            </td>    
                            <td>
                                <span id="prod_und">{{i.QUANTITY|floatformat:"0g"}}</span> <br>
                            </td>

                            <td class="text-end" 
                                {% if i.QUANTITY == i.unidades %} 
                                    style="background-color: #e3fde6;" 
                                {% elif not i.unidades or i.unidades < i.QUANTITY %}
                                    style="background-color: #F6F490;"
                                {% elif i.QUANTITY < i.unidades %}
                                    style="background-color: #F6B690;" 
                                {% endif %}>
                                {{i.unidades|default:0|floatformat:'0g'}}
                            </td>

                            <td class="text-end">
                                <button class="btn btn-primary btn-sm" id="{{i.PRODUCT_ID}}" name="boton_ubicaciones"> 
                                    <i class="bi bi-geo-fill"></i>
                                </button>
                            </td>
                        </tr>

                        {# FILA OCULTA DE INVENTARIO Y PICKING #}
                        <tr id="detalle_ubicaciones" style="display: none;">
                            <td colspan="4">
                                <h6 class="fw-bold" style="font-size: small;">Inventario</h6>
                                <table class="table m-0 p-0" style="font-size: smaller;">
                                    <thead>
                                        <tr {% if not i.tipo %} style="background-color: #e6e6e6;" {% else %} style="background-color: #e3fde6;" {% endif %}>
                                            <th scope="col">Lote</th>
                                            <th scope="col">Ubicación</th>
                                            <th scope="col">Unds-Picking</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {# TABLA DE INVENTARIO #}
                                        {% if i.ubi %}
                                        {% for i in i.ubi %}
                                            {% if not i.tipo %}
                                            {{i.unds_picks}}
                                            <tr {% if not i.tipo %} style="background-color: #e6e6e6;" {% else %} style="background-color: #e3fde6;" {% endif %}>
                                                <input type="hidden" value="{{n_ped}}" id="n_picking">
                                                <input type="hidden" value="{{i.product_id}}" id="prod_id">
                                                <input type="hidden" value="{{i.ubicacion_id}}" id="ubi">

                                                <td>
                                                    <input type="hidden" value="{{i.lote_id}}" id="lote_id">
                                                    {% if i.EGRESO_TEMP %}
                                                    <button class="text-sm m-0 p-0" style="background-color:yellow" id="{{i.lote_id}}" name="reservas" data-bs-toggle="modal" data-bs-target="#exampleModal">{{i.lote_id}}</button><br>
                                                    {% else %}
                                                    <span style="background-color:#37F8F5">{{i.lote_id}}</span><br>
                                                    {% endif %}
                                                    <span id="caducidad">{{i.fecha_caducidad}}</span>
                                                </td>
                                                
                                                <td class="{% if i.estado == 'Cuarentena' %}text-danger{% endif %}">{% if i.estado == 'Cuarentena' %}CUC-{% endif %}
                                                    <span>{{i.ubicacion__bodega}}-{{i.ubicacion__pasillo}}-{{i.ubicacion__modulo}}-{{i.ubicacion__nivel}}</span><br>
                                                    <span class="fw-bold">Disp:</span> {{i.unidades|floatformat:"0g"}}
                                                </td>

                                                <td>
                                                    {% if i.tipo == 'Egreso' %}
                                                    {% else %}
                                                    <input id="picking_cantidad" type="number" class="form-control" {% if i.estado == 'Cuarentena' %} disabled {% endif %}>
                                                    {% endif %}
                                                </td>
                                                
                                                <td class="text-center">
                                                    <button name="pick" type="button" class="btn btn-success btn-sm {% if i.estado == 'Cuarentena' %} disabled {% endif %}">
                                                        <!--i class="bi bi-cart"></i-->
                                                        <i class="bi bi-arrow-bar-right"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                
                                        {# TABLA DE ELEMENTOS PICKEADOS #}
                                        {% if i.pik %}
                                        <tr>
                                            <td colspan="4">
                                                <h6 class="fw-bold" style="font-size: small;">Picking</h6>
                                                <table class="table m-0 p-0" style="font-size: smaller; background-color: #edfdff;">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Lote</th>
                                                            <th scope="col">F.Caducidad</th>
                                                            <th scope="col">Ubicacion</th>
                                                            <th scope="col">Unds-Picking</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for j in i.pik %}
                                                        <tr>
                                                            <input type="hidden" value="{{n_ped}}" id="reg_n_picking">
                                                            <input type="hidden" value="{{j.product_id}}" id="reg_prod_id">
                                                            <input type="hidden" value="{{j.ubicacion_id}}" id="reg_ubi">
                                                            
                                                            <td id="reg_lote">{{j.lote_id}}</td>
                                                            <td id="reg_caducidad">{{j.fecha_caducidad}}</td>
                                                            <td>{{j.ubicacion__bodega}}-{{j.ubicacion__pasillo}}-{{j.ubicacion__modulo}}-{{j.ubicacion__nivel}}</td>
                                                            <td id="reg_unidades" class="text-end">{{j.unidades|floatformat:"0g"}}</td>
                                                            <td class="text-center">
                                                                <!--button class="btn btn-sm btn-danger" name="reg_pick">
                                                                    <i class="bi bi-arrow-bar-left"></i>
                                                                </button-->

                                                                <!--button class="btn btn-sm btn-danger {% if estado == 'FINALIZADO' %}disabled{% endif %}" name="eliminar_picking" id="{{j.id}}">
                                                                    <i class="bi bi-arrow-bar-left"></i>
                                                                </button-->

                                                                <button class="btn btn-sm btn-danger" name="eliminar_picking" id="{{j.id}}">
                                                                    <i class="bi bi-arrow-bar-left"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        <!--tr>
                                                            <td colspan="2"></td>
                                                            <td class="text-end fw-bold">Total:</td>
                                                            <td class="text-end">{{i.unds_picks}}</td>
                                                            <td></td>
                                                        </tr-->
                                                    </tbody>
                                                </table>
                                            </td>
                                        <tr>
                                        {% endif %}

                                    {% else %}
                                        <tr style="background-color:  #fde6e3 ;">
                                            <td colspan="7" class="text-center"> No hay existencias en inventario !!! </td> 
                                        </tr>
                                    {% endif %}
                                    
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal - RESERVAS -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Reservas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div id="reservas" class="modal-body responsive"><!--class="modal-body"-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <!--button type="button" class="btn btn-primary">Save changes</button-->
            </div>
        </div>
    </div>
</div>


<!-- Desplegar ubicaciones -->
<!--style>
    .seleccionada {
        background-color: lightblue; /* Puedes cambiar el color aquí */
    }
</style-->
<script>
    $(document).ready(function(){
        $("button[name='boton_ubicaciones']").click(function(){
            var fila = $(this).closest("tr")
            fila.next("#detalle_ubicaciones").toggle();
            fila.toggleClass("table-info")
        })
    })
</script>

<!-- Picking -->
<script>
    $("button[name='pick']").click(function(){
        var prod_id          = $(this).closest("tr").find("#prod_id").val();
        var lote             = $(this).closest("tr").find("#lote_id").val();
        var caducidad        = $(this).closest("tr").find("#caducidad").html();
        var picking_cantidad = $(this).closest("tr").find("#picking_cantidad").val();
        var n_picking        = $(this).closest("tr").find("#n_picking").val();
        var ubi              = $(this).closest("tr").find("#ubi").val();
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_movimiento_egreso_picking' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'prod_id':prod_id,
                'lote_id':lote,
                'caducidad':caducidad,
                'unds'   :picking_cantidad,
                'n_picking':n_picking,
                'ubi':ubi
            },

            success: function(response) {
                setTimeout(function(){
                    window.location.reload();
                }, 1000);
                if(response.msg) {
                    alert(response.msg)
                }
            },

            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
    })
</script>


<!-- Eliminar Picking -->
<script>
    $("button[name='eliminar_picking']").click(function(){
        var mov = $(this).attr('id');
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_eliminar_movimiento' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'mov':mov,
            },

            success: function() {
                setTimeout(function(){
                    window.location.reload();
                    }, 2000);
                if(response.msg){
                    alert(response.msg)
                }
            },
            error: function() {
                setTimeout(function(){
                    window.location.reload();
                    }, 2000);
                if(response.msg) {
                    alert('Error al eliminar picking !!!')
                }
            }
        })
    })
</script>

<!-- Reservas -->
<script>
    $("button[name='reservas']").click(function(){
        var prod_id          = $(this).closest("tr").find("#prod_id").val();
        //var lote             = $(this).closest("tr").find("#lote").html();
        var lote             = $(this).attr('id')
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_reservas_lote_consulta_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'prod_id':prod_id,
                'lote_id':lote,
            },

            success: function(response) {
            $('#reservas').html(
                `
                </h6 class="fw-bold">Producto:</h6> ${prod_id}<br>
                </h6 class="fw-bold">Lote: </h6>${lote}
                ${response}
                `
            )

            $("#reservas_table").css("font-size", "smaller")
            //$("#reservas_table tbody tr td:eq(-1)").addClass("text-end")
            //$("#reservas_table tbody tr").each(function(){
            //    $(this).find("td:eq(-1)").addClass("text-end")
            //}),
        
            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
    })
</script>


<!-- Estado Picking -->
<script>
    $("button[name='estado_picking']").click(function(){
        var n_ped = $(this).attr('id');
        var estado = $(this).text()

        $.ajax({
            type:"POST",
            url:"{% url 'wms_estado_picking_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'n_ped':n_ped,
                'estado':estado,
                'user_id':{{request.user.id}}
            },

            success: function(response) {
            
            $('#msg').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} </div>`)
                setTimeout(function(){
                window.location.reload();
                }, 2000)
        
            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
        
    })
</script>

<!-- Actuaizar Estado Picking -->
<script>
    $("button[name='estado_actualizar']").click(function(){
        var id_picking = $(this).attr('id');
        var estado = $(this).text()
        console.log(id_picking, estado)
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_estado_picking_actualizar_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id_picking':id_picking,
                'estado':estado,
            },

            success: function(response) {
            
            $('#msg').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} </div>`)
                setTimeout(function(){
                window.location.reload();
                }, 2000)
        
            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
        
    })
</script>

<!--filtro buscar-->
<!--script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script-->

<!-- Regresar Picking -->
<!--script>
    $("button[name='reg_pick']").click(function(){
        var reg_prod_id          = $(this).closest("tr").find("#reg_prod_id").val();
        var reg_lote             = $(this).closest("tr").find("#reg_lote").html();
        var reg_caducidad        = $(this).closest("tr").find("#reg_caducidad").html();
        var reg_unidades         = $(this).closest("tr").find("#reg_unidades").html();
        var reg_n_picking        = $(this).closest("tr").find("#reg_n_picking").val();
        var reg_ubi              = $(this).closest("tr").find("#reg_ubi").val();

        {% comment %}
        $.ajax({
            type:"POST",
            //url:"{#% url 'wms_movimiento_egreso_picking' %#}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'prod_id':prod_id,
                'lote_id':lote,
                'caducidad':caducidad,
                'unds'   :picking_cantidad,
                'n_picking':n_picking,
                'ubi':ubi
            },

            success: function() {
                setTimeout(function(){
                    window.location.reload();
                }, 1000)
            },

            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
        {% endcomment %}
    })
</script-->
{% endblock %}