{%extends 'base.html' %}

{% block title %}
<title>Picking {{n_ped|slice:'-2'}}</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
    .btn.btn-warning.btn-sm.active {
    background-color: blue;
}
</style>

<h6 class="mt-2 text-center"><strong>{{cli}}</strong></h6>

<div class="mt-2 mb-2">   
    <span class="fw-bold" style="font-size: small;">Pedido: </span> <span style="font-size: small;">{{n_ped|slice:'-2'}}</span> <br>
    <span class="fw-bold" style="font-size: small;">Fecha-Hora: </span> <span style="font-size: small;"> {{fecha|date:'Y-m-d'}} - {{hora}}</span> 
</div>


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<!--h6 class="m-4 text-end"><strong>Actulizado: </strong>{{actualizado|slice:':-7'}}</h6-->

<!-- div class="col-12 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div-->

<div id="msg"></div>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;" id="mitabla">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <!--th scope="col">Lote</th-->
                        <th scope="col">Unidades</th>
                        <th scope="col">Ubicación(es)</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in pedido %}
                        <!--tr {% if i.unidades == i.QUANTITY %} style="background-color: #e3fde6;" {% endif %}-->
                        <tr {% if i.id %} style="background-color: #e3fde6;" {% endif %} >
                            <td><span id="prod_id">{{i.PRODUCT_ID}}</span><br>
                                <span id="prod_name">{{i.PRODUCT_NAME}}</span><br>
                                <span id="prod_marca">{{i.Marca}}</span><br>
                            </td>
                            <!--td>{{i.lote_id}}</td-->
    
                            <td>
                                <span id="prod_und">{{i.QUANTITY|floatformat:"0g"}}</span> <br>
                                {% if i.id %}
                                <span class="fw-bold">Lote: </span>{{i.item__lote_id}} <br>
                                <span class="fw-bold">Unds: </span>{{i.unidades|floatformat:"0g"}}
                                {% endif %}
                            </td>                                    

                            <td class="text-end">
                                <button class="btn btn-primary btn-sm" id="{{i.PRODUCT_ID}}" name="boton_ubicaciones"> <!--id="{{i.PRODUCT_ID}}" name="boton_ubicaciones"-->
                                    <i class="bi bi-geo-fill"></i>
                                </button>
                                {% if i.id %}
                                <button class="btn btn-danger btn-sm" id="{{i.id}}" name="eliminar_picking"> <!--id="{{i.PRODUCT_ID}}" name="boton_ubicaciones"-->
                                    <i class="bi bi-geo-fill"></i>
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                        
                        <tr id="detalle_ubicaciones" style="display: none;">
                            <td colspan="3">
                                <table class="table m-0 p-0" style="font-size: smaller;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Lote</th>
                                            <!--th scope="col">F.Caducidad</th-->
                                            <th scope="col">Ubicación</th>
                                            <!--th scope="col">Unidades</th>
                                            <th scope="col">Reservado</th>
                                            <th scope="col">Disponible</th-->
                                            <th scope="col">Unds-Picking</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    {% if i.ubi %}
                                    
                                    {% for i in i.ubi %}
                                        
                                        <tr style="background-color: #e6e6e6;">
                                            <input type="hidden" value="{{n_ped}}" id="n_picking">
                                            <input type="hidden" value="{{i.product_id}}" id="prod_id">
                                            <input type="hidden" value="{{i.ubicacion_id}}" id="ubi">
                                            <td><span id="lote">{{i.lote_id}}</span><br>
                                                <span class="fw-bold">Exp:</span> <span id="caducidad">{{i.fecha_caducidad}}</span>
                                            </td>
                                            <!--td id="fecha">{{i.item__fecha_caducidad|date:'Y-m-d'}}</td-->
                                            <td class="{% if i.cuarentena %}text-danger{% endif %}">{% if i.cuarentena %}CUC-{% endif %}
                                                <span>{{i.ubicacion__bodega}}.{{i.ubicacion__pasillo}}.{{i.ubicacion__modulo}}.{{i.ubicacion__nivel}}
                                            </span><br>
                                                <!--<span class="fw-bold">Disp:</span> {{i.disponible|floatformat:"0g"}}-->
                                                <span class="fw-bold">Disp:</span> {{i.unidades|floatformat:"0g"}}
                                            </td>
                                            <!--td id="und" class="text-end">{{i.total_unidades|floatformat:"0g"}}</td>
                                            <td id="egr" class="text-end">{{i.egreso_temp|floatformat:"0g"}}</td>
                                            <td id="dis" class="text-end">{{i.disponible|floatformat:"0g"}}</td-->

                                            <td>
                                                {% if i.tipo == 'Egreso' %}
                                                {% else %}
                                                <input id="picking_cantidad" type="number" class="form-control" {% if i.cuarentena %} disabled {% endif %}>
                                                {% endif %}
                                            </td>
                                            
                                            <td>
                                                <!--button class="btn btn-sm btn-warning" name="shop" id="shop" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                    <i class="bi bi-cart-check"></i>
                                                </button-->

                                                <!--button id="{{i.item__lote_id}}" name="seleccionar" type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#picking_modal">
                                                    <i class="bi bi-cart"></i>
                                                </button-->

                                                <button name="pick" type="button" class="btn btn-warning btn-sm {% if i.cuarentena %} disabled {% endif %}">
                                                    <i class="bi bi-cart"></i>
                                                </button>

                                            </td>
                                        </tr>
                                        
                                    {% endfor %}

                                    {% else %}
                                        <tr style="background-color:  #fde6e3 ;">
                                            <td colspan="7" class="text-center"> No hay existencias en inventario !!! </td> 
                                        </tr>
                                    {% endif %}
                                        
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Desplegar ubicaciones -->
<script>
    $(document).ready(function(){
        $("button[name='boton_ubicaciones']").click(function(){
            $(this).closest("tr").next("#detalle_ubicaciones").toggle()
        })
    })
</script>

<!-- Picking -->
<script>
    $("button[name='pick']").click(function(){
        var prod_id          = $(this).closest("tr").find("#prod_id").val()
        var lote             = $(this).closest("tr").find("#lote").html()
        var caducidad        = $(this).closest("tr").find("#caducidad").html()
        var picking_cantidad = $(this).closest("tr").find("#picking_cantidad").val()
        var n_picking        = $(this).closest("tr").find("#n_picking").val()
        var ubi              = $(this).closest("tr").find("#ubi").val()

        $.ajax({
            type:"POST",
            url:"{% url 'wms_movimiento_egreso_picking' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'prod_id':prod_id,
                'lote_id':lote,
                'caducidad':caducidad,
                'unds'   :picking_cantidad,
                'n_picking':n_picking,
                'ubi':ubi
            },

            success: function() {
                setTimeout(function(){
                    window.location.reload();
                }, 1000)
            },

            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
    })
</script>

<!-- Eliminar Picking -->
<script>
    $("button[name='eliminar_picking']").click(function(){
        var mov = $(this).attr('id');
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_eliminar_movimiento' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'mov':mov,
            },

            success: function() {
                //window.location.replace(`http://172.16.28.17:8000/wms/picking/${n_picking}`)
                window.location.reload()
            },
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
    })
</script>

{% endblock %}