{%extends 'base.html' %}

{% block title %}
<title>Productos en despacho</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<style>
    .btn.btn-warning.btn-sm.active {
    background-color: blue;
}
</style>

<h5 class="mt-2 text-center"><strong>Lista de productos en despacho</strong></h5>

<!--div class="mt-2 mb-2">   
    <span class="fw-bold" style="font-size: small;">Pedido: </span> <span style="font-size: small;">{{n_ped|slice:'-2'}}</span> <br>
    <span class="fw-bold" style="font-size: small;">Fecha-Hora: </span> <span style="font-size: small;"> {{fecha|date:'Y-m-d'}} - {{hora}}</span> 
</div-->


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<!--h6 class="m-4 text-end"><strong>Actulizado: </strong>{{actualizado|slice:':-7'}}</h6-->

<!-- div class="col-12 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div-->

<div id="msg"></div>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;" id="mitabla">
                <thead>
                    <tr>
                        <th scope="col"># Pikcing</th>
                        <th scope="col">Item</th>
                        <th scope="col">Lote</th>
                        <th scope="col">F.Caducidad</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Enviado a despacho el</th>
                        <th scope="col">Ubicación anterior</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in mov %}
                        <tr>
                            <td>{{i.n_referencia}}</td>    
                            <td>{{i.product_id}}</td>
                            <td>{{i.lote_id}}</td>
                            <td>{{i.fecha_caducidad}}</td>
                            <td class="text-end">{{i.unidades}}</td>
                            <td>{{i.fecha_hora}}</td>
                            <td>{{i.ubicacion}}</td>
                            <td class="text-end">
                                <button class="btn btn-primary btn-sm disabled">
                                    <i class="bi bi-geo-fill"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}