{%extends 'base.html' %}

{% block title %}
<title>Reporte alertas</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">REPORTE REPOSICIÓN ALERTAS</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}



<div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Filtro" class="form-control">
</div>

<div id="msg"></div>

<div class="card mt-2 mb-2">
    <div class="card-body">
        <div class="container">
            Alerta de estock nivel 1...
        </div>
    </div>
</div>


<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Total nivel 1</th>
                        <th scope="col">Consumo mensual</th>
                        
                        <th scope="col">Meses</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in reporte %}
                    <tr>
                        <td class="enum"></td>
                        <td>
                            <form method="POST" action="/wms/inventario">
                                {% csrf_token %}
                                <input type="hidden" name="codigo" value="{{i.product_id}}">
                                <button class="btn btn-outline-primary btn-sm">{{i.product_id}}</button>
                            </form>
                        </td>
                        <td>{{i.Nombre}}</td>
                        <td>{{i.Marca}}</td>
                        <td>{{i.lote_id}}</td>
                        <td class="text-center">{{i.ubicacion}}</td>
                        <td class="text-center">{{i.unidades|floatformat:"0g"}}</td>

                        <td class="text-center">{{i.total_unidades_nivel_uno|floatformat:"0g"}}</td>
                        <td class="text-center">{{i.ventas_product_mensual|floatformat:"0g"}}</td>

                        <td class="text-center"
                        {% if i.meses <= 0.49 %}
                            style="background-color: #F6B690;"
                        {% elif i.meses <= 0.9 and i.meses >= 0.49 %}
                            style="background-color: #F6F490;"
                        {% elif i.meses > 0.9 %}
                            style="background-color: #BAF690;"
                        {% endif %}
                        >
                            {{i.meses}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- enum rows -->
<script>
    $(document).ready(function(){
        $(".table tbody tr").each(function() {
            $(this).find(".enum").text($(this).index()+1)
        })
    })
</script>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}