{%extends 'base.html' %}

{% block title %}
<title>Productos en despacho</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}



<h5 class="m-4 text-center fw-bold">RETIRAR PRODUCTOS DE DESPACHO</h5>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <div class="alert text-center alert-success" role="alert">
                {{message}}
            </div>
            {% elif message.tags == 'error'%}
            <div class="alert text-center alert-danger" role="alert">
                {{message}}
            </div>
        {%endif%}
    {% endfor %}
{% endif %}


<form method='POST'>
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Ingrese en número de picking" name="n_picking" required>
        <button name="trasferencia" class="btn btn-primary" type="submit"><i class="bi bi-search"></i> Buscar picking</button>
    </div>
</form>

{% if picking %}

<div class="card mb-2">
    <div class="card-body mt-2 mb-2 p-0">
        <div class="container table-responsive">
            <label class="fw-bold">Cliente:</label> {{cabecera.cliente}}<br>
            <label class="fw-bold">Picking:</label> {{cabecera.n_pedido|slice:":-2"}}<br>
            <label class="fw-bold">Fecha Pedido:</label> {{cabecera.fecha_pedido}}<br>
            <label class="fw-bold">Estado:</label> {{cabecera.estado}}<br>
            <label class="fw-bold">Bodega:</label> {{cabecera.bodega}}<br>
        </div>
    </div>
</div>

<div id="msg"></div>

<div class="col-12 mt-2 mb-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>
<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Lote</th>
                        <th scope="col">F.Exp</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Despachado por</th>
                        <th scope="col">Unidades</th>
                        <th scope="col" class="text-center">Regresar</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in picking %}
                    <tr>
                        <td>{{i.product_id}}</td>
                        <td>{{i.lote_id}}</td>
                        <td>{{i.fecha_caducidad|date:"Y-m-d"}}</td>
                        <td>{{i.estado_picking}}</td>
                        <td>{{i.usuario.first_name}} {{i.usuario.last_name}}</td>
                        <td>{{i.unidades}}</td>
                        <td class="text-center">
                            <button name="regresar" class="btn btn-warning btn-sm" id="{{i.id}}">
                                <i class="bi bi-box-arrow-left"></i> Regresar a inventario
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}


<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;" id="mitabla">
                <thead>
                    <tr>
                        <th scope="col"># Picking</th>
                        <th scope="col"># Factura</th>
                        <th scope="col">Fecha de cruce</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Enviado a despacho el</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in picking_factura_df %}
                        <tr>
                            <td>{{i.picking}}</td>
                            <td>{{i.factura}}</td>
                            <td>{{i.actualizado}}</td>
                            <td>{{i.usuario__first_name}} {{i.usuario__last_name}}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{% url 'wms_referenica_detalle' i.referencia i.n_referencia %}">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>




<script>

    $("button[name='regresar']").click(function(){
        var btn = $(this)
        var id  = btn.attr("id")
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_retiro_producto_despacho_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id':id,
            },

            success: function(response) {
                
                btn.removeClass('btn-warning');
                btn.addClass('btn-success disabled');
                $('#msg').html(`<div class="text-center alert alert-${response.tipo}" role="alert"> ${response.msg} !!! </div>`)
            },
            
            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>')
            }
            
        })
    })
</script>

{% endblock %}