<!-- Top nav bar etiquetado -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'inicio' %}">Gimpromed Cía. Ltda.</a>
  
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <!--span class="navbar-toggler-icon"></span--><i class="bi bi-list"></i>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!--li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Importaciones 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'wms_importaciones_list' %}">Importaciones llegadas</a></li>
              <li><a class="dropdown-item" href="{% url 'wms_imp_ingresadas' %}">Importaciones ingresadas</a></li>
              <li><a class="dropdown-item" href="{% url 'wms_importaciones_transito_list' %}">Importaciones en transito</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Inventario
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'wms_inventario' %}">Inventario</a></li>  
                <!--li><a class="dropdown-item" href="{% url 'wms_inventario_inicial_list_bodega' %}">Inventario Inicial</a></li-->
                <li><a class="dropdown-item" href="{% url 'wms_movimientos_list' %}">Kardex</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_movimiento_ajuste' %}">Ajustes</a></li>
                <!--li><a class="dropdown-item" href="{% url 'wms_ingreso_ajuste' %}">Ajuste Liberaciones</a></li-->
                <li><a class="dropdown-item" href="{% url 'wms_ajuste_liberacion_list' %}">Ajuste Liberaciones</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_movimiento_grupal' %}">Movimiento Grupal</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Picking
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'wms_listado_pedidos' %}">Lista de pedidos</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_picking_en_despacho_list' %}">Picking en despacho</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_productos_en_despacho_list' %}">Productos en despacho</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_cruce_picking_factura' %}">Cruce Picking-Factura</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_anulacion_picking_list' %}">Reemplazar picking</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_retiro_producto_despacho' %}">Retirar producto de despacho</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_picking_list' estado_de_picking='Despachado' %}">Lista Picking-Factura</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_picking_list' estado_de_picking='No Despachado' %}">Lista No Despachados</a></li>
                
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Transferencias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'wms_transferencias_list' %}">Lista de transferencias</a></li>
                <!--li><a class="dropdown-item" href="{% url 'wms_revision_transferencia' %}">Revisión Trasferencia</a></li-->
                <li><a class="dropdown-item" href="{% url 'wms_transferencia_ingreso_cerezos_list' %}">Ingreso Trasferencia a Cerezos</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notas de entrega
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'wms_nota_entrega_list' %}">Lista de notas de entrega</a></li>
                <!--li><a class="dropdown-item" href="{#% url '' %#}">Revisión Trasferencia</a></li>
                <li><a class="dropdown-item" href="{#% url '' %#}">Ingreso Trasferencia a Cerezos</a></li-->
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reportes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <!--li><a class="dropdown-item" href="{% url 'wms_resposicion_rm' %}">Reporte reposición</a></li-->
                <!--li><a class="dropdown-item" href="{% url 'wms_reporte_reposicion' %}">Reposición bodega 6</a></li-->
                <li><a class="dropdown-item" href="{% url 'wms_reporte_reposicion_alertas' %}">Reposición alertas</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_reporte_nivelunovacio_rm' %}">Nivel uno vacio</a></li> 
                <li><a class="dropdown-item" href="{% url 'wms_ubicaciones_list' %}">Ubicaciones</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_reporte_bodegas457' %}">Reposición bodega 4,5,7</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Etiquetado
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'wms_armados_list' %}">Armados</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_armado_picking_list' %}">Procesar Armados</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_reporte_componentes_armados' %}">Reporte Componentes</a></li>
                <!--li><a class="dropdown-item" href="{% url 'wms_reporte_nivelunovacio_rm' %}">Nivel uno vacio</a></li> 
                <li><a class="dropdown-item" href="{% url 'wms_ubicaciones_list' %}">Ubicaciones</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_reporte_bodegas457' %}">Reposición bodega 4,5,7</a></li>
                <li><a class="dropdown-item" href="{% url 'wms_reporte_reposicion_alertas' %}">Reposición alertas</a></li-->
            </ul>
          </li>

          <!--li class="nav-item dropdown">
            <a class="ms-4 btn btn btn-warning" href="{#% url 'inv_home' %#}">
              Inventario
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'pedidos_estado_list' %}">Estado de Etiquetado</a></li>
                <li><a class="dropdown-item" href="{% url 'picking_estado' %}">Estado de Picking</a></li> 
                <li><a class="dropdown-item" href="{% url 'inventario_bodega' %}">Inventario</a></li> 
            </ul>
          </li-->

          <!--li class="nav-item dropdown">
            <a class="nav-link" id="navbarDropdownMenuLink" href="{% url 'wms_importaciones_list' %}">
              Etiquetado
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'revision_reservas' %}">Armados</a></li>
                <li><a class="dropdown-item" href="{% url 'picking_estado' %}">Estado de Picking</a></li> 
                <li><a class="dropdown-item" href="{% url 'inventario_bodega' %}">Inventario</a></li>
            </ul>
          </li-->

          <!--li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mantenimiento
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'mantenimientos_list' %}">Lista de mantenimiento</a></li>
            </ul>
          </li-->
        </ul>
      </div>
      <a class="navbar-brand" href="{% url 'logout' %}">
        {{request.user}} <i class="bi bi-box-arrow-right"></i>
      </a>
    </div>
  </nav>