{%extends 'base.html' %}

{% block title %}
<title>Trasferencia {{n_transf}}</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 fw-bold text-center">TRANSFERENCIA <span id="n_transf">{{n_transf}}</span></h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}

<div id="msg"></div>


<div class="mt-2 mb-2">
{% if estado %}
    <label class="fw-bold">Estado:</label><br>
    {% if estado == 'CREADO' %}
    <span class="badge bg-primary rounded-pill text-wrap fs-6">{{estado}}</span>
    {% elif estado == 'EN PROCESO' %}
    <span class="badge bg-warning rounded-pill text-wrap fs-6">{{estado}}</span>
    <span class="badge bg-info rounded-pill text-wrap fs-6">{{avance}}%</span>
    {% elif estado == 'FINALIZADO' %}
    <span class="badge bg-success rounded-pill text-wrap fs-6">{{estado}}</span>
    {% endif %}
{% endif %}
</div>


<button class="btn btn-sm btn-warning text-white fw-bold mb-2">
    <i class="bi bi-envelope"></i> Enviar PDF
</button>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Ubicación(es)</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in transf %}
                    <tr>
                        <td>
                            <span id="product_id">{{i.product_id}}</span><br>{{i.Nombre}}<br>{{i.Marca}}
                        </td>
                        <td>
                            <span id="lote_id">{{i.lote_id}}</span><br>{{i.fecha_caducidad}}<br>
                            <span {% if i.id_max %} class="bg-success text-white" {% endif %}> V: {{i.vol|floatformat:"1g"}}m<sup>3</sup></span>
                        </td>
                        <td
                            {% if i.unidades == i.unidades_wms %}
                            style="background-color: #e3fde6;"
                            {% elif not i.unidades_wms or i.unidades_wms < i.unidades %}
                            style="background-color: #F6F490;"
                            {% elif i.unidades < i.unidades_wms %}
                            style="background-color: #F6B690;"
                            {% endif %}
                        >
                            MBA: <mark>{{i.unidades|floatformat:"0g"}}</mark><br>
                            WMS: {{i.unidades_wms|floatformat:"0g"}}
                        </td>
                        <td class="text-end">
                            <button class="btn btn-primary btn-sm" name="boton_ubicaciones"> 
                                <i class="bi bi-geo-fill"></i>
                            </button>
                            <button class="btn btn-sm btn-white" type="button" name="obs" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <!--i class="bi bi-card-text"></i--> ✏
                            </button>
                            <br>
                            <span style="font-size:smaller">{{i.primera_bodega}}</span>
                        </td>
                    </tr>
                    
                    {# FILA OCULA CON INVENTARIO Y MOVIMIENTOS #}
                    <tr id="detalle_ubicaciones" style="display:none;" > <!--class="m-0 p-0"-->
                        <td colspan="4"> <!--class="mb-0 pb-0"-->
                            <h6 class="fw-bold" style="font-size: small;">Inventario</h6>
                            <table class="table m-0 p-0" style="font-size: small;">
                                <thead>
                                    <tr style="background-color: #e6e6e6;">
                                        <th scope="col">Lote</th>
                                        <th scope="col">Ubicación</th>
                                        <th scope="col">Dips</th>
                                        <th scope="col">Unds-Transferencia</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {# TABLA INVENTARIO #}
                                    {% if i.ubi %}
                                        {% for j in i.ubi %}
                                        <tr style="background-color: #e6e6e6;">
                                            
                                            <!-- Datos para ajax fuction -->
                                            <input type="hidden" value="{{j.product_id}}" id="product_id">
                                            <input type="hidden" value="{{j.lote_id}}" id="lote_id">
                                            <input type="hidden" value="{{j.fecha_caducidad|date:'Y-m-d'}}" id="fecha_caducidad">
                                            <input type="hidden" value="{{j.ubicacion__id}}" id="ubicacion_id">
                                            <input type="hidden" value="{{n_transf}}" id="n_transf">
                                            <input type="hidden" value="{{j.estado}}" id="estado">
                                            <!-- -->
                                            <td>
                                                {{j.lote_id}} <br>
                                                {{j.fecha_caducidad|date:'d-m-Y'}}
                                            </td>
                                            <td class="{% if j.estado == 'Cuarentena' %}text-danger{% endif %}">
                                                {% if j.estado == 'Cuarentena' %}CUC-{% endif %}{{j.ubicacion__bodega}}-{{j.ubicacion__pasillo}}-{{j.ubicacion__modulo}}{% if j.ubicacion__bodega == 'CN6' %}-{{j.ubicacion__nivel}}{% else %}{% endif %}
                                            </td>
                                            <td>{{j.unidades|floatformat:"0g"}}</td>
                                            <td>
                                                <input id="picking_cantidad" type="number" class="form-control form-control-sm"> <!-- {% if j.estado == 'Cuarentena' %} disabled {% endif %} -->
                                            </td>
                                            <td class="text-center">
                                                <button name="pick" type="button" class="btn btn-success btn-sm"> <!--{% if j.estado == 'Cuarentena' %} disabled {% endif %}-->
                                                    <i class="bi bi-arrow-bar-right"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}

                                    {# TABLA DE ELEMENTOS PICKEADOS #}
                                    {% if i.pik %}
                                    <tr>
                                        <td colspan="5"> <!--class="m-0 p-0"-->
                                            <h6 class="fw-bold" style="font-size: small;">Picking</h6>
                                            <table class="table m-0 p-0" style="background-color: #edfdff;">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Lote</th>
                                                        <th scope="col">Ubicación</th>
                                                        <th scope="col">Unds-Transferencia</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for k in i.pik %}
                                                    <tr>
                                                        <td>
                                                            {{k.lote_id}} <br>
                                                            {{k.fecha_caducidad}}
                                                        </td>
                                                        <td>{{k.ubicacion__bodega}}-{{k.ubicacion__pasillo}}-{{k.ubicacion__modulo}}{% if k.ubicacion__bodega == 'CN6' %}-{{k.ubicacion__nivel}}{% else %}{% endif %}</td>
                                                        <td>{{k.unidades|floatformat:"0g"}}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm btn-danger" name="eliminar_picking" id="{{k.id}}">
                                                                <i class="bi bi-arrow-bar-left"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        <td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Observacion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p><strong>Código:</strong>  <span id="prod_modal"></span></p>
            <p><strong>Lote:</strong>  <span id="lote_modal"></span></p>
            <textarea class="form-control" name="obs" id="obs_modal"></textarea>
        </div>
        <div class="modal-footer">
            <!--button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button-->
            <button type="button" class="btn btn-primary" name="save-obs">Guardar</button>
        </div>
        </div>
    </div>
</div>



<!-- Desplegar ubicaciones -->
<script>
    $(document).ready(function(){
        $("button[name='boton_ubicaciones']").click(function(){
            var fila = $(this).closest("tr")
            fila.next("#detalle_ubicaciones").toggle();
            fila.toggleClass("table-info")
        })
    })
</script>

<!-- Picking -->
<script>
    $("button[name='pick']").click(function(){
        var prod_id          = $(this).closest("tr").find("#product_id").val();
        var lote             = $(this).closest("tr").find("#lote_id").val();
        var caducidad        = $(this).closest("tr").find("#fecha_caducidad").val();
        var picking_cantidad = $(this).closest("tr").find("#picking_cantidad").val();
        var n_transf         = $(this).closest("tr").find("#n_transf").val();
        var ubi              = $(this).closest("tr").find("#ubicacion_id").val();
        var estado           = $(this).closest("tr").find("#estado").val();
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_movimiento_egreso_transferencia' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'prod_id'  :prod_id,
                'lote_id'  :lote,
                'caducidad':caducidad,
                'unds'     :picking_cantidad,
                'n_transf' :n_transf,
                'ubi'      :ubi,
                'estado'   :estado
            },

            success: function(response) {
                setTimeout(function(){
                    window.location.reload();
                }, 1000);
                if(response.msg) {
                    alert(response.msg)
                }
            },

            error: function() {
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al hacer el picking !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                    }, 2000)
            }
        })
    })
</script>

<!-- Eliminar Picking -->
<script>
    $("button[name='eliminar_picking']").click(function(){
        var mov = $(this).attr('id');
        
        $.ajax({
            type:"POST",
            url:"{% url 'wms_eliminar_movimiento' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'mov':mov,
            },

            success: function() {
                setTimeout(function(){
                    window.location.reload();
                    }, 2000);
                if(response.msg){
                    alert(response.msg)
                }
            },
            error: function() {
                setTimeout(function(){
                    window.location.reload();
                    }, 2000);
                if(response.msg) {
                    alert('Error al eliminar picking !!!')
                }
            }
        })
    })
</script>

<script>
    $("button[name='obs']").click(function() {
        var n_transf = $("#n_transf").text();
        var prod_id = $(this).closest("tr").find("#product_id").text();
        var lote_id = $(this).closest("tr").find("#lote_id").text();
        
        $.ajax({
            type: "GET",
            url: "{% url 'wms_transferencia_product_observacion_ajax' %}",
            data: {
                'n_transf': n_transf,
                'prod_id': prod_id,
                'lote_id': lote_id,
            },
            success: function(response) {
                $(".modal-body").find("#prod_modal").html(prod_id);
                $(".modal-body").find("#lote_modal").html(lote_id);
        
                $(".modal-body").find("#obs_modal").val('');
                $(".modal-body").find("#obs_modal").val(response.observacion);
            },
            error: function(xhr, status, error) {
                console.error("Error fetching observation data:", error);
                $("#msg").html("ERROR");
            }
        });
    });
</script>

<script>
    $("button[name='save-obs']").click(function() {
        var n_transf = $("#n_transf").text();
        var prod_id = $(".modal-body").find("#prod_modal").text();
        var lote_id = $(".modal-body").find("#lote_modal").text();
        var obs     = $(".modal-body").find("#obs_modal").val();        
        
        $.ajax({
            type: "POST",
            url: "{% url 'wms_transferencia_product_observacion_ajax' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'n_transf': n_transf,
                'prod_id': prod_id,
                'lote_id': lote_id,
                'obs':obs,
            },
            success: function(response) {
                window.location.reload()
            },
            error: function(xhr, status, error) {
                console.error("Error fetching observation data:", error);
                alert("An error occurred while fetching observation data.");
            }
        });
    });
</script>

{% endblock %}