{%extends 'base.html' %}

{% block title %}
<title>Trasferencias</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 fw-bold text-center">TRANSFERENCIAS</h5>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese en número de trasferencia" id="n_trasf" required>
    <button name="trasferencia" class="btn btn-primary" type="submit">Añadir Transferencia</button>
</div>


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert text-center alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error'%}
        <div class="alert text-center alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div id="msg"></div>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small" >
                <thead>
                    <tr>
                        <th scope="col"># Transferencia</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Ver Transferencia</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in transf_wms %}
                    <tr>
                        <td>{{i.n_transferencia}}</td>
                        <td>{{i.fecha_hora}}</td>

                        <td>
                            {% if i.estado == 'CREADO' %}
                            <span class="badge bg-primary rounded-pill text-wrap fs-6">{{i.estado}}</span>
                            {% elif i.estado == 'EN PROCESO' %}
                            <span class="badge bg-warning rounded-pill text-wrap fs-6">{{i.estado}}</span>
                            <span class="badge bg-info rounded-pill text-wrap fs-6">{{i.avance}}%</span>
                            {% elif i.estado == 'FINALIZADO' %}
                            <span class="badge bg-success rounded-pill text-wrap fs-6">{{i.estado}}</span>
                            {% endif %}
                        </td>

                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'wms_transferencia_picking' i.n_transferencia %}">
                                <i class="bi bi-truck"></i>
                            </a>

                            {% for permiso in request.user.userperfil.permisos.all %}
                                {% if permiso.permiso == 'OPERACIONES' or permiso.permiso == 'BODEGA' %}
                                    <a class="btn btn-secondary btn-sm" href="{% url 'wms_transferencia_pdf' i.n_transferencia %}">
                                        <i class="bi bi-printer"></i>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    $("button[name='trasferencia']").click(function(){
        var n_trasf  = $("#n_trasf").val();

        $.ajax({
            type:"POST",
            url:"{% url 'wms_transferencia_input_ajax' %}",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'n_trasf':n_trasf,
            },

            success: function(response) {
                
                //$('#msg').fadeIn().html(`<div class="text-center alert alert-${response.tipo}" role="alert"> ${response.msg} !!! </div>`).fadeOut(6000)
                if (response.msg) {
                    $('#msg').html(`<div class="text-center alert alert-${response.alert}" role="alert"> ${response.msg} !!! </div>`)
                }
                
                setTimeout(function(){
                    window.location.reload();
                }, 2000)
            },
            
            error: function() {
                //$('#msg').fadeIn().html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>').fadeOut(6000)
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error !!! </div>')
                //setTimeout(function(){
                //    window.location.reload();
                //},1000)
            }
            
        })
    })
</script>

{% endblock %}