{% extends 'base.html' %}

{% block title %}
<title>Trasferencias</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 fw-bold text-center">TRANSFERENCIAS</h5>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert text-center alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error'%}
        <div class="alert text-center alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div id="msg"></div>


<button name="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-primary">
    + Añadir Transferencia
</button>

<hr>

<form method="GET" class="d-flex gap-2 col-12 col-md-6">
    <input class="form-control" type="text" name="search" placeholder="Buscar..." style="min-width: 200px;">
    <button type="submit" class="btn btn-primary flex-shrink-0">Buscar</button>
</form>

<a href="{% url 'wms_transferencias_list' %}" class="btn btn-secondary mt-2 mb-2">
    Limpiar búsqueda
</a>

<div class="card mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size:small" >
                <thead>
                    <tr>
                        <th scope="col"># Transf WMS</th>
                        <th scope="col"># Transf MBA</th>
                        <th scope="col">Análisis Transf</th>
                        <th scope="col">Camión</th>
                        <th scope="col"># Items</th>
                        <th scope="col">Volumen</th>                        
                        <th scope="col">Creado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in transf_wms %}
                    <tr>
                        <td>{{i.enum}}</td>
                        <td>{{i.n_transferencia}}</td>
                        <td>
                            {% if i.excel %}
                            <a 
                                href="{{i.excel.url}}" 
                                target="_blank" 
                                class="btn btn-success btn-sm"
                                title="Descargar Excel"
                            >
                            <i class="bi bi-file-earmark-spreadsheet"></i>
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>{{i.camion | default:"-"}}</td>
                        <td class="text-end">{{i.n_items}}</td>
                        <td class="text-end">{{i.volumen | floatformat:"2g"}} m<sup>3</sup></td>                        
                        <td>{{i.fecha_hora | date:"Y-m-d H:i"}}</td>
                        <td>
                            {% if i.estado == 'CREADO' %}
                            <span class="badge bg-primary rounded-pill text-wrap fs-6">{{i.estado}}</span>
                            {% elif i.estado == 'EN PROCESO' %}
                            <span class="badge bg-warning rounded-pill text-wrap fs-6">{{i.estado}}</span>
                            <span class="badge bg-info rounded-pill text-wrap fs-6">{{i.avance}}%</span>
                            {% elif i.estado == 'FINALIZADO' %}
                            <span class="badge bg-success rounded-pill text-wrap fs-6">{{i.estado}}</span>
                            {% endif %}
                        </td>

                        <td>
                            <div class="btn-group" role="group">
                                
                                <a 
                                    class="btn btn-primary btn-sm {% if i.n_transferencia == '-' %}disabled{% endif %}" 
                                    href="{% url 'wms_transferencia_picking' i.n_transferencia %}"
                                >
                                    <i class="bi bi-truck"></i>
                                </a>

                                {% if request.user.userperfil.permiso_operaciones or request.user.userperfil.permiso_bodega %}
                                    <a 
                                        class="btn btn-secondary btn-sm {% if i.n_transferencia == '-' %}disabled{% endif %}" 
                                        href="{% url 'wms_transferencia_pdf' i.n_transferencia %}"
                                    >
                                        <i class="bi bi-printer"></i>
                                    </a>
                                {% endif %}
                                <button                                        
                                    class="btn btn-warning btn-sm " 
                                    name="actualizar-btn"
                                    data-id="{{i.id}}"
                                    data-bs-toggle="modal" data-bs-target="#actualizarModal"
                                >
                                    A
                                </button>

                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="mt-2 mb-4">
    {% if is_paginated %}

        <!-- Botón anterior -->
        {% if page_obj.has_previous %}
        <a class="btn btn-sm btn-outline-dark"
            href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}">
            <i class="bi bi-caret-left"></i>
        </a>
        {% endif %}

        <!-- Página actual -->
        <span class="pt-2 mt-4">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        <!-- Botón siguiente -->
        {% if page_obj.has_next %}
        <a class="btn btn-sm btn-outline-dark"
            href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}">
            <i class="bi bi-caret-right"></i>
        </a>
        {% endif %}

    {% endif %}
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">


            <div class="modal-header mb-2">
                <h5 class="modal-title fw-bold" id="staticBackdropLabel">Añadir Transferencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
            
            <form method="POST" action="{% url 'wms_agregar_transferencia' %}" class="d-flex flex-wrap gap-2" id="agregarForm">
                {% csrf_token %}

                <input 
                    type="text" 
                    class="form-control flex-grow-1" 
                    placeholder="Número de transferencia" 
                    name="n_transf" 
                    required
                >

                <select name="camion" class="form-select" required style="min-width: 200px;">
                    <option value="" disabled selected>Seleccione vehículo</option>
                    {% for i in camiones %}
                        <option value="{{ i.id }}">{{ i.placa }}</option>
                    {% endfor %}
                </select> 

            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button 
                    name="transferencia" 
                    class="btn btn-primary text-nowrap" 
                    type="submit"
                    form="agregarForm"
                >
                    Añadir Transferencia
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="actualizarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="actualizarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header mb-2">
                <h5 class="modal-title fw-bold" id="actualizarModalLabel">Actualizar Transferencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
            
            <form method="POST" action="{% url 'wms_actualizar_tranferencia_data_products' %}" class="d-flex flex-wrap gap-2" id="actualizarForm">
                {% csrf_token %}

                <input
                    type="hidden" 
                    id="transf_id" 
                    name="transf_id"
                >

                <input 
                    type="text" 
                    class="form-control flex-grow-1" 
                    placeholder="Número de transferencia" 
                    name="n_transf" 
                    required
                >

            </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button 
                    name="transferencia" 
                    class="btn btn-primary text-nowrap" 
                    type="submit"
                    form="actualizarForm"
                >
                    Actualizar Transferencia
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        $('button[name="actualizar-btn"]').click(function() {
            var transferenciaId = $(this).data('id');
            $('#transf_id').val(transferenciaId);
        });
    });

</script>

{% endblock %}