{%extends 'base.html' %}

{% block title %}
<title>Movimientos</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">LISTADO DE UBICACIONES</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}



<div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Filtro" class="form-control">
</div>

<div id="msg"></div>

<div class="col-md-4">
    <div class="card mt-2 mb-2">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive">
                <h6 class="card-title fw-bold text-center mt-2">Volumen en despacho</h6>
                <table class="table" style="font-size: small;">
                    <thead>
                        <tr>
                            <th scope="col">Tipo de cliente</th>
                            <th scope="col">Ocupación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in en_despacho %}
                        <tr>
                            <td>{{i.tipo_cliente}}</td>
                            <td>{{i.ocupacion_m3|floatformat:"2g"}} m<sup>3</sup></td>                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <h6 class="card-title fw-bold text-center mt-2">Volumen por posición</h6>
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Ubicación</th>
                        <th class="text-center" scope="col">Distancia a puerta</th>
                        <th class="text-center" scope="col">
                            <select class="form-select filter-estado" style="font-size:small;">
                                <option value="">Estado</option>
                                <option value="Disponible">Disponible</option>
                                <option value="Deshabilitado">Deshabilitado</option>
                            </select>
                        </th>
                        <th class="text-center" scope="col">
                            Capacidad <br>
                            <span class="capacidad_total"></span> m<sup>3</sup>
                        </th>
                        <th class="text-center" scope="col">
                            Disponible <br>
                            <span class="disponible_total"></span> m<sup>3</sup>
                        </th>
                        <th class="text-center" scope="col">
                            Ocupado <br>
                            <span class="ocupacion_total"></span> m<sup>3</sup>
                        </th>
                        <th class="text-center" scope="col">
                            % Ocupación <br>
                            <span class="porcentaje_ocupacion"></span> %
                        </th>
                        <th class="text-center" scope="col">Habilitar</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in capacidad %}
                    <tr>
                        <td>{{i.bodega}}-{{i.pasillo}}-{{i.modulo}}-{{i.nivel}}</td>
                        <td>{{i.distancia_puerta|floatformat:"2g"}} m</td>
                        
                        <td data-estado="{% if i.disponible %} Si {% else %} No {% endif %}" class="estado">
                            {% if i.disponible %}
                            <i class="bi bi-check-circle" style="color:green"></i> Disponible
                            {% else %}
                            <i class="bi bi-x-circle" style="color:red"></i> Deshabilitado
                            {% endif %}
                        </td>

                        <td class="text-center capacidad">{{i.capacidad_posicion_m3|floatformat:"2g"}} m<sup>3</sup></td>
                        <td class="text-center disponible {% if i.disponible_posicion_m3 < 0 %} text-danger {% endif %} ">{{i.disponible_posicion_m3|floatformat:"2g"}} m<sup>3</td>
                        <td class="text-center ocupado">{{i.ocupacion_posicion_m3|floatformat:"2g"}} m<sup>3</td>
                        <td class="text-center"> {{i.ocupacion_porcentaje|floatformat:'0g'}} %
                            <progress value="{{i.ocupacion_porcentaje|floatformat:'0g'}}" max="100"></progress> 
                        </td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-primary" name="ubicacion" id="{{i.ubicacion_id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi bi-inbox"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="fw-bold text-start" colspan="3">Totales:</td>
                        <td class="text-center"><span class="capacidad_total"></span> m<sup>3</sup></td>
                        <td class="text-center"><span class="disponible_total"></span> m<sup>3</sup></td>
                        <td class="text-center"><span class="ocupacion_total"></span> m<sup>3</sup></td>
                        <td class="text-center"><span class="porcentaje_ocupacion"></span></td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'wms_habilitar_deshabilitar_ubicacion_ajax' %}">{% csrf_token %}
                <div class="modal-body">

                    <div id="msg"></div>
                    <input id="ubicacion_get_id" type="hidden" name="ubicacion_get_id">
                    <div id="existencias_list_id"></div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="disponible" name="disponible">
                        <label class="form-check-label" for="flexCheckDefault">
                            Disponible
                        </label>
                    </div>
                    <textarea class="form-control" id="observaciones" style="height: 150px" name="observaciones"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="guardar_btn">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        function filtrarYCalcularTotales() {
            var inputValue = $("#inputbuscar").val().toLowerCase();
            var selectValue = $('.filter-estado').val().toLowerCase();  // Convertir a minúsculas para comparación
    
            let capacidadTotal = 0;
            let disponibleTotal = 0;
            let ocupacionTotal = 0;
    
            $("#pedidosbuscar tr").each(function() {
                var rowText = $(this).text().toLowerCase();
                var matchInput = rowText.indexOf(inputValue) > -1;
    
                // Verifica si el estado de la fila coincide con el valor seleccionado
                var estadoTexto = $(this).find(".estado").text().toLowerCase();
                var matchSelect = (selectValue === "" || estadoTexto.indexOf(selectValue) > -1);
                
                // Mostrar la fila si coincide con ambos filtros
                var isVisible = matchInput && matchSelect;
                $(this).toggle(isVisible);
    
                // Si la fila es visible, agregar sus valores a los totales
                if (isVisible) {
                    let capacidad = parseFloat($(this).find(".capacidad").text().replace(",", "."));
                    capacidadTotal += isNaN(capacidad) ? 0 : capacidad;
    
                    let disponible = parseFloat($(this).find(".disponible").text().replace(",", "."));
                    disponibleTotal += isNaN(disponible) ? 0 : disponible;
    
                    let ocupacion = parseFloat($(this).find(".ocupado").text().replace(",", "."));
                    ocupacionTotal += isNaN(ocupacion) ? 0 : ocupacion;
                }
            });

            let porcentaje_ocupacion = (ocupacionTotal / capacidadTotal) * 100;
    
            // Mostrar los totales en los elementos correspondientes
            $(".capacidad_total").text(capacidadTotal.toFixed(2));
            $(".disponible_total").text(disponibleTotal.toFixed(2));
            $(".ocupacion_total").text(ocupacionTotal.toFixed(2));
            $(".porcentaje_ocupacion").text(porcentaje_ocupacion.toFixed(2));
        }
    
        // Filtrar la tabla y calcular los totales cuando el usuario escribe en el input o cambia el select
        $("#inputbuscar, .filter-estado").on("keyup change", function() {
            filtrarYCalcularTotales();
        });
    
        // Inicializar el filtrado y cálculo cuando la página se carga
        filtrarYCalcularTotales();
    });
    
</script>


{% comment %}
<script>
    $(document).ready(function(){

        function calculoTotales() {
            
            let capacidadTotal = 0;
            let disponibleTotal = 0;
            let ocupacionTotal = 0;
    
            $(".table tbody tr:visible").each(function() {
                
                // CAPACIDAD
                let capacidad = parseFloat($(this).find(".capacidad").text().replace(",", "."));
                capacidadTotal += isNaN(capacidad) ? 0 : capacidad;
    
                // DISPONIBLE 
                let disponible = parseFloat($(this).find(".disponible").text().replace(",", "."));
                disponibleTotal += isNaN(disponible) ? 0 : disponible;
    
                // OCUPACIÓN
                let ocupacion = parseFloat($(this).find(".ocupacion").text().replace(",", "."));
                ocupacionTotal += isNaN(ocupacion) ? 0 : ocupacion;
            });
            
            // Mostrar los totales en los elementos correspondientes
            $("#capacidad_total").text(capacidadTotal.toFixed(2));
            $("#disponible_total").text(disponibleTotal.toFixed(2));
            $("#ocupacion_total").text(ocupacionTotal.toFixed(2));            
        }
    
        // Ejecutar el cálculo al cargar la página
        calculoTotales();
    
        // Ejecutar el cálculo cuando cambian los filtros o el input de búsqueda
        $(".filter-estado, #inputbuscar").on("change input", function() {
            calculoTotales();
        });
    });
</script>

<script>
    $(document).ready(function() {
        function filtrarTabla() {
            var inputValue = $("#inputbuscar").val().toLowerCase();
            var selectValue = $('.filter-estado').val();
    
            $("#pedidosbuscar tr").filter(function() {
                var rowText = $(this).text().toLowerCase();
                var matchInput = rowText.indexOf(inputValue) > -1;
                var matchSelect = rowText.indexOf(selectValue.toLowerCase()) > -1 || selectValue === "";
    
                // Mostrar la fila si coincide con ambos filtros
                $(this).toggle(matchInput && matchSelect);
            });
        }
    
        // Filtrar la tabla cuando el usuario escribe en el input
        $("#inputbuscar").on("keyup", function() {
            filtrarTabla();
        });
    
        // Filtrar la tabla cuando el usuario selecciona un valor en el select
        $('.filter-estado').on('change', function() {
            filtrarTabla();
        });
    
        // Inicializar el filtrado para asegurarse de que las filas se muestren correctamente cuando la página se carga
        filtrarTabla();
    });
    
</script>
{% endcomment %}

<!--get ubicación-->
<script>
    $("button[name='ubicacion']").click(function(){
        var ubicacion = $(this).attr('id');

        $.ajax({
            type:"GET",
            url:"{% url 'wms_habilitar_deshabilitar_ubicacion_ajax' %}",
            data:{'ubicacion':ubicacion},

            success: function(response) {

                $(".modal-title").html(response.ubicacion);
                $("#ubicacion_get_id").val(ubicacion);
                $("#observaciones").html(response.observaciones);

                if (response.existencias) {
                    $('#existencias_list_id').html(`<div class="alert alert-danger" role="alert">
                        No puede deshabilitar esta ubicación ya que tiene los siguientes productos: ${response.existencias_list}</div>`);
                    // Chequed
                        if (response.disponible) {
                        $("#disponible").prop("checked", true);
                    } else {
                        $("#disponible").prop("checked", false);
                    }
                    // Disabled all
                    $('#disponible').prop("disabled", true);
                    $('#observaciones').prop("readonly", true);
                    $('#guardar_btn').prop("disabled", true);
                } else {
                    $('#existencias_list_id').html(`<div class="alert alert-success" role="alert">
                        Esta ubicación esta vacia, puede deshabilitarla</div>`)
                    // Chequed
                    if (response.disponible) {
                        $("#disponible").prop("checked", true);
                    } else {
                        $("#disponible").prop("checked", false);
                    }
                    // Habled all
                    $('#disponible').prop("disabled", false);
                    $('#observaciones').prop("readonly", false);
                    $('#guardar_btn').prop("disabled", false);
                }

            },

            error: function() {
                console.log("Error");
            }
        })
    })
</script>

<!--observaciones required-->
<script>
    $(document).ready(function(){
        $("#disponible").change(function(){
            if ($(this).is(":checked")) {
                $("#observaciones").attr("required", false);
            } else {
                $("#observaciones").attr("required", true);
            }
        })
    })
</script>

{% endblock %}