{%extends 'base.html' %}

{% block title %}
<title>Movimientos</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">LISTADO DE UBICACIONES</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}



<div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Filtro" class="form-control">
</div>

<div id="msg"></div>

<div class="col-4">
    <div class="card mt-2 mb-2">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive">
                <h6 class="card-title fw-bold text-center mt-2">Volumen en despacho</h6>
                <table class="table" style="font-size: small;">
                    <thead>
                        <tr>
                            <th scope="col">Tipo de cliente</th>
                            <th scope="col">Ocupación</th>
                        </tr>
                    </thead>
                    <tbody id="pedidosbuscar">
                        {% for i in en_despacho %}
                        <tr>
                            <td>{{i.tipo_cliente}}</td>
                            <td>{{i.ocupacion_m3|floatformat:"2g"}} m<sup>3</sup></td>                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <h6 class="card-title fw-bold text-center mt-2">Volumen por posición</h6>
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Distancia a puerta</th>
                        <th scope="col">Disponible</th>
                        <th scope="col">Capacidad</sup></th>
                        <th scope="col">Disponible</sup></th>
                        <th scope="col">Ocupado</sup></th>
                        <th scope="col">% Ocupación</th>
                        <th scope="col">Habilitar</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in capacidad %}
                    <tr>
                        <td>{{i.bodega}}-{{i.pasillo}}-{{i.modulo}}-{{i.nivel}}</td>
                        <td>{{i.distancia_puerta|floatformat:"2g"}} m</td>
                        
                        <td>
                            {% if i.disponible %}
                            <i class="bi bi-check-circle" style="color:green"></i>
                            {% else %}
                            <i class="bi bi-x-circle" style="color:red"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">{{i.capacidad_posicion_m3|floatformat:"2g"}} m<sup>3</td>
                        <td class="text-center {% if i.disponible_posicion_m3 < 0 %} text-danger {% endif %} ">{{i.disponible_posicion_m3|floatformat:"2g"}} m<sup>3</td>
                        <td class="text-center">{{i.ocupacion_posicion_m3|floatformat:"2g"}} m<sup>3</td>
                        <td class="text-center"> {{i.ocupacion_porcentaje|floatformat:'0g'}} %
                            <progress value="{{i.ocupacion_porcentaje|floatformat:'0g'}}" max="100"></progress> 
                        </td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-primary {% if i.ocupacion_posicion_m3 != 0 %} disabled {% endif %}">
                                <i class="bi bi-inbox"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}