{%extends 'base.html' %}

{% block title %}
<title>Movimientos</title>
{% endblock%}

{% block navbar %}
{% include 'wms/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center fw-bold">LISTADO DE UBICACIONES</h5>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}



<div class="col-12">
    <input id="inputbuscar" type="text" placeholder="Filtro" class="form-control">
</div>

<div id="msg"></div>

<div class="col-md-4">
    <div class="card mt-2 mb-2">
        <div class="card-body m-0 p-0">
            <div class="container table-responsive">
                <h6 class="card-title fw-bold text-center mt-2">Volumen en despacho</h6>
                <table class="table" style="font-size: small;">
                    <thead>
                        <tr>
                            <th scope="col">Tipo de cliente</th>
                            <th scope="col">Ocupación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in en_despacho %}
                        <tr>
                            <td>{{i.tipo_cliente}}</td>
                            <td>{{i.ocupacion_m3|floatformat:"2g"}} m<sup>3</sup></td>                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <h6 class="card-title fw-bold text-center mt-2">Volumen por posición</h6>
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Distancia a puerta</th>
                        <th scope="col">
                            <select class="form-select filter-estado" style="font-size:small;">
                                <option value="">Estado</option>
                                <option value="Disponible">Disponible</option>
                                <option value="No disponible">No disponible</option>
                            </select>
                        </th>
                        <th scope="col">Capacidad</th>
                        <th scope="col">Disponible</th>
                        <th scope="col">Ocupado</th>
                        <th scope="col">% Ocupación</th>
                        <th scope="col">Habilitar</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in capacidad %}
                    <tr>
                        <td>{{i.bodega}}-{{i.pasillo}}-{{i.modulo}}-{{i.nivel}}</td>
                        <td>{{i.distancia_puerta|floatformat:"2g"}} m</td>
                        
                        <td data-estado="{% if i.disponible %} Si {% else %} No {% endif %}">
                            {% if i.disponible %}
                            <i class="bi bi-check-circle" style="color:green"></i> Disponible
                            {% else %}
                            <i class="bi bi-x-circle" style="color:red"></i> No disponible
                            {% endif %}
                        </td>

                        <td class="text-center">{{i.capacidad_posicion_m3|floatformat:"2g"}} m<sup>3</td>
                        <td class="text-center {% if i.disponible_posicion_m3 < 0 %} text-danger {% endif %} ">{{i.disponible_posicion_m3|floatformat:"2g"}} m<sup>3</td>
                        <td class="text-center">{{i.ocupacion_posicion_m3|floatformat:"2g"}} m<sup>3</td>
                        <td class="text-center"> {{i.ocupacion_porcentaje|floatformat:'0g'}} %
                            <progress value="{{i.ocupacion_porcentaje|floatformat:'0g'}}" max="100"></progress> 
                        </td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-primary" name="ubicacion" id="{{i.ubicacion_id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi bi-inbox"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'wms_habilitar_deshabilitar_ubicacion_ajax' %}">{% csrf_token %}
                <div class="modal-body">

                    <div id="msg"></div>
                    <input id="ubicacion_get_id" type="hidden" name="ubicacion_get_id">
                    <div id="existencias_list_id"></div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="disponible" name="disponible">
                        <label class="form-check-label" for="flexCheckDefault">
                            Disponible
                        </label>
                    </div>
                    <textarea class="form-control" id="observaciones" style="height: 150px" name="observaciones"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="guardar_btn">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<!--filtro diponible-->
<script>
    $(document).ready(function(){
        $('.filter-estado').on('change', function(){
            var estado = $(this).val();
            $("#pedidosbuscar tr").filter(function(){
                $(this).toggle($(this).text().indexOf(estado)>-1)
            })
        })
    })
</script>


<!--get ubicación-->
<script>
    $("button[name='ubicacion']").click(function(){
        var ubicacion = $(this).attr('id');

        $.ajax({
            type:"GET",
            url:"{% url 'wms_habilitar_deshabilitar_ubicacion_ajax' %}",
            data:{'ubicacion':ubicacion},

            success: function(response) {

                $(".modal-title").html(response.ubicacion);
                $("#ubicacion_get_id").val(ubicacion);
                $("#observaciones").html(response.observaciones);

                if (response.existencias) {
                    $('#existencias_list_id').html(`<div class="alert alert-danger" role="alert">
                        No puede deshabilitar esta ubicación ya que tiene los siguientes productos: ${response.existencias_list}</div>`);
                    // Chequed
                        if (response.disponible) {
                        $("#disponible").prop("checked", true);
                    } else {
                        $("#disponible").prop("checked", false);
                    }
                    // Disabled all
                    $('#disponible').prop("disabled", true);
                    $('#observaciones').prop("readonly", true);
                    $('#guardar_btn').prop("disabled", true);
                } else {
                    $('#existencias_list_id').html(`<div class="alert alert-success" role="alert">
                        Esta ubicación esta vacia, puede deshabilitarla</div>`)
                    // Chequed
                    if (response.disponible) {
                        $("#disponible").prop("checked", true);
                    } else {
                        $("#disponible").prop("checked", false);
                    }
                    // Habled all
                    $('#disponible').prop("disabled", false);
                    $('#observaciones').prop("readonly", false);
                    $('#guardar_btn').prop("disabled", false);
                }

            },

            error: function() {
                console.log("Error");
            }
        })
    })
</script>

<!--observaciones required-->
<script>
    $(document).ready(function(){
        $("#disponible").change(function(){
            if ($(this).is(":checked")) {
                $("#observaciones").attr("required", false);
            } else {
                $("#observaciones").attr("required", true);
            }
        })
    })
</script>

{% endblock %}