{% extends 'base.html' %}

{% block title %}
<title>Inventario</title>
{% endblock%}

{% block navbar %}
{% include 'users/topnavbar.html' %}
{% endblock %}

{% block body %}

<h5 class="m-4 text-center fw-bold">LISTA DE USUARIOS</h5>

<div id="msg"></div>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<div class="alert text-center alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'error'%}
<div class="alert text-center alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Lista de permisos
</button>

<div class="col-4 mt-2">
    <input id="inputbuscar" type="text" placeholder="Buscar..." class="form-control">
</div>


<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">Nombre(s) y Apellido(s)</th>
                        <th scope="col">Username</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Super Usuario</th>
                        <th scope="col">Email</th>
                        <th scope="col">Creado</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Permiso(s)</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in users %}
                    <tr>
                        <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                        <td>{{i.user.username}}</td>
                        <td>
                            {% if i.user.is_active %}
                                <i class="bi bi-check-circle-fill" style="color:green;"></i>
                            {% else %}
                                <i class="bi bi-x-circle-fill" style="color:red;"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if i.user.is_superuser %}
                                <i class="bi bi-check-circle-fill" style="color:green;"></i>
                            {% else %}
                                <i class="bi bi-x-circle-fill" style="color:red;"></i>
                            {% endif %}
                        </td>
                        <td>{{i.user.email}}</td>
                        <td>{{i.user.date_joined}}</td>
                        <td>{{i.departamento}}</td>
                        <td>
                            {% for j in i.permisos.all %}
                                <ul class="m-0 p-0">
                                    <li>{{j.permiso}}</li>
                                </ul>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Lista y descripción de permisos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Permiso</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in permisos %}
                    <tr>
                        <td>{{i.permiso}}</td>
                        <td>{{i.descripcion}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <!--button type="button" class="btn btn-primary">Save changes</button-->
        </div>
        </div>
    </div>
</div>

<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}