{%extends 'base.html' %}

{% block title %}
<title>Listado de arqueos</title>
{% endblock%}

{% block navbar %}
{% include 'inventario/topnavbar.html' %}
{% endblock %}

{% block body %}
<h5 class="m-4 text-center"><strong>LISTADO DE ARQUEOS</strong></h5>

<a class="btn btn-primary mb-2" href="{% url 'nuevo_arqueo' %}">
    <i class="bi bi-plus-circle"></i> Nuevo Arqueo
</a>

<br>

<button class="btn btn-success" name="reporte-form">
    <i class="bi bi-file-earmark-spreadsheet"></i> Reporte
</button>

<div class="card mt-2 mb-2" id="form" style="display:none">
    <div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <div class="row mb-2">
            <div class="col-3">
                <label>Desde:</label>
                <input type="date" class="form-control" name="desde">
            </div>
            <div class="col-3">
                <label>Hasta:</label>
                <input type="date" class="form-control" name="hasta">
            </div>
        </div>
        <button class="btn btn-primary" name="crear-reporte">
            <i class="bi bi-file-earmark-spreadsheet"></i> Crear Reporte
        </button>
    </form>
    </div>
</div>

<div class="col-4 mt-2">
    <input id="inputbuscar" type="text" placeholder="Buscar" class="form-control">
</div>

<div class="card mt-2 mb-2">
    <div class="card-body m-0 p-0">
        <div class="container table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">Arqueo</th>
                        <th scope="col">Bodega</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Creado por</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Realizado por</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="pedidosbuscar">
                    {% for i in arqueos %}
                    <tr>
                        <td id="arqueo">{{i.arqueo_enum}}</td>
                        <td>{{i.bodega}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.arqueo.usuario.first_name}} {{i.arqueo.usuario.last_name}}</td>
                        
                        <td>{{i.fecha_hora|date:'d-m-Y - H:i'}}</td>
                        <td>
                            {% if i.estado == 'CREADO' %}
                            <a class="btn btn-primary btn-sm disabled" target="_blank">{{i.estado}}</a>
                            {% elif i.estado == 'EN PROCESO' %}
                            <a class="btn btn-warning text-white btn-sm disabled"  target="_blank">{{i.estado}}</a> 
                            {% elif i.estado == 'FINALIZADO' %}
                            <a class="btn btn-success btn-sm disabled"  target="_blank">{{i.estado}}</a> 
                            {% elif i.estado == 'ANULADO' %}
                            <a class="btn btn-danger btn-sm disabled"  target="_blank">{{i.estado}}</a> 
                            {% endif %}
                        </td>
                        
                        <td>{{i.usuario.first_name}} {{i.usuario.last_name}}</td>

                        <td class="estado text-center" data-estado="{{i.estado}}">
                            <div class="btn-group">
                                <a class="btn btn-primary btn-sm" href="{% url 'arqueo_bodega_view' i.arqueo_id i.ware_code %}">
                                    <i class="bi bi-search"></i>
                                </a>                      

                                <a 
                                {% if i.estado == 'FINALIZADO' or i.estado == 'ANULADO' %}
                                class="btn btn-warning btn-sm disabled" 
                                {% else %}
                                class="btn btn-warning btn-sm" 
                                {% endif %}

                                href="{% url 'nuevo_edit_view' i.arqueo_id i.ware_code %}">
                                    <i class="bi bi-pen"></i>
                                </a>                      
        
                                <button class="btn btn-danger btn-sm {% if i.estado == 'FINALIZADO' or i.estado == 'EN PROCESO' or i.estado == 'ANULADO' %} disabled {% endif %}" name="anular">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    function actualizar(){location.reload(true);}
    //Función para actualizar cada 30 min = 1,800,000 milisegundos
    setInterval("actualizar()",300000); // 5 min
</script>



<!--filtro buscar-->
<script>
    $(document).ready(function() {
        $("#inputbuscar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pedidosbuscar tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $("button[name='anular']").click(function(){
        var arqueo = $(this).closest("tr").find("#arqueo").html();
        console.log(arqueo)

        $.ajax({
            type:"POST",
            url:"{% url 'anular_arqueo_creado' %}",
            data:{
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "arqueo":arqueo,
            },

            success: function(){
                setTimeout(function(){
                    window.location.reload();
                }, 1000)
            },

            error: function(){
                $('#msg').html('<div class="text-center alert alert-danger" role="alert"> Error al anular !!! </div>')
                    setTimeout(function(){
                    window.location.reload();
                }, 1000)
            }

        })
    })
</script>

<!-- Desplegar formulario de fechas de reporte -->
<script>
    $(document).ready(function() {
        $("button[name='reporte-form']").click(function(){
            $("#form").toggle()
        })
    })
</script>

{% endblock %}